﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.CompanyProfile.ContactPersonTableModel>
@{
    int i = 0;
}

<div class="col-sm-12 col-md-12">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="list-contactPerson">
        <thead>
            <tr class="regis_table_header">
                <td width="5%">@T("_ComPro.ContactPerson.TblContactPerson.ColCaption.No")</td>
                <td width="20%">@T("_ComPro.ContactPerson.TblContactPerson.ColCaption.Name")</td>
                <td width="10%">@T("_ComPro.ContactPerson.TblContactPerson.ColCaption.JobTitle")</td>
                <td width="10%">@T("_ComPro.ContactPerson.TblContactPerson.ColCaption.PhoneNo")</td>
                <td width="10%">@T("_ComPro.ContactPerson.TblContactPerson.ColCaption.MobileNo")</td>
                <td width="10%">@T("_ComPro.ContactPerson.TblContactPerson.ColCaption.Email")</td>
                <td width="10%">@T("_ComPro.ContactPerson.TblContactPerson.ColCaption.Action")</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var itemList in Model)
        {
            string linkDelete = "<input type=\"image\" src=\"/Content/images/icon/ico-sp_deluser2.gif\"  data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete Contact Person\" onclick=\"deleteContactPerson('" + itemList.ContactID + "');\"  >";

            string linkDelete2 = "<a  data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete Contact Person\" onclick=\"deleteContactPerson('" + itemList.ContactID + "');\" style=\"cursor:pointer;\" ><img src=\"/Content/images/icon/ico-sp_deluser2.gif\"></a>";

            string linkEdit = "<input type=\"image\" src=\"/Content/images/icon/ico-sp_edituser2.gif\"  data-toggle=\"tooltip\" data-placement=\"left\" title=\"Edit Contact Person\" onclick=\"editContactPerson('" + itemList.ContactID + "');\"  >";
            
            i++;
            string otherJobTitleName = "";
            string phoneExt = "";
            if (itemList.JobTitleID == -1)
            {
                otherJobTitleName = "(" + itemList.OtherJobTitle + ")";
            }else
            {
                otherJobTitleName = "";
            }
            if (!string.IsNullOrEmpty(itemList.PhoneExt))
            {
                phoneExt = T("_ComPro.ContactPerson.TblContactPerson.LblPhoneExt").ToString() + " " + itemList.PhoneExt;
            }else
            {
                phoneExt = "";
            }
            
            <tr class="main_table_row numbered_row">
                <td align="center" class="row_number">@i</td>
                <td align="left">@itemList.TitleContactName  @itemList.Fullname</td>
                <td align="left">@itemList.JobTitleName @otherJobTitleName</td>
                <td align="left">@itemList.PhoneNo @phoneExt</td>
                <td align="left">@itemList.MobileNo</td>
                <td align="left">@itemList.Email</td>
                <td align="center">
                    @Html.Raw(Ajax.ActionLink("_edit_", "EditContactPerson", new { contactID = itemList.ContactID },
                 new AjaxOptions()
                 {
                     UpdateTargetId = "mainOrgContactPersonForm",
                     InsertionMode = InsertionMode.ReplaceWith

                 }, new { id = "editContactPerson", title ="Edit Contact Person"})
                                  .ToHtmlString()
                               .Replace("_edit_", "<img src='/Content/images/icon/ico-sp_edituser2.gif' />").ToString())
                    @Html.Raw(linkDelete2)
                </td>
            </tr>
        }
            @if (i == 0)
            {
                <tr class="main_table_row" id="lastData" >
                    <td align="center" colspan="7">@T("_ComPro.ContactPerson.TblContactPerson.LblNoData")</td>
                </tr>
            }
        </tbody>
    </table>
</div>