﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.NotificationDataMenuPortalModel>
@{
    var menuID = "";
    string notification1 = "";
    string notification2 = "";
}
<div class="row">
    @foreach (var item in Model.Where(m => m.MenuLevel == 1).OrderBy(a => a.SeqNo))
    {
        notification1 = "<span id=\"showNoti_" + item.MenuID + "\" class=\"_noti\"><img src=\"/Content/images/noti_loading.gif\"></span>";


        if (item.MenuLevel == 1)
        {
            menuID = item.Icon;
        }

        <div class="col-md-4">
            <div class="nav-notification @menuID">
                <div class="col-sm-12">
                    <div class="row bg-notification">
                        @if (item.MenuLevel == 1)
                        {
                            <h4>@T(item.ResourceName)</h4>
                            <h1>@Html.Raw(notification1)</h1>
                        }
                    </div>
                    <div class="row notification-text-center" style="padding-top:5px">
                        @foreach (var item1 in Model.Where(m => m.MenuLevel == 2 && m.SystemGrpID == item.SystemGrpID).OrderBy(a => a.SeqNo))
                        {

                            notification2 = "<span id='showNoti_" + item1.MenuID + "' class='_notiMenu_" + item.MenuID + "' notiID='" + item1.NotificationID + "'><img src='/Content/images/noti_loading.gif'><span>";
                            var countMenu = Model.Where(m => m.MenuLevel == 2 && m.SystemGrpID == item.SystemGrpID);
                            var col = 12 / countMenu.Count();
                            <div class="col-xs-@col noti1-border-right boderR">
                                <h2 style="color:@item1.Icon">@Html.Raw(notification2)</h2>
                                @T(item1.ResourceName)
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>

    $(document).ready(function () {
        var total = 0;
        $("._noti").each(function (index) {
            //console.log(this);
            var idNoti = $(this).attr('id');
            var idMenu = idNoti.replace("showNoti_", "");
            $.ajax({
                url: '/Notification/GetNotificationByMenuID',
                type: 'POST',
                data: JSON.stringify({ menuID: idMenu }),
                async: true,
                contentType: 'application/json',
                success: function (data) {

                    if (data.GetNotificationShow == true) {
                        $("._notiMenu_" + idMenu).each(function (index) {
                            var Noti = $(this).attr('id');
                            var Menu = Noti.replace("showNoti_", "");
                            var nID = $(this).attr('notiid');
                            if (data.NotificationResponse.length > 0) {
                                var notification = findArrayByKey(data.NotificationResponse, 'NotificationID', nID);
                                if (notification.length > 0) {
                                    //console.log(notification[0]);
                                    if (notification[0].NotificationID == nID) {
                                        var countNoti = notification[0].NotificationValue;
                                        if (countNoti > 0) {
                                            //console.log("Show");
                                            $("#" + Noti).html(countNoti);
                                            total += countNoti;
                                            if (total > 0) {
                                                $("#" + idNoti).html(total);
                                            }
                                            else {
                                                $("#" + idNoti).html("0");
                                            }
                                        } else {
                                            //console.log("hide");
                                            $("#" + Noti).html("0");
                                            $("#" + idNoti).html("0");
                                        }
                                    }
                                }
                                else {
                                    $("#" + Noti).html("0");
                                    $("#" + idNoti).html("0");
                                }
                            }
                            else {
                                $("#" + Noti).html("0");
                                $("#" + idNoti).html("0");
                            }

                        });
                    }
                    else {
                        $("#" + Noti).html("0");
                        $("#" + idNoti).html("0");
                    }
                },
                error: function (xhr) {
                    //check = false;
                    $("#" + idNoti).hide();
                    $("#" + Noti).hide();
                }
            })


        });


    });
    function findArrayByKey(arrayData, key, keyValue) {
        return $.grep(arrayData, function (e) { return e[key] == keyValue; });
    }
</script>

