﻿@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

    string d = "";
    string h = "";
    string m = "";
    string s = ""; 
    if (LanguageID == "1")
    {
        d = " day ";
        h = " hour ";
        m = " minute ";
        s = " second ";
    }
    else if (LanguageID == "2")
    {
        d = " วัน ";
        h = " ชั่วโมง ";
        m = " นาที ";
        s = " วินาที ";
    }
}
<table class="sp_countdown_tbl">
        <tr>
            <td class="sp_countdown_tbl_detail" style="padding-top:5px">
                <div align="center" style="display: inline-block; width: 200px;" class="end_count_down is-countdown" id="ptvn_count_down">
                    <span class="countdown-row countdown-show4">
                        <span class="countdown-section">
                            <span class="countdown-amount days">00</span>
                            <span class="countdown-period day">@d</span>
                        </span>
                        <span class="countdown-widespace">
                            <span class="countdown-space-txt"></span>
                        </span>
                        <span class="countdown-section">
                            <span class="countdown-amount hours">00</span>
                            <span class="countdown-period hour">@h</span>
                        </span>
                        <span class="countdown-space">
                            <span class="countdown-space-txt">:</span>
                        </span>
                        <span class="countdown-section">
                            <span class="countdown-amount mins">00</span>
                            <span class="countdown-period min">@m</span>
                        </span>
                        <span class="countdown-space">
                            <span class="countdown-space-txt">:</span>
                        </span>
                        <span class="countdown-section">
                            <span class="countdown-amount secs">00</span>
                            <span class="countdown-period sec">@s</span>
                        </span>
                    </span>
                </div>
            </td>
            </tr>
    </table>

