﻿@model SupplierPortal.Models.ChartsModels_POVolume
<script src="@Url.Content("~/FusionCharts/FusionCharts.js")" type="text/javascript"></script>

@{
    int dataCheckChart = ViewBag.CheckDataChart;
    var col_Chart = 0;
    if (dataCheckChart != 0)
    {
        col_Chart = 4;
    }
    else
    {
        col_Chart = 12;
    }

    var conData = ViewBag.contactData as SupplierPortal.Data.Models.MappingTable.Tbl_ContactPerson;

    var dataOr = ViewBag.dataOrgan as SupplierPortal.Data.Models.MappingTable.Tbl_Organization;

    var dataAddress = ViewBag.Address as SupplierPortal.Data.Models.MappingTable.Tbl_Address;
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();
    // var LanguageID;
    if (LanguageID == "" || LanguageID == null)
    {
        LanguageID = "1";
    }
    else
    {
        LanguageID = cultureCookie.Value.ToString();
    }
    //path data report


    string TitleName = "";
    string FirstName = "";
    string LastName = "";
    string CompanyName = "";
    string Address = "";
    if (LanguageID == "1")
    {
        FirstName = conData.FirstName_Inter;
        LastName = conData.LastName_Inter;
        TitleName = ViewBag.TitleName;
        CompanyName = dataOr.InvName_Inter + "(" + dataOr.BranchName_Inter + ")";
        Address = dataAddress.HouseNo_Inter + " " + dataAddress.VillageNo_Inter + " " +
                  dataAddress.Lane_Inter + " " + dataAddress.Road_Inter + " " +
                  dataAddress.SubDistrict_Inter + " " + dataAddress.City_Inter + " " +
                  dataAddress.State_Inter + " " + dataAddress.PostalCode;
    }
    else if (LanguageID == "2")
    {
        FirstName = conData.FirstName_Local;
        LastName = conData.LastName_Local;
        TitleName = ViewBag.TitleName;
        CompanyName = dataOr.InvName_Local + "(" + dataOr.BranchName_Local + ")";
        Address = dataAddress.HouseNo_Local + " " + dataAddress.VillageNo_Local + " " +
                  dataAddress.Lane_Local + " " + dataAddress.Road_Local + " " +
                  dataAddress.SubDistrict_Local + " " + dataAddress.City_Local + " " +
                  dataAddress.State_Local + " " + dataAddress.PostalCode;
    }

}
<div class="col-md-12">
    <div class="row" style="padding-top:10px">
        <div class="col-md-8">
            @{ Html.RenderAction("NotificationBox", "Notification"); }
            <div class="row" style="padding-top:30px">
                <div class="col-md-@col_Chart">
                    <div class="nav-notification">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12" style="padding-top:10px">
                                    <div class="row" style="padding-left:15px">
                                        <a href="/Profile/Index"><h5>@TitleName @FirstName @LastName @*'s Profile*@</h5></a>
                                    </div>
                                    @*<div class="row">
                                        <div class="col-md-12">
                                            @T("_Notification_Profile_Title")
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                            <div class="row bg-notification">
                                <div class="col-md-12" style="padding-top:10px">
                                    <dl>

                                        <dt>
                                            <a href="/GeneralInformation/General">
                                                <i class="fa fa-tachometer"></i>
                                                @T("_Notification_Profile_Id")
                                            </a>
                                        </dt>
                                        <dd>@dataOr.TaxID</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="/GeneralInformation/General">
                                                <i class="fa fa-building"></i>
                                                @T("_Notification_Profile_Company")
                                            </a>
                                        </dt>
                                        <dd>@CompanyName</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="/ContactInformation/Address">
                                                <i class="fa fa-map-marker"></i>
                                                @T("_Notification_Profile_Address")
                                            </a>
                                        </dt>
                                        <dd>@Address</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="/Profile/Index">
                                                <i class="fa fa-phone"></i>
                                                @T("_Notification_Profile_Tel")
                                            </a>
                                        </dt>
                                        <dd>@dataOr.PhoneNo</dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <a href="/Profile/Index">
                                                <i class="fa fa-fax"></i>
                                                @T("_Notification_Profile_Fax")
                                            </a>
                                        </dt>
                                        <dd>@dataOr.FaxNo</dd>
                                    </dl>
                                    <dl>

                                        <dt>
                                            <a href="/Profile/Index">
                                                <i class="fa fa-envelope-o"></i>
                                                @T("_Notification_Profile_Email")
                                            </a>
                                        </dt>

                                        <dd>@conData.Email</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (dataCheckChart != 0)
                {
                    <div class="col-md-8" id="chart-container">
                        <a href="/SupplyManagement/ReportsList" class="pull-right"><div class="fa fa-pie-chart fa-3x" aria-hidden="true"></div></a>
                        <div id="__POVolume__"></div>
                    </div>
                }

            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav-notification notification-event">
                        <div id="data_notification"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.messagesHub;
            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                getAllMessages()

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                getAllMessages();
            }).fail(function (e) {
            });
        });



        function getAllMessages(topic_id) {
            var tbl = $('#data_notification');
            topic_id = topic_id || 0;
            $.ajax({
                url: '/Notification/GetMessages?TopicType=' + topic_id,
                //  url: '/Notification/GetMessages?TopicType=1',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                tbl.empty().append(result);
            }).error(function () {

            });
        }


        //----------chart-----------

        function DecodeHtml(str) {
            return jQuery('<div/>').html(str).text();
        }

        FusionCharts.setCurrentRenderer('javascript');

        var myChart = new FusionCharts("../FusionCharts/Pie3D.swf",
        "chart_Volume", "450", "300", "0", "1");

        if ('@(Model.json_POVolume)' != "") {
            var chrt_POVolume = DecodeHtml('@(Model.json_POVolume)');
            myChart.setJSONData(JSON.parse(chrt_POVolume));
        }

        myChart.configure("ChartNoDataText", "No data!");
        myChart.render("__POVolume__");

    </script>
}