﻿
@{
    ViewBag.Title = "ReturnHome";
    Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
}



<div id="myModal" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                @T("_Login.ForgotPassword.Lbl_MsgTitle")
            </div>
            <!-- dialog body -->
            <div class="modal-body">

                @T("_ReturnHome.Msg_PopupError")
               
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                @Html.ActionLink(T("_Global.BtnOk").ToString(), "Login", "AccountPortal", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @{
        //if (!string.IsNullOrEmpty(viewbagMassage))
        //{

            <script>
            $("#myModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
                $("#myModal a.btn").on("click", function (e) {
                    alert("11");
                    console.log("button pressed");   // just as an example...
                    $("#myModal").modal('hide');     // dismiss the dialog
                });
            });

            $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
                $("#myModal a.btn").off("click");
            });

            $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
                $("#myModal").remove();
            });

            $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
                "backdrop": "static",
                "keyboard": true,
                "show": true                     // ensure the modal is shown immediately
            });
            </script>


        @*}*@


    }
}
