﻿@using SupplierPortal.Models.Enums;
@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_LayoutHomeForBuyerAdmin.cshtml";

}

@{
    SupplierPortal.Models.Enums.EnumHelper enumhelper = new SupplierPortal.Models.Enums.EnumHelper();
    List<string> permissions = null;
    bool canViewContact = false;
    bool canViewHistoryContact = false;
    bool canAddContact = false;
    bool isPrivate = (bool)Session["IsPrivate"];
    if (Session["BuyerPermissions"] != null)
    {
        permissions = (List<string>)Session["BuyerPermissions"];
    }

    if (permissions != null)
    {
        foreach (var item in permissions)
        {
            if (enumhelper.GetEnumDescription(ContactManagement.CONTACT_VIEW) == item)
            {
                canViewContact = true;
            }
            if (enumhelper.GetEnumDescription(ContactManagement.CONTACT_VIEW_HISTORY) == item)
            {
                canViewHistoryContact = true;
            }
            if (enumhelper.GetEnumDescription(ContactManagement.CONTACT_CREATE) == item)
            {
                canAddContact = true;
            }

        }
    }
}

@{
    if (canViewContact)
    {
        <div class="col-md-12">
            <div class="row">
                <div class="partition_menu_header_wrapper" style="background-color:#ffffff !important;">
                    <div class="auction_menu_header">
                        <table width="100%">
                            <tr>
                                <td width="33%" class="DirectoryMenu">
                                    @if (isPrivate)
                                    {
                                        <a href="#" id="ToDirectory">
                                            <span class="glyphicon glyphicon-log-out">
                                            </span>
                                            @T("_Buyer.Menu.SupplierDir")
                                        </a>
                                    }
                                </td>
                                <td width="33%">
                                    @T("_Buyer.Header.SupplierList")
                                </td>
                                <td width="33%"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="data_end"></div>
                    <div class="data_end"></div>
                    <div class="menu_header_space_block"></div>
                    <div class="data_end"></div>

                    <!-- Search Panel -->
                    <div class="col-md-12" id="search-form">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label">@T("_Buyer.SupplierList.Header.TaxNo")</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="search-tax" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label">@T("_Buyer.SupplierList.Header.CompanyName")</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="search-company" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label">@T("_Buyer.SupplierList.Header.Contact")</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="search-contact" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label">@T("_Buyer.SupplierList.Header.Email")</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="search-email" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <label class="control-label">@T("_Buyer.SupplierList.Header.Tel")</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input id="search-tel" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-8 text-right">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <button class="btn btn-info" id="btnClear" onclick="SupplierList.bindClearFilter()"><i class="glyphicon glyphicon-repeat"></i> @T("_Buyer.SupplierList.Btn.ClearFilter")</button>
                                                    <button class="btn btn-info" id="btnSearch"><i class="glyphicon glyphicon-search"></i> @T("_Global.BtnSearch")</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="clearfix"></div>
                    <!-- Data Table -->
                    <div class="col-md-12">
                        <table id="tableList" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> @T("_Buyer.SupplierList.Header.TaxNo")</th>
                                    <th> @T("_Buyer.SupplierList.Header.CompanyName") </th>
                                    <th> @T("_Buyer.SupplierList.Header.Contact")</th>
                                    <th> @T("_Buyer.SupplierList.Header.Email") </th>
                                    <th> @T("_Buyer.SupplierList.Header.Tel") </th>
                                    <th>  </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
        <script src="~/Scripts/DataTables-1.10.13/media/js/dataTables.bootstrap.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                /*----- DataTable -----*/
                SupplierList.init({
                    eid: '@ViewBag.EID',
                    url_buyerSuppliers: '@Url.Action("GetBuyerSuppliers", "BuyerPortal")',
                    url_suppliersUserDetail: '@Url.Action("SupplierUserDetail", "BuyerPortal")',
                    url_userLog: '@Url.Action("UserLogDetail", "BuyerPortal")'
                });
            });

            var SupplierList = function () {
                var opts;
                var buyerSuppliersTable;
                var buyerSuppliersTableID = "tableList";
                var btnSearch;
                var btnSearchID = "btnSearch";

                /*----- DataTable -----*/

                var initDataTableBuyerSuppliers = function () {
                    buyerSuppliersTable.DataTable({
                        "language": {
                            "aria": {
                                "sortAscending": ": activate to sort column ascending",
                                "sortDescending": ": activate to sort column descending"
                            },
                            "emptyTable": "No data available in table",
                            "info": "Showing _START_ to _END_ of _TOTAL_ records",
                            "infoEmpty": "No records found",
                            "infoFiltered": "(filtered1 from _MAX_ total records)",
                            "lengthMenu": "Show _MENU_",
                            "search": "Search:",
                            "zeroRecords": "No matching records found",
                            "paginate": {
                                "previous": "Prev",
                                "next": "Next",
                                "last": "Last",
                                "first": "First"
                            }
                        },
                        ajax: {
                            url: opts.ajaxUrl_BuyerSuppliers,
                            type: "POST",
                            data: function (d) {
                                disablePage();
                                d.EID = opts.eid
                                return JSON.stringify(d);
                            },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            error: function (jqXhr, txtStatus, errorThrown) {
                                if (typeof console == "object") {
                                    console.log("Code: " + jqXhr.status);
                                    console.log("Status: " + txtStatus);
                                    console.log("Error Thrown: " + errorThrown);
                                }
                            }
                        },
                        lengthMenu: [[10, 25, 50, 100], [10, 25, 50, 100]],
                        iDisplayLength: 10,
                        paging: true,
                        serverSide: true,
                        responsive: true,
                        autoWidth: false,
                        sDom: '<"pull-left"><"pull-right"l>tip',
                        processing: true,
                        ordering: false,
                        columns: [
                            { data: "TaxID", defaultContent: "", className: "text-left", width: "10%" },
                            { data: null, defaultContent: "", className: "text-left", render: renderCol_Supplier, width: "30%" },
                            { data: "Full_Name", defaultContent: "", className: "text-left", width: "20%" },
                            { data: "Email", defaultContent: "", className: "text-left wrapword", width: "17%" },
                            { data: null, defaultContent: "", className: "text-left", render: renderPhone, width: "15%" },
                            { data: null, defaultContent: "", className: "text-center", render: renderCol_Delete, width: "8%" },
                        ],
                        columnDefs: [
                            //{ targets: 0, orderable: false, defaultContent: opts.htmlHeaderChk },
                            //{ targets: '_all', visible: false }
                        ],
                        order: [
                            [1, "asc"] //set first column as a default sort by asc
                        ],
                        initComplete: function (setting, json) {
                            $.unblockUI();
                        },
                        drawCallback: function (setting) {
                            $.unblockUI();

                        }

                    });

                    //Apply Custom search on jQuery DataTables here
                    oTable = buyerSuppliersTable.DataTable();

                    btnSearch.click(function () {
                        disablePage();
                        //Apply search for Tax no // DataTable column index 0
                        oTable.columns(0).search($('#search-tax').val().trim());
                        //Apply search for Company Name // DataTable column index 1
                        oTable.columns(1).search($('#search-company').val().trim());
                        //Apply search for Contact Name // DataTable column index 2
                        oTable.columns(2).search($('#search-contact').val().trim());
                        //Apply search for Email // DataTable column index 3
                        oTable.columns(3).search($('#search-email').val().trim());
                        //Apply search for Tel // DataTable column index 4
                        oTable.columns(4).search($('#search-tel').val().trim());
                        //hit search on server
                        oTable.draw();
                        $.unblockUI();
                    });

                };
                @{

                    if (canAddContact)
                    {
                        @:var renderCol_Supplier = function (data, type, row, meta) {
                                                @:var ret = '';
                                                @:if (row)
                                                    @: {
                                                        @:var href = opts.ajaxUrl_SuppliersUserDetail + '?eid=' + row.EID + '&supid=' + row.SupplierID;
                                                        @:ret = '<a title="Add User" href= "' + href + '" >' + row.CompanyName;
                                                        @:ret += '&emsp;<i class="glyphicon glyphicon-user" style="margin-right:0px !important;"></i><i class="glyphicon glyphicon-plus" style="font-size: smaller;"></i></a>';
                                                    @:}
                                                @:return ret;
                                            @:};
                    }
                    else
                    {
                         @:var renderCol_Supplier = function (data, type, row, meta) {
                                                @:var ret = '';
                                                @:if (row)
                                                    @: {
                                                        @:ret = row.CompanyName;
                                                    @:}
                                                @:return ret;
                                            @:};
                    }
                }

                var renderPhone = function (data, type, row, meta) {
                    var content = '';

                    content = row.PhoneNo;

                    if (row.PhoneExt != null &&
                       row.PhoneExt != "" &&
                       row.PhoneExt != undefined) {

                        content = content + " " + '@T("_Regis.UserInfo.LblTelExt")' + " " + row.PhoneExt;
                    }

                    return content;
                };

                var renderCol_Delete = function (data, type, row, meta) {

                    var ret = '';
                    ret += '<a class="btn btn-xs btn-default" title="Edit" onclick="SupplierList.bindSupplierUserDetail(' + row.UserID + ')">';
                    ret += '<i class="fa fa-pencil"></i></a>'
                    @{
                if (canViewHistoryContact)
                {
                    @:ret += '<a class="btn btn-xs btn-default" title="User Log" onclick="SupplierList.bindViewLog(' + row.UserID + ')">';
                    @:ret += '<i class="glyphicon glyphicon-list"></i></a>';
                }

            }

                    return ret;
                };

                var clearFilter = function () {
                    $('#search-form').find("input[type=text]").val("");
                    //buyerSuppliersTable.DataTable().ajax.reload();
                    btnSearch.click();
                }

                /*----- General Method -----*/
                var supplierUserDetail = function (id) {
                    location.href = opts.ajaxUrl_SuppliersUserDetail + "?id=" + id;
                }
                var viewLog = function (id) {
                    location.href = opts.ajaxUrl_UserLog + "?id=" + id;
                }

                return {
                    init: function (options) {

                        opts = $.extend({
                            eid: options.eid,
                            ajaxUrl_BuyerSuppliers: options.url_buyerSuppliers,
                            ajaxUrl_SuppliersUserDetail: options.url_suppliersUserDetail,
                            ajaxUrl_UserLog: options.url_userLog
                        }, options);

                        // Set Default value
                        buyerSuppliersTable = $("#" + buyerSuppliersTableID);
                        btnSearch = $("#" + btnSearchID);

                        /* Init Component and DataTable */
                        initDataTableBuyerSuppliers();
                    },
                    bindSelectProduct: function () {
                        selectProduct();
                    },
                    bindSupplierUserDetail: function (id, eid) {
                        supplierUserDetail(id, eid);
                    },
                    bindViewLog: function (id) {
                        viewLog(id);
                    },
                    bindClearFilter: function () {
                        clearFilter();
                    }

                };
            }();
        </script>
    }
}