﻿@model SupplierPortal.Data.CustomModels.BuyerSuppliers.BuyerSupplierProfile
@using SupplierPortal.Models.Enums;
@{
    /**/

    ViewBag.Title = "Suppliers";
    bool isPrivate = (bool)Session["IsPrivate"];
    string placeholderFirstnameLocal = string.Empty;
    string placeholderLastnameLocal = string.Empty;
    string placeholderFirstnameInter = string.Empty;
    string placeholderLastnameInter = string.Empty;
    string placeholderEmail = string.Empty;

    string btnLblActive = string.Empty;
    string cssActive = string.Empty;

    string viewbagErrorMassage = ViewBag.errorMessage;

    placeholderFirstnameLocal = T("_Profile.MyAccount.UserInfo.GtxtNonTHLocalFirstname").ToString();
    placeholderLastnameLocal = T("_Profile.MyAccount.UserInfo.GtxtNonTHLocalLastname").ToString();
    placeholderFirstnameInter = T("_Profile.MyAccount.UserInfo.GtxtNonTHInterFirstname").ToString();
    placeholderLastnameInter = T("_Profile.MyAccount.UserInfo.GtxtNonTHInterLastname").ToString();
    placeholderEmail = T("_Regis.UserInfo.LblEmail.Txt").ToString();
    Layout = "~/Views/Shared/_LayoutHomeForBuyerAdmin.cshtml";

    SupplierPortal.Models.Enums.EnumHelper enumhelper = new SupplierPortal.Models.Enums.EnumHelper();
    List<string> permissions = null;
    bool canActiveContact = false;
    bool canInActiveContact = false;
    bool canSeeActiveBtn = false;
    bool canEditContact = false;
    bool canAddContact = false;

    ActionStage actionStage = ActionStage.INSERT_STAGE;

    if (Session["BuyerPermissions"] != null)
    {
        permissions = (List<string>)Session["BuyerPermissions"];
    }
    if (ViewBag.ActionStage != null)
    {
        actionStage = (ActionStage)ViewBag.ActionStage;
    }

    if (permissions != null)
    {
        foreach (var item in permissions)
        {
            if (enumhelper.GetEnumDescription(ContactManagement.CONTACT_ACTIVE) == item)
            {
                canActiveContact = true;
            }
            if (enumhelper.GetEnumDescription(ContactManagement.CONTACT_INACTIVE) == item)
            {
                canInActiveContact = true;
            }
            if (enumhelper.GetEnumDescription(ContactManagement.CONTACT_EDIT) == item)
            {
                canEditContact = true;
            }
            if (enumhelper.GetEnumDescription(ContactManagement.CONTACT_CREATE) == item)
            {
                canAddContact = true;
            }
        }
    }

    if (string.IsNullOrEmpty(Model.UserLoginID))
    {
        canSeeActiveBtn = false;
    }
    else
    {
        if (Model.IsDisabled == 0)
        {
            btnLblActive = T("_Buyer.BtnInActive").ToString();
            cssActive = "btn-danger";
            if (canInActiveContact)
            {
                canSeeActiveBtn = true;
            }
        }
        else
        {
            btnLblActive = T("_Buyer.BtnActive").ToString();
            cssActive = "btn-success";
            if (canActiveContact)
            {
                canSeeActiveBtn = true;
            }
        }
    }

}

<div class="col-md-12">
    <div class="row">
        <div class="partition_menu_header_wrapper">
            <div class="auction_menu_header">
                <table width="100%">
                    <tr>
                        <td width="33%" class="DirectoryMenu">
                            @if (isPrivate)
                            {
                                <a href="#" id="ToDirectory">
                                    <span class="glyphicon glyphicon-log-out">
                                    </span>
                                    @T("_Buyer.Menu.SupplierDir")
                                </a>
                            }
                        </td>
                        <td width="33%">
                            @T("_MenuSub.SupplyTool.CompInfo.ContactInfo.ContactPerson")
                        </td>
                        <td width="33%"></td>
                    </tr>
                </table>
            </div>
            <div class="data_end"></div>
            <div class="data_end"></div>
            <div class="menu_header_space_block"></div>
            <div class="data_end"></div>
            <div class="partition_menu_header_wrapper" style="background-color:#ffffff !important;">
                @using (Html.BeginForm("UpdateBuyerContactPerson", "BuyerPortal", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-general" }))
                {
                    @Html.HiddenFor(x => x.EID)
                    @Html.HiddenFor(x => x.SupplierID)
                    @Html.HiddenFor(x => x.UserLoginID)
                    <div style="float:right;padding-right:20px">
                        @if (canSeeActiveBtn)
                        {
                            @Html.ActionLink(btnLblActive, "ActiveInActive", "BuyerPortal", new { userId = Model.UserID, isActive = Model.IsDisabled }, new { @class = "btn " + cssActive })
                        }
                        @{
                            if ((canEditContact && actionStage == ActionStage.UPDATE_STAGE) ||
                                (canAddContact && actionStage == ActionStage.INSERT_STAGE))
                            {
                                <input type="submit" value="@T("_Global.BtnSave")" class="btn btn-primary btnSubmitGeneral" id="btnSubmitGeneral" />
                            }
                        }

                        @Html.ActionLink(T("_Global.BtnClose").ToString(), "SupplierList", "BuyerPortal", null, new { @class = "btn btn-default" })
                    </div>
                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="98%">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="col-md-12">
                                        <div class="data_end" style="padding-top:20px;"></div>
                                        <div class="profile-lable-group">@T("_MenuSub.SupplyTool.CompInfo.ContactInfo.ContactPerson")</div>
                                        <hr>
                                        <div class="profile-lable-groupDetail">@*@T("_Profile.MyAccount.UserInfo.InstrTxt")*@</div>
                                        <div class="data_end" style="padding-top:20px;"></div>
                                        @Html.HiddenFor(m => m.UserID)
                                        @Html.HiddenFor(m => m.ContactID)
                                        @Html.HiddenFor(m => m.SupplierID)
                                    </div>
                                </td>
                            </tr>
                            @*Supplier Name*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form_label_bold">@T("_Regis.CompanyInfo.LblCompanyName")</div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="margin-none">
                                                @Html.TextBoxFor(m => m.CompanyName_Local, null, new { @class = "form-control col-sm-3", id = "CompanyName_Local", maxlength = "100", @readonly = "", @style = "width: 300px;" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-12 col-md-2"></div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="margin-none">
                                                @Html.TextBoxFor(m => m.CompanyName_Inter, null, new { @class = "form-control col-sm-3", id = "CompanyName_Inter", maxlength = "100", @readonly = "", @style = "width: 300px;" })
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*Supplier Name*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form_label_bold">@T("_Profile.Common.LblTaxNoWithColon")</div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="margin-none">
                                                @Html.TextBoxFor(m => m.TaxID, null, new { @class = "form-control col-sm-3", id = "TaxID", maxlength = "100", @readonly = "", @style = "width: 300px;" })
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*Name Thai*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-4 col-md-2">
                                            <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblContactName")<span class="red_highlight">*</span></div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="">
                                                <div class="margin-none">
                                                    @Html.DropDownListFor(m => m.TitleID, new SelectList(ViewBag.NameTitle_Local, "TitleID", "TitleName"), @T("_Profile.MyAccount.UserInfo.DdlNameTitle.OptionLable").ToString(), new { @class = "form-control custom", id = "TitleID", @style = "width: 300px;" })
                                                </div>
                                                <div class="margin-none">
                                                    @Html.TextBoxFor(m => m.FirstName_Local, null, new { @class = "form-control", id = "FirstName_Local", maxlength = "255", placeholder = placeholderFirstnameLocal, @style = "width: 300px;", @onKeyPress = "return keyThaiOnly(event,this.value);" })
                                                </div>
                                                <div class="form-group margin-none">
                                                    @Html.TextBoxFor(m => m.LastName_Local, null, new { @class = "form-control input-lg", id = "LastName_Local", maxlength = "255", placeholder = placeholderLastnameLocal, @style = "width: 300px;", @onKeyPress = "return keyThaiOnly(event,this.value);" })
                                                </div>
                                                <div class="margin-none">
                                                    @Html.ValidationMessageFor(x => x.TitleID, "", new { @class = "text-danger-bold" })
                                                    @Html.ValidationMessageFor(x => x.FirstName_Local, "", new { @class = "text-danger-bold" })
                                                    @Html.ValidationMessageFor(x => x.LastName_Local, "", new { @class = "text-danger-bold" })
                                                </div>
                                                <div class="margin-none">
                                                    <span class="text-danger-bold" style="display:none;" id="errorFormatFirstName_Local">@T("_ComPro.ValidateMsg.InvalidLangLocalContactName.Txt")</span>
                                                </div>
                                                <div class="form-group margin-none">
                                                    <span class="text-danger-bold" style="display:none;" id="errorFormatLastName_Local">@T("_ComPro.ValidateMsg.InvalidLangLocalContactName.Txt")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*Name Eng*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-4 col-md-2">
                                            <div class="form_label_bold"> &nbsp;</div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="">
                                                <div class="margin-none">
                                                    @Html.DropDownListFor(m => m.TitleID_Inter, new SelectList(ViewBag.NameTitle_Inter, "TitleID", "TitleName"), @T("_Profile.MyAccount.UserInfo.DdlNameTitle.OptionLable").ToString(), new { @class = "form-control custom", id = "TitleID_Inter", @style = "width: 300px;" })
                                                </div>
                                                <div class="margin-none">
                                                    @Html.TextBoxFor(m => m.FirstName_Inter, null, new { @class = "form-control", id = "FirstName_Inter", maxlength = "255", placeholder = placeholderFirstnameInter, @style = "width: 300px;", @onKeyPress = "return keyEngOnly(event,this.value);" })
                                                </div>
                                                <div class="form-group margin-none">
                                                    @Html.TextBoxFor(m => m.LastName_Inter, null, new { @class = "form-control input-lg", id = "LastName_Inter", maxlength = "255", placeholder = placeholderLastnameInter, @style = "width: 300px;", @onKeyPress = "return keyEngOnly(event,this.value);" })
                                                </div>
                                                <div class="margin-none">
                                                    @Html.ValidationMessageFor(x => x.FirstName_Inter, "", new { @class = "text-danger-bold" })
                                                    @Html.ValidationMessageFor(x => x.LastName_Inter, "", new { @class = "text-danger-bold" })
                                                </div>
                                                <div class="margin-none">
                                                    <span class="text-danger-bold" style="display:none;" id="errorFormatFirstName_Inter">@T("_ComPro.ValidateMsg.InvalidLangInterName.Txt")</span>
                                                </div>
                                                <div class="form-group margin-none">
                                                    <span class="text-danger-bold" style="display:none;" id="errorFormatLastName_Inter">@T("_ComPro.ValidateMsg.InvalidLangInterName.Txt")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*MobileCountryCode*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-4 col-md-2">
                                            <div class="form_label_bold">@T("_Profile.Common.LblMobileCountryCode")</div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="">
                                                <div class="margin-none">
                                                    @Html.TextBoxFor(m => m.MobileCountryCode, null, new { @class = "form-control", id = "MobileCountryCode", maxlength = "50", @style = "width: 300px;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*MobileNo*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-4 col-md-2">
                                            <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblMobile")</div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="">
                                                <div class="margin-none">
                                                    @Html.TextBoxFor(m => m.MobileNo, null, new { @class = "form-control", id = "MobileNo", maxlength = "50", @style = "width: 300px;" })
                                                    @*@Html.ValidationMessageFor(x => x.MobileNo, "", new { @class = "text-danger-bold" })*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*Telephone*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-4 col-md-2">
                                            <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblPhone")</div>
                                        </div>
                                        <div class="col-xs-8 col-md-9">
                                            <div class="">
                                                <div class="margin-none">
                                                    @Html.TextBoxFor(m => m.PhoneNo, null, new { @class = "form-control", id = "PhoneNo", maxlength = "50", @style = "width: 300px;" })
                                                </div>
                                                <div class="margin-none" style="vertical-align:top">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblPhoneExt")</div>
                                                </div>
                                                <div class="margin-none">
                                                    @Html.TextBoxFor(m => m.PhoneExt, null, new { @class = "form-control input-lg", id = "PhoneExt", maxlength = "50", @style = "width: 300px;" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*Email*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblEmail")<span class="red_highlight">*</span></div>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control notSpacebar", id = "Email", maxlength = "255", placeholder = @T(placeholderEmail), @style = "width: 300px;" })
                                            <div class="form_label_bold">@Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger-bold" })</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            @*IsPrimaryContact*@
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-1"></div>
                                        <div class="col-xs-12 col-md-2">
                                            <div class="form_label_bold">@T("_Profile.Common.LblPrimaryContactWithColon")</div>
                                        </div>
                                        <div class="col-xs-12 col-md-9">
                                            @Html.CheckBoxFor(m => m.IsPrimaryContact, new { id = "checkNotReady" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                @*@viewbagMassage*@
                @Html.Raw(@T(viewbagErrorMassage))
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button></div>
        </div>
    </div>
</div>

<script>

    @{
        if ((!canEditContact && actionStage == ActionStage.UPDATE_STAGE) ||
            (!canAddContact && actionStage == ActionStage.INSERT_STAGE) ||
            Model.IsDisabled == 1)
        {
            @:$(document).ready(function () {
                                                                        @:$('#TitleID').attr('readonly', true);
                                                                        @:$('#FirstName_Local').attr('readonly', true);
                                                                        @:$('#LastName_Local').attr('readonly', true);
                                                                        @:$('#FirstName_Inter').attr('readonly', true);
                                                                        @:$('#LastName_Inter').attr('readonly', true);
                                                                        @:$('#TitleID_Inter').attr('readonly', true);
                                                                        @:$('#MobileCountryCode').attr('readonly', true);
                                                                        @:$('#MobileNo').attr('readonly', true);
                                                                        @:$('#PhoneNo').attr('readonly', true);
                                                                        @:$('#PhoneExt').attr('readonly', true);
                                                                        @:$('#Email').attr('readonly', true);
                                                                        @:$('#checkNotReady').attr('disabled', true);
                                                                    @:});
                            }
    }

    function alertData() {

        $('#myModalError').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#BtnOk', function () {
            window.location.href = "/BuyerPortal/SupplierList";
            $.unblockUI();
        });
    }

    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');

        chkTab();
        //var id = $(e.target).attr("href");
        //alert($(e.target).attr("name"));
        //$("#tab_topic").text($("#hdfRequiredField").val());
    });

    function chkTab() {
        var hash = window.location.hash;
        //alert(hash);
        if (hash == "#General") {
            $("#tab_topic").text($("#tab_general").val());
            $("#tab_detial").text($("#tab_generalDetail").val());
        }
        if (hash == "#UserInformation") {
            $("#tab_topic").text($("#tab_userInformation").val());
            $("#tab_detial").text($("#tab_userInformationDetail").val());
        }
        if (hash == "#ChangePassword") {
            $("#tab_topic").text($("#tab_changePassword").val());
            $("#tab_detial").text($("#tab_changePasswordDetail").val());
        }
        if (hash == "#MergUserAccount") {
            $("#tab_topic").text($("#tab_mergUserAccount").val());
            $("#tab_detial").text($("#tab_mergUserAccountDetail").val());
        }
    }

    // store the currently selected tab in the hash value
    $("ul.nav-tabs-custom > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    $('#myTab a[href="' + hash + '"]').tab('show');
</script>

<script>
    $('select#TitleID').change(function () {

        var nameTitleId = $(this).val();

        $("#TitleID_Inter").val(nameTitleId);
    });

    $('select#TitleID_Inter').change(function () {

        var nameTitleId = $(this).val();

        $("#TitleID").val(nameTitleId);
    });

    $('#FirstName_Local').blur(function () {

        var firstName = $(this).val();

        $("#FirstName_Inter").val(firstName);
    });

    $('#LastName_Local').blur(function () {

        var lastName = $(this).val();

        $("#LastName_Inter").val(lastName);
    });

    //$("#FirstName_Local").focusout(function () {

    //    var countryCode = $("#Address_CountryCode option:selected").val();
    //    var input = $("#FirstName_Local").val();
    //    if (countryCode == "TH") {
    //        $.ajax({
    //            url: '/ValidateAjax/CheckThaiOnly',
    //            type: 'GET',
    //            data: {
    //                input: input
    //            },
    //            async: false,
    //            contentType: 'application/json',
    //            success: function (data) {
    //                //console.log("CheckThaiOnly ==> " + data);
    //                if (data != true) {
    //                    $("#errorFormatFirstName_Local").css("display", "block");
    //                    $("#FirstName_Local").focus();
    //                } else {
    //                    $("#errorFormatFirstName_Local").css("display", "none");
    //                }
    //            },
    //            fail: function (event, data) {

    //            }
    //        });
    //    }
    //});

    //$("#LastName_Local").focusout(function () {

    //    var countryCode = $("#Address_CountryCode option:selected").val();
    //    var input = $("#LastName_Local").val();
    //    if (countryCode == "TH") {
    //        $.ajax({
    //            url: '/ValidateAjax/CheckThaiOnly',
    //            type: 'GET',
    //            data: {
    //                input: input
    //            },
    //            async: false,
    //            contentType: 'application/json',
    //            success: function (data) {
    //                //console.log("CheckThaiOnly ==> " + data);
    //                if (data != true) {
    //                    $("#errorFormatLastName_Local").css("display", "block");
    //                    $("#LastName_Local").focus();
    //                } else {
    //                    $("#errorFormatLastName_Local").css("display", "none");
    //                }
    //            },
    //            fail: function (event, data) {

    //            }
    //        });
    //    }
    //});

    //$("#FirstName_Inter").focusout(function () {

    //    var input = $("#FirstName_Inter").val();

    //    $.ajax({
    //        url: '/ValidateAjax/CheckEngOnly',
    //        type: 'GET',
    //        data: {
    //            input: input
    //        },
    //        async: false,
    //        contentType: 'application/json',
    //        success: function (data) {
    //            //console.log("CheckThaiOnly ==> " + data);
    //            if (data != true) {
    //                $("#errorFormatFirstName_Inter").css("display", "block");
    //                $("#FirstName_Inter").focus();
    //            } else {
    //                $("#errorFormatFirstName_Inter").css("display", "none");
    //            }
    //        },
    //        fail: function (event, data) {

    //        }
    //    });

    //});

    //$("#LastName_Inter").focusout(function () {

    //    var input = $("#LastName_Inter").val();

    //    $.ajax({
    //        url: '/ValidateAjax/CheckEngOnly',
    //        type: 'GET',
    //        data: {
    //            input: input
    //        },
    //        async: false,
    //        contentType: 'application/json',
    //        success: function (data) {
    //            //console.log("CheckThaiOnly ==> " + data);
    //            if (data != true) {
    //                $("#errorFormatLastName_Inter").css("display", "block");
    //                $("#LastName_Inter").focus();
    //            } else {
    //                $("#errorFormatLastName_Inter").css("display", "none");
    //            }
    //        },
    //        fail: function (event, data) {

    //        }
    //    });

    //});

    $('a.btn').click(function (evt) {
        disablePage();
    });

    $(".btnSubmitGeneral").click(function (evt) {
        evt.preventDefault();
        var chk = true;
        var titleID = $('#TitleID').val();

        if (titleID == "") {
            $('#TitleID').focus();
            chk = false;
            return false;
        }

        var $form = $('#form-general');

        if ($form.valid() && chk == true) {
            disablePage();
            $form.submit();
        }
    });
</script>

@if (!string.IsNullOrEmpty(viewbagErrorMassage))
{
    <script>

        $("#myModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
            $("#myModal a.btn").on("click", function (e) {
                //alert("11");
                console.log("button pressed");   // just as an example...
                $("#myModal").modal('hide');     // dismiss the dialog
            });
        });

        $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
            $("#myModal a.btn").off("click");
        });

        $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
            $("#myModal").remove();
        });

        $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
    </script>
}