﻿@model List<SupplierPortal.Data.CustomModels.BuyerSuppliers.BuyerHistoryContactPersonModel>
@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_LayoutHomeForBuyerAdmin.cshtml";
    int number = 1;
    bool isPrivate = (bool)Session["IsPrivate"];
}

<div class="col-md-12">
    <div class="row">
        <div class="partition_menu_header_wrapper" style="background-color:#ffffff !important;">
            <div class="auction_menu_header">
                <table width="100%">
                    <tr>
                        <td width="33%" class="DirectoryMenu">
                            @if (isPrivate)
                            {
                                <a href="#" id="ToDirectory">
                                    <span class="glyphicon glyphicon-log-out">
                                    </span>
                                    @T("_Buyer.Menu.SupplierDir")
                                </a>
                            }
                        </td>
                        <td width="33%">
                            @T("_SupVer.Button.Tooltip.BlockHistory")
                        </td>
                        <td width="33%"></td>
                    </tr>
                </table>
            </div>
            <div class="data_end"></div>
            <div class="data_end"></div>
            <div class="menu_header_space_block"></div>
            <div class="data_end"></div>
            <div class="partition_menu_header_wrapper" style="background-color:#ffffff !important;">
                <div class="row">
                    <div style="float:right;padding-right:20px">
                        @Html.ActionLink(T("_Global.BtnClose").ToString(), "SupplierList", "BuyerPortal", null, new { @class = "btn btn-default" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <div class="data_end" style="padding-top:20px;"></div>
                            <div class="profile-lable-group">@T("_SupVer.Button.Tooltip.BlockHistory")</div>
                            <div class="profile-lable-groupDetail">@*@T("_Profile.MyAccount.UserInfo.InstrTxt")*@</div>
                            <div class="data_end" style="padding-top:20px;"></div>
                        </div>

                        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="left" class="main_table">
                            <thead>
                                <tr class="regis_table_header">
                                    <td>@T("_ComPro.TrackingCompInfo.TblTrackingCompInfo.ColCaption.No")</td>
                                    <td>@T("_Profile.UserInformation.TblUserList.ColCaption.Name")</td>
                                    <td>@T("_Profile.UserInformation.TblUserList.ColCaption.Name")</td>
                                    <td>@T("_History.Common.LblMobileCountryCode")</td>
                                    <td>@T("_ComPro.ContactPerson.TblContactPerson.ColCaption.MobileNo")</td>
                                    <td>@T("_Profile.UserInformation.TblUserList.ColCaption.Tel")</td>
                                    <td>@T("_ComPro.ContactPerson.TblContactPerson.LblPhoneExt")</td>
                                    <td>@T("_Profile.UserInformation.TblUserList.ColCaption.Email")</td>
                                    <td>@T("_SuppVer.BlockHistory.ColCaption.BlockBy")</td>
                                    <td>@T("_SuppVer.BlockHistory.ColCaption.BlockDate")</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    int rowCount = Model.Count;
                                    <tr class="main_table_row">
                                        <td align="center">@number</td>
                                        @*Name Local*@
                                        <td style="padding-left:10px;">
                                            @*Title_Local*@
                                            @if (!string.IsNullOrEmpty(item.Title_Local))
                                            {
                                                if (item.Title_Local.Contains("##"))
                                                {
                                                    <span class="address-change">@item.Title_Local.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.Title_Local</span>
                                                }
                                            }
                                            @*FirstName_Local*@
                                            @if (!string.IsNullOrEmpty(item.FirstName_Local))
                                            {
                                                if (item.FirstName_Local.Contains("##"))
                                                {
                                                    <span class="address-change">@item.FirstName_Local.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.FirstName_Local</span>
                                                }
                                            }
                                            @*LastName_Local*@
                                            @if (!string.IsNullOrEmpty(item.LastName_Local))
                                            {
                                                if (item.LastName_Local.Contains("##"))
                                                {
                                                    <span class="address-change">@item.LastName_Local.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.LastName_Local</span>
                                                }
                                            }
                                        </td>
                                        @*Name_Inter*@
                                        <td style="padding-left:10px;">
                                            @*Title_Inter*@
                                            @if (!string.IsNullOrEmpty(item.Title_Inter))
                                            {
                                                if (item.Title_Inter.Contains("##"))
                                                {
                                                    <span class="address-change">@item.Title_Inter.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.Title_Inter</span>
                                                }
                                            }
                                            @*FirstName_Inter*@
                                            @if (!string.IsNullOrEmpty(item.FirstName_Inter))
                                            {
                                                if (item.FirstName_Inter.Contains("##"))
                                                {
                                                    <span class="address-change">@item.FirstName_Inter.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.FirstName_Inter</span>
                                                }
                                            }
                                            @*LastName_Inter*@
                                            @if (!string.IsNullOrEmpty(item.LastName_Inter))
                                            {
                                                if (item.LastName_Inter.Contains("##"))
                                                {
                                                    <span class="address-change">@item.LastName_Inter.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.LastName_Inter</span>
                                                }
                                            }
                                        </td>
                                        @*MobileCountryCode*@
                                        <td style="padding-left:10px;">
                                            @if (!string.IsNullOrEmpty(item.MobileCountryCode))
                                            {
                                                if (item.MobileCountryCode.Contains("##"))
                                                {
                                                    <span class="address-change">@item.MobileCountryCode.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.MobileCountryCode</span>
                                                }
                                            }
                                        </td>
                                        @*MobileNo*@
                                        <td style="padding-left:10px;">
                                            @if (!string.IsNullOrEmpty(item.MobileNo))
                                            {
                                                if (item.MobileNo.Contains("##"))
                                                {
                                                    <span class="address-change">@item.MobileNo.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.MobileNo</span>
                                                }
                                            }
                                        </td>
                                        @*PhoneNo*@
                                        <td style="padding-left:10px;">
                                            @if (!string.IsNullOrEmpty(item.PhoneNo))
                                            {
                                                if (item.PhoneNo.Contains("##"))
                                                {
                                                    <span class="address-change">@item.PhoneNo.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.PhoneNo</span>
                                                }
                                            }
                                        </td>
                                        @*PhoneExt*@
                                        <td style="padding-left:10px;">
                                            @if (!string.IsNullOrEmpty(item.PhoneExt))
                                            {
                                                if (item.PhoneExt.Contains("##"))
                                                {
                                                    <span class="address-change">@item.PhoneExt.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.PhoneExt</span>
                                                }
                                            }
                                        </td>
                                        @*Email*@
                                        <td style="padding-left:10px;" class="wrapword">
                                            @if (!string.IsNullOrEmpty(item.Email))
                                            {
                                                if (item.Email.Contains("##"))
                                                {
                                                    <span class="address-change">@item.Email.Replace("##", "")</span>
                                                }
                                                else
                                                {
                                                    <span>@item.Email</span>
                                                }
                                            }
                                        </td>

                                        <td style="padding-left:10px;">@item.UpdateByName</td>
                                        <td style="padding-left:10px;">@item.UpdateDate</td>
                                    </tr>

                                    number++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables-1.10.13/media/js/dataTables.bootstrap.js"></script>