﻿<div class="landing_body_bg">
    <div class="landing_content">
        <div class="data_end" style="padding-top:40px;"></div>
        <div class="container container_landing">
            <div class="row">
                <div class="data_end"></div>
                <div class="ep_badge_blue_edge"></div>
                <div class="ep_badge_blue" style="padding-left: 30px; width: 60%;">
                    <a class="ep_badge_blue_link" href="/Landing/WhyVerification">Why Verification</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="ep_badge_blue_link" href="/Landing/ProcessofVerification">Process of Verification</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="ep_badge_blue_link" href="/Landing/SuccessStories">Success Stories</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="ep_badge_blue_link" href="/Landing/PressSection">Press Section</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="ep_badge_blue_link" href="/Landing/GetVerified">Get Verified</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="ep_badge_blue_link" href="/Landing/FAQs">FAQs</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="data_end" style="padding-top:40px;"></div>
            </div>

            <div class="row">
                <img class="img" src="/Content/images/head3.png" border="0" />
            </div>
            <div class="row body_landing">
                <div class="col-md-6">
                    <div class="content_landing_txt">
                        <span class="content_landing_txt">
                            Free HTML CSS JavaScript DOM jQuery XML AJAX Angular ASP . ...
                            The Input Checkbox object represents an HTML  element with type="checkbox". ...
                            Tip: You can also access by searching through the<p>
                        </span>
                        <span class="content_landing_more">more...</span>
                        <p><p>
                            <span class="content_landing_topic">Verified Supplier What is Verified Supplier?</span>
                            <span class="content_landing_txt">
                                ASP.NET is a development framework for building web pages and web sites with HTML,
                                CSS, JavaScript and server scripting.<br>
                                ASP.NET supports three different development models:
                                Web Pages, MVC (Model View Controller), and Web Forms.
                            </span>
                            <span class="content_landing_more">more...</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <span class="content_landing_topic">Verified Supplier Why is Verified Supplier?</span>
                    <br>
                    <span class="content_landing_txt">
                        I remember tears streaming down your face
                        When I said, I'll never let you go
                        When all those shadows almost killed your light
                        I remember you said, Don't leave me here alone
                        But all that's dead and gone and passed tonight
                    </span>
                    <br>
                    <span class="content_landing_more">more...</span>
                    <p><p>
                        <span class="content_landing_topic">Verified Supplier Benefits of Verified Supplier?</span>
                        <br>
                        <span class="content_landing_txt">
                            Just  close your eyes
                            The sun is going down
                            You'll be alright
                            No one can hurt you now
                            Come morning light
                            You and I'll be safe and sound
                        </span>
                        <br>
                        <span class="content_landing_more">more...</span>
                    <p><p>
                </div>
            </div>
            <div class="row">
                <div class="checkbox_landing">
                    <input id="TicketCode" type="checkbox" value="true" name="TicketCode" onclick="checkTicketCode();">&nbsp;&nbsp;
                    I have a registration code.
                </div>
            </div>
            <div class="row">
                <div class="button_landing">
                    <a class="btn_login_landing" href="/AccountPortal/Login">Member Login</a>
                    <a class="btn_login_landing" href="/AccountPortal/RegisterPortal">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">

        <div class="modal-content">
            <form method="get" action="/AccountPortal/Registercontinue">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    Registration code
                </div>
                <!-- dialog body -->
                <div class="modal-body">
                    TicketCode :  &nbsp;&nbsp;
                    <input id="ticketcode" class="form-control" type="text" value="" name="ticketcode">

                </div>
                <!-- dialog buttons -->
                <div class="modal-footer">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>
