﻿
@{
    ViewBag.Title = "Alive";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var computername = ViewBag.Computername;
}
<div class="row">&nbsp;</div>

<div class="row">
    <div class="jumbotron">
        <div style="text-align: center;"><h1>Alive-[@computername]</h1></div>       
    </div>
</div>

