﻿@using System.Web.UI.WebControls
@using SupplierPortal.Data.Models.MappingTable
@using SupplierPortal.Data.Models.SupportModel.CompanyProfile
@using SupplierPortal.Services.RegisterPortalManage
@model CompanyAddress

@{
    ViewBag.Title = "_AddressPartial";
    Layout = null;

    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    //รับค่า viewbag จาก controller
    var datatracking = Model.trackingFields;
    var datatrackingDel = Model.trackingFieldsDel;
    var datatrackingOrgAddress = Model.trackingOrgAddress;
    var trackingAddress = Model.trackingAddress;
    var trackingDelivery = Model.trackingDelivery;
    Func<int, int, string, string> setOnclick = (trackingItemIDField, TrackingGrpID, trackingItemIDAddress) =>
    {
        return string.Format("return viewDataTracking({0},{1},{2})", trackingItemIDField, TrackingGrpID, trackingItemIDAddress);
    };

    Func<int, int, string> SetClick = (trackingReqID, trackingGrpID) =>
    {
        return string.Format("return viewGrpTracking({0},{1})", trackingReqID, trackingGrpID);
    };
}


@using (Html.BeginForm("Address", "ContactInformation", FormMethod.Post, new { @id = "AddressID" }))
{
    @Html.Hidden("trackingItemIDField")
    @Html.Hidden("trackingGrpID")
    @Html.Hidden("trackingPage")
    @Html.Hidden("trackingController")
    @Html.Hidden("trackingItemIDAddress")
    @Html.Hidden("trackingReqID")
    @Html.HiddenFor(a => a.SupplierID)
    @Html.Hidden("CheckBox", Model.CheckB, new { @id = "CheckBool" })
    @Html.HiddenFor(a => a.chkDataChange)

    <style>
        .fa-flag {
            display: none;
            color: #EDB61D;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary pull-right" id="btnSubmitAddress">@T("_ComPro.Address.BtnSave")</button>
                    </div>
                </div>
            </div>

            <div style="margin-top:20px" class="alert-custom" role="alert">
                <span class="fa-stack">
                    <i style="color:#98C93D" class="fa fa-info-circle fa-stack-2x"></i>
                </span>
                <span><b>@T("_ComPro.Address.InstrTxt.Title")</b></span>
                <div style="padding-left:25px;"><span>@T("_ComPro.Address.InstrTxt.Txt")</span></div>
            </div>

            <div class="panel panel-default" style="margin-top:10px;">
                <div class="panel-heading">
                    @T("_ComPro.Address.LblCompanyAddress")
                    <a class="CompanyAddress_HouseNo_Local">
                        <span class="alert-trackinginfo" aria-hidden="true" show="CompanyAddress_HouseNo_Local"></span>
                    </a>
                    @*<div class="form-inline-element margin-none alert-icon">*@
                    <a class="CompanyAddress_HouseNo_Local" data-toggle="popover" data-reqid='@trackingAddress.TrackingReqID'>
                        <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                              show="CompanyAddress_HouseNo_Local"
                              onclick="@SetClick(trackingAddress.TrackingReqID, 3)"></span>
                    </a>
                    @*</div>*@
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body">

                                <div class="row" style="padding-top:10px">
                                    <div class="col-md-2" style="padding-top:58px;">
                                        <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                            <label for="test1">@T("_ComPro.Address.LblHouseNo")</label>
                                            <span class="red_highlight">*</span>
                                        </div>
                                        <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                            <label for="test2">@T("_ComPro.Address.LblVillageNo")</label>
                                        </div>
                                        <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                            <label for="test3">@T("_ComPro.Address.LblAlleyLane")</label>
                                        </div>
                                        <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                            <label for="test4">@T("_ComPro.Address.LblRoad")</label>
                                        </div>
                                        <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                            <label for="test5">@T("_ComPro.Address.LblSubDistrictSubArea")</label>
                                            <span id="starCountryAdd" class="red_highlight">*</span>
                                        </div>
                                        <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                            <label for="test6">@T("_ComPro.Address.LblDistrict Area")</label>
                                            <span class="red_highlight">*</span>
                                        </div>
                                        <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                            <label for="test7">@T("_ComPro.Address.LblProvinceState")</label>
                                            <span class="red_highlight">*</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">@T("_ComPro.Address.LblTHLanguage")</div>
                                            <div class="panel-body">
                                                <div class="form-inline-regis">

                                                    @Html.HiddenFor(a => a.CompanyAddressID)
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_HouseNo_Local, new { @class = "form-control ", @data_tracking = datatracking["HouseNo_Local"].TrackingStatusID })
                                                        @Html.ValidationMessageFor(m => m.CompanyAddress_HouseNo_Local, "", new { @class = "text-danger-bold" })
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_VillageNo_Local, new { @class = "form-control input-sm ", @data_tracking = datatracking["VillageNo_Local"].TrackingStatusID })
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_Lane_Local, new { @class = "form-control input-sm ", @data_tracking = datatracking["Lane_Local"].TrackingStatusID })
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_Road_Local, new { @class = "form-control input-sm ", @data_tracking = datatracking["Road_Local"].TrackingStatusID })
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_SubDistrict_Local, new { @class = "form-control input-sm ", @data_tracking = datatracking["SubDistrict_Local"].TrackingStatusID })

                                                        <span class="text-danger-bold" style="display:none;" id="errorCompSubDistrict">@T("_Regis.ValidateMsg.RequireSubDistrict")</span>
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_City_Local, new { @class = "form-control input-sm ", @data_tracking = datatracking["City_Local"].TrackingStatusID })

                                                        <span class="text-danger-bold" style="display:none;" id="errorCompCity">@T("_Regis.ValidateMsg.RequireCity")</span>
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_State_Local, new { @class = "form-control input-sm ", @data_tracking = datatracking["State_Local"].TrackingStatusID })

                                                        <span class="text-danger-bold" style="display:none;" id="errorCompState">@T("_Regis.ValidateMsg.RequireState")</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">@T("_ComPro.Address.LblENGlanguage")</div>
                                            <div class="panel-body">
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_HouseNo_Inter, new { @class = "form-control input-sm ", @data_tracking = datatracking["HouseNo_Inter"].TrackingStatusID })
                                                        @Html.ValidationMessageFor(m => m.CompanyAddress_HouseNo_Inter, "", new { @class = "text-danger-bold" })
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_VillageNo_Inter, new { @class = "form-control input-sm ", @data_tracking = datatracking["VillageNo_Inter"].TrackingStatusID })
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_Lane_Inter, new { @class = "form-control input-sm ", @data_tracking = datatracking["Lane_Inter"].TrackingStatusID })
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_Road_Inter, new { @class = "form-control input-sm ", @data_tracking = datatracking["Road_Inter"].TrackingStatusID })
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_SubDistrict_Inter, new { @class = "form-control input-sm ", @data_tracking = datatracking["SubDistrict_Inter"].TrackingStatusID })

                                                        <span class="text-danger-bold" style="display:none;" id="errorCompSubDistrict2">@T("_Regis.ValidateMsg.RequireSubDistrict")</span>
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_City_Inter, new { @class = "form-control input-sm ", @data_tracking = datatracking["City_Inter"].TrackingStatusID })

                                                        <span class="text-danger-bold" style="display:none;" id="errorCompCity2">@T("_Regis.ValidateMsg.RequireCity")</span>
                                                    </div>

                                                </div>
                                                <div class="form-inline-regis">
                                                    <div class="form-inline-element margin-none">
                                                        @Html.TextBoxFor(a => a.CompanyAddress_State_Inter, new { @class = "form-control input-sm ", @data_tracking = datatracking["State_Inter"].TrackingStatusID })

                                                        <span class="text-danger-bold" style="display:none;" id="errorCompState2">@T("_Regis.ValidateMsg.RequireState")</span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2" style=" padding-top:5px;">
                                        <div class="row label-fieldset" style="padding-bottom:5px; padding-left:10px">
                                            <label for="test1">@T("_ComPro.Address.LblPostalCode")</label>
                                            <span class="red_highlight">*</span>
                                        </div>
                                        <div class="row label-fieldset" style="padding-bottom:5px; padding-left:10px">
                                            <label for="test1">@T("_ComPro.Address.LblCountry")</label>
                                            <span class="red_highlight">*</span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-inline-regis">
                                            <div class="form-inline-element margin-none">
                                                @Html.TextBoxFor(a => a.CompanyAddress_PostalCode, new { @class = "form-control input-sm ", @data_tracking = datatracking["PostalCode"].TrackingStatusID })
                                                @Html.ValidationMessageFor(m => m.CompanyAddress_PostalCode, "", new { @class = "text-danger-bold" })
                                            </div>

                                        </div>
                                        <div class="form-inline-regis">
                                            <div class="form-inline-element margin-none">
                                                @Html.Action("CompanyContryCode", new { model = Model })

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @T("_ComPro.Address.LblDeliveredAddress")
                    <a class="DeliverAddress_HouseNo_Local">
                        <span class="alert-trackinginfo" aria-hidden="true" show="DeliverAddress_HouseNo_Local"></span>
                    </a>

                    <a class="DeliverAddress_HouseNo_Local" data-toggle="popover" data-reqid='@trackingDelivery.TrackingReqID'>
                        <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                              show="DeliverAddress_HouseNo_Local"
                              onclick="@SetClick(trackingDelivery.TrackingReqID, 3)"></span>
                    </a>

                    <a class="CheckB" data-toggle="popover" data-reqid='@datatrackingOrgAddress.TrackingReqID'>
                        <span class="alert-trackingflide fa fa-flag fa-lg" aria-hidden="true"
                              show="CheckB"
                              onclick="@SetClick(datatrackingOrgAddress.TrackingReqID, 3)"></span>
                    </a>
                    @*</div>*@
                </div>
                <div class="panel-body">
                    <div class="panel">
                        <div class="col-md-12">

                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(a => a.CheckB, new { @type = "checkbox", id = "CheckB", @data_check = datatrackingOrgAddress.TrackingStatusID })
                                    @T("_ComPro.Address.LblCheckBoxAdd")
                                </label>

                            </div>

                            <div class="panel panel-default" id="DeliveredAdd">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-2" style=" padding-top:58px;">
                                            <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                <label for="test1">@T("_ComPro.Address.LblHouseNo")</label>
                                                <span class="red_highlight">*</span>
                                            </div>
                                            <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                <label for="test2">@T("_ComPro.Address.LblVillageNo")</label>
                                            </div>
                                            <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                <label for="test3">@T("_ComPro.Address.LblAlleyLane")</label>
                                            </div>
                                            <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                <label for="test4">@T("_ComPro.Address.LblRoad")</label>
                                            </div>
                                            <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                <label for="test5">@T("_ComPro.Address.LblSubDistrictSubArea")</label>
                                                <span id="starCountryDel" class="red_highlight">*</span>
                                            </div>
                                            <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                <label for="test6">@T("_ComPro.Address.LblDistrict Area")</label>
                                                <span class="red_highlight">*</span>
                                            </div>
                                            <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                <label for="test7">@T("_ComPro.Address.LblProvinceState")</label>
                                                <span class="red_highlight">*</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">@T("_ComPro.Address.LblTHLanguage")</div>
                                                <div class="panel-body">
                                                    <div class="form-inline-regis">
                                                        @Html.HiddenFor(a => a.DeliverAddressID)
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_HouseNo_Local, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["HouseNo_Local"].TrackingStatusID })
                                                            @Html.ValidationMessageFor(m => m.DeliverAddress_HouseNo_Local, "", new { @class = "text-danger-bold" })
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_VillageNo_Local, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["VillageNo_Local"].TrackingStatusID })
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_Lane_Local, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["Lane_Local"].TrackingStatusID })
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_Road_Local, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["Road_Local"].TrackingStatusID })
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_SubDistrict_Local, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["SubDistrict_Local"].TrackingStatusID })

                                                            <span class="text-danger-bold" style="display:none;" id="errorDelvSubDistrict">@T("_Regis.ValidateMsg.RequireSubDistrict")</span>
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_City_Local, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["City_Local"].TrackingStatusID })

                                                            <span class="text-danger-bold" style="display:none;" id="errorDelvCity">@T("_Regis.ValidateMsg.RequireCity")</span>
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_State_Local, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["State_Local"].TrackingStatusID })

                                                            <span class="text-danger-bold" style="display:none;" id="errorDelvState">@T("_Regis.ValidateMsg.RequireState")</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">@T("_ComPro.Address.LblENGlanguage")</div>
                                                <div class="panel-body">
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_HouseNo_Inter, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["HouseNo_Inter"].TrackingStatusID })
                                                            @Html.ValidationMessageFor(m => m.DeliverAddress_HouseNo_Inter, "", new { @class = "text-danger-bold" })
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_VillageNo_Inter, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["VillageNo_Inter"].TrackingStatusID })
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_Lane_Inter, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["Lane_Inter"].TrackingStatusID })
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_Road_Inter, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["Road_Inter"].TrackingStatusID })
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_SubDistrict_Inter, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["SubDistrict_Inter"].TrackingStatusID })

                                                            <span class="text-danger-bold" style="display:none;" id="errorDelvSubDistrict2">@T("_Regis.ValidateMsg.RequireSubDistrict")</span>
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_City_Inter, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["City_Inter"].TrackingStatusID })

                                                            <span class="text-danger-bold" style="display:none;" id="errorDelvCity2">@T("_Regis.ValidateMsg.RequireCity")</span>
                                                        </div>

                                                    </div>
                                                    <div class="form-inline-regis">
                                                        <div class="form-inline-element margin-none">
                                                            @Html.TextBoxFor(a => a.DeliverAddress_State_Inter, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["State_Inter"].TrackingStatusID })

                                                            <span class="text-danger-bold" style="display:none;" id="errorDelvState2">@T("_Regis.ValidateMsg.RequireState")</span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2" style="padding-top:5px;">
                                            <div class="row label-fieldset" style="padding-bottom:5px; padding-left:10px">
                                                <label for="test1">@T("_ComPro.Address.LblPostalCode")</label>
                                                <span class="red_highlight">*</span>
                                            </div>
                                            <div class="row label-fieldset" style="padding-bottom:5px; padding-left:10px">
                                                <label for="test1">@T("_ComPro.Address.LblCountry")</label>
                                                <span class="red_highlight">*</span>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-inline-regis">
                                                <div class="form-inline-element margin-none">
                                                    @Html.TextBoxFor(a => a.DeliverAddress_PostalCode, new { @class = "form-control input-sm ", @data_tracking = datatrackingDel["PostalCode"].TrackingStatusID })
                                                    @Html.ValidationMessageFor(m => m.DeliverAddress_PostalCode, "", new { @class = "text-danger-bold" })
                                                </div>

                                            </div>
                                            <div class="form-inline-regis">
                                                <div class="form-inline-element margin-none">
                                                    @Html.Action("DeliveContryCode", new { model = Model })

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12">

                    <div class="pull-right">
                        <button type="button" class="btn btn-primary pull-right" id="btnSubmitAddress1">@T("_ComPro.Address.BtnSave")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">

    function SetDisableAddress() {
        $("#CheckB").attr('disabled', true);

        $("#DeliverAddress_HouseNo_Local").attr('readonly', true);
        $("#DeliverAddress_VillageNo_Local").attr('readonly', true);
        $("#DeliverAddress_Lane_Local").attr('readonly', true);
        $("#DeliverAddress_Road_Local").attr('readonly', true);
        //DeliverAddress_SubDistrict_Local.SetEnabled(false);
        //DeliverAddress_City_Local.SetEnabled(false);
        //DeliverAddress_State_Local.SetEnabled(false);
        $("#DeliverAddress_SubDistrict_Local").attr('readonly', true);
        $("#DeliverAddress_City_Local").attr('readonly', true);
        $("#DeliverAddress_State_Local").attr('readonly', true);
        $("#DeliverAddress_HouseNo_Inter").attr('readonly', true);
        $("#DeliverAddress_VillageNo_Inter").attr('readonly', true);
        $("#DeliverAddress_Lane_Inter").attr('readonly', true);
        $("#DeliverAddress_Road_Inter").attr('readonly', true);
        //DeliverAddress_SubDistrict_Inter.SetEnabled(false);
        //DeliverAddress_City_Inter.SetEnabled(false);
        //DeliverAddress_State_Inter.SetEnabled(false);
        $("#DeliverAddress_SubDistrict_Inter").attr('readonly', true);
        $("#DeliverAddress_City_Inter").attr('readonly', true);
        $("#DeliverAddress_State_Inter").attr('readonly', true);
        $("#DeliverAddress_PostalCode").attr('readonly', true);
        //DeliverAddress_CountryCode.SetEnabled(false);
        //$("#DeliverAddress_CountryCode").attr('readonly', true);
        //$("#select2-DeliverAddress_CountryCode-container").attr('readonly', true);
        $('#DeliverAddress_CountryCode').prop('disabled', true);
    }

    function viewDataTracking(trackingItemIDField, trackingGrpID, trackingItemIDAddress) {

        var formAttachment = $("#AddressID");
        var urlAction = '/CompanyProfile/ViewTrackingFieldCompanyProfile';

        formAttachment.attr("action", urlAction);
        $("#trackingItemIDField").val(trackingItemIDField);
        $("#trackingGrpID").val(trackingGrpID);
        $("#trackingPage").val("Address");
        $("#trackingController").val("ContactInformation");
        $("#trackingItemIDAddress").val(trackingItemIDAddress);

        formAttachment.submit();
        disablePage();
        return false;
    }

    function viewGrpTracking(trackingReqID, trackingGrpID) {
        var formAttachment = $("#AddressID");
        var urlAction = '/CompanyProfile/ViewTrackingCompanyProfile';

        formAttachment.attr("action", urlAction);
        $("#trackingReqID").val(trackingReqID);
        $("#trackingGrpID").val(trackingGrpID);
        $("#trackingPage").val("Address");
        $("#trackingController").val("ContactInformation");

        formAttachment.submit();
        disablePage();
        return false;
    }

    $(function () {
        $("input[data-tracking=2]").each(function (index) {
            var idtracking = $(this).attr('id');
            var tag_tracking = $('[data-reqid].' + idtracking);
            var trackingGrpID = tag_tracking.attr('data-reqid');
            var lg = "@T("_ComPro.Address.WaitingForApproveArg1").ToString()";
            lg = lg.format(trackingGrpID);
            tag_tracking.popover({
                html: true,
                placement: "top",
                trigger: "hover",
                container: tag_tracking,
                content: lg,
                delay: { show: 150, hide: 150 }
            });
        });
        $("select[data-tracking=2]").each(function (index) {
            var idTracking = $(this).attr('id');
            var tag_tracking = $('[data-reqid].' + idTracking);
            var trackingGrpID = tag_tracking.attr('data-reqid');
            var lg = "@T("_ComPro.Address.WaitingForApproveArg1").ToString()";
            lg = lg.format(trackingGrpID);
            tag_tracking.popover({
                html: true,
                placement: "top",
                trigger: "hover",
                container: tag_tracking,
                content: lg,
                delay: { show: 150, hide: 150 }
            });
        });
        $("input[data-check=2]").each(function (index) {
            var idTracking = $(this).attr('id');
            var tag_tracking = $('[data-reqid].' + idTracking);
            var trackingGrpID = tag_tracking.attr('data-reqid');
            var lg = "@T("_ComPro.Address.WaitingForApproveArg1").ToString()";
            lg = lg.format(trackingGrpID);
            tag_tracking.popover({
                html: true,
                placement: "top",
                trigger: "hover",
                container: tag_tracking,
                content: lg,
                delay: { show: 150, hide: 150 }
            });
        });
    });
    $(document).ready(function () {


        $("#CompanyAddress_CountryCode").focusin(function () {
            var CountryCode = $("#CompanyAddress_CountryCode").val();
            if (CountryCode != "TH") {
                $("#starCountryAdd").css("display", "none");
            }
            else {
                $("#starCountryAdd").css("display", "initial");
            }
        });
        $("#DeliverAddress_CountryCode").focusin(function () {
            var CountryCode = $("#DeliverAddress_CountryCode").val();
            if (CountryCode != "TH") {
                $("#starCountryDel").css("display", "none");
            }
            else {
                $("#starCountryDel").css("display", "initial");
            }
        });

        $("input[data-tracking=2]").each(function (index) {
            $(this).attr('readonly', true);
            var idtracking = $(this).attr('id');

            $(".alert-trackingflide[show=" + idtracking + "]").attr('style', 'display:inline-block').show();
        });
        $("select[data-tracking=2]").each(function (index) {
            var idTracking = $(this).attr('id');
            //var comboBox = ASPxClientControl.GetControlCollection().GetByName(idTracking);
            //comboBox.SetEnabled(false);
            $(this).prop('disabled', true);

            $(".alert-trackingflide[show=" + idTracking + "]").attr('style', 'display:inline-block').show();
        });
        $("input[data-check=2]").each(function (index) {
            SetDisableAddress();
            $(".alert-trackingflide[show=CheckB]").attr('style', 'display:inline-block').show();
        });

        //================================== select2 ===================================

        //The url we will send our get request to
        var countryUrl = '@Url.Action("GetJsonCountry", "ApiData")';
        var pageSize = 20;
        var query = {};
        var countryUrl = '@Url.Action("GetJsonCountry", "ApiData")';
        var pageSize = 20;
        var query = {};

        $("#CompanyAddress_CountryCode").select2({
            width: '100%',
            ajax: {
                url: countryUrl,
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    //console.log(params);
                    return {
                        searchTerm: params.term, // search term
                        pageNum: params.page,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    //console.log(data);
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        // results:markMatch(data.Results.text, params.term),
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                },
                cache: true
            },
            templateResult: function (item, params) {
                // No need to template the searching text
                //console.log(item);

                if (item.loading) {
                    return item.text;
                }

                var term = query.term || '';
                //console.log("term ==> "+term);
                var $result = markMatch(item.text, term);

                return $result;
            },
            language: {
                searching: function (params) {
                    // Intercept the query as it is happening
                    query = params;

                    // Change this to be appropriate for your application
                    return 'Searching…';
                }
            },
            escapeMarkup: function (markup) { return markup; },
            //minimumInputLength: 0,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });

        //.on("change", function (evt) {
        //    // mostly used event, fired to the original element when the value changes
        //    //console.log(evt.target.value);
        //    //console.log(evt);
        //    var countryCode = evt.target.value;
        //    CountryChangedNew(countryCode)
        //});
        $("#DeliverAddress_CountryCode").select2({
            width: '100%',
            ajax: {
                url: countryUrl,
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    //console.log(params);
                    return {
                        searchTerm: params.term, // search term
                        pageNum: params.page,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    //console.log(data);
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        // results:markMatch(data.Results.text, params.term),
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                },
                cache: true
            },
            templateResult: function (item, params) {
                // No need to template the searching text
                //console.log(item);

                if (item.loading) {
                    return item.text;
                }

                var term = query.term || '';
                //console.log("term ==> "+term);
                var $result = markMatch(item.text, term);

                return $result;
            },
            language: {
                searching: function (params) {
                    // Intercept the query as it is happening
                    query = params;

                    // Change this to be appropriate for your application
                    return 'Searching…';
                }
            },
            escapeMarkup: function (markup) { return markup; },
            //minimumInputLength: 0,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });

        //.on("change", function (evt) {
        //    // mostly used event, fired to the original element when the value changes
        //    //console.log(evt.target.value);
        //    //console.log(evt);
        //    var countryCode = evt.target.value;
        //    CountryChangedNew(countryCode)
        //});
    });

</script>



<script type="text/javascript">
    $(document).ready(function () {
        //--------------------------remote typeahead---------------------------
        //SetDisableAddress();

        $(function () {
            $('#CompanyAddress_SubDistrict_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("SubCompLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.SubDistrictName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_SubDistrict_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("SubCompInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.SubDistrictName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_SubDistrict_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("SubDelvLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.SubDistrictName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_SubDistrict_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("SubDelvInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.SubDistrictName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_City_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("CityCompLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.CityName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_City_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("CityDelvLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.CityName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_City_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("CityDelvInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.CityName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_City_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("CityCompInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.CityName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_State_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("StateCompLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.StateName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_State_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("StateCompInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.StateName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_State_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("StateDelvLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.StateName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_State_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("StateDelvInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.StateName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });
    });

</script>