﻿@model  SupplierPortal.Data.Models.MappingTable.Tbl_Organization

@{
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .controls {
            margin-top: 16px;
            border: 1px solid transparent;
            border-radius: 2px 0 0 2px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 32px;
            outline: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        }

        #pac-input {
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 400px;
        }

            #pac-input:focus {
                border-color: #4d90fe;
            }

        .pac-container {
            font-family: Roboto;
        }

        #type-selector {
            color: #fff;
            background-color: #4d90fe;
            padding: 5px 11px 0px 11px;
        }

            #type-selector label {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 300;
            }
    </style>
    <title>Places search box</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>

    <script>
        // This example adds a search box to a map, using the Google Place Autocomplete
        // feature. People can enter geographical searches. The search box will return a
        // pick list containing a mix of places and predicted search terms.

        var map;
        var markers = [];

        function initialize() {


            map = new google.maps.Map(document.getElementById('map-canvas'), {
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });


            // This event listener will call addMarker() when the map is clicked.
            google.maps.event.addListener(map, 'click', function (event) {
                addMarker(event.latLng);
            });



            var defaultBounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(13.7563309, 100.50176510000006),
                new google.maps.LatLng(13.7563309, 100.50176510000006));
            map.fitBounds(defaultBounds);





            // Create the search box and link it to the UI element.
            // type {HTMLInputElement}
            var input = (document.getElementById('pac-input'));

            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            var searchBox = new google.maps.places.SearchBox(
              /** type {HTMLInputElement} */(input));
            //console.log(searchBox);
            // [START region_getplaces]
            // Listen for the event fired when the user selects an item from the
            // pick list. Retrieve the matching places for that item.
            google.maps.event.addListener(searchBox, 'places_changed', function (event) {

                var places = searchBox.getPlaces();

                if (places.length == 0) {
                    return;
                }
                for (var i = 0, marker; marker = markers[i]; i++) {
                    marker.setMap(null);
                }

                // For each place, get the icon, place name, and location.
                markers = [];
                var bounds = new google.maps.LatLngBounds();
                for (var i = 0, place; place = places[i]; i++) {
                    var image = {
                        url: place.icon,
                        size: new google.maps.Size(71, 71),
                        origin: new google.maps.Point(0, 0),
                        anchor: new google.maps.Point(17, 34),
                        scaledSize: new google.maps.Size(25, 25)
                    };

                    // Create a marker for each place.
                    var marker = new google.maps.Marker({
                        map: map,
                        icon: image,
                        title: place.name,
                        position: place.geometry.location
                    });

                    markers.push(marker);

                    bounds.extend(place.geometry.location);


                    addMarker(place.geometry.location);

                }

                map.fitBounds(bounds);
            });
            // [END region_getplaces]

            // Bias the SearchBox results towards places that are within the bounds of the
            // current map's viewport.


            google.maps.event.addListener(map, 'bounds_changed', function () {
                var bounds = map.getBounds();
                searchBox.setBounds(bounds);
            });



            if ((document.getElementById('lat').value != "") && (document.getElementById('lng').value != "")) {

                var lat2 = document.getElementById('lat').value;
                var lng2 = document.getElementById('lng').value;

                var myLatlng2 = new google.maps.LatLng(lat2, lng2);


                for (var i = 0, marker; marker = markers[i]; i++) {
                    marker.setMap(null);
                }

                var bounds2 = new google.maps.LatLngBounds();

                bounds2.extend(myLatlng2);

                addMarker(myLatlng2);

                map.fitBounds(bounds2);

            }

        }



        function setAllMap(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        function clearMarkers() {
            setAllMap(null);
        }

        function deleteMarkers() {
            clearMarkers();
            markers = [];
            document.getElementById('lat').value = "";
            document.getElementById('lng').value = "";
        }

        function deleteMarkers2() {
            clearMarkers();
            markers = [];
        }


        function addMarker(location) {

            deleteMarkers2();

            var marker = new google.maps.Marker({
                position: location,
                map: map,
                draggable: true
            });

            google.maps.event.addListener(marker, 'drag', function (event) {
                document.getElementById('lat').value = event.latLng.lat();
                document.getElementById('lng').value = event.latLng.lng();
            });

            google.maps.event.addListener(marker, 'dragend', function (event) {
                document.getElementById('lat').value = event.latLng.lat();
                document.getElementById('lng').value = event.latLng.lng();
            });

            markers.push(marker);

            document.getElementById('lat').value = location.lat();
            document.getElementById('lng').value = location.lng();
        }

        //google.maps.event.addDomListener(document.getElementById('lnkLatLngSearch'), 'click', renderMapsByLatLong);
        google.maps.event.addDomListener(window, 'load', initialize);
        //google.maps.event.addDomListener(window, 'load', renderMapsOnLoad);

    </script>


    <style>
        #target {
            width: 345px;
        }
    </style>
</head>
<body style="height:100%; width:100%;">
   <div class="row">
            <div class="col-md-8">
                <div class="col-sm-12">
                    <div class="col-md-6">
                        @Html.HiddenFor(a => a.SupplierID)
                        <label>@T("_ComPro.Map.LblLatitude")</label>
                        @*<input class="form-control" type="text" id="lat" placeholder="Latitude ">*@
                        @Html.TextBoxFor(a => a.Latitude, new { @class = "form-control input-sm ", id = "lat", placeholder = "Latitude ", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.Latitude, "", new { @class = "text-danger-bold" })
                    </div>
                    <div class="col-md-6">
                        <label>@T("_ComPro.Map.LblLongitude")</label>
                        @*<input class="form-control" type="text" id="lng" placeholder="Longitude ">*@
                        @Html.TextBoxFor(a => a.Longtitude, new { @class = "form-control input-sm ", id = "lng", placeholder = "Longitude ", @readonly = "readonly" })
                        @Html.ValidationMessageFor(a => a.Longtitude, "", new { @class = "text-danger-bold" })
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 55px;">
                <div class="col-md-12">
                    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                    <div id="map-canvas" style='width:100%;height:300px;'></div>
                </div>
            </div>
        </div>
    

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>