﻿@using SupplierPortal.Data.Models.SupportModel.CompanyProfile

@model CompanyAddress
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";

    string viewbagAlertMassage = ViewBag.AlertMessage;
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>
@*<div class="row" style="padding-top:10px;">
        <div class="col-sm-12 col-md-12">

        </div>
    </div>*@

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>



    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
                @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
            </div>*@

        <div class="col-sm-12 col-md-12 r-sec">
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Action("_AddressPartial")
                </div>
            </div>

        </div>
    </div>

</div>

<div id="myModalError" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @Html.Raw(viewbagAlertMassage)
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal" id="BtnOk">@T("_Global.BtnOk")</button></div>
        </div>
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        function alertData() {


            $('#myModalError').modal({ backdrop: 'static', keyboard: false })
            .one('click', '#BtnOk', function () {
                disablePage();
                window.location.href = "/ContactInformation/Address";
                //$.unblockUI();

            });
        }
    </script>

    @if (!string.IsNullOrEmpty(viewbagAlertMassage))
    {
        <script>
            alertData();
        </script>
    }
}



<script type="text/javascript">

    function SetDisableAddressall() {
        $("#btnSubmit").attr('disabled', true);
        $("#btnSubmit1").attr('disabled', true);
        $("#CompanyAddress_HouseNo_Local").attr('readonly', true);
        $("#CompanyAddress_VillageNo_Local").attr('readonly', true);
        $("#CompanyAddress_Lane_Local").attr('readonly', true);
        $("#CompanyAddress_Road_Local").attr('readonly', true);
        //CompanyAddress_SubDistrict_Local.SetEnabled(false);
        //CompanyAddress_City_Local.SetEnabled(false);
        //CompanyAddress_State_Local.SetEnabled(false);
        $("#CompanyAddress_SubDistrict_Local").attr('readonly', true);
        $("#CompanyAddress_City_Local").attr('readonly', true);
        $("#CompanyAddress_State_Local").attr('readonly', true);
        $("#CompanyAddress_HouseNo_Inter").attr('readonly', true);
        $("#CompanyAddress_VillageNo_Inter").attr('readonly', true);
        $("#CompanyAddress_Lane_Inter").attr('readonly', true);
        $("#CompanyAddress_Road_Inter").attr('readonly', true);
        //CompanyAddress_SubDistrict_Inter.SetEnabled(false);
        //CompanyAddress_City_Inter.SetEnabled(false);
        //CompanyAddress_State_Inter.SetEnabled(false);
        $("#CompanyAddress_SubDistrict_Inter").attr('readonly', true);
        $("#CompanyAddress_City_Inter").attr('readonly', true);
        $("#CompanyAddress_State_Inter").attr('readonly', true);
        $("#CompanyAddress_PostalCode").attr('readonly', true);
        //CompanyAddress_CountryCode.SetEnabled(false);
        $("#CompanyAddress_CountryCode").attr('readonly', true);

        $("#check").attr('disabled', true);

        $("#DeliverAddress_HouseNo_Local").attr('readonly', true);
        $("#DeliverAddress_VillageNo_Local").attr('readonly', true);
        $("#DeliverAddress_Lane_Local").attr('readonly', true);
        $("#DeliverAddress_Road_Local").attr('readonly', true);
        //DeliverAddress_SubDistrict_Local.SetEnabled(false);
        //DeliverAddress_City_Local.SetEnabled(false);
        //DeliverAddress_State_Local.SetEnabled(false);
        $("#DeliverAddress_SubDistrict_Local").attr('readonly', true);
        $("#DeliverAddress_City_Local").attr('readonly', true);
        $("#DeliverAddress_State_Local").attr('readonly', true);
        $("#DeliverAddress_HouseNo_Inter").attr('readonly', true);
        $("#DeliverAddress_VillageNo_Inter").attr('readonly', true);
        $("#DeliverAddress_Lane_Inter").attr('readonly', true);
        $("#DeliverAddress_Road_Inter").attr('readonly', true);
        //DeliverAddress_SubDistrict_Inter.SetEnabled(false);
        //DeliverAddress_City_Inter.SetEnabled(false);
        //DeliverAddress_State_Inter.SetEnabled(false);
        $("#DeliverAddress_SubDistrict_Inter").attr('readonly', true);
        $("#DeliverAddress_City_Inter").attr('readonly', true);
        $("#DeliverAddress_State_Inter").attr('readonly', true);
        $("#DeliverAddress_PostalCode").attr('readonly', true);
        //DeliverAddress_CountryCode.SetEnabled(false);
        $("#DeliverAddress_CountryCode").attr('readonly', true);
    }

    $(document).ready(function () {


        //SetDisableAddressall();
    });
</script>


