﻿
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>
@*<div class="row" style="padding-top:10px;">
    <div class="col-sm-12 col-md-12">
       
    </div>
</div>*@
<div class="row" style="padding-top:10px;">
    <div class="col-sm-4 col-md-4">
        @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
    </div>
    <div class="col-sm-8 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                ContactPerson
            </div>
        </div>
    </div>
</div>

