﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.GeneralInfosModel
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";

}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>
@*<div class="row" style="padding-top:10px;">
        <div class="col-sm-12 col-md-12">

        </div>
    </div>*@

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>



    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
                @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
            </div>*@

        <div class="col-sm-12 col-md-12 r-sec">
            @using (Html.BeginForm("ContactCompany", "ContactInformation", FormMethod.Post, new { id = "SupplierID" }))
            {
                @Html.HiddenFor(g => g.SupplierID)
                @*<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table table-striped">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>*@
                                <!--เพิ่ม table tr td-->
                <div class="panel panel-default">
                    <div class="panel-body" style="background-color:white">

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                                <div class="pull-right">
                                    <input type="submit" value="@T("_Global.BtnSave")" class="btn btn-primary" onclick="disablePageForm(); " />
                                </div>
                            </div>
                        </div>

                        <div style="padding-top:40px;">
                        </div>
                        <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%">
                            <tbody>
                                <tr class="padding-table">
                                    <td width="25%" style="text-align: left;vertical-align: top">
                                        <div class="form-inline-element margin-none" style="width: 15%;">
                                            @Html.Label("", T("_ComPro.ContactComp.LblTel").ToString(), new { @class = "captionStyle1" })
                                        </div>
                                    </td>
                                    <td style="text-align: left;vertical-align: top">
                                        <div class="">
                                            <div class=" margin-none">
                                                <div class="form_item">
                                                    @Html.TextBoxFor(m => m.PhoneNo, new
                                           {
                                               @class = "form-control",
                                               id = "PhoneNo",
                                               maxlength = "255",
                                               placeholder = "",

                                               @style = "width: 300px;"
                                           })
                                                </div>
                                            </div>
                                            <div class=" margin-none" style="vertical-align:top">
                                                <div class="form_label_bold_inline pad0">@T("_ComPro.ContactComp.LblTelExt")</div>
                                            </div>
                                            <div class=" margin-none">
                                                <div class="form_item">
                                                    @Html.TextBoxFor(m => m.PhoneExt, new
                                           {
                                               @class = "form-control",
                                               id = "PhoneExt",
                                               maxlength = "255",
                                               placeholder = "",

                                               @style = "width: 300px;"
                                           })
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="padding-table">
                                    <td width="15%" style="text-align: left;vertical-align: top">
                                        <div class="form-inline-element margin-none" style="width: 15%;">
                                            @Html.Label("", T("_ComPro.ContactComp.LblMobile").ToString(), new { @class = "captionStyle1" })
                                        </div>
                                    </td>
                                    <td style="text-align: left;vertical-align: top">
                                        <div class="">
                                            <div class=" margin-none">
                                                <div class="form_item">
                                                    @Html.TextBoxFor(m => m.MobileNo, new
                                           {
                                               @class = "form-control",
                                               id = "MobileNo",
                                               maxlength = "255",
                                               placeholder = "",

                                               @style = "width: 300px;"
                                           })
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="padding-table">
                                    <td width="15%" style="text-align: left; vertical-align:top">
                                        <div class="form-inline-element margin-none" style="width: 15%;">
                                            @Html.Label("", T("_ComPro.ContactComp.LblFax").ToString(), new { @class = "captionStyle1" })
                                        </div>
                                    </td>
                                    <td style="text-align: left; vertical-align:top">
                                        <div class="">
                                            <div class=" margin-none">
                                                <div class="form_item">
                                                    @Html.TextBoxFor(m => m.FaxNo, new
                                           {
                                               @class = "form-control",
                                               id = "FaxNo",
                                               maxlength = "255",
                                               placeholder = "",

                                               @style = "width: 300px;"
                                           })
                                                </div>
                                            </div>

                                            <div class=" margin-none" style="vertical-align:top">
                                                <div class="form_label_bold_inline pad0">@T("_ComPro.ContactComp.LblFaxExt")</div>
                                            </div>
                                            <div class=" margin-none">
                                                <div class="form_item">
                                                    @Html.TextBoxFor(m => m.FaxExt, new
                                           {
                                               @class = "form-control",
                                               id = "FaxExt",
                                               maxlength = "255",
                                               placeholder = "",

                                               @style = "width: 300px;"
                                           })
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="padding-table">
                                    <td width="15%" style="text-align: left;vertical-align: top">
                                        <div class="form-inline-element margin-none" style="width: 15%;">
                                            @Html.Label("", T("_ComPro.ContactComp.LblWebsite").ToString(), new { @class = "captionStyle1" })
                                        </div>
                                    </td>
                                    <td style="text-align: left;vertical-align: top">
                                        <div class="">
                                            <div class=" margin-none">
                                                <div class="form_item">
                                                    @Html.TextBoxFor(m => m.WebSite, new
                                           {
                                               @class = "form-control",
                                               id = "Website",
                                               maxlength = "255",
                                               placeholder = "",

                                               @style = "width: 300px;"
                                           })
                                                    @Html.ValidationMessageFor(a => a.WebSite, "", new { @class = "text-danger-bold" })
                                                </div>
                                            </div>
                                            @* <div class="form_label_bold">@Html.ValidationMessageFor(x => x.WebSite, "", new { @class = "text-danger-bold" })</div>*@
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>

    </div>

</div>
