﻿@using System.Web.UI.WebControls
@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.GeneralModels

<script>

    function OnUserTypeChanged2() {
        //alert(s);
        alert("123");
        //if (s.name == "rdbBusinessTab1") {
        //    BusinessEntityID.PerformCallback();
        //}

        //UpdateItemsVisibility(s);
    }


</script>
@using (Html.BeginForm("UpdateGeneral", "CompanyProfile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-general" }))
{
<div class="row">

    <div style="float:right;padding-right:20px">
        <input type="submit" value="@T("_Global.BtnSave")" class="btn btn-primary" onclick="disablePageForm();" />
        @Html.ActionLink(T("_Global.BtnClose").ToString(), "Index", "Home", null, new { @class = "btn btn-default" })
    </div>

    <div class="data_end" style="padding-top:12px;"></div>
    <div class="profile-lable-group">@T("_Profile.LblUserInformation")</div>
    <hr>
    <div class="profile-lable-groupDetail">@T("_Profile.TabMyAccount.InsrtTxt.UserInfo")</div>
    <div class="data_end" style="padding-top:20px;"></div>
    <div class="col-md-10 col-md-offset-1 col-xs-10">
        @*<fieldset class="well the-fieldset">
            <legend class="the-legend">@T("_Regis.GrpLblGeneralInfo")</legend>*@
        <div class="row">
            <div class="form-inline">
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.LabelFor(m => m.OrgID, new { @class = "captionStyle1" })
                    </div>
                </div>
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.TextBoxFor(m => m.OrgID, new { @id = "txtTax", @class = "form-control", @readonly = "readonly", @style = "width: 150px;" })
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                <div class="form-inline">
                    <div class="form-group margin-none">
                        <div class="form_item">
                            @Html.LabelFor(m => m.CountryName, new { @class = "captionStyle1" })
                        </div>
                    </div>
                    <div class="form-group margin-none">
                        <div class="form_item">
                            @Html.TextBoxFor(m => m.CountryName, new { @id = "txtTax", @class = "form-control", @readonly = "readonly", @style = "width: 150px;" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-inline">
                    <div class="form-group margin-none">
                        <div class="form_item">
                            @Html.LabelFor(m => m.TaxID, new { @class = "captionStyle1" })
                        </div>
                    </div>
                    <div class="form-group margin-none">
                        <div class="form_item">
                            @Html.TextBoxFor(m => m.TaxID, new { @id = "txtTax", @class = "form-control", @readonly = "readonly", @style = "width: 150px;" })
                        </div>
                    </div>
                    <div class="form-group margin-none">
                        <div class="form_item">
                            @Html.ValidationMessageFor(m => m.TaxID, "", new { @class = "text-danger-bold" })
                        </div>
                    </div>
                </div>
                <div class="sendMailEdt" style="display: none;">
                    <a id=" lnksendemailedt" href="#">
                        <span id="lnkSendEmailEdt" class="glyphicon glyphicon-envelope"></span> @T("Send mail to Supplier admin")
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="form-inline">
                    <div class="form-group margin-none">
                        <div class="form_item">
                            @Html.LabelFor(m => m.DUNSNumber, new { @class = "captionStyle1" })
                        </div>
                    </div>
                    <div class="form-group margin-none">
                        <div class="form_item">
                            @Html.TextBoxFor(m => m.DUNSNumber, new { @id = "txtTax", @class = "form-control", @style = "width: 150px;" })
                        </div>
                    </div>
                    <div class="form-group margin-none">
                        <div class="form_item">
                            @Html.ValidationMessageFor(m => m.DUNSNumber, "", new { @class = "text-danger-bold" })
                        </div>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="form-inline">
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.DevExpress().RadioButtonList(settings =>
                              {
                                  settings.Name = "rdbBusinessTab1";
                                  settings.Properties.RepeatLayout = RepeatLayout.Table;
                                  settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                  settings.Properties.RepeatColumns = 2;
                                  settings.SelectedIndex = 0;
                                  settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnUserTypeChanged";
                              }).BindList(new string[] { T("_Regis.LblCorporate").ToString(), T("_Regis.LblPrivate").ToString() }).GetHtml()
                    </div>
                </div>
                @*<div class="form-group margin-none">
                    <div class="form_item">
                        @Html.LabelFor(m => m.BranchNo, new { @class = "form_label_bold_inline" })
                    </div>
                </div>
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.LabelFor(m => m.BranchNo, new { @class = "form_label_bold_inline" })
                    </div>
                </div>
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.TextBoxFor(m => m.BranchNo, new { @id = "ddlBrNo", @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
                <div class="form-group margin-none">
                    <div class="form_item">
                       @Html.ValidationMessageFor(m => m.BranchNo, "", new { @class = "text-danger-bold" })
                    </div>
                </div>*@
            </div>
            
            @*<div class="form-inline">
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.RadioButton("rdbBusiness", "Corporate", true, new { onclick = "OnUserTypeChanged2(rdbBusiness.value);" })@T("_Regis.LblCorporate")
                    </div>
                </div>
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.RadioButton("rdbBusiness", "Private")@T("_Regis.LblPrivate")
                    </div>
                </div>
            </div>*@
        </div>

        <div class="row">
            <div class="form-inline">
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.LabelFor(m => m.BusinessEntityID, new { @class = "captionStyle1" })
                    </div>
                </div>
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.Action("BusinessEntityPartial", new { model = Model })
                    </div>
                </div>
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.TextBoxFor(m => m.OtherBusinessEntity, new { @id = "txtOtherBusEnt", @class = "form-control", placeholder = T("_Regis.LblOtherBusinessEntity") })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-inline">
                <div class="form-group margin-none">
                    <div class="form_item">
                        @Html.DevExpress().RadioButtonList(settings =>
                              {
                                  settings.Name = "rdbBusinessTab2";
                                  settings.Properties.RepeatLayout = RepeatLayout.Table;
                                  settings.Properties.RepeatDirection = RepeatDirection.Horizontal;
                                  settings.Properties.RepeatColumns = 2;
                                  settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                                  settings.Properties.ValidationSettings.RequiredField.ErrorText = "Error";
                                  settings.SelectedIndex = 0;
                                  settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnUserTypeChanged";
                              }).BindList(new string[] { T("_Regis.RbHeadQuarter").ToString(), T("_Regis.RbBranch").ToString() }).GetHtml()
                    </div>
                </div>
            </div>
        </div>

            <div class="row">
                @*----------------------------------Dynamic Tab----------------------------------------*@
                @*<div id='BusinessTabs'>

                    <ul>
                        @foreach (var item in Model.LanguageList.Select((model, index) => new { index, model }))
                        {
                            int _index = item.index + 1;
                            <li><a href='#BusinessTabs-@_index'>@T(@item.model.ResourceName)</a></li>
                        }
                    </ul>
                    @foreach (var item in Model.LanguageList.Select((model, index) => new { index, model }))
                    {
                        int _index = item.index + 1;
                        <div id='BusinessTabs-@_index'>
                            <div class="row">
                                @Html.LabelFor(m => m.CompanyName, new { @class = "captionStyle1" })
                                @if (item.index == 0)
                                {
                                    @Html.TextBoxFor(m => m.CompanyName, new { @id = "txtComp", @class = "textBoxDisStyle", @readonly = "readonly" })
                                    <a id="LnkEditCompName" href="#LnkEditCompName"><span id="LnkEditCompName" class="glyphicon glyphicon-edit"></span> @T("_Regis.LnkEditCompanyName")</a>
                                    @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger-bold" })
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.CompNameLocalizedList[(item.index) - 1].EntityID)
                                    @Html.HiddenFor(m => m.CompNameLocalizedList[(item.index) - 1].LanguageID)
                                    @Html.HiddenFor(m => m.CompNameLocalizedList[(item.index) - 1].LocaleKeyGroup)
                                    @Html.HiddenFor(m => m.CompNameLocalizedList[(item.index) - 1].LocaleKey)
                                    @Html.TextBoxFor(m => m.CompNameLocalizedList[(item.index) - 1].LocaleValue, new { @class = "textBoxStyle" })
                                }
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.BranchName, new { @class = "captionStyle1" })
                                @if (item.index == 0)
                                {
                                    @Html.TextBoxFor(m => m.BranchName, new { @id = "txtBr", @class = "EdtBrNameTab1 textBoxDisStyle", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.HiddenFor(m => m.BrNameLocalizedList[(item.index) - 1].EntityID)
                                    @Html.HiddenFor(m => m.BrNameLocalizedList[(item.index) - 1].LanguageID)
                                    @Html.HiddenFor(m => m.BrNameLocalizedList[(item.index) - 1].LocaleKeyGroup)
                                    @Html.HiddenFor(m => m.BrNameLocalizedList[(item.index) - 1].LocaleKey)
                                    @Html.TextBoxFor(m => m.BrNameLocalizedList[(item.index) - 1].LocaleValue, new { @class = "EdtBrNameTab1 textBoxDisStyle", @readonly = "readonly" })
                                }
                            </div>
                        </div>
                    }
                </div>*@
                @*------------------------------------------End Tab-------------------------------------*@
            </div>
        @*</fieldset>*@
    </div>

</div>
}

<script>

    function OnUserTypeChanged2() {
        //alert(s);
        alert("123");
        //if (s.name == "rdbBusinessTab1") {
        //    BusinessEntityID.PerformCallback();
        //}

        //UpdateItemsVisibility(s);
    }

    function disablePageForm() {
        if ($("#form-general").valid()) {
            disablePage();
        }
    }
</script>