﻿@{
    ViewBag.Title = "HeaderAndProgressPercent";
    Layout = "~/Views/Shared/_LayoutMenuProfile.cshtml";
}

<div class="row">
    <div class="data_end"></div>
    <div class="ep_badge_green_edge"></div>
    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Menu.Profile.CompanyProfile")</div>
    <div class="data_end" style="padding-top:40px;"></div>
</div>
<div class="row">
    <div class="data_end" style="padding-top:25px;"></div>
</div>
<div class="row" style="padding-top:10px;">
    <div class="col-sm-4 col-md-4">
        &nbsp;<b>ข้อมูลบริษัท :</b> ปรับปรุงข้อมูลบริษัทของท่านตามหัวข้อต่างๆ
    </div>
    <div class="col-sm-8 col-md-8">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                40% Complete (success)
            </div>
        </div>
    </div>
</div>


