﻿@{
    ViewBag.Title = "Tracking Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";

}
<style>
    .dxeTextBoxSys, .dxeButtonEditSys {
    width: 100% !important;
}
</style>
<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<form action="" method="post" id="form-tracking-request">
    <input type="hidden" id="trackingReqID" name="trackingReqID" />
    <input type="hidden" id="trackingGrpID" name="trackingGrpID" />
    <input type="hidden" id="trackingPage" name="trackingPage" />
    <input type="hidden" id="trackingController" name="trackingController" />
</form>

@*<div class="row">
    <div class="data_end"></div>
    <div class="ep_badge_green_edge"></div>
    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_ComPro.LblMenuHeader") </div>
    <div class="data_end" style="padding-top:40px;"></div>
</div>*@

<div class="row">
    <div class="data_end" style="padding-top:35px;"></div>
</div>

<div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="normal_topic_wrap">
            <div class="normal_topic" style="padding-left:5px;">
                <span id="tab_topic">@T("_ComPro.TrackingEdit.InstrTxt.Title")</span>
                <span class="normal_topic_detial" id="tab_detial">@T("_ComPro.TrackingEdit.InstrTxt.Txt")</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs-custom" role="tablist">
            <li class="active"><a href="#Tracking" role="tab" data-toggle="tab"><span class="forgotPassword_label">@T("_ComPro.TrackingEdit.LblTrackingEdit")</span></a></li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="Tracking">
                <div class="row">
                    <div class="col-md-12">
                        <div class="data_end" style="padding-top:12px;"></div>

                        <div style="float:right;padding-right:20px">
                            @Html.ActionLink(T("_Global.BtnClose").ToString(), "General", "GeneralInformation", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>

                <div class="data_end" style="padding-top:25px;"></div>

                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial(@"~/Views/CompanyProfile/_GridViewPartial_TrackingComProfile.cshtml")                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>



<script type="text/javascript">

    function viewTrackingData(trackingReqID, trackingGrpID) {

        var form = $("form#form-tracking-request");
        var urlAction = '/CompanyProfile/ViewTrackingCompanyProfile';

        form.attr("action", urlAction);
        $("#trackingReqID").val(trackingReqID);
        $("#trackingGrpID").val(trackingGrpID);
        $("#trackingPage").val("TrackingComProfile");
        $("#trackingController").val("CompanyProfile");
        form.submit();

        //window.location.href = urlAction;
        disablePage();
    }

</script>
