﻿@{
    ViewBag.Title = "Home";
    bool isCheckConsent = (bool)Session["isCheckConsent"];
    bool isAcceptBillingCondition = (bool)Session["isAcceptBillingCondition"];
    bool isUserEInvoice = (bool)Session["isUserEInvoice"];
    string LanguageId = (string)ViewBag.LanguageId;
    string scfActionFrom = (string)ViewBag.SCFActionFrom;
    string redirectUri = (string)ViewBag.RedirectUriMarketPlace;
}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
    @*@{ Html.RenderAction("SubMenuPortalScript", "MenuPortal"); }*@
</div>

<div class="container">
    <div class="row">
        @*  <div class="col-md-12 all_ep_content_wrapper"> *@
        <div class="col-md-12">
            @*<div class="row" style="padding-top:20px">*@
            <div class="row">
                @*@{ if (isUserEInvoice)
                        {
                            <div class="row">
                                <div class="col-xs-12 col-md-12" style="max-height: 250px">
                                    <div class="col-xs-12 col-md-12" align="left">
                                        <a href="#" id="scfLinkModal">
                                            <img class="img" src="~/Content/images/banner/sfc_20201117.png" border="0" style="width: -webkit-fill-available; max-width:100%" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }*@
                <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
                    <!-- Indicators -->

                    @{
                        if (isUserEInvoice)
                        {
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            </ol>
                        }
                    }

                    <!-- Wrapper for slides -->
                    @{
                        if (isUserEInvoice)
                        {
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <a href="#" id="scfLinkModal">
                                        <img class="img" src="~/Content/images/banner/sfc_20201117.png" border="0" style="width: -webkit-fill-available; max-width:100%" />
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://bit.ly/2OfFw9c" id="gcbanner" target="_blank">
                                        <img class="img" src="~/Content/images/banner/gc_banner.png" border="0" style="width: -webkit-fill-available; max-width:100%" />
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <a href="https://bit.ly/2OfFw9c" id="gcbanner" target="_blank">
                                        <img class="img" src="~/Content/images/banner/gc_banner.png" border="0" style="width: -webkit-fill-available; max-width:100%" />
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    @*<div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="img" src="~/Content/images/banner/sfc_20201117.png" border="0" style="width: -webkit-fill-available; max-width:100%" />
                            </div>
                        </div>*@
                    <!-- Controls -->
                    @{
                        if (isUserEInvoice)
                        {
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                    }
                </div>

                @*<div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="data_end"></div>
                            <div class="ep_badge_green_edge"></div>
                            <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Menu.Home.NewsLetter")</div>
                            <div class="data_end" style="padding-top:60px;"></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-11 col-md-offset-1">

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-8">
                            <div class="brand" align="left"><a style="padding-left:20px"><img class="img" src="~/Content/images/logo_NewLogin.png" border="0" /></a></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-md-offset-1">

                                </div>
                            </div>
                        </div>
                    </div>*@
                @{ Html.RenderAction("_Index", "Notification"); }
            </div>



        </div>
    </div>
</div>


<script type="text/javascript">

    $('.carousel').carousel({
        interval: 5000
    })


</script>

<div class="modal fade" id="billingCondition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-agree">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="font-size: 25px">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">@T("_Agreement.BillingCondition.HeaderTitle")</h4>
            </div>
            <div class="modal-body modal-agree-overflow">
                <div class="term-title" style="font-size: 13px">@T("_Agreement.BillingCondition.BodyTitle")</div>
                <div class="term-group-border mb-0">
                    <div style="font-size: 15px">
                        <p>@T("_Agreement.BillingCondition.Content1")</p>
                        <br>
                        <p>@T("_Agreement.BillingCondition.Content2")</p>
                        <br>
                        <p>@T("_Agreement.BillingCondition.Content3")</p>
                        <br><br>
                        <p>@T("_Agreement.BillingCondition.Content4")</p>
                        <br>
                        <p>@T("_Agreement.BillingCondition.Content5")</p>
                    </div>
                </div>
                <div class="form-group">

                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button id="btnBillingCopnditionApprove" type="button" class="btn btn-primary">@T("_Agreement.BillingCondition.Accept")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scfAgreementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-agree">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="font-size: 25px">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">@T("_Agreement.SCFAgreementModal.HeaderTitle")</h4>
            </div>
            <div class="modal-body modal-agree-overflow">
                <div class="term-title" style="font-size: 13px">@T("_Agreement.SCFAgreementModal.BodyTitle")</div>
                <div class="term-group-border mb-0">
                    <div style="font-size: 15px">
                        @{ Html.RenderAction("SCFAgreementContent", "Agreement"); }<br />
                        <input type="checkbox" id="scfTermAndConditionAgreement" name="scfTermAndConditionAgreement" onchange="document.getElementById('btnSCFAgreementModalAccept').disabled = !this.checked;">
                        <label id="scfTermAndConditionAgreementCheckBoxContent1" for="scfTermAndConditionAgreement"></label>
                        <label id="scfTermAndConditionLabel" style="color: #0000EE" onMouseOver="this.style.cursor='pointer'"></label>
                        <label id="scfTermAndConditionAgreementCheckBoxContent2"></label><label id="scfPrivacyPolicyLabel" style="color: #0000EE" onMouseOver="this.style.cursor='pointer'"></label>
                    </div>
                </div>
                <div class="form-group">

                </div>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button id="btnSCFAgreementModalAccept" type="button" class="btn btn-primary" style="height: auto; padding: 12px 80px; font-size: 15px" disabled>@T("_Agreement.SCFAgreementModal.Accept")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scfAgreementDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-agree">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="font-size: 25px">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">@T("_Agreement.SCFAgreementDetailModal.HeaderTitle")</h4>
            </div>
            <div class="container">
                <div class="tab" style="overflow: hidden; border-bottom: 1px solid black; background-color: white;">
                    <button class="tablinks" onclick="openAgreementDetail(event, 'termAndConditionDetail')" style="background-color: inherit; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; transition: 0.3s; font-size: 17px;">@T("_Agreement.SCFAgreementDetailModal.TermAndConditionTabTitle")</button>
                    <button class="tablinks" onclick="openAgreementDetail(event, 'privacyPolicyDetail')" style="background-color: inherit; float: left; border: none; outline: none; cursor: pointer; padding: 14px 16px; transition: 0.3s; font-size: 17px;">@T("_Agreement.SCFAgreementDetailModal.PrivacyPolicyTabTitle")</button>
                </div>

                <div id="termAndConditionDetail" class="tabcontent" style="display: none; padding: 6px 12px; border: none; min-height:400px">
                    @{ Html.RenderAction("SCFTermsAndConditionsContent", "Agreement"); }
                </div>

                <div id="privacyPolicyDetail" class="tabcontent" style="display: none; padding: 6px 12px; border: none;">
                    @{ Html.RenderAction("SCFPrivacyContent", "Agreement"); }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scfInprogressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-agree">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="font-size: 25px">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">@T("_Agreement.SCFInprogressModal.HeaderTitle")</h4>
            </div>
            <div class="container">
                <br />@{ Html.RenderAction("SCFInprogressContent", "Agreement"); }<br />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scfRegisterSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-agree">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="font-size: 25px">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">@T("_Agreement.SCFRegisterSuccessModal.HeaderTitle")</h4>
            </div>
            <div class="container" style="text-align: center">
                <br />@{ Html.RenderAction("SCFRegisterSuccessContent", "Agreement"); }<br />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="codeOfConductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"><span aria-hidden="true" style="font-size: 25px">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">@T("_Agreement.CodeOfConduct.HeaderTitle")</h4>
            </div>
            <div class="modal-body" id="conOfConduct">@ViewBag.CodeOfConductPrivacyNotice</div>
            <div class="modal-footer" style="text-align: right">
                <button id="btnAcknowledgeModalAccept" type="button" class="btn btn-default btn-custom-coc">@T("_Agreement.CodeOfConduct.Acknowledged")</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    // --- BillingCondition Function ----
    var isShowModal = false;
    var queueModal = [];
    $(window).load(function () {
        if ("@isAcceptBillingCondition" == "False") {
            $('#billingCondition').modal({ 'show': true, backdrop: 'static', keyboard: false });
            isShowModal = true;
        }

        //Markdown render
        if ("@ViewBag.IsAcceptCodeOfConduct" == "False") {
            $("#conOfConduct").html(marked($("#conOfConduct").html()));
            $("#conOfConduct").css('max-height', window.innerHeight - 190);

            if (!isShowModal) {
                $("#codeOfConductModal").modal({ 'show': true, backdrop: 'static', keyboard: false });
                isShowModal = true;
            }
            else {
                queueModal.push("#codeOfConductModal");
            }

            $(window).resize(function () {
                $("#conOfConduct").css('max-height', window.innerHeight - 190);
            });
        }
    });

    $("#btnAcknowledgeModalAccept").click(function () {
        var origin = $(location).attr('origin');
        enableLoading(true);
        $.ajax({
            url: '@Url.Action("Accept", "UserCOC")',
            type: 'POST',
            data: '',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                $('#codeOfConductModal').modal('toggle');
                enableLoading(false);
                isShowModal = false;
                checkModalQueue();
            },
            fail: function (event, data) {
                window.location = origin + "/AccountPortal/Login"
            }
        });
    });

    $("#codeOfConductModal .close").click(function () {
        var origin = $(location).attr('origin');
        window.location = origin + "/AccountPortal/Logout"
    });

    $("#billingCondition .close").click(function () {
        $('#billingCondition').modal('toggle');
        updateSessionBilling();
    });

    $("#btnBillingCopnditionApprove").click(function () {
        acceptBilling();
    });

    function checkModalQueue() {
        if (!isShowModal) {
            $(queueModal.pop()).modal({ 'show': true, backdrop: 'static', keyboard: false });
            isShowModal = true;
        }
    }

    function acceptBilling() {
        var origin = $(location).attr('origin');
        enableLoading(true);
        $.ajax({
            url: '@Url.Action("AcceptBilling", "BillingCondition")',
            type: 'POST',
            data: '',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                $('#billingCondition').modal('toggle');
                isShowModal = false;
                enableLoading(false);
                checkModalQueue();
            },
            fail: function (event, data) {
                window.location = origin + "/AccountPortal/Login"
            }
        });
    }

    function updateSessionBilling() {
        var origin = $(location).attr('origin');
        enableLoading(true);
        $.ajax({
            url: '@Url.Action("UpdateSeesionBilling", "BillingCondition")',
            type: 'POST',
            data: '',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                //$('#billingCondition').modal('toggle');
                enableLoading(false);
                isShowModal = false;
                checkModalQueue();
            },
            fail: function (event, data) {
                window.location = origin + "/AccountPortal/Login"
            }
        });
    }
    //--- BillingCondition Function ----

    //--- SCF Function ----
     $(window).load(function () {
         if ("@scfActionFrom" != "Webwork") {
            actionModalSCF();
        }
    });

    $('#scfLinkModal').click(function () {
        actionModalSCF();
    });

    $("#scfAgreementModal .close").click(function () {
        $('#scfAgreementModal').modal('toggle');
        if ("@scfActionFrom" != "Webwork") {
            removeEInvoiceSession();
        }
    });

    $('#scfTermAndConditionLabel').click(function () {
        $('#scfAgreementDetailModal').modal('toggle');
        openAgreementDetail(event, 'termAndConditionDetail');
    });

    $('#scfPrivacyPolicyLabel').click(function () {
        $('#scfAgreementDetailModal').modal('toggle');
        openAgreementDetail(event, 'privacyPolicyDetail');
    });

    function actionModalSCF() {
        disablePage();
        callSCFValidate();
    }

    function openAgreementDetail(evt, agreementTab) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(agreementTab).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $("#btnSCFAgreementModalAccept").click(function () {

        disablePage();
        var index = $('#scfAgreementModal').find("input:checkbox");
        var isCheck = 0

        index.each(function (key, value) {
            if (value.checked) {
                isCheck++;
            }
        });

        if (isCheck == index.length) {
            $('#scfAgreementModal').modal('toggle');
            callSCFSave();
        }
    });

    function callSCFSave() {
        $.ajax({
            url: '@Url.Action("SaveSCFRequest", "SCF")',
            type: 'POST',
            data: '',
            async: true,
            contentType: 'application/json',
            success: function (data) {
                $.unblockUI();
                if (data !== null && data !== undefined && !data.isError) {
                    $('#scfRegisterSuccessModal').modal('toggle');
                }

                if (data !== null && data !== undefined && data.isError) {
                    if (data.scfRequestId !== undefined && data.scfRequestId !== null) {
                        alert('@T("_Agreement.SCFAgreementModal.ErrorMsg").ToString()' + ' (เลขที่อ้างอิง: ' + data.scfRequestId + ')');
                    } else {
                        alert('@T("_Agreement.SCFAgreementModal.ErrorMsg").ToString()' + ' (เลขที่อ้างอิง: 0)');
                    }
                }
            },
            fail: function (event, data) {
                $.unblockUI();
                $('#scfAgreementModal').modal('toggle');
                alert('@T("_Agreement.SCFAgreementModal.ErrorMsg").ToString()');
            }
        });
    }

    function callSCFValidate() {

         $.ajax({
             url: '@Url.Action("SCFStatusInProgress", "SCF")',
             type: 'POST',
             data: '',
             async: true,
             contentType: 'application/json',
             success: function (data) {
                 $.unblockUI();
                 if (data !== null && data !== undefined && !data.isError) {
                     $('#scfTermAndConditionAgreement').prop('checked', false);
                     $('#scfAgreementModal').modal('toggle');
                 }

                 if (data !== null && data !== undefined && data.isError) {
                     $('#scfInprogressModal').modal('toggle');
                 }
             },
             fail: function (event, data) {
                 $.unblockUI();
                 alert('Error: with message ' + data.msgError);
             }
         });
    }

     function getSCFTermAndConditionAgreementLabel(arrIndex) {
        var text = '@T("_Agreement.SCFAgreementModal.CheckBoxContent").ToString()';
        var arrText = text.split(",");
        if (arrText.length == 1) {
            return arrText[0]
        }
        return arrText[arrIndex]
    }

    function removeEInvoiceSession() {

         $.ajax({
             url: '@Url.Action("RemoveEInvoiceSession", "SCF")',
             type: 'POST',
             data: '',
             async: false,
             contentType: 'application/json',
             success: function (data) {

             },
             fail: function (event, data) {

             }
         });
    }

    function enableLoading(enable) {
        if (enable) {
            $.blockUI({
                message: $('#loadingMsg'),
                overlayCSS: { backgroundColor: '#FFFFFF'  },
                //timeout: 2000,
                css: {
                    border: 'none',
                    background: 'none',
                    padding: '0px'
                },
                baseZ: 1180
            });
        }
        else {
            $.unblockUI();
        }
    }

    $(window).load(function () {
        var redirect = '@redirectUri';
        if (redirect != '') {
            window.open(redirect, '_blank');
        }
    });

    document.getElementById("scfTermAndConditionAgreementCheckBoxContent1").innerHTML = getSCFTermAndConditionAgreementLabel(0);
    document.getElementById("scfTermAndConditionLabel").innerHTML = getSCFTermAndConditionAgreementLabel(1);
    document.getElementById("scfTermAndConditionAgreementCheckBoxContent2").innerHTML = getSCFTermAndConditionAgreementLabel(2);
    document.getElementById("scfPrivacyPolicyLabel").innerHTML = getSCFTermAndConditionAgreementLabel(3);
    // --- SCF Function ----

</script>

