﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.RegisterPortal.DocumentTypeModels>
@{
    string attachmentConfig = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_AttachmentFile");

    int supplierID = Convert.ToInt32(ViewData["SupplierID"]);
    int trackingReqID = Convert.ToInt32(ViewData["TrackingReqID"]);
    int trackingItemID = Convert.ToInt32(ViewData["TrackingItemID"]);
    string trackingType = ViewData["TrackingType"].ToString();
}
<div id="data_attachment_item">
    @Html.Hidden("hidDocumentTypeID", null, new { id = "hidDocumentTypeID" })
    @Html.Hidden("hidDocumentNameID", null, new { id = "hidDocumentNameID" })
    @Html.Hidden("hidDocumentName", null, new { id = "hidDocumentName" })

    <div id="remove_item"></div>

    <div id="accordion">
        @foreach (var item in Model)
        {
            string requireAttachment = "";

            bool chkRequire = SupplierPortal.Services.RegisterPortalManage.RegisterService.CheckDocumentTypeIsRequire(item.DocumentTypeID, item.CompanyTypeID, item.CountryCode);

            int countAttachment = SupplierPortal.Services.CompanyProfileManage.ComProfileService.GetOrgAttachmentCountBySupplierIDAndDocumentTypeID(supplierID, item.DocumentTypeID);

            if (chkRequire)
            {
                requireAttachment = "<span class=\"text-danger-bold\">*</span>";
            }

            <h3>@item.DocumentType @Html.Raw(requireAttachment) <span class="pull-right badge">@Html.Raw(countAttachment)</span></h3>

            <div>
                <div class="row" style="padding-top:5px;">
                    <div class="form-inline-custom">
                        <div class="form-inline-element margin-none">
                            @Html.Action("CustomerDocNamePartialNew", new { DocumentTypeID = item.DocumentTypeID, Countrycode = item.CountryCode, CompanyTypeID = item.CompanyTypeID })
                        </div>
                    </div>
                </div>

                @if (chkRequire)
                {
                    var documentIsRequire = SupplierPortal.Services.ProfileManage.ProfileManage.GetDocumentIsRequire(item.DocumentTypeID, item.CompanyTypeID, item.CountryCode);

                    foreach (var doc in documentIsRequire)
                    {
                        @Html.Hidden("hidDocumentNameIDRequire[]", doc.DocumentNameID, new { @class = "hidDocumentNameIDRequire" })
                    }

                }

                @if (item.DocumentTypeID == -1)
                {
                    <div class="row" style="padding-top:5px;display:none;" id="docTypeOther">
                        <div class="form-inline-custom">
                            <div class="form-inline-element margin-none">
                                <input class="form-control" type="text" id="tbx-doc-name_@item.DocumentTypeID" name="tbx-doc-name_@item.DocumentTypeID" style="width: 230px;" placeholder="@T("_ComPro.Attachment.GtxtOtherDocument")" />
                            </div>
                            <div class="form-inline-element margin-none">
                                <span id="requiredDocName_@item.DocumentTypeID" class="text-danger-bold"></span>
                            </div>
                        </div>
                    </div>
                }

                <div class="row">
                    <div class="form-inline-custom">
                        <div class="form-inline-element margin-none">
                            <input class="form-control" type="text" id="tbx-file-path_@item.DocumentTypeID" readonly="readonly" style="width: 230px;" />
                        </div>
                        <div class="form-inline-element margin-none">
                            <span class="btn btn-default fileinput-button">
                                <span>@T("_ComPro.Attachment.BtnBrowse").ToString()</span>
                                @Html.TextBox("FileAttachment_" + @item.DocumentTypeID, null, new { docTypeID = @item.DocumentTypeID, id = "fu-my-simple-upload", type = "file", @accept = "" + @attachmentConfig + "", @class = "fu-my-simple-upload" })
                            </span>
                        </div>
                        <div class="form-inline-element margin-none">
                            <button type="button" class="btn btn-primary hl-start-upload" id="hl-start-upload" doctypeid=@item.DocumentTypeID value="@item.DocumentTypeID"><span class="glyphicon glyphicon-upload" style="height:14px;" aria-hidden="true"> </span> <span>@T("_ComPro.Attachment.BtnUpload")</span> </button>
                        </div>
                        <div class="form-inline-element margin-none">
                            <span id="requiredfileupload_@item.DocumentTypeID" class="text-danger-bold"></span>
                        </div>
                    </div>
                </div>

                <div class="data_end" style="padding-top:5px;"></div>

                <div class="row">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="myTable_@item.DocumentTypeID">
                        <thead>
                            <tr class="regis_table_header">
                                <td width="35%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.FileName")</td>
                                <td width="20%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.FileSize")</td>
                                <td width="35%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.DocumentName")</td>
                                <td width="10%">@T("_ComPro.Attachment.TblUploadedFile.ColCaption.Action")</td>
                            </tr>
                        </thead>
                        <tbody id="p_scents_@item.DocumentTypeID">
                            @Html.Action("AttachmentItemListPartial", new { DocumentTypeID = item.DocumentTypeID, SuppierID = supplierID, CompanyTypeID = item.CompanyTypeID, TrackingReqID = trackingReqID, TrackingItemID = trackingItemID, TrackingType = trackingType })
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

