﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.OrgAttachmentListModels

@{
    int i = 0;

    int supplierID = Convert.ToInt32(ViewData["SupplierID"]);
    int trackingReqID = Convert.ToInt32(ViewData["TrackingReqID"]);
    int trackingItemID = Convert.ToInt32(ViewData["TrackingItemID"]);
    string trackingType = ViewData["TrackingType"].ToString();
    
    int companyTypeID = Model.CompanyTypeID;

    int documentTypeID = 0;
}
@foreach (var nameList in Model.DocumentName)
{
    documentTypeID = nameList.DocumentTypeID;

    foreach (var item in Model.TrackingAttachment.Where(m => m.OrgAttachment.DocumentNameID == nameList.DocumentNameID))
    {
        i++;


        string actionIcon = "";

        string checkClassDelete = "";
        string downloadText = "";

        string pathSave = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_SupplierDocumentPath");
        string pathForSaving = pathSave + item.OrgAttachment.SupplierID;

        string virtualFilePath = pathForSaving + "/" + item.OrgAttachment.AttachmentNameUnique;

        //string linkDelete2 = "<span  onclick=\"return deleteData('" + item.OrgAttachment.AttachmentID + "','" + item.OrgAttachment.AttachmentNameUnique + "','" + nameList.DocumentNameID + "','" + nameList.DocumentTypeID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete file\" class = \"icon-delete-doc\">x</span>";

        //string linkDelete2 = "<input type=\"image\" src=\"/Content/images/icon/ico-sp_deluser2.gif\" alt=\"Delete\" onclick=\"return deleteData('" + item.OrgAttachment.AttachmentID + "','" + item.OrgAttachment.AttachmentNameUnique + "','" + nameList.DocumentNameID + "','" + nameList.DocumentTypeID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete file\" class = \"iconDeleteDoc\">";

        string linkDelete2 = "<img src=\"/Content/images/icon/ico-sp_deluser2.gif\" alt=\"Delete\" onclick=\"return deleteData('" + item.OrgAttachment.AttachmentID + "','" + item.OrgAttachment.AttachmentNameUnique + "','" + nameList.DocumentNameID + "','" + nameList.DocumentTypeID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete file\" class = \"iconDeleteDoc\">";


        string linkRestore = "";

        string inputFileName = "hidFile_" + item.OrgAttachment.DocumentNameID + "[]";

        string inputGuidName = "hidGuid_" + item.OrgAttachment.DocumentNameID + "[]";

        string inputOtherDocument = "hidOtherDocument_" + item.OrgAttachment.DocumentNameID + "[]";

        string fileSize = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetFileSize(Convert.ToInt32(item.OrgAttachment.SizeAttach));

        string docName = "";

        if (item.OrgAttachment.DocumentNameID == -1)
        {
            docName = item.OrgAttachment.OtherDocument;
        }
        else
        {
            docName = nameList.DocumentName;
        }

        if (item.isTracking)
        {
            //linkRestore = "<input type=\"image\" src=\"/Content/images/icon/restore.gif\" alt=\"Restore\" onclick=\"return restoreData('" + item.OrgAttachment.AttachmentID + "','" + item.TrackingOrgAttachment.TrackingItemID + "','" + nameList.DocumentNameID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Restore file\" class = \"iconDeleteDoc\">";
            linkRestore = "<a href=\"#\" data-toggle=\"popover\" class = \"restoreTracking\"><span class=\"alert-trackingflide fa fa-undo fa-lg\"  onclick = \"return restoreData('" + item.OrgAttachment.AttachmentID + "','" + item.TrackingOrgAttachment.TrackingItemID + "','" + nameList.DocumentNameID + "');\"  style=\"display:inline-block\" ></a>";
            
            //ปรับใหม่จะมีเฉพาะ trackingType == "ByRequest"
            if (trackingType == "ByRequest")
            {
                if (trackingReqID == item.TrackingReqID)
                {
                    //เคสที่ ลบไฟล์แล้วเพิ่มมาใหม่
                    if (item.TrackingOrgAttachment.OldAttachmentID != 0 && item.TrackingOrgAttachment.NewAttachmentID != 0)
                    {
                        
                        if (item.TrackingOrgAttachment.OldAttachmentID == item.TrackingOrgAttachment.NewAttachmentID)
                        {
                            //กรณี Restore ไฟล์ที่เคยลบ
                            actionIcon = linkDelete2;
                        }else
                        {
                            //- กรณีโชว์ไฟล์ที่โดนลบโดยแนบไฟล์ใหม่มาด้วย  (new <> 0)ที่ไฟล์เก่า ให้มันทำ action ไม่ได้ ทำได้ที่ไฟล์ใหม่คือ ลบแล้วใส่ใหม่
                            if (item.OrgAttachment.AttachmentID == item.TrackingOrgAttachment.OldAttachmentID)
                            {
                                actionIcon = "";
                            }
                            else
                            {
                                actionIcon = linkDelete2;
                            }
                        }
                        
                    }else
                    {
                        //กรณีลบไฟล์แล้วไม่เพิ่มมาใหม่
                        if (item.TrackingOrgAttachment.OldAttachmentID != 0 && item.TrackingOrgAttachment.NewAttachmentID == 0)
                        {
                            actionIcon = linkRestore;
                        }else
                        {
                            actionIcon = linkDelete2;
                        }
                        
                    }
                    

                }else
                {
                    //actionIcon = "<input type=\"image\" src=\"/Content/images/clock.png\" alt=\"Is tracking\"  data-toggle=\"tooltip\" data-placement=\"left\" title=\"View Data tracking\" class = \"iconDeleteDoc\" >";
                    actionIcon = "<a href=\"#\" data-toggle=\"popover\" id='" + item.TrackingItemID + "' data-reqid='" + item.TrackingReqID + "' class = \"toggleTracking\"><span class=\"alert-trackingflide fa fa-flag fa-lg\"  style=\"display:inline-block\" ></a>";

                }
            }else
            {
                if (trackingItemID == item.TrackingItemID)
                {
                    actionIcon = linkDelete2;
                }else
                {
                    //actionIcon = "<input type=\"image\" src=\"/Content/images/clock.png\" alt=\"Is tracking\"  data-toggle=\"tooltip\" data-placement=\"left\" title=\"View Data tracking\" class = \"iconDeleteDoc\" >";
                    actionIcon = "<a href=\"#\" data-toggle=\"popover\" id='" + item.TrackingItemID + "' data-reqid='" + item.TrackingReqID + "' class = \"toggleTracking\"><span class=\"alert-trackingflide fa fa-flag fa-lg\"  style=\"display:inline-block\" ></a>";
                }
            }

        }
        else
        {
            actionIcon = linkDelete2;
        }

        if (item.isShow)
        {
            //spanText = "";
            //downloadText = "file-attachment-download";
            if (item.isTracking)
            {
                //กรณีที่เดิมมีไฟล์แล้วลบไฟล์เดิมโดยไม่เพิ่มไฟล์มาใหม่
                if (item.TrackingOrgAttachment.OldAttachmentID != 0 && item.TrackingOrgAttachment.NewAttachmentID == 0)
                {
                    downloadText = "file-attachment-download-delete";
                    checkClassDelete = "docNameDelete_" + item.OrgAttachment.DocumentNameID;
                }
                else if (item.TrackingOrgAttachment.OldAttachmentID == item.TrackingOrgAttachment.NewAttachmentID)
                {
                    //กรณี Restore ไฟล์ที่เคยลบ
                    downloadText = "file-attachment-download";
                }else
                {
                    downloadText = "file-attachment-download-new";
                    checkClassDelete = "";
                }
            }
            else
            {
                downloadText = "file-attachment-download";
            }
        }
        else
        {
            //spanText = "file-attachment-tracking-delete";
            downloadText = "file-attachment-download-delete";
            checkClassDelete = "docNameDelete_" + item.OrgAttachment.DocumentNameID;
        }

        <tr class="main_table_row docName_@item.OrgAttachment.DocumentNameID @checkClassDelete" id="item_@item.OrgAttachment.AttachmentID">
            <td align="left">
                <div class="@downloadText">
                    @Html.ActionLink(item.OrgAttachment.AttachmentName, "Download", new { filePath = virtualFilePath, fileName = item.OrgAttachment.AttachmentName })
                </div>
                <input type="hidden" name="@inputFileName" value="@item.OrgAttachment.AttachmentName" />
                <input type="hidden" name="@inputGuidName" value="@item.OrgAttachment.AttachmentNameUnique" />
                <input type="hidden" name="@inputOtherDocument" value="@item.OrgAttachment.OtherDocument" />
            </td>
            <td align="right"><span>@fileSize</span></td>
            <td align="left"><span>@docName</span></td>
            <td align="center">@Html.Raw(actionIcon)</td>
        </tr>
    }
}
@if (i == 0)
{
    <tr class="main_table_row" id="lastData_@documentTypeID">
        <td align="center" colspan="4">@T("_ComPro.Attachment.TblUploadedFile.LblNoData")</td>
    </tr>
}
