﻿@using SupplierPortal.Services.RegisterPortalManage
@using System.Web.UI.WebControls
@using SupplierPortal.Data.Models.MappingTable
@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyAddress
@{
    ViewBag.Title = "Address";
    Layout = "~/Views/Shared/_LayoutEditDataTracking.cshtml";

    var datatracking = Model.trackingFields;
    var datatrackingDel = Model.trackingFieldsDel;
    var datatrackingOrgAddress = Model.trackingOrgAddress;

    var chkDisableEditData = ViewData["chkDisableEditData"];

    Func<int, int, string> SetClick = (trackingReqID, trackingGrpID) =>
    {
        return string.Format("return viewGrpTracking({0},{1})", trackingReqID, trackingGrpID);
    };

    string returnUrlTracking = "";
    if (Session["ReturnUrlTracking"] != null)
    {
        returnUrlTracking = Session["ReturnUrlTracking"].ToString();
    }
}
@using (Html.BeginForm("AddressSave", "EditDataTracking", FormMethod.Post, new { @id = "EditDataTrackingAddress" }))
{
    @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })
    @Html.HiddenFor(m => m.TrackingReqID, new { @id = "TrackingReqID" })
    @Html.HiddenFor(m => m.JsonStr, new { @id = "JsonStr" })
    @Html.HiddenFor(m => m.JsonStrDel, new { @id = "JsonStrDel" })
    @Html.HiddenFor(m => m.CompanyAddressID, new { @id = "CompanyAddressID" })
    @Html.HiddenFor(m => m.DeliverAddressID, new { @id = "DeliverAddressID" })
    @Html.HiddenFor(m => m.CheckModifyDelvAddr, new { @id = "CheckModifyDelvAddr" })

    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="data_end" style="padding-top:40px;"></div>
            <div style="float:left;padding-right:20px" class="link-profile">
                <a class="link-profile" href="@returnUrlTracking">@T("_ComPro.EditDataTracking.LnkGoBackSupVer")</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 r-sec">
            <div class="data_end" style="padding-top:40px;"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary pull-right" id="btnSubmitTrackingAddress">@T("_ComPro.Address.BtnSave")</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default" style="margin-top:10px;">
                        <div class="panel-heading">@T("_ComPro.Address.LblCompanyAddress")</div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="panel">
                                    <div class="panel-body">

                                        <div class="row" style="padding-top:10px">
                                            <div class="col-md-2" style="padding-top:58px;">
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test1">@T("_ComPro.Address.LblHouseNo")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test2">@T("_ComPro.Address.LblVillageNo")</label>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test3">@T("_ComPro.Address.LblAlleyLane")</label>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test4">@T("_ComPro.Address.LblRoad")</label>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test5">@T("_ComPro.Address.LblSubDistrictSubArea")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test6">@T("_ComPro.Address.LblDistrict Area")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test7">@T("_ComPro.Address.LblProvinceState")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">@T("_ComPro.Address.LblTHLanguage")</div>
                                                    <div class="panel-body">
                                                        <div class="form-inline-regis">

                                                            @Html.HiddenFor(a => a.CompanyAddressID)
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.CompanyAddress_HouseNo_Local, new { @class = "form-control ", @data_edit = datatracking["HouseNo_Local"].EditTracking })
                                                                @Html.ValidationMessageFor(m => m.CompanyAddress_HouseNo_Local, "", new { @class = "text-danger-bold" })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.CompanyAddress_VillageNo_Local, new { @class = "form-control input-sm ", @data_edit = datatracking["VillageNo_Local"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.CompanyAddress_Lane_Local, new { @class = "form-control input-sm ", @data_edit = datatracking["Lane_Local"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.CompanyAddress_Road_Local, new { @class = "form-control input-sm ", @data_edit = datatracking["Road_Local"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("SubCompLocalPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.CompanyAddress_SubDistrict_Local, new { @class = "form-control input-sm ", @data_edit = datatracking["SubDistrict_Local"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorCompSubDistrict">@T("_Regis.ValidateMsg.RequireSubDistrict")</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("CityCompLocalPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.CompanyAddress_City_Local, new { @class = "form-control input-sm ", @data_edit = datatracking["City_Local"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorCompCity">@T("_Regis.ValidateMsg.RequireCity")</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("StateCompLocalPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.CompanyAddress_State_Local, new { @class = "form-control input-sm ", @data_edit = datatracking["State_Local"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorCompState">@T("_Regis.ValidateMsg.RequireState")</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">@T("_ComPro.Address.LblENGlanguage")</div>
                                                    <div class="panel-body">
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.CompanyAddress_HouseNo_Inter, new { @class = "form-control input-sm ", @data_edit = datatracking["HouseNo_Inter"].EditTracking })
                                                                @Html.ValidationMessageFor(m => m.CompanyAddress_HouseNo_Inter, "", new { @class = "text-danger-bold" })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.CompanyAddress_VillageNo_Inter, new { @class = "form-control input-sm ", @data_edit = datatracking["VillageNo_Inter"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.CompanyAddress_Lane_Inter, new { @class = "form-control input-sm ", @data_edit = datatracking["Lane_Inter"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.CompanyAddress_Road_Inter, new { @class = "form-control input-sm ", @data_edit = datatracking["Road_Inter"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("SubCompInterPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.CompanyAddress_SubDistrict_Inter, new { @class = "form-control input-sm ", @data_edit = datatracking["SubDistrict_Inter"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorCompSubDistrict2">@T("_Regis.ValidateMsg.RequireSubDistrict")</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("CityCompInterPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.CompanyAddress_City_Inter, new { @class = "form-control input-sm ", @data_edit = datatracking["City_Inter"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorCompCity2">@T("_Regis.ValidateMsg.RequireCity")</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("StateCompInterPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.CompanyAddress_State_Inter, new { @class = "form-control input-sm ", @data_edit = datatracking["State_Inter"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorCompState2">@T("_Regis.ValidateMsg.RequireState")</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-2" style=" padding-top:5px;">
                                                <div class="row label-fieldset" style="padding-bottom:5px; padding-left:10px">
                                                    <label for="test1">@T("_ComPro.Address.LblPostalCode")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:5px; padding-left:10px">
                                                    <label for="test1">@T("_ComPro.Address.LblCountry")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-inline-element margin-none">
                                                    @Html.TextBoxFor(a => a.CompanyAddress_PostalCode, new { @class = "form-control input-sm ", @data_edit = datatracking["PostalCode"].EditTracking })
                                                    @Html.ValidationMessageFor(m => m.CompanyAddress_PostalCode, "", new { @class = "text-danger-bold" })
                                                </div>
                                                <div class="form-inline-element margin-none">
                                                    <select id="CompanyAddress_CountryCode" name="CompanyAddress_CountryCode" data-edit="@Model.trackingFields["CountryCode"].EditTracking">
                                                        <option value="@Model.CompanyAddress_CountryCode" selected="selected">@Model.CompanyAddress_CountryName</option>
                                                    </select>
                                                    @*@Html.Action("AddressCompanyContryPartial", new { model = Model })*@
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">@T("_ComPro.Address.LblDeliveredAddress")</div>
                        <div class="panel-body">
                            <div class="col-md-12">

                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(a => a.CheckB, new { @type = "checkbox", id = "CheckB" })
                                        @T("_ComPro.Address.LblCheckBoxAdd")
                                    </label>
                                </div>

                                <div class="panel panel-default" id="DeliveredAdd">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-md-2" style=" padding-top:58px;">
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test1">@T("_ComPro.Address.LblHouseNo")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test2">@T("_ComPro.Address.LblVillageNo")</label>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test3">@T("_ComPro.Address.LblAlleyLane")</label>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test4">@T("_ComPro.Address.LblRoad")</label>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test5">@T("_ComPro.Address.LblSubDistrictSubArea")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test6">@T("_ComPro.Address.LblDistrict Area")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:8px; padding-left:10px">
                                                    <label for="test7">@T("_ComPro.Address.LblProvinceState")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">@T("_ComPro.Address.LblTHLanguage")</div>
                                                    <div class="panel-body">
                                                        <div class="form-inline-regis">
                                                            @Html.HiddenFor(a => a.DeliverAddressID)
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.DeliverAddress_HouseNo_Local, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["HouseNo_Local"].EditTracking })
                                                                @Html.ValidationMessageFor(m => m.DeliverAddress_HouseNo_Local, "", new { @class = "text-danger-bold" })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.DeliverAddress_VillageNo_Local, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["VillageNo_Local"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.DeliverAddress_Lane_Local, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["Lane_Local"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.DeliverAddress_Road_Local, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["Road_Local"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("SubDelvLocalPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.DeliverAddress_SubDistrict_Local, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["State_Local"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorDelvSubDistrict">@T("_Regis.ValidateMsg.RequireSubDistrict")</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("CityDelvLocalPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.DeliverAddress_City_Local, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["City_Local"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorDelvCity">@T("_Regis.ValidateMsg.RequireCity")</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("StateDelvLocalPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.DeliverAddress_State_Local, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["State_Local"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorDelvState">@T("_Regis.ValidateMsg.RequireState")</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">@T("_ComPro.Address.LblENGlanguage")</div>
                                                    <div class="panel-body">
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.DeliverAddress_HouseNo_Inter, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["HouseNo_Inter"].EditTracking })
                                                                @Html.ValidationMessageFor(m => m.DeliverAddress_HouseNo_Inter, "", new { @class = "text-danger-bold" })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.DeliverAddress_VillageNo_Inter, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["VillageNo_Inter"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.DeliverAddress_Lane_Inter, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["Lane_Inter"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @Html.TextBoxFor(a => a.DeliverAddress_Road_Inter, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["Road_Inter"].EditTracking })
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("SubDelvInterPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.DeliverAddress_SubDistrict_Inter, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["SubDistrict_Inter"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorDelvSubDistrict2">@T("_Regis.ValidateMsg.RequireSubDistrict")</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("CityDelvInterPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.DeliverAddress_City_Inter, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["City_Inter"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorDelvCity2">@T("_Regis.ValidateMsg.RequireCity")</span>
                                                            </div>
                                                        </div>
                                                        <div class="form-inline-regis">
                                                            <div class="form-inline-element margin-none">
                                                                @*@Html.Action("StateDelvInterPartial", new { model = Model })*@
                                                                @Html.TextBoxFor(a => a.DeliverAddress_State_Inter, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["State_Inter"].EditTracking })
                                                                <span class="text-danger-bold" style="display:none;" id="errorDelvState2">@T("_Regis.ValidateMsg.RequireState")</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2" style="padding-top:5px;">
                                                <div class="row label-fieldset" style="padding-bottom:5px; padding-left:10px">
                                                    <label for="test1">@T("_ComPro.Address.LblPostalCode")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                                <div class="row label-fieldset" style="padding-bottom:5px; padding-left:10px">
                                                    <label for="test1">@T("_ComPro.Address.LblCountry")</label>
                                                    <span class="red_highlight">*</span>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-inline-element margin-none">
                                                    @Html.TextBoxFor(a => a.DeliverAddress_PostalCode, new { @class = "form-control input-sm ", @data_edit = datatrackingDel["PostalCode"].EditTracking })
                                                    @Html.ValidationMessageFor(m => m.DeliverAddress_PostalCode, "", new { @class = "text-danger-bold" })
                                                </div>
                                                <div class="form-inline-element margin-none">
                                                    <select id="DeliverAddress_CountryCode" name="DeliverAddress_CountryCode" data-edit="@Model.trackingFieldsDel["CountryCode"].EditTracking">
                                                        <option value="@Model.DeliverAddress_CountryCode" selected="selected">@Model.DeliverAddress_CountryName</option>
                                                    </select>
                                                    @*@Html.Action("AddressDeliveContryPartial", new { model = Model })*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




}

<script type="text/javascript">

    $(document).ready(function () {
        $("#CheckB").attr('disabled', true);

        //The url we will send our get request to
        var countryUrl = '@Url.Action("GetJsonCountry", "ApiData")';
        var pageSize = 20;

        $("#CompanyAddress_CountryCode").select2({
            width: '100%',
            ajax: {
                url: countryUrl,
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    //console.log(params);
                    return {
                        searchTerm: params.term, // search term
                        pageNum: params.page,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    //console.log(data);
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        // results:markMatch(data.Results.text, params.term),
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                },
                cache: true
            },
            templateResult: function (item, params) {
                // No need to template the searching text
                //console.log(item);

                if (item.loading) {
                    return item.text;
                }

                var term = query.term || '';
                //console.log("term ==> "+term);
                var $result = markMatch(item.text, term);

                return $result;
            },
            language: {
                searching: function (params) {
                    // Intercept the query as it is happening
                    query = params;

                    // Change this to be appropriate for your application
                    return 'Searching…';
                }
            },
            escapeMarkup: function (markup) { return markup; },
            //minimumInputLength: 0,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });

        $("#DeliverAddress_CountryCode").select2({
            width: '100%',
            ajax: {
                url: countryUrl,
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    //console.log(params);
                    return {
                        searchTerm: params.term, // search term
                        pageNum: params.page,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    //console.log(data);
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        // results:markMatch(data.Results.text, params.term),
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                },
                cache: true
            },
            templateResult: function (item, params) {
                // No need to template the searching text
                //console.log(item);

                if (item.loading) {
                    return item.text;
                }

                var term = query.term || '';
                //console.log("term ==> "+term);
                var $result = markMatch(item.text, term);

                return $result;
            },
            language: {
                searching: function (params) {
                    // Intercept the query as it is happening
                    query = params;

                    // Change this to be appropriate for your application
                    return 'Searching…';
                }
            },
            escapeMarkup: function (markup) { return markup; },
            //minimumInputLength: 0,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        });



    });

    $("#btnSubmitTrackingAddress").click(function (evt) {
        //evt.preventDefault();

        var CompcountryCode = $("#CompanyAddress_CountryCode").val();
        var DelvcountryCode = $("#DeliverAddress_CountryCode").val();

        var compSubDistrict = $("#CompanyAddress_SubDistrict_Local").val();
        var compCity = $("#CompanyAddress_City_Local").val();
        var compState = $("#CompanyAddress_State_Local").val();
        var compSubDistrict2 = $("#CompanyAddress_SubDistrict_Inter").val();
        var compCity2 = $("#CompanyAddress_City_Inter").val();
        var compState2 = $("#CompanyAddress_State_Inter").val();

        var deliSubDistrict = $("#DeliverAddress_SubDistrict_Local").val();
        var deliCity = $("#DeliverAddress_City_Local").val();
        var deliState = $("#DeliverAddress_State_Local").val();
        var deliSubDistrict2 = $("#DeliverAddress_SubDistrict_Inter").val();
        var deliCity2 = $("#DeliverAddress_City_Inter").val();
        var deliState2 = $("#DeliverAddress_State_Inter").val();

        var chk = true;

        if (CompcountryCode == "TH") {
            //Sub companyAddress
            if (compSubDistrict != null) {
                compSubDistrict = $.trim(compSubDistrict);
            }
            if (compSubDistrict == "" || compSubDistrict == undefined || compSubDistrict == null) {
                evt.preventDefault();
                //CompanyAddress_SubDistrict_Local.SetValue("");
                $('#CompanyAddress_SubDistrict_Local').val("");
                $('#CompanyAddress_SubDistrict_Local').focus();
                $("#errorCompSubDistrict").css("display", "block");
                chk = false;
                return false;
            } else {
                //CompanyAddress_SubDistrict_Local.SetValue(compSubDistrict);
                $('#CompanyAddress_SubDistrict_Local').val(compSubDistrict);
                $("#errorCompSubDistrict").css("display", "none");
                chk = true;
            }
            if (compSubDistrict2 != null) {
                compSubDistrict2 = $.trim(compSubDistrict2);
            }
            if (compSubDistrict2 == "" || compSubDistrict2 == undefined || compSubDistrict2 == null) {
                evt.preventDefault();
                //CompanyAddress_SubDistrict_Inter.SetValue("");
                $('#CompanyAddress_SubDistrict_Inter').val("");
                $('#CompanyAddress_SubDistrict_Inter').focus();
                $("#errorCompSubDistrict2").css("display", "block");
                chk = false;
                return false;
            } else {
                //CompanyAddress_SubDistrict_Inter.SetValue(compSubDistrict2);
                $('#CompanyAddress_SubDistrict_Inter').val(compSubDistrict2);
                $("#errorCompSubDistrict2").css("display", "none");
                chk = true;
            }
        }
        //City companyAddress
        if (compCity != null) {
            compCity = $.trim(compCity);
        }
        if (compCity == "" || compCity == undefined || compCity == null) {
            evt.preventDefault();
            //CompanyAddress_City_Local.SetValue("");
            $('#CompanyAddress_City_Local').val("");
            $('#CompanyAddress_City_Local').focus();
            $("#errorCompCity").css("display", "block");
            chk = false;
            return false;
        } else {
            //CompanyAddress_City_Local.SetValue(compCity);
            $('#CompanyAddress_City_Local').val(compCity);
            $("#errorCompCity").css("display", "none");
            chk = true;
        }
        if (compCity2 != null) {
            compCity2 = $.trim(compCity2);
        }
        if (compCity2 == "" || compCity2 == undefined || compCity2 == null) {
            evt.preventDefault();
            //CompanyAddress_City_Inter.SetValue("");
            $('#CompanyAddress_City_Inter').val("");
            $('#CompanyAddress_City_Inter').focus();
            $("#errorCompCity2").css("display", "block");
            chk = false;
            return false;
        } else {
            //CompanyAddress_City_Inter.SetValue(compCity2);
            $('#CompanyAddress_City_Inter').val(compCity2);
            $("#errorCompCity2").css("display", "none");
            chk = true;
        }
        //State companyAddress
        if (compState != null) {
            compState = $.trim(compState);
        }
        if (compState == "" || compState == undefined || compState == null) {
            evt.preventDefault();
            //CompanyAddress_State_Local.SetValue("");
            $('#CompanyAddress_State_Local').val("");
            $('#CompanyAddress_State_Local').focus();
            $("#errorCompState").css("display", "block");
            chk = false;
            return false;
        } else {
            //CompanyAddress_State_Local.SetValue(compState);
            $('#CompanyAddress_State_Local').val(compState);
            $("#errorCompState").css("display", "none");
            chk = true;
        }
        if (compState2 != null) {
            compState2 = $.trim(compState2);
        }
        if (compState2 == "" || compState2 == undefined || compState2 == null) {
            evt.preventDefault();
            //CompanyAddress_State_Inter.SetValue("");
            $('#CompanyAddress_State_Inter').val("");
            $('#CompanyAddress_State_Inter').focus();
            $("#errorCompState2").css("display", "block");
            chk = false;
            return false;
        } else {
            //CompanyAddress_State_Inter.SetValue(compState2);
            $('#CompanyAddress_State_Inter').val(compState2);
            $("#errorCompState2").css("display", "none");
            chk = true;
        }


        if ($("#CheckB").prop("checked") == false) {
            if (DelvcountryCode == "TH") {
                //Sub DeliverAddress
                if (deliSubDistrict != null) {
                    deliSubDistrict = $.trim(deliSubDistrict);
                }
                if (deliSubDistrict == "" || deliSubDistrict == undefined || deliSubDistrict == null) {
                    evt.preventDefault();
                    //DeliverAddress_SubDistrict_Local.SetValue("");
                    $('#DeliverAddress_SubDistrict_Local').val("");
                    $('#DeliverAddress_SubDistrict_Local').focus();
                    $("#errorDelvSubDistrict").css("display", "block");
                    chk = false;
                    return false;
                } else {
                    //DeliverAddress_SubDistrict_Local.SetValue(deliSubDistrict);
                    $('#DeliverAddress_SubDistrict_Local').val(deliSubDistrict);
                    $("#errorDelvSubDistrict").css("display", "none");
                    chk = true;
                }
                if (deliSubDistrict2 != null) {
                    deliSubDistrict2 = $.trim(deliSubDistrict2);
                }
                if (deliSubDistrict2 == "" || deliSubDistrict2 == undefined || deliSubDistrict2 == null) {
                    evt.preventDefault();
                    //DeliverAddress_SubDistrict_Inter.SetValue("");
                    $('#DeliverAddress_SubDistrict_Inter').val("");
                    $('#DeliverAddress_SubDistrict_Inter').focus();
                    $("#errorDelvSubDistrict2").css("display", "block");
                    chk = false;
                    return false;
                } else {
                    //DeliverAddress_SubDistrict_Inter.SetValue(deliSubDistrict2);
                    $('#DeliverAddress_SubDistrict_Inter').val(deliSubDistrict2);
                    $("#errorDelvSubDistrict2").css("display", "none");
                    chk = true;
                }
            }
            //City deliberAddress
            if (deliCity != null) {
                deliCity = $.trim(deliCity);
            }
            if (deliCity == "" || deliCity == undefined || deliCity == null) {
                evt.preventDefault();
                //DeliverAddress_City_Local.SetValue("");
                $('#DeliverAddress_City_Local').val("");
                $('#DeliverAddress_City_Local').focus();
                $("#errorDelvCity").css("display", "block");
                chk = false;
                return false;
            } else {
                //DeliverAddress_City_Local.SetValue(deliCity);
                $('#DeliverAddress_City_Local').val(deliCity);
                $("#errorDelvCity").css("display", "none");
                chk = true;
            }
            if (deliCity2 != null) {
                deliCity2 = $.trim(deliCity2);
            }
            if (deliCity2 == "" || deliCity2 == undefined || deliCity2 == null) {
                evt.preventDefault();
                //DeliverAddress_City_Inter.SetValue("");
                $('#DeliverAddress_City_Inter').val("");
                $('#DeliverAddress_City_Inter').focus();
                $("#errorDelvCity2").css("display", "block");
                chk = false;
                return false;
            } else {
                //DeliverAddress_City_Inter.SetValue(deliCity2);
                $('#DeliverAddress_City_Inter').val(deliCity2);
                $("#errorDelvCity2").css("display", "none");
                chk = true;
            }
            //State deliverAddress
            if (deliState != null) {
                deliState = $.trim(deliState);
            }
            if (deliState == "" || deliState == undefined || deliState == null) {
                evt.preventDefault();
                //DeliverAddress_State_Local.SetValue("");
                $('#DeliverAddress_State_Local').val("");
                $('#DeliverAddress_State_Local').focus();
                $("#errorDelvState").css("display", "block");
                chk = false;
                return false;
            } else {
                //DeliverAddress_State_Local.SetValue(deliState);
                $('#DeliverAddress_State_Local').val(deliState);
                $("#errorDelvState").css("display", "none");
                chk = true;
            }
            if (deliState2 != null) {
                deliState2 = $.trim(deliState2);
            }
            if (deliState2 == "" || deliState2 == undefined || deliState2 == null) {
                evt.preventDefault();
                //DeliverAddress_State_Inter.SetValue("");
                $('#DeliverAddress_State_Inter').val("");
                $('#DeliverAddress_State_Inter').focus();
                $("#errorDelvState2").css("display", "block");
                chk = false;
                return false;
            } else {
                //DeliverAddress_State_Inter.SetValue(deliState2);
                $('#DeliverAddress_State_Inter').val(deliState2);
                $("#errorDelvState2").css("display", "none");
                chk = true;
            }
        }


        //trackingAddress




        var $form = $('#EditDataTrackingAddress');
        if ($form.valid() && chk == true) {
            //CompanyTypeID.SetEnabled(true);
            //BusinessEntityID.SetEnabled(true);
            //CompanyAddress_CountryCode.SetEnabled(true);
            //DeliverAddress_CountryCode.SetEnabled(true);

            if ($("#CheckB").prop("checked") == false) {
                //DeliverAddress_SubDistrict_Local.SetEnabled(true);
                //DeliverAddress_City_Local.SetEnabled(true);
                //DeliverAddress_State_Local.SetEnabled(true);
                //DeliverAddress_SubDistrict_Inter.SetEnabled(true);
                //DeliverAddress_City_Inter.SetEnabled(true);
                //DeliverAddress_State_Inter.SetEnabled(true);
            }

            disablePage();
            $form.submit();
            //document.getElementById("AddressID").submit();
        }
        else {
            $form.submit(function (event) {
                event.preventDefault();
                return false;
            });
        }




    });

</script>


<script type="text/javascript">
    $(document).ready(function () {
        //--------------------------remote typeahead---------------------------


        $(function () {
            $('#CompanyAddress_SubDistrict_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("SubCompLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.SubDistrictName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_SubDistrict_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("SubCompInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.SubDistrictName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_SubDistrict_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("SubDelvLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.SubDistrictName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_SubDistrict_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("SubDelvInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.SubDistrictName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_City_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("CityCompLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.CityName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_City_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("CityDelvLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.CityName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_City_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("CityDelvInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.CityName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_City_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("CityCompInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.CityName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_State_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("StateCompLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.StateName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#CompanyAddress_State_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("StateCompInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.StateName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_State_Local').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("StateDelvLocalPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.StateName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });

        $(function () {
            $('#DeliverAddress_State_Inter').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            }, {
                limit: 10,
                // displayKey: 'value',
                source: function (query, processSync, processAsync) {
                    //processSync(['This suggestion appears immediately', 'This one too']);
                    return $.ajax({
                        url: '@Url.Action("StateDelvInterPartial", "ContactInformation")',
                        type: 'POST',
                        data: { term: query },
                        dataType: 'json',
                        success: function (json) {
                            var matches = [];
                            $.each(json, function (i, str) {
                                matches.push(str.StateName);
                            });
                            return processAsync(matches);
                        }
                    });
                }
            });
        });
    });

</script>


<script type="text/javascript">
    var chkDisableTracking = '@chkDisableEditData';

    console.log(chkDisableTracking);

    if (chkDisableTracking == "editAddress") {
        $("#CheckB").attr('disabled', true);

        $("#DeliverAddress_HouseNo_Local").attr('readonly', true);
        $("#DeliverAddress_VillageNo_Local").attr('readonly', true);
        $("#DeliverAddress_Lane_Local").attr('readonly', true);
        $("#DeliverAddress_Road_Local").attr('readonly', true);
        $("#DeliverAddress_SubDistrict_Local").attr('readonly', true);
        $("#DeliverAddress_City_Local").attr('readonly', true);
        $("#DeliverAddress_State_Local").attr('readonly', true);
        $("#DeliverAddress_HouseNo_Inter").attr('readonly', true);
        $("#DeliverAddress_VillageNo_Inter").attr('readonly', true);
        $("#DeliverAddress_Lane_Inter").attr('readonly', true);
        $("#DeliverAddress_Road_Inter").attr('readonly', true);
        $("#DeliverAddress_SubDistrict_Inter").attr('readonly', true);
        $("#DeliverAddress_City_Inter").attr('readonly', true);
        $("#DeliverAddress_State_Inter").attr('readonly', true);
        $("#DeliverAddress_PostalCode").attr('readonly', true);
        $('#DeliverAddress_CountryCode').prop('disabled', true);
    } else if (chkDisableTracking == "editDeliver") {

        $("#CompanyAddress_HouseNo_Local").attr('readonly', true);
        $("#CompanyAddress_VillageNo_Local").attr('readonly', true);
        $("#CompanyAddress_Lane_Local").attr('readonly', true);
        $("#CompanyAddress_Road_Local").attr('readonly', true);
        $("#CompanyAddress_SubDistrict_Local").attr('readonly', true);
        $("#CompanyAddress_City_Local").attr('readonly', true);
        $("#CompanyAddress_State_Local").attr('readonly', true);
        $("#CompanyAddress_HouseNo_Inter").attr('readonly', true);
        $("#CompanyAddress_VillageNo_Inter").attr('readonly', true);
        $("#CompanyAddress_Lane_Inter").attr('readonly', true);
        $("#CompanyAddress_Road_Inter").attr('readonly', true);
        $("#CompanyAddress_SubDistrict_Inter").attr('readonly', true);
        $("#CompanyAddress_City_Inter").attr('readonly', true);
        $("#CompanyAddress_State_Inter").attr('readonly', true);
        $("#CompanyAddress_PostalCode").attr('readonly', true);
        $('#CompanyAddress_CountryCode').prop('disabled', true);
    }
</script>