﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyDocumentModel
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_LayoutEditDataTracking.cshtml";

    string attachmentSize = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_AttachmentSize");
    int maxFileSize = Convert.ToInt32(attachmentSize);

    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    
    string returnUrlTracking = "";
    if (Session["ReturnUrlTracking"] != null)
    {
        returnUrlTracking = Session["ReturnUrlTracking"].ToString();
    }
}
<script type="text/javascript">

</script>

<style>
    .fa-flag {
        display: none;
        color: #EDB61D;
    }
</style>

<div class="row">
    @using (Html.BeginForm("DocumentSave", "EditDataTracking", FormMethod.Post, new { @id = "mainOrgDocumentForm", @name = "mainOrgDocumentForm" }))
    {
        @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })
        @Html.HiddenFor(m => m.TrackingReqID, new { @id = "TrackingReqID" })

        <div class="col-sm-12 col-md-12">
            <div class="data_end" style="padding-top:40px;"></div>
            <div style="float:left;padding-right:20px" class="link-profile">
                <a class="link-profile" href="@returnUrlTracking">@T("_ComPro.EditDataTracking.LnkGoBackSupVer")</a>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 r-sec">
            <div class="data_end" style="padding-top:40px;"></div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="pull-right">
                                <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveDoc" />
                            </div>
                        </div>
                    </div>
                    <div class="data_end" style="padding-top:20px;"></div>

                    @*<div class="alert-custom" role="alert">
                            <span class="fa-stack">
                                <i style="color:#98C93D" class="fa fa-info-circle fa-stack-2x"></i>
                            </span> <b>@T("_ComPro.CompanyAffidavit.InstrTxt.Title")</b><p> @T("_ComPro.CompanyAffidavit.InstrTxt.Txt")
                        </div>*@

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div style="display:none;" id="errorDoccument">
                                <span class="text-danger-bold">@T("_Profile.ValidateMsg.RequireDoccument")</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="attachmentDisplay" style="display:none;">
                        <div class="testClass"></div>
                        <div class="col-md-12">
                            @Html.Action("AttachmentPartial", new { CompanyTypeID = Model.CompanyTypeID ?? 1, CountryCode = Model.CountryCode, SupplierID = Model.SupplierID, TrackingReqID = Model.TrackingReqID, TrackingItemID = Model.TrackingItemID, TrackingType = Model.TrackingType })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    $(function () {
        $(".toggleTracking").each(function (index) {
            //console.log(this);
            var idtracking = $(this).attr('id');
            //var trackingReqID = $(this).attr('data-reqid');
            var trackingReqID = $('#TrackingReqID').val();
            //var tag_tracking =  $("[data-reqid='"+trackingReqID+"']");
            //var tag_tracking =  $('[data-reqid]#' + idtracking);
            //console.log(tag_tracking);
            var lg = "@T("_ComPro.Address.WaitingForApproveArg1").ToString()";
            lg = lg.format(trackingReqID);
            $(this).popover({
                html: true,
                placement: "top",
                trigger: "hover",
                container: "body",
                content: lg,
                delay: { show: 150, hide: 150 }
            });
        });

        $(".restoreTracking").each(function (index) {

            var lg = "@T("_ComPro.Document.RestoreDocument").ToString()";
            $(this).popover({
                html: true,
                placement: "top",
                trigger: "hover",
                container: "body",
                content: lg,
                delay: { show: 150, hide: 150 }
            });
        });


    });

    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            active: 99
        });
    });

    function deleteData(attachmentID, attachmentNameUnique, documentNameID, docType) {

        var elementID = "item_" + attachmentID;

        $("#" + elementID).remove();
        $("#CheckModify").val("1");
        var htmlText = "";

        htmlText += "<input type=\"hidden\" name=\"hidRemoveAttachmentID[]\" value=\"" + attachmentID + "\" />";

        $(htmlText).appendTo("#remove_item");

        var idTr = docType;

        var rowCount = $("#myTable_" + idTr + " >tbody >tr").length;

        if (rowCount == 0) {
            var scntDiv = $('#p_scents_' + idTr);
            var htmlText = "<tr class=\"main_table_row\" id=\"lastData_" + idTr + "\"><td align=\"center\" colspan=\"4\"> NoData </td></tr>";
            scntDiv.append(htmlText);
            //console.log("MM");
            //$("#myTable_" + idTr + " > tbody:last").append("<tr class=\"main_table_row\" id=\"lastData_" + idTr + "><td align=\"center\" colspan=\"4\"\">NoData</td></tr>");
        }
        return false;
    }

    function restoreData(attachmentID, trackingItemID, documentNameID) {

        var elementID = "item_" + attachmentID;
        var documentNameCount = $(".docName_" +documentNameID).length;
        console.log(documentNameCount);
        //if(documentNameCount<2)
        //{
        var chkNameDelete = $("#" + elementID).hasClass("docNameDelete_"+documentNameID);
        if(chkNameDelete)
        {
            $("#" + elementID).removeClass("docNameDelete_"+documentNameID);
            $("#" + elementID + " > td > div").removeClass("file-attachment-download-delete");
            $("#" + elementID + " > td > div").addClass("file-attachment-download");

            var htmlText = "";
            htmlText += "<input type=\"hidden\" id=\"restore_"+trackingItemID+"\" name=\"hidRestoreDocument[]\" value=\"" + trackingItemID + "\" />";
            $(htmlText).appendTo("#" + elementID + " > td:first");

        }else
        {
            $("#" + elementID).addClass("docNameDelete_"+documentNameID);
            $("#" + elementID + " > td > div").addClass("file-attachment-download-delete");
            $("#" + elementID + " > td > div").removeClass("file-attachment-download");
            $("#restore_" + trackingItemID).remove();
        }
        //}

        //$("#" + elementID).removeClass("docNameDelete_"+documentNameID);
        //$("#" + elementID + " > td > div").removeClass("file-attachment-download-delete");
        //$("#" + elementID + " > td > div").addClass("file-attachment-download");
        //console.log("restoreData");
        //console.log($("#" + elementID));
        //console.log($("#" + elementID + " > td > div"));


        return false;
    }
    function SetDisableDocument() {
        $("#btnSaveDoc").attr('disabled', true);
        $(".hl-start-upload").attr('disabled', true);
        $(".fu-my-simple-upload").attr('disabled', true);
        $(".iconDeleteDoc").attr('disabled', true);
    }

    function SetDisplayDocument() {
        $("#attachmentDisplay").css("display", "block");
    }

    var jqXHRData;
    var dataAdd;
    $(document).ready(function () {

        //----------------Initialization of fileupload--------------
        'use strict';
        $('.fu-my-simple-upload').fileupload({
            url: '/GeneralInformation/UploadFileAttachment',
            dataType: 'json',
            //data: JSON.stringify({ attachmentName: "1234" }),
            add: function (e, data) {

                //console.log("add");
                //console.log(this);
                //console.log($(this).attr("docTypeID"));

                jqXHRData = data


            },
            done: function (event, data) {
                $.unblockUI();
                //console.log("done");
                //console.log(data);
                //console.log(data.result.htmlText);

                if (data.result.isUploaded) {

                    var documentTypeID = data.result.documentTypeID;

                    var scntDiv = $('#p_scents_' + data.result.documentTypeID);
                    //var i = $('#p_scents tr').size() + 1;
                    $("#tbx-file-path_" + documentTypeID).val("");//If upload completed.
                    $("#tbx-doc-name_" + documentTypeID).val("");//If upload completed.

                    $('#lastData_' + data.result.documentTypeID).remove();

                    scntDiv.append(data.result.htmlText);
                }


            },
            fail: function (event, data) {
                console.log("fail");
                console.log(data);

            }
        });
        //---------------------End Upload--------------------------

        $(".fu-my-simple-upload").on('change', function () {

            var filesSize = this.files[0].size;
            var maxfilesSize = $("#maxFileSize").val();
            var id = this.name.replace("FileAttachment_", "");

            if (filesSize > maxfilesSize) {
                $("#requiredfileupload_" + id).text("@T("_ComPro.ValidateMsg.LimitAttachFileSize")");
                $("#tbx-file-path_" + id).val("");
            } else {
                $("#requiredfileupload_" + id).text("");
                $("#tbx-file-path_" + id).val(this.files[0].name);
            }



        });

        //----------------Initialization of fileupload--------------
        $(".hl-start-upload").on('click', function () {
            //console.log("start-upload");
            //console.log(this);

            var id = $(this).attr("docTypeID");
            //if (id == -1) {
            //    var nameId = -1;
            //} else {
            //    var nameId = $("#DocumentNameID_" + id + "_VI").val()
            //}
            var nameId = $("#DocumentNameID_" + id).val();
            var dupDocumentName = $("#myTable_" + id + " >tbody >tr").hasClass("docName_" + nameId);
            var dupDocumentNameDelete = $("#myTable_" + id + " >tbody >tr").hasClass("docNameDelete_" + nameId);
            var dupDocumentNameCount = $(".docName_" +nameId).length;
            //console.log(dupDocumentNameCount);
            //console.log(dupDocumentName);

            //console.log(nameId);
            if ($("#tbx-file-path_" + id).val() != "") {
                $("#requiredfileupload_" + id).text("");
                $("#hidDocumentTypeID").val(id);
                $("#hidDocumentNameID").val(nameId);
                if (nameId == -1 && $("#tbx-doc-name_" + id).val() == "") {
                    $("#requiredDocName_" + id).text("@T("_ComPro.ValidateMsg.RequireDocumentName")");

                } else {

                    if (dupDocumentName && nameId != -1) {
                        if(dupDocumentNameDelete)
                        {
                            if(dupDocumentNameCount > 1)
                            {
                                $("#requiredfileupload_" + id).text("@T("_ComPro.ValidateMsg.DuplicateDocumentName")");

                                return false;
                            }

                        }else
                        {
                            $("#requiredfileupload_" + id).text("@T("_ComPro.ValidateMsg.DuplicateDocumentName")");

                            return false;
                        }

                    }
                    $("#requiredDocName_" + id).text("");

                    if (jqXHRData) {
                        disablePage();
                        jqXHRData.submit();
                    }
                }
            }
            else {
                $("#requiredfileupload_" + id).text("@T("_ComPro.ValidateMsg.RequireFilePath")");
            }

            return false;
        });


        $(document).on('click', '#deleteAttachment', function () {
            //console.log(this);
            $(this).closest('tr').remove();

            var idTr = $(this).attr('docType');

            var rowCount = $("#myTable_" + idTr + " >tbody >tr").length;
            $("#DocumentType_"+idTr).text(rowCount);
            if (rowCount == 0) {
                var scntDiv = $('#p_scents_' + idTr);
                var htmlText = "<tr class=\"main_table_row\" id=\"lastData_" + idTr + "\"><td align=\"center\" colspan=\"4\"> NoData </td></tr>";
                scntDiv.append(htmlText);
                //console.log("MM");
                //$("#myTable_" + idTr + " > tbody:last").append("<tr class=\"main_table_row\" id=\"lastData_" + idTr + "><td align=\"center\" colspan=\"4\"\">NoData</td></tr>");
            }
            console.log(rowCount);

            return false;
        });

        $("#btnSaveDoc").click(function (evt) {

            dataAdd = [];

            var $formDoc = $("#mainOrgDocumentForm");

            var chk = true;

            var $textboxes = $('input[name="hidDocumentNameIDRequire[]"]');
            //console.log($textboxes);

            $textboxes.each(function (i) {


                var docId = $textboxes.eq(i).val();

                var $hidtextboxes = $('input[name="hidFile_' + docId + '[]"]');
                if ($hidtextboxes.length <= 0) {
                    $("#errorDoccument").css("display", "block");
                    chk = false;
                    evt.preventDefault();
                    //return false;
                }
            });

            var newAttachment = $('.newAttachment').length;
            //console.log(newAttachment);
            //เชคว่ามีไฟล์ที่เพิ่มเข้ามาใหม่หรือไม่
            if (newAttachment > 0) {
                $("#CheckModify").val("1");
            }

            if (chk) {
                disablePage();
                $formDoc.submit();

            }

        });


        //SetDisableDocument();

        SetDisplayDocument();


        function RequestContact() {

            $('#AddContactRequest').modal({ backdrop: 'static', keyboard: false })

        }

    });




</script>