﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_AutoMergeUser>
@{
    string cssClass = "";
    string cssClassUnSuccess = "";
    string isSuccess = "";
    string isPrimary = "";
    string mergeID = "";
}
<table class="table" id="MergeSuccessTable">
    <thead>
        <tr>
            <th width="10%">MergeID</th>
            <th width="15%">UserName</th>
            <th width="10%">isPrimary</th>
            <th width="10%">isSuccess</th>
            <th width="55%">Remark</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.isPrimary == 1)
            {
                isPrimary = "Yes";
                cssClass = "warning";
                mergeID = item.MergeID.ToString();
            }
            else
            {
                isPrimary = "No";
                cssClass = "info";
                mergeID = "";
            }
            if (item.isSuccess == 1)
            {
                cssClassUnSuccess = "";
                isSuccess = "Yes";
            }else
            {
                cssClassUnSuccess = "danger";
                isSuccess = "No";
            }
            <tr class="@cssClass">
                <td>@mergeID</td>
                <td>@item.MergeFromUserName</td>
                <td>@isPrimary</td>
                <td class="@cssClassUnSuccess">@isSuccess</td>
                <td>@item.Remark</td>
            </tr>
        }
    </tbody>
</table>
