﻿
@{
    ViewBag.Title = "AutoMergeUser";
    //Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
    Layout = "~/Views/Shared/_LayoutHomeForAdmin.cshtml";
    string limtGroup = ViewBag.LimitGroup;
    bool checkReady = ViewBag.CheckReady;
    bool checkNotReady = ViewBag.CheckNotReady;


    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "1",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "5",
        Value = "5"
    });
    listItems.Add(new SelectListItem
    {
        Text = "10",
        Value = "10"
    });
    listItems.Add(new SelectListItem
    {
        Text = "20",
        Value = "20"
    });
    listItems.Add(new SelectListItem
    {
        Text = "50",
        Value = "50"
    });
    listItems.Add(new SelectListItem
    {
        Text = "100",
        Value = "100"
    });
    listItems.Add(new SelectListItem
    {
        Text = "200",
        Value = "200"
    });
    listItems.Add(new SelectListItem
    {
        Text = "300",
        Value = "300"
    });
    listItems.Add(new SelectListItem
    {
        Text = "400",
        Value = "400"
    });
    listItems.Add(new SelectListItem
    {
        Text = "500",
        Value = "500"
    });
    listItems.Add(new SelectListItem
    {
        Text = "All",
        Value = "All"
    });
}
<div class="container body-content" style="min-height: 540px;">
    <div class="data_end" style="padding-top:20px;"></div>
    <div class="row">
        <div class="col-md-12" style="align-content:center;">
            <h2>AutoMergeUser</h2>
        </div>
        <div class="data_end" style="padding-top:10px;"></div>
        <div class="col-md-12">
            @using (Html.BeginForm("AutoMergeUser", "DevExpress", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "limitGroup_select", role = "form" }))
            {
                <div class="col-md-12">
                    @Html.Label("Limit Group Merge")
                </div>
                <div class="col-md-12">
                    @Html.DropDownList("limitGroup", new SelectList(listItems, "Value", "Text", limtGroup), "-- Select Limt --", new { @class = "form-control", id = "Limit_Group", onchange = "changeLimitGroup();" })
                </div>
                <div class="data_end" style="padding-top:10px;"></div>
                <div class="col-md-12">
                    @Html.Label("Show group merge is ready")
                </div>
                <div class="col-md-12">
                    @Html.CheckBox("checkReady", checkReady, new { id = "checkReady", onchange = "changeReadyGroup(this);" })
                </div>
                <div class="data_end" style="padding-top:10px;"></div>
                <div class="col-md-12">
                    @Html.Label("Show group merge is not ready")
                </div>
                <div class="col-md-12">
                    @Html.CheckBox("checkNotReady", checkNotReady, new { id = "checkNotReady", onchange = "changeLimitGroup(this);" })
                </div>
            }
        </div>
        <div class="data_end" style="padding-top:10px;"></div>
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#MergeUser">Merge User</a></li>
                <li><a data-toggle="tab" href="#MergeSuccess">Merge Success</a></li>
            </ul>
            <div class="tab-content">

                <div id="MergeUser" class="tab-pane fade in active">
                    <div class="data_end" style="padding-top:10px;"></div>
                    <div class="col-md-12">
                        <div id="MergReady">
                            @Html.Action("MergUserReadyPartial", "DevExpress", new { limitGroup = limtGroup, checkReady = checkReady, checkNotReady = checkNotReady })
                        </div>                       
                    </div>
                </div>

                <div id="MergeSuccess" class="tab-pane fade">                   
                    <div class="col-md-12">
                        @Html.Action("MergUserSuccessPartial", "DevExpress", new { limitGroup = limtGroup })                      
                    </div>
                </div>

            </div>
        </div>
        <div class="data_end" style="padding-top:10px;"></div>
        <div class="col-md-12">
            @using (Html.BeginForm("MergeUserRun", "DevExpress", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "mergeUserRun", role = "form" }))
            {
                @Html.Hidden("limitGroupMerge", limtGroup)
                
                <div class="center-myAccount-button">
                    <input id="btnMerg" type="button" class="btn btn-success" value="Merge Account" onclick="mergeUserRun();">
                </div>
            }
            
        </div>

    </div>
    <div class="data_end" style="padding-top:20px;"></div>
</div>

<script>
    function changeLimitGroup() {
        
        $("#limitGroup_select").submit();

        disablePage();
    }

    function changeReadyGroup(chk)
    {
        var id = chk.id;
        if (id == "checkReady") {
            if ($('#' + id).is(":checked")) {
                $('#checkNotReady').prop('checked', false);
            }

        } else {
            if ($('#' + id).is(":checked")) {
                $('#checkReady').prop('checked', false);
            }
        }


        $("#limitGroup_select").submit();

        disablePage();
    }
    

    function mergeUserRun() {

        $("#mergeUserRun").submit();

        disablePage();
    }
</script>




