﻿
@{
    ViewBag.Title = "AutoUpdateUser";
    //Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
    Layout = "~/Views/Shared/_LayoutHomeForAdmin.cshtml";
    string limtGroup = ViewBag.LimitGroup;
    
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "1",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "5",
        Value = "5"
    });
    listItems.Add(new SelectListItem
    {
        Text = "10",
        Value = "10"
    });
    listItems.Add(new SelectListItem
    {
        Text = "20",
        Value = "20"
    });
    listItems.Add(new SelectListItem
    {
        Text = "50",
        Value = "50"
    });
    listItems.Add(new SelectListItem
    {
        Text = "100",
        Value = "100"
    });
    listItems.Add(new SelectListItem
    {
        Text = "500",
        Value = "500"
    });
    listItems.Add(new SelectListItem
    {
        Text = "All",
        Value = "All"
    });
}

<div class="container body-content" style="min-height: 540px;">
    <div class="data_end" style="padding-top:20px;"></div>
    <div class="row">
        <div class="col-md-12" style="align-content:center;">
            <h2>AutoUpdateUser</h2>
        </div>
        <div class="data_end" style="padding-top:10px;"></div>
        <div class="col-md-12">
            @using (Html.BeginForm("AutoUpdateUser", "DevExpress", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "limitGroupUpdate_select", role = "form" }))
            {
                <div class="col-md-12">
                    @Html.Label("Limit Group Update")
                </div>
                <div class="col-md-12">
                    @Html.DropDownList("limitGroup", new SelectList(listItems, "Value", "Text", limtGroup), "-- Select Limt --", new { @class = "form-control", id = "Limit_GroupUpdate", onchange = "changeLimitGroupUpdate();" })
                </div>
            }
        </div>
        <div class="data_end" style="padding-top:10px;"></div>
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#UpdateUser">Update User</a></li>
                <li><a data-toggle="tab" href="#UpdateSuccess">Update User Success</a></li>
            </ul>
            <div class="tab-content">

                <div id="UpdateUser" class="tab-pane fade in active">
                    <div class="data_end" style="padding-top:10px;"></div>
                    <div class="col-md-12">
                        <div id="UpdateReady">
                            @Html.Action("UpdateUserReadyPartial", "DevExpress", new { limitGroup = limtGroup })
                        </div>
                    </div>
                </div>

                <div id="UpdateSuccess" class="tab-pane fade">
                    <div class="col-md-12">
                        @Html.Action("UpdateUserSuccessPartial", "DevExpress")
                    </div>
                </div>

            </div>
        </div>
        <div class="data_end" style="padding-top:10px;"></div>
        <div class="col-md-12">
            @using (Html.BeginForm("UpdateUserRun", "DevExpress", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "updateUserRun", role = "form" }))
            {
                @Html.Hidden("limitGroupUpdate", limtGroup)

                <div class="center-myAccount-button">
                    <input id="btnUpdate" type="button" class="btn btn-success" value="Update Account" onclick="updateUserRun();">
                </div>
            }

        </div>
    </div>
    <div class="data_end" style="padding-top:20px;"></div>
</div>

<script>
    function changeLimitGroupUpdate() {

        $("#limitGroupUpdate_select").submit();

        disablePage();
    }

    function updateUserRun() {

        $("#updateUserRun").submit();

        disablePage();
    }
</script>