﻿
@{
    ViewBag.Title = "TestMergUserAccountPartial";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}
<div class="data_end" style="padding-top:20px;"></div>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs-custom" role="tablist" id="myTab">
            <li class="active"><a href="#MergUserAccount" role="tab" data-toggle="tab"><span class="profile_label">@T("_Profile.MergUserAccount.TabTitle")</span></a></li>
            @Html.Hidden("MergUserAccount", @T("_Profile.MergUserAccount.InstrTxt.Title"), new { id = "tab_mergUserAccount" })
            @Html.Hidden("MergUserAccountDetail", @T("_Profile.MergUserAccount.InstrTxt.Txt"), new { id = "tab_mergUserAccount" })
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content">
            <div class="tab-pane active" id="General">
                @Html.Action("MergUserAccountPartial", "Profile")
            </div>
        </div>
    </div>
</div>
<div class="data_end" style="padding-top:20px;"></div>

