﻿@model SupplierPortal.Models.ChartsModels_NumPO
<script src="@Url.Content("~/FusionCharts/FusionCharts.js")" type="text/javascript"></script>


<div id="_NumPO_" style="padding-top:1px;"></div>

@*<table class='sel_sup_tbl' cellspacing='0' cellpadding='0' align='center' width='100%'>
        <thead>
            <tr>
                <th class='chart_data_th_no_link' width='80'>&nbsp;</th>
                @foreach (var item in Model.data_NumPO)
                {
                    <th class='chart_data_th' width='100'>@Html.DisplayFor(modelItem => item.buyerShortName) </th>
                }
                </tr>
        </thead>
        <tbody>
            <tr>
            <th class='chart_data_th2'>No. of PO</th>
                @foreach (var item in Model.data_NumPO)
                {
                    <td class='chart_data_td' align='right'>
                        <a style='text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.numPO)</a>
                    </td>
                }
            </tr>
        </tbody>
    </table>*@

<table  cellspacing='0' cellpadding='0' align='center' width='100%'>
    <thead>
        <tr>
            <th class='chart_data_th' width='38.5%'> @T("_Report.Charts.Buyer")</th>
            <th class='chart_data_th' width='19%'> @T("_Report.Charts.NoOf_PO") (%)</th>
            <th class='chart_data_th' width='42.5%'> @T("_Report.Charts.NoOf_PO")</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan='3'>
                <div style="max-height:130px; min-height:20px; overflow-y:scroll; overflow-x:hidden">
                    <table cellspacing='0' cellpadding='0' align='center' width='100%' style="border-collapse:collapse; border-color:#bbbbbb">
                        @foreach (var item in Model.data_NumPO)
                        {
                            <tr>
                                <th class='chart_data_th' align='left' width='40%'>  @Html.DisplayFor(modelItem => item.buyer) </th>
                                <td class='chart_data_td' align='right' width='20%'>
                                    <a style='text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.percentNumPO)</a>
                                </td>
                                <td class='chart_data_td' align='right' width='40%'>
                                    <a style='text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.numPO)</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">

    function DecodeHtml(str) {
        return jQuery('<div/>').html(str).text();
    }

    FusionCharts.setCurrentRenderer('javascript');

    var myChart = new FusionCharts("../FusionCharts/Pie3D.swf",
    "chart_NumPO", "450", "300", "0", "1");

    if ('@(Model.json_NumPO)' != "") {
        var chrt_NumPO = DecodeHtml('@(Model.json_NumPO)');
        myChart.setJSONData(JSON.parse(chrt_NumPO));
    }

    myChart.configure("ChartNoDataText", "No data!");
    myChart.render("_NumPO_");

</script>

