﻿@model SupplierPortal.Models.ChartsModels_POStatus
<script src="@Url.Content("~/FusionCharts/FusionCharts.js")" type="text/javascript"></script>

<div id="_POStatus_" style="padding-top:1px;"></div>
@*<table class='sel_sup_tbl' cellspacing='0' cellpadding='0' align='center' width='100%'>
        <thead>
            <tr>
                <th class='chart_data_th_no_link' width='80'>&nbsp;</th>
                @foreach (var item in Model.data_POStatus)
                {
                    <th class='chart_data_th' width='100'>@Html.DisplayFor(modelItem => item.status) </th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class='chart_data_th2'>No. of PO (%)</th>
                @foreach (var item in Model.data_POStatus)
                {
                    <td class='chart_data_td colChartBuyer" + i + "' align='right'>
                        <a style= 'text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.percentNumPO)</a>
                    </td>
                }
            </tr>
            <tr>
                <th class='chart_data_th2'>No. of PO</th>
                @foreach (var item in Model.data_POStatus)
                {
                    <td class='chart_data_td colChartBuyer" + i + "' align='right'>
                        <a style= 'text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.numPO)</a>
                    </td>
                }
            </tr>
            <tr>
                <th class='chart_data_th2'>PO Volume</th>
                @foreach (var item in Model.data_POStatus)
                {
                    <td class='chart_data_td colChartBuyer" + i + "' align='right'>
                        <a style= 'text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.volume)</a>
                    </td>
                }
            </tr>
        </tbody>
    </table>*@

<table class='sel_sup_tbl' cellspacing='0' cellpadding='0' align='center' width='100%' >
    <thead>
        <tr>
            <th class='chart_data_th' width='29%'> @T("_Report.Charts.Status") </th>
            <th class='chart_data_th' width='19%'>@T("_Report.Charts.NoOf_PO") (%)</th>
            <th class='chart_data_th' width='19%'> @T("_Report.Charts.NoOf_PO") </th>
            <th class='chart_data_th' width='33%'> @T("_Report.Charts.POVolume") </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan='4'>
                <div style="max-height:132px; min-height:20px; overflow-y:scroll; overflow-x:hidden;">
                    <table cellspacing='0' cellpadding='0' align='center' width='100%' style="border-collapse:collapse; border-color:#bbbbbb">
                        @foreach (var item in Model.data_POStatus)
                        {
                            <tr>
                                <th class='chart_data_th' align='left' width='30%'>  @Html.DisplayFor(modelItem => item.status) </th>
                                <td class='chart_data_td' align='right' width='20%'>
                                    <a style='text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.percentNumPO)</a>
                                </td>
                                <td class='chart_data_td' align='right' width='20%'>
                                    <a style='text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.numPO)</a>
                                </td>
                                <td class='chart_data_td' align='right' width='30%'>
                                    <a style='text-decoration:none; color:#7d96ac;'>@Html.DisplayFor(modelItem => item.volume)</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">

    function DecodeHtml(str) {
        return jQuery('<div/>').html(str).text();
    }

    FusionCharts.setCurrentRenderer('javascript');

    var myChart = new FusionCharts("../FusionCharts/Pie3D.swf",
    "chart_POStatus", "450", "300", "0", "1");

    if ('@(Model.json_POStatus)' != "") {
        var chrt_POStatus = DecodeHtml('@(Model.json_POStatus)');
        myChart.setJSONData(JSON.parse(chrt_POStatus));
    }

    myChart.configure("ChartNoDataText", "No data!");
    myChart.render("_POStatus_");

</script>

