﻿@{
    ViewBag.Title = "Supplier Dashboard";
}
<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    <h3>Purchasing Reports</h3>
</div>
<div class="row">
    @* รูปภาพพื้นหลังที่โชว์หน้า index*@
    <div class="col-md-12 all_ep_content_wrapper">
    </div>
</div>
