﻿@{
    HttpCookie cookieYear = HttpContext.Current.Request.Cookies["_year"];
    HttpCookie cookieBuyerGrp = HttpContext.Current.Request.Cookies["_buyer"];

    DateTime dtYear = DateTime.Now;
    int SetYear = dtYear.Year;
    
    int Years = Convert.ToInt32(cookieYear.Value);
    if (Years == SetYear)
    {
        Years = -1;
    }

    var buyerGrp = cookieBuyerGrp.Value.ToString();
}

@model SupplierPortal.Models.DashboardModels
<script src="@Url.Content("~/FusionCharts/FusionCharts.js")" type="text/javascript"></script>

@*<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', { 'packages': ['motionchart'] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Fruit');
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Sales');
            data.addColumn('number', 'Expenses');
            data.addColumn('string', 'Location');
            data.addRows([
          ['Apples', new Date(1988, 0, 1), 1000, 300, 'East'],
          ['Oranges', new Date(1988, 0, 1), 1150, 200, 'West'],
          ['Bananas', new Date(1988, 0, 1), 300, 250, 'West'],
          ['Apples', new Date(1989, 6, 1), 1200, 400, 'East'],
          ['Oranges', new Date(1989, 6, 1), 750, 150, 'West'],
          ['Bananas', new Date(1989, 6, 1), 788, 617, 'West']
        ]);
            var chart = new google.visualization.MotionChart(document.getElementById('chart_div'));
            chart.draw(data, { width: 600, height: 300 });
        }
    </script>*@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        setBreadcrumb();
        $("#filter_detail").html('@T("_MenuSub.SupplyTool.Report.ReportFilterDetail")&nbsp;:&nbsp;@(Model.filterCondition)');
        $("#LastUpdate").html('@(Model.RptLastUpdate)')
        //        $('#user_name').html('@(Model.UserName)');
        //        $('#supplier_name').html('@(Model.SuppShortName)');
        //$.unblockUI();
    });
</script>
@{
    ViewBag.Title = "Supplier Dashboard";
    //Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    <div class="col-md-4 padding-none">
        @*<div class="report_content_menu">*@
        <div class="report_menu_header">
            @T("_MenuSub.SupplyTool.Report.ReportDashBoardName")
        </div>
        <div class="report_menu_header_edge"></div>
        @*</div>*@
    </div>
    <div class="col-md-4 padding-none">
    </div>
    <div class="col-md-4 padding-none">
    </div>
</div>

<div class="row">@*@using (Html.BeginForm(new { SID = @Model.SID}))*@
    @using (Html.BeginForm())
    {
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
                <td style=" vertical-align:top;width:30%;" class="report_content_left_menu">
                    @*<div class="report_content_left_menu">*@
                    <table style="width: 100%;">
                        <tr>
                            <td class="report_topic" style="padding-left: 10px;">
                                <div>@T("_MenuSub.SupplyTool.Report.ReportFilter")</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="report_topic_2" style="padding-left: 15px;">@T("_MenuSub.SupplyTool.Report.ReportYear")</div>
                                @{
                                            foreach (var year in Model.filter_Years)
                                            {
                                                 <div class="checkbox" style="padding-left:20px;  margin-top: 0px;  margin-bottom: 0px;">
                                                    @Html.RadioButtonFor(x => x.selectedYear, year.yearID)
                                                    @year.yearName
                                                 </div>
                                            }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="report_topic_2" style="padding-left: 15px;">@T("_MenuSub.SupplyTool.Report.ReportBuyerGroup")</div>
                                @{
                                            foreach (var buyer in Model.filter_BuyerGrps)
                                        {
                                            <div class="checkbox" style="padding-left:20px;  margin-top: 0px;  margin-bottom: 0px;">
                                                @Html.RadioButtonFor(x => x.selectedBuyerGrp, buyer.buyerGrpName)
                                                @buyer.buyerGrpName
                                            </div>
                                        }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="text-align:justify;padding-top:8px;">
                                    <input type="submit" value="@T("_MenuSub.SupplyTool.Report.ReportButton")" class="btn btn-primary" />
                                </div>
                            </td>
                        </tr>
                        @*</div>*@
                    </table>
                    @*</div>*@
                </td>

                @*<td class="report_content_right_menu">*@
                <td style=" vertical-align:top;padding-left:0px;width:70%;" >
                    <table style="width: 100%;">
                        <tr>
                            <td align="left" style="padding-left:10px;" class="report_topic"><div id="breadcrumb"></div></td>
                            <td class="report_topic"></td>
                            <td align="right" style="padding-right:10px;" class="report_topic">
                                @*<a href="javascript:Refresh();">Refresh</a>|*@@Html.ActionLink("Print Friendly", "PrintPage", new { year = @Model.selectedYear, buyerGroupName = @Model.selectedBuyerGrp })
                           @*@Ajax.ActionLink("Print Friendly2", "PrintPage", new { id = "" }, new AjaxOptions { HttpMethod = "POST" })*@
                             </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="left"><div id="filter_detail" class="report_filter_detail" style="display:inline-block; padding-top:14px;padding-bottom:0;padding-left:10px;"></div> </td>
                        </tr>
                        <tr>
                            <td>
                                @*<div style="padding-top:22px;"></div>*@
                                <table id="tbl_ChartNumPO" border="0" cellpadding="0" cellspacing="0" style="width: 460px; border:solid 1px #AAAAAA;">
                                    <tr>
                                        <td valign="top" align="center" style="padding:0;">
                                            @*3D Pie Chart NumPO*@
                                            <div id="ChartNumPO">
                                                @*@Html.Action("_NumPO", "Report", new { year = -1, buyerGroupName = "All" })*@
                                                @Html.Action("_NumPO", "Report", new { year = Years, buyerGroupName = buyerGrp })
                                                @*@{ Html.Action("_NumPOGet", "Report", new { year = Years, buyerGroupName = buyerGrp }); }*@
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div style="padding-left:20px;"></div>
                            </td>
                            <td>
                                @*<div style="padding-top:22px;"></div>*@
                                <table id="tbl_ChartPOVolume" border="0" cellpadding="0" cellspacing="0" style="width: 460px; border:solid 1px #AAAAAA;">
                                    <tr>
                                        <td valign="top" align="center" style="padding:0;">
                                            @*3D Pie Chart POVolume*@
                                            <div id="ChartPOVolume">
                                                @*@Html.Action("_POVolume", "Report", new { year = -1, buyerGroupName = "All" })*@
                                                @Html.Action("_POVolume", "Report", new { year = Years, buyerGroupName = buyerGrp })
                                                @*@{ Html.Action("_POVolumeGet", "Report", new { year = Years, buyerGroupName = buyerGrp }); }*@
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="padding-top:22px;"></div>
                                <table id="tbl_ChartPOStatus" border="0" cellpadding="0" cellspacing="0" style="width: 460px; border:solid 1px #AAAAAA;">
                                    <tr>
                                        <td valign="top" align="center" style="padding:0px;">
                                            @*3D Pie Chart POStatus*@
                                            <div id="ChartPOStatus">
                                                @*@Html.Action("_POStatus", "Report", new { year = -1, buyerGroupName = "All" })*@
                                                @Html.Action("_POStatus", "Report", new { year = Years, buyerGroupName = buyerGrp })
                                                @*@{ Html.Action("_POStatusGet", "Report", new { year = Years, buyerGroupName = buyerGrp }); }*@
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div style="padding-left:20px;"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div style="padding-left:20px;"></div>
                            </td>
                            <td valign="bottom" style="padding:6px 0 0 0;" align="right">
                                <div style="float:right;font-weight:bold;padding-top:1px;">@T("_MenuSub.SupplyTool.Report.ReportLastUpdate")&nbsp; <span id="LastUpdate"></span></div>
                                @*<div id="LastUpdate" style="float:right;font-weight:bold;padding:2px 2px 2px 4px;"></div>*@
                                <div class="data_end"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">

    //    $.blockUI({
    //        message: $('#loadingMsg'),
    //        overlayCSS: { backgroundColor: '#FFFFFF' },
    //        css: {
    //            border: 'none',
    //            background: 'none',
    //            padding: '0px'
    //        }
    //    });

    function setBreadcrumb() {
        var bc_template = '@Html.ActionLink("Supplier Report", "GoMainHome", "Report")&nbsp;&gt;&nbsp;<span class="ms_breadcrumb_hl">Dashboard</span>';
        $("#breadcrumb").html(bc_template);
    }
    function Refresh() {
        window.location.href = window.location.href;
    }
    //function printpage() {
    //    var home_action = $('ReportForm').attr('action');
    //    var print_action = home_action.replace('/Report/', '/PrintReport/');
    //   alert(print_action);
    //   $('ReportForm').attr('target', '_blank');
    //   $('ReportForm').attr('action', print_action);
    //   $('ReportForm').submit();
    //   $('ReportForm').attr('target', '_self');
    //   $('ReportForm').attr('action', home_action);
    //}


    //    function closeit() {
    //        alert("close");

    //        $.ajax({
    //            type: "POST",
    //            cache: false,
    //            url: 'DeleteUserSession',
    //            success: function (data) {
    //                alert("end close");
    //            },
    //            error: function (data) {
    //                alert("error");
    //            }
    //        });

    //    }

</script>
