﻿@{
    HttpCookie cookieYear = HttpContext.Current.Request.Cookies["_year"];
    HttpCookie cookieBuyerGrp = HttpContext.Current.Request.Cookies["_buyer"];
    
    DateTime dtYear = DateTime.Now;
    int SetYear = dtYear.Year;

    int Years = Convert.ToInt32(cookieYear.Value);
    if (Years == SetYear)
    {
        Years = -1;
    }

    var buyerGrp = cookieBuyerGrp.Value.ToString();
}

@model SupplierPortal.Models.DashboardModels
<script src="@Url.Content("~/FusionCharts/FusionCharts.js")" type="text/javascript"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>*@
<script>
    $(document).ready(function () {
       // setBreadcrumb();
        $("#filter_detail").html('@T("_MenuSub.SupplyTool.Report.ReportFilterDetail")&nbsp;:&nbsp;@(Model.filterCondition)');
        $("#LastUpdate").html('@(Model.RptLastUpdate)')
        //        $('#user_name').html('@(Model.UserName)');
        //        $('#supplier_name').html('@(Model.SuppShortName)');
        //$.unblockUI();
    });
</script>
@{
    ViewBag.Title = "Dashboard";
}
<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    <div class="col-md-4 padding-none">
        <div class="report_menu_header">
            @T("_MenuSub.SupplyTool.Report.ReportDashBoardName")
        </div>
        <div class="report_menu_header_edge"></div>
    </div>
    <div class="col-md-4 padding-none">
    </div>
    <div class="col-md-4 padding-none">
    </div>
</div>

<div class="row">
@using (Html.BeginForm("SummaryReportShow", "Report", FormMethod.Post))
{
    @Html.Hidden("OrgID")
    @Html.Hidden("RptID")
    //@Html.Hidden("UserID")
    
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tr>
            <td style=" vertical-align:top;width:30%;" class="report_content_left_menu">
                <table style="width: 100%;">
                    <tr>
                        <td class="report_topic" style="padding-left: 10px;">
                            <div>@T("_MenuSub.SupplyTool.Report.ReportFilter")</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="report_topic_2" style="padding-left: 20px;">@T("_MenuSub.SupplyTool.Report.ReportYear")</div>
                            @{
    foreach (var year in Model.filter_Years)
    {
        <div class="checkbox" style="padding-left:20px;padding-top:0px;margin-top:0px;margin-bottom:0px;">
            @Html.RadioButtonFor(x => x.selectedYear, year.yearID)
            @year.yearName
        </div>
    }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="report_topic_2" style="padding-left: 20px;">@T("_MenuSub.SupplyTool.Report.ReportBuyerGroup")</div>
                            @{
    foreach (var buyer in Model.filter_BuyerGrps)
    {
        <div class="checkbox" style="padding-left:20px;padding-top:0px;margin-top:0px;margin-bottom:0px;">
            @Html.RadioButtonFor(x => x.selectedBuyerGrp, buyer.buyerGrpName)
            @buyer.buyerGrpName
        </div>
    }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align:justify;padding-top:8px;padding-left:20px;">
                                <input type="submit" value="@T("_MenuSub.SupplyTool.Report.ReportButton")" class="btn btn-primary" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td style=" vertical-align:top;padding-right:10px;width:70%;">
                <table style="width: 100%;">
                    <tr>
                        <td align="left" style="padding-left:10px;" class="report_topic"><div id="breadcrumb"></div></td>
                        <td class="report_topic"></td>
                        <td align="right" style="padding-right:10px;" class="report_topic">
                            <a href="@Url.Action("setDefault", "Report")">
                                @T("_Report.Menu.Button.Refresh")
                            </a>|<a href="@Url.Action("PrintPage", "Report", new { }) "target = " _blank">
    @T("_Report.Menu.Button.PrintFriendly")
</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="left"><div id="filter_detail" class="report_filter_detail" style="display:inline-block; padding-top:14px;padding-bottom:0;padding-left:10px;"></div> </td>
                    </tr>
                    <tr>
                        <td>
                            <table id="tbl_ChartNumPO" border="0" cellpadding="0" cellspacing="0" style="width: 460px; border:solid 1px #AAAAAA;">
                                <tr>
                                    <td valign="top" align="center" style="padding:0;">
                                        @*3D Pie Chart NumPO*@
                                        <div id="ChartNumPO">                                      
                                            @Html.Action("_NumPOGet", "Report", new { year = @Model.selectedYear, buyerGroupName = @Model.selectedBuyerGrp })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div style="padding-left:20px;"></div>
                        </td>
                        <td>
                            <table id="tbl_ChartPOVolume" border="0" cellpadding="0" cellspacing="0" style="width: 460px; border:solid 1px #AAAAAA;">
                                <tr>
                                    <td valign="top" align="center" style="padding:0;">
                                        @*3D Pie Chart POVolume*@
                                        <div id="ChartPOVolume">
                                            @Html.Action("_POVolumeGet", "Report", new { year = @Model.selectedYear, buyerGroupName = @Model.selectedBuyerGrp })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="padding-top:22px;"></div>
                            <table id="tbl_ChartPOStatus" border="0" cellpadding="0" cellspacing="0" style="width: 460px; border:solid 1px #AAAAAA;">
                                <tr>
                                    <td valign="top" align="center" style="padding:0px;">
                                        @*3D Pie Chart POStatus*@
                                        <div id="ChartPOStatus">
                                            @Html.Action("_POStatusGet", "Report", new { year = @Model.selectedYear, buyerGroupName = @Model.selectedBuyerGrp })
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div style="padding-left:20px;"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div style="padding-left:20px;"></div>
                        </td>
                        <td valign="bottom" style="padding:6px 0 0 0;" align="right">
                            <div style="float:right;font-weight:bold;padding-top:1px;">@T("_MenuSub.SupplyTool.Report.ReportLastUpdate")&nbsp; <span id="LastUpdate"></span></div>
                            <div class="data_end"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <div style="padding-left:20px;">&nbsp;</div>
                        </td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
}
</div>
