﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.OrgAttachmentListModels

@{
    int i = 0;

    int supplierID = Convert.ToInt32(ViewData["SupplierID"]);

    int companyTypeID = Model.CompanyTypeID;

    int documentTypeID = 0;
}
@foreach (var nameList in Model.DocumentName)
{
    documentTypeID = nameList.DocumentTypeID;

    foreach (var item in Model.TrackingAttachment.Where(m => m.OrgAttachment.DocumentNameID == nameList.DocumentNameID  && m.isShow))
    {
        i++;


        string actionIcon = "";

        //string spanText = "";
        string downloadText = "";

        string pathSave = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_SupplierDocumentPath");
        string pathForSaving = pathSave + item.OrgAttachment.SupplierID;

        string virtualFilePath = pathForSaving + "/" + item.OrgAttachment.AttachmentNameUnique;

        //string linkDelete2 = "<input type=\"image\" src=\"/Content/images/icon/ico-sp_deluser2.gif\" alt=\"Delete\" onclick=\"return deleteData('" + item.OrgAttachment.AttachmentID + "','" + item.OrgAttachment.AttachmentNameUnique + "','" + nameList.DocumentNameID + "','" + nameList.DocumentTypeID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete file\" class = \"iconDeleteDoc\">";

        string linkDelete2 = "<img src=\"/Content/images/icon/ico-sp_deluser2.gif\" alt=\"Delete\" onclick=\"return deleteData('" + item.OrgAttachment.AttachmentID + "','" + item.OrgAttachment.AttachmentNameUnique + "','" + nameList.DocumentNameID + "','" + nameList.DocumentTypeID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete file\" class = \"iconDeleteDoc\">";

        string inputFileName = "hidFile_" + item.OrgAttachment.DocumentNameID + "[]";

        string inputGuidName = "hidGuid_" + item.OrgAttachment.DocumentNameID + "[]";

        string inputOtherDocument = "hidOtherDocument_" + item.OrgAttachment.DocumentNameID + "[]";

        string fileSize = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetFileSize(Convert.ToInt32(item.OrgAttachment.SizeAttach));

        string docName = "";

        if (item.OrgAttachment.DocumentNameID == -1)
        {
            docName = item.OrgAttachment.OtherDocument;
        }
        else
        {
            docName = nameList.DocumentName;
        }

        if (item.isTracking)
        {
            //actionIcon = "<input type=\"image\" src=\"/Content/images/clock.png\" alt=\"Is tracking\" onclick = \"return viewDataTracking('" + item.TrackingOrgAttachment.TrackingItemID + "','" + item.TrackingGrpID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"View Data tracking\" class = \"iconDeleteDoc\" >";
            //actionIcon = "<input type=\"image\" src=\"/Content/images/clock.png\" alt=\"Is tracking\" onclick = \"return viewDataTracking('" + item.TrackingOrgAttachment.TrackingItemID + "','" + item.TrackingGrpID + "');\" data-toggle=\"popover\" data-reqid='" + item.TrackingReqID + "'  class = \"toggleTracking\" >";
            actionIcon = "<a href=\"#\" data-toggle=\"popover\" id='" + item.TrackingItemID + "' data-reqid='" + item.TrackingReqID + "' class = \"toggleTracking\"><span class=\"alert-trackingflide fa fa-flag fa-lg\"  onclick = \"return viewDataTracking('" + item.TrackingOrgAttachment.TrackingItemID + "','" + item.TrackingGrpID + "');\"  style=\"display:inline-block\" ></a>";

        }else
        {
            actionIcon = linkDelete2;
        }

        if (item.isShow)
        {
            //spanText = "";
            if (item.isTracking)
            {
                if (item.TrackingOrgAttachment.OldAttachmentID == item.TrackingOrgAttachment.NewAttachmentID )
                {
                    downloadText = "file-attachment-download";
                }else
                {
                    if (item.TrackingOrgAttachment.OldAttachmentID != 0 && item.TrackingOrgAttachment.NewAttachmentID == 0)
                    {
                        downloadText = "file-attachment-download-delete";
                    }
                    else
                    {
                        downloadText = "file-attachment-download-new";
                    }
                }
                
                
            }else
            {
                downloadText = "file-attachment-download";
            }
            
        }else
        {
            
            //spanText = "file-attachment-tracking-delete";
            downloadText = "file-attachment-download-delete";
        }
        <tr class="main_table_row docName_@item.OrgAttachment.DocumentNameID" id="item_@item.OrgAttachment.AttachmentID">
            <td align="left">
                <div class="@downloadText">
                    @Html.ActionLink(item.OrgAttachment.AttachmentName, "Download", new { filePath = virtualFilePath, fileName = item.OrgAttachment.AttachmentName })
                </div>
                <input type="hidden" name="@inputFileName" value="@item.OrgAttachment.AttachmentName" />
                <input type="hidden" name="@inputGuidName" value="@item.OrgAttachment.AttachmentNameUnique" />
                <input type="hidden" name="@inputOtherDocument" value="@item.OrgAttachment.OtherDocument" />
            </td>
            <td align="right"><span>@fileSize</span></td>
            <td align="left"><span>@docName</span></td>
            <td align="center">@Html.Raw(actionIcon)</td>
        </tr>
    }
}
@if (i == 0)
{
    <tr class="main_table_row" id="lastData_@documentTypeID">
        <td align="center" colspan="4">@T("_ComPro.Attachment.TblUploadedFile.LblNoData")</td>
    </tr>
}
