﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyDocumentModel
@{
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";

    string attachmentSize = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_AttachmentSize");
    int maxFileSize = Convert.ToInt32(attachmentSize);

    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

    string viewbagAlertMassage = ViewBag.AlertMessage;
}
<script type="text/javascript">
    
</script>
<style>
    .fa-flag {
        display: none;
        color: #EDB61D;
    }
</style>
<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<form action="" method="post" id="form-tracking-attachment">
    <input type="hidden" id="trackingItemIDField" name="trackingItemIDField" />
    <input type="hidden" id="trackingGrpID" name="trackingGrpID" />
    <input type="hidden" id="trackingPage" name="trackingPage" />
    <input type="hidden" id="trackingController" name="trackingController" />
</form>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>

    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
                @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
            </div>*@

        <div class="col-sm-12 col-md-12 r-sec">

            @using (Html.BeginForm("DocumentSave", "GeneralInformation", FormMethod.Post, new { @id = "mainOrgDocumentForm" }))
            {
                @Html.Hidden("maxFileSize", @maxFileSize, new { @id = "maxFileSize" })
                @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })
                @Html.HiddenFor(m => m.CompanyTypeID, new { @id = "CompanyTypeID" })
                @Html.HiddenFor(m => m.CountryCode, new { @id = "CountryCode" })
                @Html.HiddenFor(m => m.CheckModify, new { @id = "CheckModify" })


                <div class="data_end"></div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                                <div class="pull-right">
                                    <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveDoc" />
                                </div>
                            </div>
                        </div>

                        <div class="data_end" style="padding-top:20px;"></div>

                        <div class="alert-custom" role="alert">
                            <span class="fa-stack">
                                <i style="color:#98C93D" class="fa fa-info-circle fa-stack-2x"></i>
                            </span>
                            <span><b>@T("_ComPro.CompanyAffidavit.InstrTxt.Title")</b></span>
                            <div style="padding-left:25px;"><span>@T("_ComPro.CompanyAffidavit.InstrTxt.Txt")</span></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div style="display:none;" id="errorDoccument">
                                    <span class="text-danger-bold">@T("_Profile.ValidateMsg.RequireDoccument")</span>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="attachmentDisplay" style="display:none;">
                            <div class="testClass"></div>
                            <div class="col-md-12">
                                @Html.Action("AttachmentPartial", new { CompanyTypeID = Model.CompanyTypeID ?? 1, CountryCode = Model.CountryCode, SupplierID = Model.SupplierID })
                            </div>
                        </div>

                        <div class="row" style="padding-top:10px">
                            <div class="col-sm-12 col-md-12">
                                @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                                <div class="pull-right">
                                    <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveDoc1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>


</div>

<div id="myModalError" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @Html.Raw(viewbagAlertMassage)
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal" id="BtnOk">@T("_Global.BtnOk")</button></div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        function alertData() {


            $('#myModalError').modal({ backdrop: 'static', keyboard: false })
            .one('click', '#BtnOk', function () {
                disablePage();
                window.location.href = "/GeneralInformation/Document";
                //$.unblockUI();

            });
        }

        $(function () {
            $(".toggleTracking").each(function (index) {
                //console.log(this);
                var idtracking = $(this).attr('id');
                var trackingReqID = $(this).attr('data-reqid');
                //var tag_tracking =  $("[data-reqid='"+trackingReqID+"']");
                //var tag_tracking =  $('[data-reqid]#' + idtracking);
                //console.log(tag_tracking);
                var lg = "";
                if (@LanguageID == 1) {
                    lg = "Waiting for Approve ( Request No."+trackingReqID+" )";
                }
                else if (@LanguageID == 2) {
                    lg = "อยู่ระหว่างการรออนุมัติ ( คำร้องเลขที่ "+trackingReqID+" )";
                }
                $(this).popover({
                    html: true,
                    placement: "top",
                    trigger: "hover",
                    container: "body",
                    content: lg,
                    delay: { show: 150, hide: 150 }
                });
            });


        });

        $(function () {
            $("#accordion").accordion({
                collapsible: true,
                heightStyle: "content",
                active: 99
            });
        });

        function deleteData(attachmentID, attachmentNameUnique, documentNameID, docType) {

            var elementID = "item_" + attachmentID;

            $("#" + elementID).remove();
            $("#CheckModify").val("1");
            var htmlText = "";

            htmlText += "<input type=\"hidden\" name=\"hidRemoveGuid[]\" value=\"" + attachmentNameUnique + "\" />";

            $(htmlText).appendTo("#remove_item");

            var idTr = docType;

            var rowCount = $("#myTable_" + idTr + " >tbody >tr").length;
            $("#DocumentType_"+idTr).text(rowCount);
            if (rowCount == 0) {
                var scntDiv = $('#p_scents_' + idTr);
                var htmlText = "<tr class=\"main_table_row\" id=\"lastData_" + idTr + "\"><td align=\"center\" colspan=\"4\"> NoData </td></tr>";
                scntDiv.append(htmlText);
                //console.log("MM");
                //$("#myTable_" + idTr + " > tbody:last").append("<tr class=\"main_table_row\" id=\"lastData_" + idTr + "><td align=\"center\" colspan=\"4\"\">NoData</td></tr>");
            }

        }

        function viewDataTracking(trackingItemID, trackingGrpID)
        {
            //console.log("viewDataTracking");
            var formAttachment = $("form#form-tracking-attachment");
            var urlAction = '/CompanyProfile/ViewTrackingFieldCompanyProfile';

            formAttachment.attr("action", urlAction);
            $("#trackingItemIDField").val(trackingItemID);
            $("#trackingGrpID").val(trackingGrpID);
            $("#trackingPage").val("Document");
            $("#trackingController").val("GeneralInformation");
            formAttachment.submit();

            disablePage();
            return false;
        }
        function SetDisableDocument()
        {
            $("#btnSaveDoc").attr('disabled', true);
            $("#btnSaveDoc1").attr('disabled', true);
            $(".hl-start-upload").attr('disabled', true);
            $(".fu-my-simple-upload").attr('disabled', true);
            $(".iconDeleteDoc").attr('disabled', true);
        }

        function SetDisplayDocument() {
            $("#attachmentDisplay").css("display", "block");
        }

        var jqXHRData;
        var dataAdd;
        $(document).ready(function () {

            //----------------Initialization of fileupload--------------
            'use strict';
            $('.fu-my-simple-upload').fileupload({
                url: '/GeneralInformation/UploadFileAttachment',
                dataType: 'json',
                //data: JSON.stringify({ attachmentName: "1234" }),
                add: function (e, data) {

                    console.log("add");
                    //console.log(this);
                    //console.log($(this).attr("docTypeID"));

                    jqXHRData = data


                },
                done: function (event, data) {
                    $.unblockUI();
                    //console.log("done");
                    //console.log(data);
                    //console.log(data.result.htmlText);

                    if (data.result.isUploaded) {

                        var documentTypeID = data.result.documentTypeID;

                        var scntDiv = $('#p_scents_' + data.result.documentTypeID);
                        //var i = $('#p_scents tr').size() + 1;
                        $("#tbx-file-path_" + documentTypeID).val("");//If upload completed.
                        $("#tbx-doc-name_" + documentTypeID).val("");//If upload completed.

                        $('#lastData_' + data.result.documentTypeID).remove();

                        scntDiv.append(data.result.htmlText);

                        var rowCount = $("#p_scents_" + documentTypeID).find('tr').length;
                        $("#DocumentType_"+documentTypeID).text(rowCount);
                    }


                },
                fail: function (event, data) {
                    console.log("fail");
                    console.log(data);

                }
            });
            //---------------------End Upload--------------------------

            $(".fu-my-simple-upload").on('change', function () {

                var filesSize = this.files[0].size;
                var maxfilesSize =  $("#maxFileSize").val();
                var id = this.name.replace("FileAttachment_", "");

                if(filesSize > maxfilesSize)
                {
                    $("#requiredfileupload_" + id).text("@T("_ComPro.ValidateMsg.LimitAttachFileSize")");
                    $("#tbx-file-path_" + id).val("");
                }else
                {
                    $("#requiredfileupload_" + id).text("");
                    $("#tbx-file-path_" + id).val(this.files[0].name);
                }



            });

            //----------------Initialization of fileupload--------------
            $(".hl-start-upload").on('click', function () {
                //console.log("start-upload");
                //console.log(this);

                var id = $(this).attr("docTypeID");
                //if (id == -1) {
                //    var nameId = -1;
                //} else {
                //    var nameId = $("#DocumentNameID_" + id + "_VI").val()
                //}
                var nameId = $("#DocumentNameID_" + id).val();
                var dupDocumentName = $("#myTable_" + id + " >tbody >tr").hasClass("docName_"+nameId);
                //console.log(dupDocumentName);

                //console.log(nameId);
                if ($("#tbx-file-path_" + id).val() != "") {
                    $("#requiredfileupload_" + id).text("");
                    $("#hidDocumentTypeID").val(id);
                    $("#hidDocumentNameID").val(nameId);
                    if (nameId == -1 && $("#tbx-doc-name_" + id).val() == "") {
                        $("#requiredDocName_" + id).text("@T("_ComPro.ValidateMsg.RequireDocumentName")");

                    } else {

                        if (dupDocumentName && nameId != -1) {
                            //$("#tbx-file-path_" + id).val("");
                            $("#requiredfileupload_" + id).text("@T("_ComPro.ValidateMsg.DuplicateDocumentName")");

                            return false;
                        }

                        $("#requiredDocName_" + id).text("");

                        if (jqXHRData) {
                            disablePage();
                            jqXHRData.submit();
                        }
                    }
                }
                else {
                    $("#requiredfileupload_" + id).text("@T("_ComPro.ValidateMsg.RequireFilePath")");
                }

                return false;
            });


            $(document).on('click', '#deleteAttachment', function () {
                //console.log(this);
                $(this).closest('tr').remove();

                var idTr = $(this).attr('docType');

                var rowCount = $("#myTable_" + idTr + " >tbody >tr").length;
                $("#DocumentType_"+idTr).text(rowCount);
                if (rowCount == 0) {
                    var scntDiv = $('#p_scents_' + idTr);
                    var htmlText = "<tr class=\"main_table_row\" id=\"lastData_" + idTr + "\"><td align=\"center\" colspan=\"4\"> NoData </td></tr>";
                    scntDiv.append(htmlText);
                    //console.log("MM");
                    //$("#myTable_" + idTr + " > tbody:last").append("<tr class=\"main_table_row\" id=\"lastData_" + idTr + "><td align=\"center\" colspan=\"4\"\">NoData</td></tr>");
                }
                console.log(rowCount);

                return false;
            });

            $("#btnSaveDoc").click(function (evt) {

                dataAdd = [];

                var $formDoc = $("#mainOrgDocumentForm");

                var chk = true;

                var $textboxes = $('input[name="hidDocumentNameIDRequire[]"]');
                //console.log($textboxes);

                $textboxes.each(function (i) {


                    var docId = $textboxes.eq(i).val();
                    //console.log(docId);

                    var $hidtextboxes = $('input[name="hidFile_' + docId + '[]"]');
                    //console.log($hidtextboxes.length);
                    if ($hidtextboxes.length <= 0)
                    {
                        $("#errorDoccument").css("display", "block");
                        chk = false;
                        evt.preventDefault();
                    }
                });

                var newAttachment = $('.newAttachment').length;
                //console.log(newAttachment);
                //เชคว่ามีไฟล์ที่เพิ่มเข้ามาใหม่หรือไม่
                if (newAttachment>0)
                {
                    $("#CheckModify").val("1");
                }

                if (chk)
                {
                    disablePage();
                    $formDoc.submit();
                }

            });

            $("#btnSaveDoc1").click(function (evt) {

                dataAdd = [];

                var $formDoc = $("#mainOrgDocumentForm");

                var chk = true;

                var $textboxes = $('input[name="hidDocumentNameIDRequire[]"]');
                //console.log($textboxes);

                $textboxes.each(function (i) {


                    var docId = $textboxes.eq(i).val();
                    //console.log(docId);

                    var $hidtextboxes = $('input[name="hidFile_' + docId + '[]"]');
                    //console.log($hidtextboxes.length);
                    if ($hidtextboxes.length <= 0)
                    {
                        $("#errorDoccument").css("display", "block");
                        chk = false;
                        evt.preventDefault();
                    }
                });

                var newAttachment = $('.newAttachment').length;
                //console.log(newAttachment);
                //เชคว่ามีไฟล์ที่เพิ่มเข้ามาใหม่หรือไม่
                if (newAttachment>0)
                {
                    $("#CheckModify").val("1");
                }

                if (chk)
                {
                    disablePage();
                    $formDoc.submit();
                }

            });
            //SetDisableDocument();

            SetDisplayDocument();


            function RequestContact() {

                $('#AddContactRequest').modal({ backdrop: 'static', keyboard: false })

            }

        });




    </script>
    @if (!string.IsNullOrEmpty(viewbagAlertMassage))
    {
        <script>
            alertData();
        </script>
    }
}


