﻿<div style="font-family: Tahoma, Arial,sans-serif; font-size: 14px">
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;'><strong><u><span>นโยบายการคุ้มครองข้อมูลส่วนบุคคล</span></u></strong></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>บริษัท พันธวณิช จำกัด<strong>&nbsp;</strong>(&ldquo;<strong>บริษัท</strong>&rdquo;)<strong>&nbsp;</strong>ตระหนักถึงความสําคัญในความเป็นส่วนตัวและการคุ้มครองข้อมูลส่วนบุคคลของลูกค้า ผู้ใช้บริการ ผู้เยี่ยมชมเว็บไซต์ แอปพลิเคชัน หรือระบบของบริษัท&nbsp;(รวมเรียกว่า&nbsp;&ldquo;<strong>ท่าน</strong>&rdquo;)&nbsp; บริษัทจึงได้จัดให้มีนโยบายการคุ้มครองข้อมูลส่วนบุคคล เพื่อแจ้งให้ท่านทราบเกี่ยวกับแนวทางปฏิบัติของบริษัทในการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคล รวมถึงสิทธิต่าง ๆ ที่ท่านจะได้รับความคุ้มครองในส่วนของข้อมูลส่วนบุคคลตามกฎหมายที่เกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลได้กำหนดไว้ เพื่อให้ท่านสามารถใช้เว็บไซต์ แอปพลิเคชัน หรือระบบที่ดำเนินการโดยบริษัทและบริการใด ๆ ทั้งหมดของบริษัท&nbsp;(รวมเรียกว่า&nbsp;&ldquo;<strong>บริการ</strong>&rdquo;)&nbsp;ได้อย่างมั่นใจ</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>ข้อมูลส่วนบุคคล</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>ข้อมูลส่วนบุคคล หมายถึง ข้อมูลเกี่ยวกับบุคคลซึ่งสามารถระบุตัวบุคคลนั้นได้ ไม่ว่าทางตรงหรือทางอ้อม แต่ไม่รวมถึงข้อมูลของผู้ถึงแก่กรรมโดยเฉพาะ เช่น ชื่อ-นามสกุล เลขบัตรประชาชน ที่อยู่ หมายเลขโทรศัพท์ ข้อมูลทางการเงิน เป็นต้น</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>ข้อมูลส่วนบุคคลอาจประกอบด้วยข้อมูลที่มีความละเอียดอ่อนและเสี่ยงต่อการถูกใช้ในการเลือกปฏิบัติอย่างไม่เป็นธรรม&nbsp;(Sensitive Personal Data)&nbsp;ซึ่งข้อมูลส่วนบุคคลดังกล่าว รวมถึงแต่ไม่จำกัดอยู่เพียง ข้อมูลทางชีวภาพ ข้อมูลเกี่ยวกับศาสนา&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>ทั้งนี้ ข้อมูลส่วนบุคคล รวมถึงข้อมูลใด ๆ ของท่านที่ได้ให้ไว้แก่บริษัท และ/หรือที่อยู่ในความครอบครองของบริษัท และ/หรือที่บริษัทเก็บรวบรวมจากแหล่งอื่นหรือบุคคลอื่นใดโดยถูกต้องตามกฎหมาย</span></span></p>
    <p style='margin:0in;margin-bottom:6.0pt;text-align:justify;'><span><span>ในกรณีที่บริษัทมีความจำเป็นที่จะต้องเก็บรวบรวม ใช้ หรือ เปิดเผยข้อมูลส่วนบุคคลของท่าน แตกต่างไปจากที่ระบุในนโยบายการคุ้มครองข้อมูลส่วนบุคคลนี้ บริษัทจะแจ้งให้ท่านทราบถึงลักษณะที่แตกต่างออกไปขณะหรือก่อนที่มีการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>การที่ท่านเข้าใช้บริการ ให้ถือว่าท่านได้อ่านและเข้าใจในนโยบายการคุ้มครองข้อมูลส่วนบุคคลนี้แล้ว</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;line-height:115%;'><span><span><span style="line-height: 115%;">&nbsp;</span></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>ประเภทของข้อมูลส่วนบุคคลที่บริษัทเก็บรวบรวม ใช้ หรือเปิดเผย</u></strong></span></span></p>
    <ul style="list-style-type: disc;margin-left:0in;">
        <li><span><span>ข้อมูลตามบัตรประชาชน หนังสือเดินทาง และ/หรือหลักฐานอื่นที่ออกโดยราชการ เช่น เลขประจำตัวประชาชน ชื่อ นามสกุล คำนำหน้าชื่อ&nbsp;</span></span></li>
    </ul>
    <ul style="list-style-type: disc;">
        <li><span><span>ข้อมูลที่จำเป็นในการติดต่อท่าน เช่น ที่อยู่ที่สามารถติดต่อได้ หมายเลขโทรศัพท์เคลื่อนที่ อีเมล</span></span></li>
    </ul>
    <ul style="list-style-type: disc;margin-left:0in;">
        <li><span><span>ลักษณะเฉพาะของบุคคล เช่น สถานภาพ ข้อมูลชีวภาพ&nbsp;(Biometrics) ข้อมูลบันทึกเสียงสนทนาทางโทรศัพท์</span></span></li>
        <li><span><span>ข้อมูลเกี่ยวกับการทำงาน เช่น ตำแหน่งงาน</span></span></li>
        <li><span><span>ข้อมูลเกี่ยวกับสถานะทางการเงิน เช่น บันทึกรายการธุรกรรมซื้อขายผ่านระบบของบริษัท ข้อมูลบัญชีเงินฝาก</span></span></li>
    </ul>
    <ul style="list-style-type: disc;">
        <li><span><span>ข้อมูลเกี่ยวกับอุปกรณ์และพฤติกรรมการใช้บริการของท่าน รวมถึงแต่ไม่จำกัดเพียง หมายเลขประจำเครื่อง (Unique Device Identifier)&nbsp;และหมายเลขที่ใช้สำหรับระบุตัวตนของอุปกรณ์ที่เชื่อมต่ออยู่บนเครือข่าย &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; (IP address)&nbsp;ข้อมูลเกี่ยวกับระบบปฏิบัติการอุปกรณ์เคลื่อนที่&nbsp;ผู้ให้บริการเครือข่ายโทรศัพท์เคลื่อนที่ ตำแหน่งที่อยู่ คุกกี้(cookie)</span></span></li>
        <li><span><span>ข้อมูลบัญชีการเข้าใช้งาน และข้อมูลที่ถูกบันทึกจากการเข้าใช้บริการ เช่น ชื่อผู้ใช้งานในการเข้าสู่ระบบ (Login ID) รหัสผ่าน (Password) คำถามและคำตอบเพื่อความปลอดภัย ภาพประจำตัวผู้ใช้งาน (Profile Picture) บันทึกข้อมูลการใช้งาน (Log File)</span></span></li>
    </ul>
    <p style='margin:0in;margin-bottom:.0001pt;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;text-align:justify;'><span><span>ทั้งนี้ เพื่อความจำเป็นในการให้บริการเพิ่มเติมนอกเหนือจากบริการพื้นฐานของบริษัท หรือกรณีเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลที่ความละเอียดอ่อน (Sensitive Personal Data)&nbsp;นอกเหนือจากที่ระบุข้างต้น บริษัทจะดำเนินการภายใต้ฐานต่าง ๆ ตามกฎหมายกำหนดเท่านั้น โดยบริษัทจะแจ้งวัตถุประสงค์ และประเภทของข้อมูลส่วนบุคคลที่ต้องการเก็บรวบรวม ใช้ หรือเปิดเผย ก่อนหรือขณะที่จะมีการดำเนินการดังกล่าว</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>ฐานในการเก็บ</u></strong><strong><u>รวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน และวัตถุประสงค์ในการดำเนินการ&nbsp;</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>บริษัทจะดำเนินการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน ภายใต้ฐานตามกฎหมายและดำเนินการตามวัตถุประสงค์ดังต่อไปนี้</span></span></p>
    <ul style="list-style-type: disc;">
        <li><span><span>ฐานความจำเป็นต่อการปฏิบัติตามสัญญาซึ่งท่านเป็นคู่สัญญา หรือเพื่อใช้ในการดำเนินการตามคำขอของท่านก่อนเข้าทำสัญญา รวมถึงแต่ไม่จำกัดเพียง</span></span></li>
    </ul>
    <ol style="list-style-type: circle;margin-left:0.5in;">
        <li><span><span>การพิจารณาคำขอลงทะเบียนเข้าใช้บริการ&nbsp;</span></span></li>
        <li><span><span>การอื่นใดที่จำเป็นในการให้บริการที่ดีที่สุดจากบริษัท&nbsp;</span></span></li>
        <li><span><span>การให้บริการช่วยเหลือ ติดต่อสอบถามข้อมูล ตอบรับคำร้องขอ รับข้อมูลข่าวสาร หรือเพื่อการติดต่อสอบถามเกี่ยวกับบริการ</span></span></li>
        <li><span><span>การพัฒนา ปรับปรุงคุณภาพการให้บริการ เพิ่มประสิทธิภาพในการให้บริการ และการอำนวยความสะดวกให้แก่ท่านในการเข้ารับบริการ</span></span></li>
        <li><span><span>การประมวลผลข้อมูลเพื่อให้บริการ&nbsp;</span></span></li>
        <li><span><span>การดำเนินการอื่นใดที่เกี่ยวข้องกับการให้บริการและอาจเป็นประโยชน์ต่อท่าน</span></span></li>
    </ol>
    <ul style="list-style-type: disc;">
        <li><span><span>ฐานการปฏิบัติหน้าที่ตามกฎหมาย รวมถึงแต่ไม่จำกัดเพียง</span></span></li>
    </ul>
    <ol style="list-style-type: circle;margin-left:0.5in;">
        <li><span><span>การปฏิบัติตามกฎหมายที่เกี่ยวข้องกับบริษัท ซึ่งบริษัทมีหน้าที่ต้องปฏิบัติตาม เพื่อให้เป็นไปตามกฎหมาย ระเบียบ กฎ หลักปฏิบัติ หรือแนวทางปฏิบัติใด ๆ ที่ออกโดยหน่วยงานตามกฎหมายหรือที่มีอำนาจกำกับดูแล โดยบริษัทอาจนำส่งข้อมูลส่วนบุคคลของท่านให้แก่ผู้ตรวจสอบภายใน/ภายนอก หน่วยงานราชการ หรือบุคคลนิติบุคคลอื่น ๆ ที่เกี่ยวข้อง</span></span></li>
    </ol>
    <ul style="list-style-type: disc;">
        <li><span><span>ฐานความยินยอม รวมถึงแต่ไม่จำกัดเพียง</span></span></li>
    </ul>
    <ol style="list-style-type: circle;margin-left:0.5in;">
        <li><span><span>วัตถุประสงค์ทางการตลาด เช่น การเสนอสิทธิประโยชน์ และ/หรือเสนอขายสินค้าหรือบริการใด ๆ ที่อาจตรงกับความสนใจของท่าน,&nbsp;รายการส่งเสริมการขาย,&nbsp;การประชาสัมพันธ์,&nbsp;การสำรวจความคิดเห็นเกี่ยวกับบริการ ตลอดจนการสถิติ,&nbsp;วิเคราะห์,&nbsp;ศึกษาวิจัย,&nbsp;ประเมินผลข้อมูล หรือเพื่อจัดการความต้องการทางธุรกิจของบริษัท,&nbsp;คู่ค้าของบริษัทหรือบริษัทในเครือ ผ่านช่องทางการติดต่อที่ท่านได้แจ้งไว้ เช่น อีเมล เป็นต้น</span></span></li>
        <li><span><span>วัตถุประสงค์อื่น ๆ อันชอบด้วยกฎหมายซึ่งบริษัทจะดำเนินการขอความยินยอมจากท่านเป็นคราว ๆ ไป เช่น เพื่ออำนวยความสะดวกให้แก่ท่านในการขอใช้บริการของผู้ให้บริการอื่นใดผ่านทางเว็บไซต์ แอปพลิเคชัน หรือระบบของบริษัท&nbsp;</span></span></li>
    </ol>
    <ul style="list-style-type: disc;">
        <li><span><span>ฐานประโยชน์โดยชอบด้วยกฎหมายของบริษัทหรือของบุคคลอื่น เว้นแต่ประโยชน์ดังกล่าวมีความสำคัญน้อยกว่าสิทธิขั้นพื้นฐานในข้อมูลส่วนบุคคลของท่าน รวมถึงแต่ไม่จำกัดเพียง</span></span></li>
    </ul>
    <ol style="list-style-type: circle;margin-left:0.5in;">
        <li><span><span>การป้องกันอาชญากรรมและการฉ้อโกง&nbsp;&nbsp;</span></span></li>
        <li><span><span>การรักษาความปลอดภัยของระบบและเครือข่ายเพื่อให้เป็นไปตามมาตรฐานสากล</span></span></li>
    </ol>
    <!-- <p style='margin:0in;margin-bottom:.0001pt;margin-left:.5in;text-align:justify;text-indent:-.5in;'><span><span>●&nbsp; &nbsp; &nbsp; &nbsp;ฐานประโยชน์สาธารณะที่สำคัญ โดยบริษัทได้จัดให้มีมาตรการที่เหมาะสมเพื่อคุ้มครองสิทธิขั้นพื้นฐานและประโยชน์ของท่าน รวมถึงแต่ไม่จำกัดเพียง</span></span></p> -->
    <ul style="list-style-type: disc;">
        <li><span><span>ฐานประโยชน์สาธารณะที่สำคัญ โดยบริษัทได้จัดให้มีมาตรการที่เหมาะสมเพื่อคุ้มครองสิทธิขั้นพื้นฐานและประโยชน์ของท่าน รวมถึงแต่ไม่จำกัดเพียง</span></span></li>
    </ul>
    <ol style="list-style-type: circle;margin-left:0.5in;">
        <li><span><span>การพิสูจน์/ยืนยันตัวตนเพื่อป้องกันอาชญากรรมและการฉ้อโกง</span></span></li>
        <li><span><span>การต้องสงสัยเกี่ยวกับการสนับสนุนทางการเงินสำหรับการก่อการร้ายหรือการฟอกเงิน</span></span></li>
    </ol>
    <p style='margin:0in;margin-bottom:.0001pt;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;text-align:justify;'><span><span>นอกเหนือจากฐานตามกฎหมายและวัตถุประสงค์ข้างต้น บริษัทอาจดำเนินการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่านภายใต้ฐานอื่น ๆ ตามกฎหมาย เช่น เพื่อป้องกันหรือระงับอันตรายต่อชีวิต &nbsp;ร่างกายหรือสุขภาพของท่าน เป็นต้น โดยหากมีการดำเนินการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลภายใต้วัตถุประสงค์อื่น ๆ ตามฐานดังกล่าว บริษัทจะแจ้งให้ท่านทราบในภายหลัง</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:6.0pt;text-align:justify;'><span><span><strong><u>การเปิดเผยข้อมูลส่วนบุคคลของท่านให้แก่บุคคลภายนอก และการเก็บรวบรวมข้อมูลส่วนบุคคลจากแหล่งอื่น</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>เพื่อการดำเนินการตามวัตถุประสงค์และภายใต้ฐานตามกฎหมายของบริษัทข้างต้น บริษัทอาจเก็บรวบรวมจาก และ/หรือ ใช้,&nbsp;ส่ง, โอน, ประมวลผล และ/หรือเปิดเผยข้อมูลส่วนบุคคลให้แก่บุคคลดังต่อไปนี้</span></span></p>
    <ul style="list-style-type: disc;">
        <li><span><span>นิติบุคคลที่มีอำนาจควบคุมบริษัท หรืออยู่ภายใต้การควบคุมของบริษัท&nbsp;รวมถึงบริษัทที่อยู่ภายใต้การควบคุมเดียวกันกับบริษัท ตลอดจนนิติบุคคล หรือบุคคลอื่นใดที่บริษัทเป็นคู่สัญญาหรือมีนิติสัมพันธ์กับบริษัท รวมถึงผู้ให้บริการอื่น ๆ ที่มีอำนาจดำเนินการใด ๆ กับข้อมูลส่วนบุคคลของท่าน&nbsp;ทั้งภายในและภายนอกประเทศ เช่น ผู้ให้บริการภายนอก ผู้ให้บริการ&nbsp;Cloud หรือคู่ค้าอื่นใดของบริษัท ทั้งนี้&nbsp;บริษัทจะดำเนินการให้แน่ใจว่าผู้ให้บริการเหล่านั้นจะดำเนินการกับข้อมูลส่วนบุคคลของท่านตามนโยบายคุ้มครองข้อมูลส่วนบุคคลและกฎหมายที่เกี่ยวข้อง&nbsp;</span></span></li>
    </ul>
    <ul style="list-style-type: disc;margin-left:0in;">
        <li><span><span>ผู้สอบบัญชี ผู้ตรวจสอบภายนอกของบริษัท หน่วยงานราชการ ผู้รับโอนสิทธิเรียกร้อง และบุคคลหรือนิติบุคคลอื่นใด ที่บริษัทจำเป็นต้องส่งข้อมูลส่วนบุคคลให้เพื่อความจำเป็นในการปฏิบัติตามกฎหมาย</span></span></li>
    </ul>
    <ul style="list-style-type: disc;">
        <li><span><span>ผู้รับโอนธุรกิจ/กิจการ ในกรณีที่บริษัทมีการควบรวม โอน ขาย ทรัพย์สิน และ/หรือกิจการทั้งหมด หรือแต่บางส่วน</span></span></li>
    </ul>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>ระยะเวลาการเก็บรักษาข้อมูลส่วนบุคคลของท่าน</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>บริษัทมีความจำเป็นที่จะต้องเก็บรวบรวมข้อมูลส่วนบุคคลของท่านไว้ เป็นระยะเวลาเท่าที่จำเป็นในระหว่างที่ท่านยังใช้บริการหรือมีความสัมพันธ์อยู่กับบริษัท หรือตลอดระยะเวลาเท่าที่จำเป็นเพื่อให้บรรลุวัตถุประสงค์ที่เกี่ยวข้องกับการให้บริการของบริษัท โดยอาจเก็บรวบรวมไว้ต่อไปภายหลังจากนั้นหากมีกฎหมายกำหนดไว้ หรือเพื่อวัตถุประสงค์ในการพิสูจน์ตรวจสอบกรณีอาจเกิดข้อพิพาทภายในอายุความตามที่กฎหมายกำหนดเป็นระยะเวลาไม่เกิน 10 ปี</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>ทั้งนี้ บริษัทจะลบหรือทำลายข้อมูลส่วนบุคคล หรือทำให้เป็นข้อมูลที่ไม่สามารถระบุถึงตัวตนของท่านได้เมื่อหมดความจำเป็นหรือสิ้นสุดระยะเวลาดังกล่าวแล้ว</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;line-height:115%;'><span><span><span style="line-height: 115%;">&nbsp;</span></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>การรักษาความปลอดภัย</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>บริษัทรับทราบและตระหนักถึงความสำคัญของข้อมูลส่วนบุคคลของท่าน บริษัทจึงได้ปรับปรุงและพัฒนาระบบรักษาความปลอดภัยข้อมูลส่วนบุคคลของท่านให้สอดคล้องกับกฎหมาย และทันสมัยและปลอดภัยตามหลักมาตรฐานสากลตลอดเวลา บริษัทจะดำเนินการอย่างเต็มความสามารถเพื่อปฏิบัติตามนโยบายการคุ้มครองข้อมูลส่วนบุคคลนี้ และเน้นย้ำให้เจ้าหน้าที่ รวมถึงผู้ประมวลผลข้อมูลส่วนบุคคลของบริษัทที่มีสิทธิเข้าถึงข้อมูลส่วนบุคคล หรือมีหน้าที่ตามกฎหมาย รักษาและเคารพซึ่งความปลอดภัยของข้อมูลส่วนบุคคลของท่าน</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>ในกรณีที่ทางบริษัทมีความจำเป็นหรือต้องโอนข้อมูลส่วนบุคคลใด ๆ ของท่านไปยังต่างประเทศ บริษัทจะใช้มาตรฐานตามที่กฎหมายในเรื่องการคุ้มครองข้อมูลส่วนบุคคลกำหนด และบริษัทจะไม่โอนข้อมูลส่วนบุคคลของท่านไปยังประเทศปลายทางที่ไม่มีมาตรฐานการคุ้มครองข้อมูลส่วนบุคคลที่เพียงพอตามหลักเกณฑ์ที่กฎหมายกำหนด เว้นแต่ท่านยินยอมให้บริษัทส่งหรือโอนข้อมูลส่วนบุคคลของท่านไปยังประเทศปลายทางดังกล่าวได้ อย่างไรก็ตาม ในกรณีที่ข้อมูลส่วนบุคคลของผู้ใช้บริการถูกจารกรรมทางคอมพิวเตอร์ ไม่ว่าด้วยวิธีการเจาะระบบ (hacking) ขโมย สำเนา หรือทำลายฐานข้อมูล ทำลายรหัสลับส่วนตัว (password mining) หรือวิธีการอื่นใด ซึ่งมิใช่ความผิดของบริษัท บริษัทมีสิทธิที่จะปฏิเสธความรับผิดใดๆ อันเป็นผลมาจากการกระทำดังกล่าว</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>สิทธิของท่าน</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>ท่านมีสิทธิดังต่อไปนี้</span></span></p>
    <ul style="list-style-type: disc;margin-left:0in;">
        <li><span><span>ขอเข้าถึงข้อมูลส่วนบุคคลของตนเองซึ่งอยู่กับบริษัทและขอรับสำเนาข้อมูลส่วนบุคคลที่เกี่ยวข้องกับตน หรือขอให้เปิดเผยถึงการได้มาซึ่งข้อมูลส่วนบุคคลที่ตนไม่ได้ให้ความยินยอม</span></span></li>
        <li><span><span>ขอรับข้อมูลส่วนบุคคลของตนเอง ในรูปแบบที่สามารถอ่านหรือใช้งานได้โดยทั่วไปโดยเครื่องมือ หรืออุปกรณ์ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ที่ทำงานโดยอัตโนมัติ หรือใช้หรือเปิดเผยข้อมูลส่วนบุคคลดังกล่าวโดยวิธีอัตโนมัติ (ในกรณีที่บริษัทจัดทำ),&nbsp;หรือ ขอให้บริษัทส่งหรือโอนข้อมูลส่วนบุคคลดังกล่าวไปยังผู้ควบคุมข้อมูลส่วนบุคคลรายอื่นตามที่กฎหมายกำหนด และรวมถึง ขอรับข้อมูลส่วนบุคคลของตนที่บริษัทส่งหรือโอนแก่ผู้ควบคุมข้อมูลส่วนบุคคลรายอื่น (เว้นแต่ทางเทคนิคไม่สามารถที่จะทำได้)</span></span></li>
        <li><span><span>คัดค้านการเก็บรวบรวม ใช้ หรือ เปิดเผยข้อมูลส่วนบุคคลของตนตามที่กฎหมายกำหนด</span></span></li>
        <li><span><span>ขอให้บริษัทลบ หรือทำลาย ระงับการใช้ชั่วคราว หรือแปลงข้อมูลส่วนบุคคลให้อยู่ในรูปแบบข้อมูลที่ไม่สามารถรู้ตัวบุคคลที่เป็นเจ้าของข้อมูลได้&nbsp;</span></span></li>
        <li><span><span>ขอให้บริษัทระงับการใช้ข้อมูลส่วนบุคคลของตน</span></span></li>
        <li><span><span>ขอให้บริษัทดำเนินการแก้ไขหรือเพิ่มเติมข้อมูลส่วนบุคคลให้ถูกต้อง เป็นปัจจุบัน สมบูรณ์ และไม่ก่อให้เกิดความเข้าใจผิด</span></span></li>
    </ul>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:.44in;text-align:justify;'><span><span>ทั้งนี้ บริษัทมีสิทธิแก้ไขหรือเพิ่มเติมข้อมูลส่วนบุคคลที่ไม่ถูกต้องตามความจริงใด ๆ ที่ท่านใช้หรือแสดงแก่บริษัทเพื่อรับบริการ ภายหลังจากที่บริษัทได้รับข้อมูลส่วนบุคคลที่ถูกต้องพร้อมหลักฐานสนับสนุน โดยถือเป็นดุลยพินิจของบริษัทในการพิจารณา</span></span></p>
    <ul style="list-style-type: disc;margin-left:0in;">
        <li><span><span>หากท่านประสงค์ที่จะยกเลิกการใช้บริการ ท่านสามารถเพิกถอนความยินยอมที่ได้ให้แก่บริษัทได้โดยวิธีการตามที่บริษัทกำหนด การเพิกถอนความยินยอมดังกล่าวย่อมไม่ส่งผลกระทบต่อการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลที่ท่านได้ให้ความยินยอมไปแล้ว</span></span></li>
        <li><span><span>ร้องเรียนในกรณีที่บริษัท ฝ่าฝืนไม่ปฏิบัติตามนโยบายการคุ้มครองข้อมูลลส่วนบุคคลต่อหน่วยงานที่มีอำนาจ</span></span></li>
    </ul>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>อย่างไรก็ตาม ท่านรับทราบว่าสิทธิดังกล่าวเป็นสิทธิเบื้องต้น ท่านจะใช้สิทธิดังกล่าวได้ต้องเป็นไปตามเงื่อนไขตามกฎหมายที่เกี่ยวข้อง และบริษัทในฐานะผู้ควบคุมข้อมูลส่วนบุคคลดังกล่าว มีสิทธิตามกฎหมายที่จะปฏิเสธการใช้สิทธิดังกล่าวของท่าน</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>หากท่านประสงค์จะใช้สิทธิของท่านภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคล บริษัทจะตอบกลับอย่างทันท่วงที และจะใช้ความพยายามในการดำเนินการตามคำร้องขอของท่านโดยไม่มีค่าบริการ ภายในกำหนดเวลา&nbsp;1 เดือน หลังจากได้รับเอกสารที่เกี่ยวข้องครบถ้วน ทั้งนี้ โปรดตระหนักว่า บริษัทอาจเรียกเก็บค่าบริการสำหรับคำร้องขอที่ซับซ้อน ไม่สมเหตุสมผล ฟุ่มเฟือยเกินความจำเป็น หรือซ้ำซ้อน</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>ข้อมูลส่วนบุคคลของผู้เยาว์</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>บริษัทจะเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของผู้เยาว์ให้เป็นไปตามมาตรฐานที่กฎหมายกำหนดเท่านั้น ทั้งนี้ หากบริษัททราบว่าได้มีการนำข้อมูลส่วนบุคคลของผู้เยาว์เข้าระบบของบริษัท บริษัทจะดำเนินการตามขั้นตอนที่เหมาะสมเพื่อจัดการกับข้อมูลดังกล่าวโดยเร็ว</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>ภาษา</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>การแปลนโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ ไม่ว่าจะแปลเป็นภาษาใดก็ตาม มีไว้เพื่ออำนวยความสะดวกของท่านเท่านั้น ไม่ได้มีเจตนาใด ๆ ที่จะปรับเปลี่ยนนโยบายการคุ้มครองข้อมูลส่วนบุคคล ในกรณีที่มีข้อความขัดแย้งกันระหว่างฉบับภาษาไทยและภาษาอื่น ๆ ที่ไม่ใช่ภาษาไทย ให้ยึดข้อความตามภาษาไทย</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>การติดต่อ</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span>หากท่านมีคำถาม ข้อร้องเรียน การขอเข้าถึง หรือข้อสงสัยใด ๆ เกี่ยวข้องกับนโยบายการคุ้มครองข้อมูลส่วนบุคลนี้ และ/หรือต้องการตรวจสอบว่าข้อมูลส่วนบุคคลใดของท่านอยู่ในความครอบครองของบริษัท ท่านสามารถติดต่อสอบถามได้ผ่านช่องทางของบริษัท ดังนี้&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong>ศูนย์บริการลูกค้า (</strong><strong>Customer Care)</strong></span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span>ที่อยู่&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 1168/94 อาคารลุมพินีทาวเวอร์ ชั้นที่&nbsp;31 ถนนพระราม&nbsp;4 แขวงทุ่งมหาเมฆ เขตสาทร กรุงเทพมหานคร&nbsp;10120&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span>โทรศัพท์&nbsp;&nbsp;&nbsp;&nbsp;: 0-2034-4333&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span>โทรสาร&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 0-2679-7474</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span>อีเมล&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: customercare@pantavanij.com&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span><strong>เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (</strong><strong>DPO)</strong></span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span>&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;text-align:justify;'><span><span>ที่อยู่&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: บริษัท แอสเซนด์ คอมเมิร์ซ จำกัด</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;text-align:justify;'><span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เจ้าหน้าที่คุ้มครองช้อมูลส่วนบุคคล (Data Protection Officer)&nbsp;</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;text-align:justify;'><span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;101 ทรู ดิจิทัล พาร์ค ชั้น&nbsp;9 ถนนสุขุมวิท แขวงบางจาก เขตพระโขนง กรุงเทพมหานคร&nbsp;10260</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span>อีเมล&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: privacy@ascendcorp.com</span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span><strong>&nbsp;</strong></span></span></p>
    <p style='margin:0in;margin-bottom:.0001pt;'><span><span><strong>&nbsp;</strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span><span><strong><u>การปรับปรุงนโยบาย</u></strong></span></span></p>
    <p style='margin:0in;margin-bottom:.1in;margin-top:3.0pt;margin-right:0in;margin-left:0in;text-align:justify;'><span>อนึ่ง การใช้บริการใด ๆ ของบริษัท ถือเป็นการยอมรับนโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ บริษัทอาจแก้ไขหรือเพิ่มเติมนโยบายการคุ้มครองข้อมูลส่วนบุคคลฉบับนี้ได้ไม่ว่าในเวลาใด ๆ และแจ้งให้ท่านทราบ การที่ท่านใช้บริการเว็บไซต์ แอปพลิเคชัน หรือระบบของบริษัทหรือบริการใด ๆ ภายหลังจากที่มีการประกาศแก้ไขหรือเพิ่มเติมดังกล่าวย่อมถือเป็นการยอมรับการแก้ไขหรือเพิ่มเติมแต่ละครั้ง</span><span> </span></p>
</div>