﻿<div style="font-family: Tahoma, Arial,sans-serif; font-size: 14px;">
    <p><span>มีผู้ใช้งานในบริษัทของท่าน ได้ทำการสมัครขอใช้บริการแล้ว ขณะนี้อยู่ในระหว่างขั้นตอนการดำเนินงาน <br />
        ทางทีมงานจะรีบติดต่อกลับไปหาผู้ใช้งานที่ขอสมัครใช้บริการภายใน 24 ชม.</span></p>
    <p><span>ขอบคุณค่ะ</span></p>
</div>