﻿@*@model IEnumerable<SupplierPortal.Data.Models.SupportModel.AddressHomeAdmin>*@
@{
    ViewBag.Title = "GeneralAddress";
    Layout = "~/Views/Shared/_LayoutHomeForAdmin.cshtml";
}

@*<link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables-1.10.13/media/js/dataTables.bootstrap.js"></script>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-top:10px">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-striped" id="Buyerlists_Table">
                            <thead>
                                <tr style="width:100%">
                                    <th style="width:15%">@T("_HomeAdmin.LblSupplierID.Table")</th>
                                    <th style="width:15%">@T("_HomeAdmin.LblOrgID.Table")</th>
                                    <th style="width:30%">@T("_HomeAdmin.LblSellerList.Table")</th>
                                    <th style="width:30%">@T("_HomeAdmin.LblAddress.Table")</th>
                                    <th style="width:10%">@T("_HomeAdmin.LblAction.Table")</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr style="width:100%">
                                        <td style="width:15%">@item.SupplierID</td>
                                        <td style="width:15%">@item.Orgid</td>
                                        <td style="width:30%">@item.BuyerName</td>
                                        <td style="width:30%">@item.Address</td>
                                        <td style="width:10%" align="center">
                                            @Html.Raw(Html.ActionLink("_edit_", "EditAddress", new { supplierID = item.SupplierID })
                                                 .ToHtmlString()
                                                 .Replace("_edit_", "<img src='/Content/images/icon/ico-sp_edituser2.gif' />").ToString())
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        var oTable = $('#Buyerlists_Table').dataTable({

            "order": [[0, "asc"]]
        });

    </script>*@

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-top:10px">

            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Partial(@"~/Views/HomeForAdmin/GridViewOrganization.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
