﻿@using Newtonsoft.Json
@{
    string usernameFilter = ViewBag.UsernameFilter;

    var usernameCurrent = (Session["username"] as string) ?? "";
    var usernameCurrentUpper = usernameCurrent.ToUpper();

    bool isAdminBSP = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsAdminBestSupply(usernameCurrent);
    bool isBSPNonConnecting = SupplierPortal.Services.ProfileManage.ProfileManage.CheckBestSupplyIsSuspendOrCancelledAndNonisAllowConnecting(usernameCurrent);
    bool chkUserMapping = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsUserSystemMappingMenuByGroup(usernameCurrent, 1);

}

<link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />
@*<link href="~/Scripts/DataTables-1.10.13/media/css/dataTables.bootstrap.css" rel="stylesheet" />*@
<script src="~/Scripts/DataTables-1.10.13/media/js/jquery.dataTables.js"></script>
<script src="~/Scripts/DataTables-1.10.13/media/js/dataTables.bootstrap.js"></script>
<div class="container">
    <table id="myDataTable" class="table table-striped">
        <thead>
            <tr style="width:100%">
                <th style="width:15%">@T("_HomeAdmin.GridUnlockUser.LblID").ToString()</th>
                <th style="width:15%">@T("_HomeAdmin.GridUnlockUser.Username").ToString()</th>
                <th style="width:30%">@T("_HomeAdmin.GridUnlockUser.Fullname").ToString()</th>
                <th style="width:30%">@T("_HomeAdmin.GridUnlockUser.CompanyName").ToString()</th>
                <th style="width:10%">@T("_HomeAdmin.LblAction.Table").ToString()</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        var oTable = $('#myDataTable').dataTable({
            "language": {
                "lengthMenu": "Display _MENU_ records per page",
                "zeroRecords": "Nothing found - sorry",
                "info": "Showing page _PAGE_ of _PAGES_",
                "infoEmpty": "No records available",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "paginate": {
                    "previous": "@T("_Global.BtnPrevious").ToString()",
                    "next": "@T("_Global.BtnNext").ToString()"
                }
            },
            "lengthMenu": [[10, 25, 50, 100, 200], [10, 25, 50, 100, 200]],
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "order": [[0, "asc"]],
            "ajax": {
                "url": "@Url.Action("GridViewUserUnlockAccount", "HomeForAdmin")",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
               {
                   "data": "ID",
                   "orderable": true
               },
               {
                   "data": "Username",
                   "orderable": true
               },
               {
                   "data": "Fullname",
                   "orderable": true
               },
               {
                   "data": "CompanyName",
                   "orderable": true
               },
               {
                   "data": null,
                   "orderable": false,
                   "className": "align_center",
                   "render": function (row) {
                       var ID = row.ID;
                       var textEdit = "";
                       //var link = "<a><img src='/Content/images/icon/ico-sp_edituser2.gif' /></a>";
                       //link.addAttr('href', row.action_url);
                       @*@Html.Raw(Html.ActionLink("_edit_", "EditAddress", new { supplierID = supID })
                                             .ToHtmlString()
                                             .Replace("_edit_", "<img src='/Content/images/icon/ico-sp_edituser2.gif' />").ToString())*@

                       textEdit = "<input id=\"edit_" + ID + "\" type=\"image\" src=\"/Content/images/icon/ico-sp_edituser2.gif\"  onclick=\"UnlockUser('" + ID + "');\"   data-toggle=\"tooltip\" data-placement=\"left\" title=\"" + '@T("_HomeAdmin.Tooltip.Action.UnLock ccount")' + "\" >";

                       return textEdit;
                   }
               }
            ]
        });

        oTable = $('#myDataTable').dataTable().api();



        reloadGridview = function () {
            oTable.ajax.reload();
        }



        $(window).ready(function () {
            var time = 30
            setInterval(function () {
                time--;
                if (time === 0) {

                    oTable.ajax.reload();
                    time = 30;
                }
            }, 1000);

        });
    });


    function UnlockUser(ID) {

        location.href = '@Url.Action("UnlockAccount", "HomeForAdmin")?ID=' + ID;
    }
</script>

