﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomeForAdmin.cshtml";

    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

    //var dataAddress = ViewBag.Address as SupplierPortal.Data.Models.MappingTable.Tbl_Address;
}


<div class="container">
    <div class="row">
        <div class="col-md-12 all_ep_content_wrapper">
            <div class="row" style="padding-top:10px">
                <div class="col-md-4">
                    <div class="list-group">
                        <a href="/DevExpress/AutoMergeUser" class="list-group-item">@T("_HomeAdmin.LblAutoMergeUser")</a>
                        <a href="/DevExpress/AutoUpdateUser" class="list-group-item">@T("_HomeAdmin.LblAutoUpdateUser")</a>
                        <a href="/HomeForAdmin/GeneralAddress" class="list-group-item">@T("_HomeAdmin.LblEditCompanyProfile")</a>
                        <a href="/HomeForAdmin/UserUnlockAccount" class="list-group-item">@T("_HomeAdmin.LblUserUnlockAccount")</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



