﻿
@{
    ViewBag.Title = "SystemUserDisabled";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="container body-content" style="min-height: 540px;">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>

    <div class="row">
        @TP("MenuPortal.SystemUserDisabled")
    </div>

</div>

