﻿@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();
    // var LanguageID;
    if (LanguageID == "" || LanguageID == null)
    {
        LanguageID = "1";
    }
    else
    {
        LanguageID = cultureCookie.Value.ToString();
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body id="IndexPage">

    <div>@RenderBody()</div>

</body>
</html>
