﻿@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();

}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Supplier Web Work</title>
    @Styles.Render("~/Content/msdropdown")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/breadcrumb")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="landing_body_bg">

        <div id="loadingMsg" style="display:none;">
            <img src="~/Content/images/loading8-1.gif" />
        </div>


        <div class="page-header" align="center">
            <div class="ep_header_width">
                @using (Html.BeginForm("SetCulture_LangingPage", "SetCulture", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "countries_select", role = "form" }))
                {
                    <div class="language_select" align="right">

                        <select name="countries" id="countries" style="width:130px; text-align: left" onchange="changeCountries();">
                            @{ Html.RenderAction("CountrySelect", "SetCulture"); }
                        </select><p>
                    </div>
                }
                <div class="brand" align="left"><a href=@Url.Action("WhyVerification","Landing")><img class="img" src="~/Content/images/logo_Newbg.png" border="0" /></a></div>
               
                
            </div>
        </div>

        <div class="navbar navbar-portal" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
        </div>
     
        <div>
            @RenderBody()
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/blockUI")
        @Scripts.Render("~/bundles/country-dropdown")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
<script>
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });

    $(document).ready(function () {
        var number = document.getElementById('countries');
        selectItemByValue(number, @LanguageID);

        $("#countries").msDropdown();
        //reloadPage();
    });

    //function reloadPage() {
    //    window.reflesh=true;
    //    if(typeof window.refresh!='undefined' && window.refresh){
    //        window.refresh=false;
    //        location.reload();
    //    }
    //}



    function changeCountries() {

        $("#countries_select").submit();
        //waitPage();
        disablePage();
    }

    function selectItemByValue(elmnt, value) {
        for (var i = 0; i < elmnt.options.length; i++) {
            if (elmnt.options[i].value == value) {

                $("#countries [value='" + value + "']").attr("selected", "selected");

            }
        }
    }

    function disablePage() {
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }

    function submitCheck() {
        var chkUsername = $("#username").hasClass("valid");

        if (chkUsername) {
            disablePage();
        }
    }

    function submitResetPassword() {
        var chkPassword = $("#Password").hasClass("valid");

        var chkConfirmPassword = $("#ConfirmPassword").hasClass("valid");

        if (chkPassword && chkConfirmPassword) {
            disablePage();
        }
    }
</script> 
