﻿@using DevExpress.Web.Mvc
@using DevExpress.Web.Mvc.UI
@using DevExpress.Web.ASPxClasses

@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <style>
                ::-webkit-input-placeholder { /* WebKit browsers */
                    color: #aaa !important;
                }

                :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                    color: #aaa !important;
                    opacity: 1;
                }

                ::-moz-placeholder { /* Mozilla Firefox 19+ */
                    color: #aaa !important;
                    opacity: 1;
                }

                :-ms-input-placeholder { /* Internet Explorer 10+ */
                    color: #aaa !important;
                }

                .glyphicon {
                    font-size: medium !important;
                }

                textarea {
                    max-width: 568px !important;
                }

                .input-group-addon {
                    text-align: left !important;
                    vertical-align: top !important;
                }

                .btnDelItem {
                    background-image: url(/Content/images/icon/ico-sp_deluser2.gif);
                    background-repeat: no-repeat;
                    border:0;
                    display:block;
                    width:16px;
                }
    </style>
    @*<link href="../../Themes/themes/sso/css/site.css" rel="stylesheet" type="text/css" />*@

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/msdropdown")
    @Styles.Render("~/Content/jquery-ui-1.11.2/themes/smoothness/css")
    @Styles.Render("~/Content/fileuploadcss")
    @Styles.Render("~/Content/bootgrid")

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/customheadscript")

    


    

    

</head>
<body>
    <div id="loadingMsg" style="display:none;">
        <img src="~/Content/images/loading8-1.gif" />
    </div>
    <div class="page-header" align="center">
        <div class="ep_header_width">
            @using (Html.BeginForm("SetCulture", "SetCulture", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "countries_select", role = "form" }))
            {
                <div class="user_org" align="right">

                    <select name="countries" id="countries" style="width:130px; text-align: left" onchange="changeCountries();">
                        @{ Html.RenderAction("CountrySelect", "SetCulture"); }
                    </select><p>
                        @*<div>@T("_Home.LblUsername"): @Session["user"] | @T("_Home.LblOrganization"): @Session["Org"] &nbsp;&nbsp;</div>*@
                </div>
            }
            <div class="brand" align="left"><a href=@Url.Action("WhyVerification","Landing")><img class="img" src="~/Content/images/logo_Newbg.png" border="0" /></a></div>

                     
        </div>
    </div>

    <div>
        <div class="container">
            @RenderBody()
        </div>
    </div>

    @Html.Partial(@"~/Views/Shared/_FooterLandingPartial.cshtml")


    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/maskedinputscript")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/bundles/placeholder")
    @Scripts.Render("~/bundles/country-dropdown")
    @Scripts.Render("~/bundles/jquery-ui-1.11.2/jqueryui")
    @Scripts.Render("~/bundles/custombodyscript")
    @Scripts.Render("~/bundles/fileuploadscript")

    
    @Scripts.Render("~/bundles/bootgrid")
    

    @*@Scripts.Render("~/bundles/jqueryval")*@

    @RenderSection("scripts", required: false)
</body>
</html>
<script>
    $(function() {
        $('input, textarea').placeholder();
    });

    function disablePage() {
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }

    function changeCountries() {
        $("#countries_select").submit();
        //waitPage();
        disablePage();
    }

    function selectItemByValue(elmnt, value) {
        for (var i = 0; i < elmnt.options.length; i++) {
            if (elmnt.options[i].value == value)
            {
                $("#countries [value='"+value+"']").attr("selected","selected");
            }
        }
    }

    function loadPopup() {
        //---------------------------------------Render message box---------------------------------------------
        $("#myModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
            $("#myModal a.btn").on("click", function (e) {
                //alert("11");
                //console.log("button pressed");   // just as an example...
                $("#myModal").modal('hide');     // dismiss the dialog
            });
        });

        $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
            $("#myModal a.btn").off("click");
        });

        $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
            $("#myModal").remove();
        });

        $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        //--------------------------------------------------End---------------------------------------------------
    }

    function loadProServModal() {
        //---------------------------------------Render message box---------------------------------------------
        $("#ProServModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
            $("#ProServModal a.btn").on("click", function (e) {
                $("#ProServModal").modal('hide');     // dismiss the dialog
            });
        });

        $("#ProServModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
            $("#ProServModal a.btn").off("click");
        });

        $("#ProServModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
            $("#ProServModal").remove();
        });

        $("#ProServModal").modal({                    // wire up the actual modal functionality and show the dialog
            "backdrop": "static",
            "keyboard": true,
            "show": true                     // ensure the modal is shown immediately
        });
        //--------------------------------------------------End---------------------------------------------------
    }

    $(document).ready(function () {

        var number = document.getElementById('countries');
        selectItemByValue(number, @LanguageID);

        $("#countries").msDropdown();

        //disablePage();
        //waitPage();

        $(".top_menu_li").bind("mouseenter mouseleave", function (event) {

            if (!$(this).hasClass("active"))
            {
                $(this).toggleClass("top_menu_li_active");
            }

            if ($('.ep_ico_b', this).length > 0) {

                $('.ep_ico_b', this).toggleClass('ep_ico_g ep_ico_b');

            } else {

                if (!$(this).hasClass("active"))
                {
                    $('.ep_ico_g', this).toggleClass('ep_ico_b ep_ico_g');
                }
            }
        });

        $('a[href="' + this.location.pathname + '"]').parent().addClass('active top_menu_li_active');
        $('a[href="' + this.location.pathname + '"]').parent().find("span").toggleClass('ep_ico_g ep_ico_b');

        $(".sourcing_menu_content_wrapper .ep_menu_div").first().addClass("ep_menu_div_top");
        $(".sourcing_menu_content_wrapper .ep_menu_div").first().removeClass("ep_menu_div");
        $(".procurement_menu_content_wrapper .ep_menu_div").first().addClass("ep_menu_div_top");
        $(".procurement_menu_content_wrapper .ep_menu_div").first().removeClass("ep_menu_div");
        $(".supply_menu_content_wrapper .ep_menu_div").first().addClass("ep_menu_div_top");
        $(".supply_menu_content_wrapper .ep_menu_div").first().removeClass("ep_menu_div");

        $(".ep_menu_div_top").mouseenter(function () {
            $(this).css("background-color", "#98C93D");
            $(this).find("a").css("color", "#FFFFFF");
        });
        $(".ep_menu_div_top").mouseleave(function () {
            $(this).css("background", "none");
            $(this).find("a").css("color", "#111111");
        });
        $(".ep_menu_div").mouseenter(function () {
            $(this).css("background-color", "#98C93D");
            $(this).css("border-top", "solid 1px #98C93D");
            $(this).find("a").css("color", "#FFFFFF");
        });
        $(".ep_menu_div").mouseleave(function () {
            $(this).css("background", "none");
            $(this).css("border-top", "solid 1px #EEEEEE");
            $(this).find("a").css("color", "#111111");
        });

        //$.unblockUI();

        //------------------For validate taxid-------------------------
        //$("#captcha_TB_I").focusout(function () {
        //    $.ajax({
        //        url: '/RegisterPortal/checkvalidtaxid',
        //        dataType: "json",
        //        type: "POST",
        //        contentType: 'application/json; charset=utf-8',
        //        data: JSON.stringify({
        //            validtaxid: {
        //                TaxID: $("#txtTaxID").val(),
        //                CompanyName: $("#txtCompName").val(),
        //                BranchNo: $("#txtBrNo").val(),
        //                BranchName:  $("#txtBrName").val(),
        //                RegID: "",
        //                Message: "",
        //                Alert: "",
        //                SupplierID: "",
        //            }
        //        }),
        //        async: true,
        //        processData: false,
        //        cache: false,
        //        success: function (data) {
        //            console.log(data);
        //            if(data.Message == "Org Duplicate")
        //            {
        //                //console.log(data.SupplierID);
        //                //loadSendMailModal();
        //                confirmSendMailModal(data.SupplierID);
        //            }
        //            else if (data.Message == "RegInfo Warnning Duplicate") {
        //                $("#message").text("");
        //                $("#message").text(data.Alert);
        //                loadPopup();//Funtion from customheadscript
        //                /*$("#btn").click(function () {
        //                    return true;
        //                });*/
        //            }
        //        },
        //        error: function (xhr) {
        //            return false;
        //        }
        //    })
        //});

        $("#ddlBrNo").focusout(function () {
            $.ajax({
                url: '/RegisterPortal/checkvalidtaxidedit',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    validtaxid: {
                        TaxID: $("#txtTax").val(),
                        CompanyName: $("#txtComp").val(),
                        BranchNo: $("#ddlBrNo").val(),
                        BranchName:  $("#txtBr").val(),
                        RegID: $("#hdfRegID").val(),
                        Message: "",
                        Alert: "",
                    }
                }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data.Message == "RegInfo Warnning Duplicate") {
                        $("#statusMessage").text("");
                        $("#statusMessage").text(data.Alert);
                        loadPopup();//Funtion from customheadscript
                        /*$("#btn").click(function () {
                            return true;
                        });*/
                    }
                },
                error: function (xhr) {
                    return false;
                }
            })
        });

        $("#txtComp").focusout(function () {
            $.ajax({
                url: '/RegisterPortal/checkvalidtaxidedit',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    validtaxid: {
                        TaxID: $("#txtTax").val(),
                        CompanyName: $("#txtComp").val(),
                        BranchNo: $("#ddlBrNo").val(),
                        BranchName:  $("#txtBr").val(),
                        RegID: $("#hdfRegID").val(),
                        Message: "",
                        Alert: "",
                    }
                }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data.Message == "RegInfo Warnning Duplicate") {
                        $("#statusMessage").text("");
                        $("#statusMessage").text(data.Alert);
                        loadPopup();//Funtion from customheadscript
                        /*$("#btn").click(function () {
                            return true;
                        });*/
                    }
                },
                error: function (xhr) {
                    return false;
                }
            })
        });

        $("#txtBr").focusout(function () {
            $.ajax({
                url: '/RegisterPortal/checkvalidtaxidedit',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    validtaxid: {
                        TaxID: $("#txtTax").val(),
                        CompanyName: $("#txtComp").val(),
                        BranchNo: $("#ddlBrNo").val(),
                        BranchName:  $("#txtBr").val(),
                        RegID: $("#hdfRegID").val(),
                        Message: "",
                        Alert: "",
                    }
                }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data.Message == "RegInfo Warnning Duplicate") {
                        $("#statusMessage").text("");
                        $("#statusMessage").text(data.Alert);
                        loadPopup();//Funtion from customheadscript
                        /*$("#btn").click(function () {
                            return true;
                        });*/
                    }
                },
                error: function (xhr) {
                    return false;
                }
            })
        });

        if (($("#hdfMessage").val() != "") && (typeof $("#hdfMessage").val() !== "undefined")) {
            loadPopup();//Funtion from layout
            $("#btn").click(function () {
                $.ajax({
                    url: '/RegisterPortal/RenderViewByTicketcode',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        Ticket: {
                            Ticketcode: $("#hdfTicketcode").val(),
                        }
                    }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data == "Success") {
                            var url = "kCIn";
                            url = url.concat($("#hdfTicketcode").val());
                            url = url.concat("EOiK");
                            window.location.href = '/RegisterPortal/SupplierRegistercontinue/?ticketcode=' + url;
                        }
                    },
                    error: function (xhr) {
                        return false;
                    }
                })
            });
        }

        if (($("#hdfregMessage").val() != "") && (typeof $("#hdfregMessage").val() !== "undefined")) {
            $("#statusMessage").text("");
            loadPopup();//Funtion from layout
            /*$("#btn").click(function () {
                window.location.href = '/Landing/WhyVerification/';
            });*/
        }else if(($("#hdfsaveSuccess").val() != "") && (typeof $("#hdfsaveSuccess").val() !== "undefined")) {
            $("#statusMessage").text("");
            $("#statusMessage").text($("#hdfsaveSuccess").val());
            loadPopup();//Funtion from layout
            /*$("#btn").click(function () {
                window.location.href = '/Landing/WhyVerification/';
            });*/
        }
    });



</script>