﻿@{
    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();
    // var LanguageID;
    if (LanguageID == "" || LanguageID == null)
    {
        LanguageID = "1";
    }
    else
    {
        LanguageID = cultureCookie.Value.ToString();
    }
    string strTimeout = System.Configuration.ConfigurationManager.AppSettings.Get("TimeOut");
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Supplier Web Work</title>

   
    @Styles.Render("~/Content/menucss")
    @Scripts.Render("~/Content/menuscript")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/breadcrumb")
    @Styles.Render("~/Content/jquery-ui-1.11.2/themes/smoothness/css")

    @Styles.Render("~/Content/fileuploadcss")
    @Styles.Render("~/Content/bootgrid")
    @Styles.Render("~/Content/portal")
    
    @Styles.Render("~/Content/datepicker")
    @Styles.Render("~/Content/awesome")

    @Styles.Render("~/Content/msdropdown")
    @Styles.Render("~/Content/select2")

    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/Content/themes/base/css")*@




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/comprofilescript")
    @*@Scripts.Render("~/bundles/customheadscript")*@
    @*@Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/blockUI")
        @Scripts.Render("~/bundles/country-dropdown")
        @RenderSection("scripts", required: false)*@

    


</head>
<body>
    <div class="landing_body_bg">


        <div id="loadingMsg" style="display:none;">
            <img src="~/Content/images/loading8-1.gif" />
        </div>
        <div id="uploadingMsg" style="display:none;">
            @*<img src="~/Content/images/uploading.gif" />*@
        </div>
        <div class="page-header" align="center">
            <div class="ep_header_width">
                @using (Html.BeginForm("SetCulture", "SetCulture", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "countries_select", role = "form" }))
                {
                    <div class="user_org" align="right">

                        <select name="countries" id="countries" style="width:130px; text-align: left" onchange="changeCountries();">
                            @{ Html.RenderAction("CountrySelect", "SetCulture"); }
                        </select><p>
                            <div>@T("_Home.LblUsername"): @Session["user"] | @T("_Home.LblOrganization"): @Session["Org"] &nbsp;&nbsp;</div>
                    </div>
                }
                <div class="brand" align="left"><a href=@Url.Action("Index", "Home")><img class="img" src="~/Content/images/logo_Newbg.png" border="0" /></a></div>
            </div>
        </div>

        <div class="navbar navbar-portal" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ">

                        @{ Html.RenderAction("TopMenuPortal", "MenuPortal"); }

                    </ul>

                </div>
            </div>
        </div>
        
        <div class="container-full body-content">
            @RenderBody()
            @*<hr />*@
            <br />
            @* <div class="menu_header_space_block_footer"></div>*@

        </div>

    </div>
    <footer>
        @* @Html.Action("_FooterPartial", "FooterPartial")*@
        @{ Html.RenderAction("FooterPortalPartial", "FooterPartial"); }
    </footer>
    <div class="ep_footer2" align="center"></div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/blockUI")
    @Scripts.Render("~/bundles/country-dropdown")
    @Scripts.Render("~/bundles/jquery-ui-1.11.2/jqueryui")
    @Scripts.Render("~/bundles/fileuploadscript")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/bootgrid")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/bootstrap-hover-dropdown")

    
    @RenderSection("scripts", required: false)


</body>

</html>
<script>

    //register validate and set table style to old IE version for ajax
    $(document).ajaxSuccess(function (event, xhr, settings) {
        //alert();
        $.validator.unobtrusive.parse(this);
    });

    function disablePage() {
        $.blockUI({
            message: $('#loadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }

    function uploadPage() {
        $.blockUI({
            message: $('#uploadingMsg'),
            overlayCSS: { backgroundColor: '#FFFFFF' },
            //timeout: 2000,
            css: {
                border: 'none',
                background: 'none',
                padding: '0px'
            }
        });
    }

    function waitPage() {
        $.blockUI({
            //timeout: 5000,
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            }
        });
    }

    function changeCountries() {

        $("#countries_select").submit();
        //waitPage();
        disablePage();
    }
    setTimeout($.unblockUI, 2000);


    function selectItemByValue(elmnt, value) {
        for (var i = 0; i < elmnt.options.length; i++) {
            if (elmnt.options[i].value == value)
            {

                $("#countries [value='"+value+"']").attr("selected","selected");

            }
        }
    }

    var intTimeout = parseInt(@strTimeout, 10);

    var myVar = setInterval(function(){ autoRedirectTimeout() }, intTimeout);

    function autoRedirectTimeout() {
        $.ajax({
            url: '/AccountPortal/CheckAutoTimeOut',
            type: 'GET',
            async: false,
            contentType: 'application/json',
            success: function (data) {
                //console.log(data);
                if (data != true)
                {
                    location.href='/Error/Timeout'; // redirects to Timeout page.
                }
            },
            fail: function (event, data) {

            }
        });
    }

    $(document).ready(function () {

        var number = document.getElementById('countries');
        selectItemByValue(number, @LanguageID);

        $("#countries").msDropdown();

        //disablePage();
        //waitPage();



        $(".top_menu_li").bind("mouseenter mouseleave", function (event) {

            if (!$(this).hasClass("active"))
            {
                $(this).toggleClass("top_menu_li_active");
            }

            if ($('.ep_ico_b', this).length > 0) {

                $('.ep_ico_b', this).toggleClass('ep_ico_g ep_ico_b');

            } else {

                if (!$(this).hasClass("active"))
                {
                    $('.ep_ico_g', this).toggleClass('ep_ico_b ep_ico_g');
                }

            }
        });



        $('a[href="' + this.location.pathname + '"]').parent().addClass('active top_menu_li_active');
        $('a[href="' + this.location.pathname + '"]').parent().find("span").toggleClass('');



        $(".sourcing_menu_content_wrapper .ep_menu_div").first().addClass("ep_menu_div_top");
        $(".sourcing_menu_content_wrapper .ep_menu_div").first().removeClass("ep_menu_div");
        $(".procurement_menu_content_wrapper .ep_menu_div").first().addClass("ep_menu_div_top");
        $(".procurement_menu_content_wrapper .ep_menu_div").first().removeClass("ep_menu_div");
        $(".supply_menu_content_wrapper .ep_menu_div").first().addClass("ep_menu_div_top");
        $(".supply_menu_content_wrapper .ep_menu_div").first().removeClass("ep_menu_div");

        $(".ep_menu_div_top").mouseenter(function () {
            $(this).css("background-color", "#98C93D");
            $(this).find("a").css("color", "#FFFFFF");
        });
        $(".ep_menu_div_top").mouseleave(function () {
            $(this).css("background", "none");
            $(this).find("a").css("color", "#111111");
        });
        $(".ep_menu_div").mouseenter(function () {
            $(this).css("background-color", "#98C93D");
            $(this).css("border-top", "solid 1px #98C93D");
            $(this).find("a").css("color", "#FFFFFF");
        });
        $(".ep_menu_div").mouseleave(function () {
            $(this).css("background", "none");
            $(this).css("border-top", "solid 1px #EEEEEE");
            $(this).find("a").css("color", "#111111");
        });



        //$.unblockUI();
    });
    $('.m-click').click(function () {
        if ($('.m-sec').hasClass('opened')) {
            $('.m-sec').removeClass('opened');
        }
        else {
            $('.m-sec').addClass('opened');
        }
    });
</script>
