﻿
@{
    ViewBag.Title = "RegisterPortalError";
    Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
}

<div class="container body-content" style="min-height: 540px;">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="error_title">
                        <img src="~/Content/images/icon/ico-sp_alert.gif" style="padding-right:10px;" />
                        <div class="error_title_text">
                            @T("_Lbl.Error")
                        </div>
                    </div>
                    <div class="error_content_block">
                        @ViewBag.ErrorMessage.
                    </div>
                    <div class="error_button_block" align="right">
                        @Html.ActionLink(T("_Global.BtnOk").ToString(), "WhyVerification", "Landing", null, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

