﻿@model SupplierPortal.Models.Error.ErrorMessageModels
@{
    ViewBag.Title = "TestPostError";
    Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
}
<p>
@using (Html.BeginForm("Error", "Error", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-login" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.ErrorMessage, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ErrorMessage, new { @class = "form-control" })           
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserGUID, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserGUID, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@T("_Login.ResetPassword.btnReset")" />
        </div>
    </div>

}

