﻿@model SupplierPortal.Data.Models.MappingTable.Tbl_MenuPortal_CompanyProfile
@{
    ViewBag.Title = "HeaderAndProgressPercent";
    Layout = "~/Views/Shared/_LayoutMenuProfile.cshtml";
    string TitleMenu = ViewBag.titleMenu;
    string SubMenu = ViewBag.subManu;
}

@*<div class="row">
        <div class="data_end"></div>
        <div class="ep_badge_green_edge"></div>
        <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_ComPro.LblMenuHeader")</div>
        <div class="data_end" style="padding-top:40px;"></div>
    </div>*@
<style>
    .box b {
        font-family: "kanitregular";
        font-size: 24px !important;
        font-weight: 500;
        line-height: 1.1;
}
</style>
<div class="row">
    <div class="data_end"></div>
    <div class="ep_badge_green_edge"></div>
    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_ComPro.LblMenuHeader")</div>
    <div class="data_end" style="padding-top:40px;"></div>
</div>
<div class="row">
    <div class="data_end" style="padding-top:25px;"></div>
</div>
<div class="row" style="padding-top:10px;">
    <div class="col-sm-12 col-md-12">
        &nbsp;<b> @T("_Profile.ComProfile.InstrTxt.Title") </b> @T("_Profile.ComProfile.InstrTxt.Txt")
    </div>
    <div class="col-sm-12 col-md-12 box" style="padding-top:10px">
        <div class="form-inline" style="margin-left:-5px;">
            &nbsp;<b> @T(TitleMenu) </b>&nbsp;<i class="fa fa-chevron-right"></i><b style="color:#911"> @T(SubMenu) </b>
        </div>    
    </div>
</div>

<div class="row" style="padding-top:5px;">
    <div class="col-sm-12 col-md-12">
        @*<div class="progress" style="width:75%">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    40% Complete (success)
                </div>
            </div>*@
    </div>
</div>


