﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4">
        @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
    </div>
    <div class="col-sm-8 col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="button" class="btn btn-primary pull-right">Save</button>
                <div style="padding-top:40px;">
                    <div class="panel panel-default">
                        <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


