﻿/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
*{
	/*list-style:none;*/
	margin:0px;
	padding:0px;
}
body{
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;
	margin: 0;
    padding: 0;
}
@media all {  
    .page-break { display:none; }  
    .page-break-no{ display:none; }  
}  
@media print {  
    .page-break { display:block;height:1px; page-break-before:always; }  
    .page-break-no{ display:block;height:1px; page-break-after:avoid; }   
}  
img{
	border:0;	
}
button,
input,
select,
textarea {
    font-family:tahoma;
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
}
div, td{
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;	
}
a:link,a:visited{
	/*color: #1A25FF;*/
	color:#222222;
	/*text-decoration:underline;*/
}
a:hover{
	/*color: #CDDF6A;*/
	/*color: #991111;*/
	/* color: #FF8642;*/
	/*text-decoration:underline;*/
}
.page {
    width: 100%;
    magin: 0;
    padding:0;
}
.normal_bold{
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;	
	font-weight:bold;
}
.red_highlight{
	color:#FF0000;
	font-weight:bold;	
}
#ms_wrapper{	
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;
	width:100%;
	min-width:960px;
	margin:0px;
}

#top_menu1_wrapper{
	/*background: url(images/menu-top1-bg.gif) top left repeat-x;*/
	position:absolute;
	height:28px;
	z-index:40;
	min-width:600px;
}

#top_menu1{
	padding-left:158px;
	*padding-left:155px;
}

#top_menu1 ul{
	list-style:none;
	margin:0;
	padding:0;
}

.top_menu1{
	background: url(images/menu-top1.gif) no-repeat;
	padding:0 27px 0 0;
	float:left;
}
.top_menu1 img{
	float:left;
}
.top_menu1_end{
	padding-top:6px;
	display:block;
	float:left;
	width:120px;
	text-align:center;
}
.top_menu1 a:link, #top_menu1 a:visited{
	font-family: Tahoma, Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#FFFFFF;
	float:left;
	padding-top:10px;
	padding-left:4px;
}
@-moz-document url-prefix() {
    .top_menu1 a:link, #top_menu1 a:visited{
		font-family: Tahoma, Arial,sans-serif;
		font-size:12px;
		font-weight:bold;
		text-decoration:none;
		color:#FFFFFF;
		float:left;
		padding-top:9px;
		padding-left:3px;
	}
}

.top_menu1 a:hover{
	text-decoration:underline;
	color:#FFFFFF;
}

#top_menu2_wrapper{
	background: url(images/menu-top1-bg.gif) #FFFFFF repeat-x bottom right;
	height:28px;
	width:100%;
	z-index:20;
}
	
#top_menu2{
	padding:6px 8px 0 8px;
	font-family: tahoma, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#222222;
	/*text-align:right;*/
	float:right;
}
.customer_logo{
	padding-top:10px;	
}
.user_org{
	padding-top:14px;
	color:#222222;
	font-family: Tahoma, Arial,sans-serif;
	font-size:12px;
	font-weight:normal;
}
#ms_menu_wrapper{
	padding-right:2px;
	padding-left:2px;
	padding-bottom:30px;
	width:176px;
	z-index:40;
}
#ms_menu_wrapper a:link, #ms_menu_wrapper a:visited{
	color:#222222;
	text-decoration:none;
}
#ms_menu_wrapper a:hover{
	text-decoration:underline;
	color:#991111;
}
.ms_menu_top{
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#222222;
	padding:4px 4px 6px 8px;
	background: url(images/dotted.gif) #FFFFFF repeat-x bottom left;
}
.ms_menu{
	font-family: Tahoma, Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#222222;
	padding:8px 4px 5px 8px;
	background: url(images/double-dotted.gif) #FFFFFF repeat-x bottom left;
}
.ms_submenu_top{
	font-family: Tahoma, Arial,sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#222222;
	padding:5px 4px 2px 8px;
}
.ms_submenu{
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#222222;
	padding:1px 4px 2px 8px;
}
.ms_submenu_top_in{
	font-family: Tahoma, Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#222222;
	padding:5px 4px 2px 14px;
}
.ms_submenu_in{
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#222222;
	padding:1px 4px 2px 14px;
}
.ms_breadcrumb_td{
	background: url(images/dotted.gif) #FFFFFF repeat-x top left; 
	background-position: 2px -1px;
}
@-moz-document url-prefix() {
	.ms_breadcrumb_td{
		background: url(images/dotted.gif) #FFFFFF repeat-x top left; 
		background-position: 2px -1px;
	}
}
.ms_breadcrumb{
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#222222;
	padding:3px 4px 1px 8px;
	z-index:30;
}
.ms_breadcrumb a:linked, .ms_breadcrumb a:visited{
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	color:#222222;
	text-decoration:underline;
}
.ms_breadcrumb a:hover{
	color: #991111;
	text-decoration:underline;
}
.ms_breadcrumb_hl{
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	color: #991111;
}
.ms_content{
	padding:8px 8px 0px 8px;
}


#ms_logo{
	padding-left:20px;
}

#Paragraph1{
    height: 127px;
}

.style1{
    width: 264px;
}

.style3{
    width: 90px;
    /*background-color:#CFCFCF;*/
}
.style4{
    width: 202px;
}
.style5{
    height: 241px;
}

.style6{
    width: 181px;
}


.topmenu li 
{
  font-family:font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  float:left;
  margin-right:0px;
  margin-top:2px;
  padding-bottom:8px;
  padding-left:2px;
  padding-right:2px;
  padding-top:10px;
  position:relative;
  
  margin-top: 2px;
  
	text-align:center;
	margin-left :5px;
	height:20px;
	/*width: 188px; */
	
	background: #e9e9e9;
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e9e9e9));
	background: -moz-linear-gradient(top,  #fefefe,#e9e9e9 );
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e9e9e9');
	
		/*background: -moz-linear-gradient(center top ,#fefefe , #e9e9e9) repeat scroll 0 0 transparent;*/
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

/*-moz-box-shadow: 0 -1px 5px #888;
-webkit-box-shadow: 0 -1px 5px#888;
box-shadow: 0 -1px 5px #888;*/
border-top : 1px solid #c0c0c0;
border-left : 1px solid #c0c0c0;
border-right : 1px solid #c0c0c0;
}
.topmenu .selected 
{
    font-family:font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
 
 
  float:left;
  margin-right:0px;
  margin-top:2px;
  padding-bottom:8px;
  padding-left:2px;
  padding-right:2px;
  padding-top:10px;
  position:relative;
  
  margin-top: 2px;
  
	text-align:center;
	margin-left :5px;
	height:20px;
	/*width: 188px; */
	
	 background: #7ebdfc;
    background: -webkit-gradient(linear, left top, left bottom, from(#2482c8), to(#7ebdfc));
	background: -moz-linear-gradient(top,  #2482c8,#7ebdfc );
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2482c8', endColorstr='#7ebdfc');
	
	/*background: -moz-linear-gradient(center top ,#2482c8 , #7ebdfc) repeat scroll 0 0 transparent;*/
	-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.topmenu li:hover {
	z-index:2; 
	text-decoration: underline;
	
	 background: #7ebdfc;
    background: -webkit-gradient(linear, left top, left bottom, from(#2482c8), to(#7ebdfc));
	background: -moz-linear-gradient(top,  #2482c8,#7ebdfc );
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2482c8', endColorstr='#7ebdfc');
	
	/*background: -moz-linear-gradient(center top ,#2482c8 , #7ebdfc) repeat scroll 0 0 transparent;*/
	-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
		
}

.headermenu {
 

    /*height: 30px;
    border: solid 1px #cccccc;
	-webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
 
     background: #e6e7e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e7e8), to(#f5f6f7));
	background: -moz-linear-gradient(top,  #e6e7e8,#f5f6f7  );
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6f7', endColorstr='#e6e7e8');
 */
}
.headermenu ul
{
	padding: 0;
	margin: 0;
}

.headermenu li
{
	display:inline;
    list-style:none outside none;
}
.clear
{
	border: medium none;
	clear: both;
	float: none;
	font-size: 0;
	height: 0;
	line-height: 0;
}
.topmenu ul li a {
    color: #FFFFFF;
    display: block;
   text-decoration: none;   
   font-weight :bolder ;
}

.topmenu li:hover a {
	/*color:#ffffff;*/
	color: #1c3664;
	/*text-shadow: none;*/
}

.menu_left_head2{
	font-family: Tahoma,Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#363636;
	text-align:Left;
}

.menu_left{
	font-family: Tahoma,Arial,sans-serif;
	font-size:12px;
	color:#1C1C1C;
	font-weight:normal;
}

.link_disable{
	font-family: Tahoma,Arial,sans-serif;
	font-size:12px;
	color:#828282;
	text-align:Left;
	text-decoration:underline;
}
.topic_event{
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#222222;
	padding:2px 0 14px 0px;
}
.topic_event_red{
	font-family: Tahoma,Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FF0000;
	padding:2px 0 14px 0px;
}
.body_text{
	font-family: Tahoma,Arial,sans-serif;
	font-size:12px;
	color:#363636;
}
/*.chart_data_th_no_link{
    background:url(images/fhbg.gif) #E7E7E7 repeat-x top left;
	border-top:solid 1px #FCFCFC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #FCFCFC;
	height:14px; 
    padding:5px 2px 4px 2px;
	font-size:11px;
	font-weight:bold;
	vertical-align:top;
}
.chart_data_th{
    background:url(images/fhbg.gif) #E7E7E7 repeat-x top left;
	border-top:solid 1px #FCFCFC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #FCFCFC;
	height:14px; 
    padding:5px 2px 4px 2px;
	font-size:11px;
	font-weight:bold;
	vertical-align:top;
}
.chart_data_th:hover{
	background:url(images/wbg.gif) #E7E7E7 repeat-x 0 -2px;
}
.chart_data_th a:link, .sel_sup_th_sortable a:visited{
	text-decoration:none;
}
.sel_sup_th a:hover{
	text-decoration:underline;
}
.chart_data_th2{
    background-color:#F0F0F0 ;
	border-top:solid 1px #FCFCFC;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	border-left:solid 1px #FCFCFC;
	height:16px; 
    padding:4px 2px 3px 2px;
	font-size:11px;
	font-weight:bold;
	vertical-align:top;
}*/
.chart_data_td{
	background-color:#FFFFFF;
	border-top:solid 1px #FFFFFF;
	border-left:solid 1px #FFFFFF;
	border-right:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	height:16px;
	padding:4px 2px 3px 2px;
	font-size:12px;
	font-weight:bold;
	vertical-align:top;
}
.main_table_row, .main_table_row td{ 
	background-color: #FFFFFF;
    border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    font-size: 12px;
    height:16px; 
    padding:4px 2px 3px 2px;
    vertical-align:top;
}
.main_table_row_ul, .main_table_row_ul td{ 
	background-color: #FFFFFF;
    border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    font-size: 12px;
    height:16px; 
    padding:4px 2px 3px 2px;
    vertical-align:top;
}
.alternate_table_row td{ 
	background-color: #F8F8F8;
    border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    font-size: 12px;
    height:16px; 
    padding:4px 2px 3px 2px;
    vertical-align:top;
}
.alternate_table_row_ul td{ 
	background-color: #F8F8F8;
    border-left:solid 1px #FFFFFF;
    border-right:solid 1px #CCCCCC;
    border-bottom:solid 1px #CCCCCC;
    font-size: 12px;
    height:16px; 
    padding:4px 2px 3px 2px;
    vertical-align:top;
}
.main_tr_hover td{ 
	background-color: #B7DBFF;
}