﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_ProductCategoryLev3>
@{
    Layout = null;
    string languageID = SupplierPortal.Framework.MethodHelper.GetCurrentLanguageHelper.GetStringLanguageIDCurrent();
    int languageId = Convert.ToInt32(languageID);

    //var TitlePlus = "";
    //if (languageId == 1)
    //{
    //    TitlePlus = "Add";
    //}
    //else if (languageId == 2)
    //{
    //    TitlePlus = "เพิ่ม";
    //}
}
<style>
    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        border-top: none;
    }
</style>
<table class="table table-hover scroll">
    <tbody>
        @foreach (var item in Model.Where(w => w.CategoryID_Lev3 >= 0))
        {
            <tr>
                <td class="CategoryLv3_active" style='width: 100%'>
                    @if (languageId == 1)
                    {
                        @item.CategoryName_Inter
                    }
                    else if (languageId == 2)
                    {
                        @item.CategoryName_Local
                    }
                </td>
                <td class="CategoryLv3" data-catid3="@item.CategoryID_Lev3" style='width: 100%;cursor:pointer'>
                    <label hidden>
                        @if (languageId == 1)
                        {
                            @item.CategoryName_Inter
                        }
                        else if (languageId == 2)
                        {
                            @item.CategoryName_Local
                        }
                    </label>
                    <span style="text-decoration: underline" @*class="fa fa-plus"*@ aria-hidden="true" data-toggle="tooltip" placement="left" title="@T("_Regis.Category.LblTitleAdd")">@T("_Regis.Category.LblTitleAdd")</span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">

    $(document).ready(function () {

        $(".CategoryLv3_active").on("click", function () {
            $self = $(this);
            $self.closest('table').find('.active-cat').removeClass('active-cat');
            $self.closest('tr').addClass('active-cat');
        });
        $(".CategoryLv3").on("click", function () {
            $self = $(this);
            var id = $self.data('catid3');
            $self.closest('table').find('.active-cat').removeClass('active-cat');
            $self.closest('tr').addClass('active-cat');

            var datacate = [];
            var value_Lv3 = new Array();
            var data = $("#ProductTypeList div[data-producttype]");
            data.each(function (index) {

                //get idProductCategory Lv3
                var name_Lv3 = "model.ProductCategory[" + index + "].CategoryID_Lev_3"
                $.each($("input[name='" + name_Lv3 + "']"), function () {
                    //value_Lv3.push($(this).val());
                    var vallv3 = $(this).val();

                    //get ProductsTypeID
                    var values = new Array();
                    var name = "model.ProductCategory[" + index + "].ProductsTypeID"
                    $.each($("input[name='" + name + "']:checked"), function () {
                        values.push($(this).val());
                    });
                    datacate.push({ CategoryID_Lev_3: vallv3, ProductsTypeID: values });
                });
            });
            //productCategorys.indexOf(id) == -1
            if ($.inArray(-1, productCategorys)) {
                productCategorys.push(id);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetProductCategory", "ProductInformation")',
                    data: JSON.stringify({ ProductCategory: datacate, productCategorys: productCategorys }),
                    contentType: 'application/json',
                    dataType: 'html',
                    success: function (data) {
                        $("#valideCategory").css("display", "none");
                        $('#categoryVal').html(data);
                        ReloadButtonSetProductType();
                    }
                });
            }
        });
    });
</script>

