﻿@model List<SupplierPortal.Data.Models.SupportModel.Register.CategoryModel>
@{
    int i = 1;
    Layout = null;
    string languageID = SupplierPortal.Framework.MethodHelper.GetCurrentLanguageHelper.GetStringLanguageIDCurrent();
    int languageId = Convert.ToInt32(languageID);
    var masters = Model.GroupBy(g => new
    {
        CategoryID_Lev1 = g.CategoryID_Lev1,
        CategoryName = languageId == 1 ? g.CategoryName_Inter : g.CategoryName_Local
    })
                       .Select(s => new
                       {
                           CategoryID_Lev1 = s.Key.CategoryID_Lev1,
                           CategoryName = s.Key.CategoryName,
                           CategoryLv3 = s.Select(ss => ss.CategoryLv3).OrderBy(o => o.CategoryID_Lev3)
                           .OrderBy(o => o.CategoryID_Lev3 < 0)
                           .ThenBy(p => languageId == 1 ? p.CategoryName_Inter : p.CategoryName_Local)
                           .ToList()
                       })
                       .OrderBy(o => o.CategoryID_Lev1)
                       .ToList();


    var productTypeList = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetProductTypeGroup(languageId);
    var dataProductType = ViewBag.ProductType as List<SupplierPortal.Data.Models.MappingTable.Tbl_OrgProductCategory>;

    //var TitleDelete = "";
    //if (languageId == 1)
    //{
    //    TitleDelete = "Delete";
    //}
    //else if(languageId == 2)
    //{
    //    TitleDelete = "ลบ";
    //}
}
<style>
    .bgHTable {
      background-color: #98c93d;
    }
</style>
<table id="ProductTypeList" class="table">
    <tbody>
        <tr class="bgHTable">
            <th width="5%">#</th>
            <th width="25%">@T("_Regis.Category.LblTblMainCategory")</th>
            <th width="70%">
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <th width="10%"></th>
                            <th width="25%">
                                @T("_Comprofile.Category.LblTblProductCategory")
                            </th>
                            <th width="55%">
                                @T("_ComPro.ProductInfo.TblProduct.ColCaption.ProductType")
                            </th>
                            <th width="10%" style="text-align:center">@T("_Regis.ProductCategory.LblProductCategory_Action")</th>
                        </tr>
                    </tbody>
                </table>
            </th>
        </tr>
        @{var subItemIndex = 0;}
        @foreach (var item in masters)
        {
            <tr>
                <td>@i</td>
                <td data-catid1="@item.CategoryID_Lev1">
                    @item.CategoryName
                </td>
                <td>
                    <table style="width:100%">
                        <tbody>
                            @foreach (var sub_item in item.CategoryLv3)
                            {
                                <tr>
                                    <td width="10%">
                                        >>
                                    </td>
                                    <td data-catid3="@sub_item.CategoryID_Lev3" width="25%">
                                        @Html.Hidden(string.Format("model.ProductCategory[{0}].CategoryID_Lev_3", subItemIndex), sub_item.CategoryID_Lev3)
                                        @if (languageId == 1)
                                        {
                                            @sub_item.CategoryName_Inter
                                        }
                                        else if (languageId == 2)
                                        {
                                            @sub_item.CategoryName_Local
                                        }
                                    </td>
                                    <td width="55%">
                                        @{
                                        string textProductType = "";
                                        textProductType += "<div data-producttype >";

                                        var productsType = (from p in productTypeList
                                                            select new
                                                            {
                                                                ProductType = p,
                                                                IsChecked = dataProductType.Exists(x => x.ProductTypeID == p.EntityID && x.CategoryID_Lev3 == sub_item.CategoryID_Lev3)
                                                            }).ToList();
                                        foreach (var itemList in productsType)
                                        {
                                            string checkedRadio = "";
                                            var canChecked = (!productsType.Any(a => a.IsChecked) && itemList.ProductType.EntityID == 3) || itemList.IsChecked;
                                            //   var canChecked = itemList.IsChecked;
                                            if (canChecked)
                                            {
                                                checkedRadio = "checked=\"checked\"";
                                            }
                                            // if (dataProductType.Exists(x => x.ProductTypeID == itemList.EntityID && x.CategoryID_Lev3 == sub_item.CategoryID_Lev3))
                                            // {
                                            //  checkedRadio = "checked=\"checked\"";
                                            //}
                                            // else
                                            // {
                                            //   checkedRadio = "";
                                            // }
                                            textProductType += " <input type=\"checkbox\" id=\"radio" + sub_item.CategoryID_Lev3 + "_" + itemList.ProductType.EntityID + "\" name=\"model.ProductCategory[" + subItemIndex + "].ProductsTypeID\" value=\"" + itemList.ProductType.EntityID + "\" " + checkedRadio + "> ";
                                            textProductType += " <label for=\"radio" + sub_item.CategoryID_Lev3 + "_" + itemList.ProductType.EntityID + "\">" + itemList.ProductType.EntityValue + "</label> ";
                                        }

                                        textProductType += "</div>";
                                        @Html.Raw(textProductType)
                                        }

                                    </td>
                                    <td width="10%" align="center">
                                        <img src="/Content/images/icon/ico-sp_deluser2.gif" class="removetrcat" style="cursor:pointer" data-categoryvalue="@sub_item.CategoryID_Lev3" alt="Submit" data-toggle="tooltip" placement="left" title="@T("_Regis.Category.LblTitleDelete")" doctype="1">
                                    </td>
                                </tr>
                                        subItemIndex++;
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
                            i++;
        }
    </tbody>
</table>
