﻿@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyProductKeywordModel
@{
    int i = 0;
    ViewBag.Title = "Company Profile";
    Layout = "~/Views/Shared/_LayoutCompanyProfile.cshtml";
}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>
<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "CompanyProfile" }); }
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            @{ Html.RenderAction("HeaderAndProgressPercent", "ComProfile"); }
        </div>
    </div>



    <div class="row m-sec">
        @*<div class="col-sm-3 col-md-3 menuL">
                @{ Html.RenderAction("CompanyProfileMenu", "ComProfile"); }
            </div>*@

        <div class="col-sm-12 col-md-12 r-sec">
            @using (Html.BeginForm("ProductKeywordSave", "ProductInformation", FormMethod.Post, new { @id = "mainOrgProductKeywordForm", }))
            {
                @Html.HiddenFor(m => m.SupplierID, new { @id = "SupplierID" })

                <div class="data_end"></div>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                                <div class="pull-right">
                                    <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" id="btnSaveProductKeyword" />
                                </div>

                            </div>
                        </div>

                        <div class="data_end" style="padding-top:20px;"></div>

                        <div id="remove_productKeyword"></div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="list-keyword">
                                    <thead>
                                        <tr class="regis_table_header">
                                            <td width="10%">@T("_ComPro.ProductKeyword.TblProductKeyword.ColCaption.No")</td>
                                            <td width="80%">@T("_ComPro.ProductKeyword.TblProductKeyword.ColCaption.Keyword")</td>
                                            <td width="10%">@T("_ComPro.ProductKeyword.TblProductKeyword.ColCaption.Action")</td>
                                        </tr>
                                    </thead>
                                    <tbody id="p_scents">
                                        @foreach (var itemList in Model.OrgProductKeyword)
                                        {
                                            string linkDelete = "<input type=\"image\" src=\"/Content/images/icon/ico-sp_deluser2.gif\"  id=\"deleteKeyword\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete Keyword\" prodKeyword = " + @itemList.ProductKeyword + " >";

                                            i++;
                                            <tr class="main_table_row numbered_row">
                                                <td align="center" class="row_number"></td>
                                                <td align="left">@itemList.ProductKeyword</td>
                                                <td align="center">
                                                    @Html.Raw(linkDelete)
                                                    @*<input type="hidden" name="hidProductKeyword[]" value="@itemList.ProductKeyword.Trim()" />*@
                                                </td>
                                            </tr>
                                        }
                                        @if (i == 0)
                                        {
                                            <tr class="main_table_row" id="lastData">
                                                <td align="center" colspan="3">@T("_ComPro.ProductKeyword.TblProductKeyword.LblNoData")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <div class="data_end" style="padding-top:30px;"></div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="center-myAccount-button">

                                    <div class="form-inline-custom">
                                        <div class="form-inline-element margin-none">
                                            @Html.Label("", T("_ComPro.ProductKeyword.LblKeyword").ToString(), new { @class = "form_label_bold" })
                                        </div>
                                        <div class="form-inline-element margin-none">
                                            &nbsp;&nbsp;&nbsp;
                                        </div>
                                        <div class="form-inline-element margin-none">
                                            <input id="txtProductKeyword" type="text" class="form-control" placeholder="@T("_ComPro.ProductKeyword.GtxtKeyword")" style="width: 233px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display:none;" id="errorDuplicateKetword">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="center-myAccount-button">
                                        <span class="text-danger-bold">@T("_ComPro.ValidateMsg.DuplicateKeyword")</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="display:none;" id="errorRequireKeyword">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <div class="center-myAccount-button">
                                        <span class="text-danger-bold">@T("_ComPro.ValidateMsg.RequireKeyword")</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="data_end" style="padding-top:10px;"></div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="center-myAccount-button">
                                    <input type="button" id="btnAddProductKeyword" value="@T("_ComPro.ProductKeyword.Btn.AddProductKeyword")" class="btn btn-success" />
                                    &nbsp;&nbsp;&nbsp;
                                    <input type="button" id="btnResetProductKeyword" value="@T("_ComPro.ProductKeyword.Btn.ResetProductKeyword")" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            }
        </div>

    </div>

</div>



<script type="text/javascript">

    function htmlDecodeComma(str) {
        var res = str.replace(",", "{comma}#44");
        return res;
    }

    function ReloadRowsNumber() {
        $('table tr.numbered_row').each(function (i) {
            $(this).children('.row_number').text(i + 1);
        });
    }

    $(document).ready(function () {

        ReloadRowsNumber();


        $("#btnResetProductKeyword").click(function () {
            $("#txtProductKeyword").val("")
            $("#errorDuplicateKetword").css("display", "none");
        });

        $("#btnAddProductKeyword").click(function (evt) {
            var keyword = "";
            keyword = $.trim($("#txtProductKeyword").val());

            if (keyword == "") {
                evt.preventDefault();
                $("#errorRequireKeyword").css("display", "block");
                return false;
            } else {
                $("#errorRequireKeyword").css("display", "none");
            }

            dataAdd = [];
            var trList = $("#list-keyword>tbody").find('tr');

            $.each(trList, function () {
                var proKeyword = $(this).find('td').eq(1).text();
                console.log(proKeyword);
                proKeyword = $.trim(proKeyword);
                dataAdd.push({ ProdKeyword: proKeyword || "" });
            });

            var obj = $.grep(dataAdd, function (obj) { return obj.ProdKeyword.toUpperCase() == keyword.toUpperCase() })
            console.log(obj);
            if (obj.length > 0) {
                //console.log("errorDuplicateKetword");
                evt.preventDefault();
                $("#errorDuplicateKetword").css("display", "block");
                return false;
            } else {
                $("#errorDuplicateKetword").css("display", "none");
            }
            disablePage();
            $.ajax({
                url: '@Url.Action("AddProductKeyword", "ProductInformation")',
                type: 'POST',
                data: JSON.stringify({
                    productKeyword: keyword
                }),
                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                    if (data.isSuccess) {

                        $('#lastData').remove();
                        $('#list-keyword tbody').append(data.htmlText);
                        $("#txtProductKeyword").val("")
                        ReloadRowsNumber();
                    }


                    $.unblockUI();
                },
                error: function (data) {
                    alert("error");
                    //console.log(data);
                    $.unblockUI();
                }
            });

        });


        $(document).on('click', '#deleteKeyword', function () {

            var proKeyword = $(this).closest('tr').find('td').eq(1).text();
            var enproKeyword = htmlDecodeComma(proKeyword);
            //console.log(enproKeyword);
            $(this).closest('tr').remove();

            var rowCount = $('#list-keyword >tbody >tr').length;

            if (rowCount == 0) {
                var scntDiv = $('#p_scents');
                var htmlText = "<tr class=\"main_table_row\" id=\"lastData\"><td align=\"center\" colspan=\"3\"> No Data </td></tr>";
                scntDiv.append(htmlText);
            }



            var htmlText = "";
            htmlText += "<input type=\"hidden\" name=\"hidRemoveProductKeyword[]\" value=\"" + enproKeyword + "\" />";
            $(htmlText).appendTo("#remove_productKeyword");

            ReloadRowsNumber();
            event.preventDefault();
            return false;
        });

        $("#btnSaveProductKeyword").click(function (evt) {
            var $formProductKeyword = $('#mainOrgProductKeywordForm');
            if ($formProductKeyword.valid()) {
                disablePage();
                $formProductKeyword.submit();
            }
        });

    });

</script>

