﻿@model SupplierPortal.Data.Models.SupportModel.RegisterPortal.RegAttachmentListModels
@{
    int i = 0;

    int regID = Convert.ToInt32(TempData["RegID"]);

    int companyTypeID = Model.CompanyTypeID;

    int documentTypeID = 0;

    string pathSave = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Register_AttachmentPath");

}
@foreach (var nameList in Model.DocumentName)
{
    documentTypeID = nameList.DocumentTypeID;
    
    foreach (var item in Model.RegAttachment.Where(m => m.DocumentNameID == nameList.DocumentNameID))
    {
        i++;
        
        
        string pathForSaving = pathSave + item.RegID;

        string virtualFilePath = pathForSaving + "/" + item.AttachmentNameUnique;

        //string linkDelete2 = "<input type=\"image\" src=\"/Content/images/icon/ico-sp_deluser2.gif\" alt=\"Delete\" onclick=\"return deleteData('" + item.AttachmentID + "','" + item.AttachmentNameUnique + "','" + nameList.DocumentNameID + "','" + nameList.DocumentTypeID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete file\">";

        string linkDelete2 = "<img src=\"/Content/images/icon/ico-sp_deluser2.gif\" alt=\"Delete\" onclick=\"return deleteData('" + item.AttachmentID + "','" + item.AttachmentNameUnique + "','" + nameList.DocumentNameID + "','" + nameList.DocumentTypeID + "');\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"Delete file\" class = \"iconDeleteDoc\">";


        string inputFileName = "hidFile_" + item.DocumentNameID + "[]";

        string inputGuidName = "hidGuid_" + item.DocumentNameID + "[]";

        string inputOtherDocument = "hidOtherDocument_" + item.DocumentNameID + "[]";

        string fileSize = SupplierPortal.Services.RegisterPortalManage.RegisterService.GetFileSize(Convert.ToInt32(item.SizeAttach));

        string docName = "";

        if (item.DocumentNameID == -1)
        {
            docName = item.OtherDocument;
        }
        else
        {
            docName = nameList.DocumentName;
        }
        //string otherDocumentType = tbxdocname;


        <tr class="main_table_row docName_@item.DocumentNameID" id="item_@item.AttachmentID">
            <td align="left">
                <div class="file-attachment-download">
                    @Html.ActionLink(item.AttachmentName, "Download", new { filePath = virtualFilePath, fileName = item.AttachmentName })
                </div>
                <input type="hidden" name="@inputFileName" value="@item.AttachmentName" />
                <input type="hidden" name="@inputGuidName" value="@item.AttachmentNameUnique" />
                <input type="hidden" name="@inputOtherDocument" value="@item.OtherDocument" />
            </td>
            <td align="right">@fileSize</td>
            <td align="left">@docName</td>
            <td align="center">@Html.Raw(linkDelete2)</td>
        </tr>


    }
    @*if (Model.RegAttachment.Where(m => m.DocumentNameID == nameList.DocumentNameID).Count() == 0 && i == 1)
    {
        <tr class="main_table_row" id="lastData_@nameList.DocumentTypeID">
            <td align="center" colspan="4">@T("_Regis.Attachment.TblUploadedFile.LblNoData")</td>
        </tr>
    }*@
    
}
@if (i == 0)
{
    <tr class="main_table_row" id="lastData_@documentTypeID">
        <td align="center" colspan="4">@T("_Regis.Attachment.TblUploadedFile.LblNoData")</td>
    </tr>
}
