﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_ProductCategoryLev2>
@{
    Layout = null;
    string languageID = SupplierPortal.Framework.MethodHelper.GetCurrentLanguageHelper.GetStringLanguageIDCurrent();
    int languageId = Convert.ToInt32(languageID);
}
<style>
    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        border-top: none;
    }
</style>
<table class="table table-hover scroll">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="CategoryLv2" data-catid2="@item.CategoryID_Lev2" style='width: 100%;cursor:pointer'>
                    @if (languageId == 1)
                    {
                        @item.CategoryName_Inter
                    }
                    else if (languageId == 2)
                    {
                        @item.CategoryName_Local
                    }
                </td>
                <td class="CategoryLv2" data-catid2="@item.CategoryID_Lev2" style='width: 100%;cursor:pointer'>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $(".CategoryLv2").on("click", function () {
            $self = $(this);
            var id = $self.data('catid2');
            $self.closest('table').find('.active-cat').removeClass('active-cat');
            $self.closest('tr').addClass('active-cat');
            $.ajax({
                type: "GET",
                url: "/Register/GetProductCategory3?id=" + id,
                data: id,
                datatype: "html",
                success: function (data) {
                    $('#category3').html(data);
                }
            });
        });
    });
</script>



@*@section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $(".CategoryLv2").on("click", function () {
                    var id = $(this).data('catid2');
                    alert(id);
                    $.ajax({
                        type: "GET",
                        url: "/Register/GetProductCategory3?id=" + id,
                        data: id,
                        datatype: "html",
                        success: function (data) {
                            $('#category3').html(data);
                        }
                    });
                });
            });
        </script>
    }*@
