﻿@using SupplierPortal.Data.Models.SupportModel.AccountPortal
@using SupplierPortal.Data.Models.MappingTable
@model IEnumerable<NewsDisplayModel>
@{
    var i = 1;
}


<div class="row">
    <div class="col-sm-3 col-sm-offset-7 ep_box_wrapper">
        <div class="panel panel-default" style="width:280px; margin-right:190px;">
            <div class="panel-heading"> <span class="glyphicon glyphicon-list-alt"></span><b>@T("_Login.LblNewsFeed.Title")</b></div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="newsFeed">
                            @foreach (var item in Model)
                            {
                                <li class="news-item">
                                    <div style="height:125px;overflow:hidden;">
                                        @Html.Raw(item.NewsDetail)
                                    </div>
                                    <div style="margin-top:2%;">
                                        <center>
                                            <a href="@Url.Action("News","Landing",new { newsID = item.NewsId })" target="_blank">Read More</a>
                                        </center>
                                    </div>
                                    @*<br>
                                        @Html.Raw(item.NewsDetail)*@
                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <ul class="newsFeed">

                    @foreach (var item in Model)
                    {

                        <li class="news-item">
                            <b>@i @T("_Login.LblNewsFeed.count.of") @Model.Count() </b>
                            @*<br>
                                @Html.Raw(item.NewsDetail)*@
                        </li>
                        i++;
                    }


                </ul>


            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/scripts/jquery.bootstrap.newsbox.js" type="text/javascript"></script>
<script type="text/javascript">
    (function () {
        $(".newsFeed").bootstrapNews({
            newsPerPage: 1,
            autoplay: true,
            pauseOnHover: false,
            direction: 'up',
            newsTickerInterval: 7000,
            onToDo: function () {
                //console.log(this);
            }
        })

        $('.clearfix').next().remove();
    })(jQuery);
</script>
