﻿@model SupplierPortal.Data.Models.SupportModel.AccountPortal.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password - Supplier Web Work";
    Layout = "~/Views/Shared/_LayoutForgotPassword.cshtml";
    string viewbagMassage = ViewBag.Message;
}

<div class="container body-content" style="min-height: 540px;">
    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="my_breadcrumb" class="breadcrumb_wrapper">
                @Html.ActionLink(T("_Login.ForgotPassword.LblLoginLink").ToString(), "Login", "AccountPortal", new { @class = "my_breadcrumb" }) > @*<span class="my_breadcrumb_hl">Reset Password</span>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="normal_topic_wrap">
                <div class="normal_topic">

                    <span class="normal_topic_detial">@T("_Login.ForgotPassword.TxtForgotPasswordDesc")</span>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            &nbsp;&nbsp;<p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs-custom" role="tablist">
                <li class="active"><a href="#home" role="tab" data-toggle="tab"><span class="forgotPassword_label">@T("_Login.ForgotPassword.LblForgotPassword")</span></a></li>
            </ul>
            <div class="tab-content">
                @using (Html.BeginForm("ForgotPasswordConfirmation", "AccountPortal", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-login" }))
                {
                    <div class="tab-pane active" id="home">
                        <table class="tbl_noline_bold" cellspacing="0" cellpadding="0" border="0" align="center" width="98%">
                            <tbody id="ShowRow1">
                                <tr>
                                    <td width="80%">
                                        <div class="form_label">
                                            @T("_Login.ForgotPassword.LblUserLogin")<span class="red_highlight">*</span>
                                        </div>
                                    </td>
                                    <td width="20%" rowspan="2" style="padding:0;vertical-align: top;">
                                        <div style="float:right;">
                                            <input type="submit" value="@T("_Global.BtnSubmit")" class="btn btn-primary" onclick="submitCheck();" />
                                            @Html.ActionLink(T("_Global.BtnClose").ToString(), "Login", null, new { @class = "btn btn-default" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <div class="form_item">

                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", id = "username", maxlength = "50", placeholder = T("_Login.ForgotPassword.LblUsername") })<br>
                                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger-bold" })
                                            @*@Html.TextBox("username", null, new { @class = "input-long", id = "Login", maxlength = "50" })*@
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                }
            </div>
        </div>
    </div>

</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                @*@viewbagMassage*@
                @Html.Raw(viewbagMassage)
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button></div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@{
    if (!string.IsNullOrEmpty(viewbagMassage))
    {

        <script>
            $("#myModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
                $("#myModal a.btn").on("click", function (e) {
                    //alert("11");
                    console.log("button pressed");   // just as an example...
                    $("#myModal").modal('hide');     // dismiss the dialog
                });
            });

            $("#myModal").on("hide", function () {    // remove the event listeners when the dialog is dismissed
                $("#myModal a.btn").off("click");
            });

            $("#myModal").on("hidden", function () {  // remove the actual elements from the DOM when fully hidden
                $("#myModal").remove();
            });

            $("#myModal").modal({                    // wire up the actual modal functionality and show the dialog
                "backdrop": "static",
                "keyboard": true,
                "show": true                     // ensure the modal is shown immediately
            });
        </script>


    }


}


}


