﻿@{
    ViewBag.Title = "Landingpage";
    Layout = "~/Views/Shared/_LayoutLoginPortal.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-5">
        @Html.ActionLink(T("Members").ToString(), "Login", "AccountPortal", null, new { @class = "btn btn-success btn-sm" })
        @Html.ActionLink(T("Non-Members").ToString(), "SupplierRegister", "RegisterPortal", null, new { @class = "btn btn-success btn-sm" })
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
