﻿@model SupplierPortal.Data.Models.SupportModel.AccountPortal.LoginPortalModel
@{
    ViewBag.Title = "LoginTest";
    Layout = "~/Views/Shared/_LayoutLoginPortal.cshtml";
}

<div class="row">
    <div class="col-sm-3 col-sm-offset-7 ep_box_wrapper">
        <div class="ep_box_body">
            @using (Html.BeginForm("Login", "AccountPortal", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-login" }))
            {
                @Html.AntiForgeryToken()

                <div class="ep_box_content">
                    <div class="ep_box_topic">@T("_Login.LblMyAccount")</div>
                    <div class="ep_login_wrapper">
                        @Html.TextBoxFor(m => m.Username, new { @class = "username_txt_box", id = "username", maxlength = "50", placeholder = T("_Login.TxtUsername") })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger-bold" })
                    </div>
                    <div class="ep_pwd_wrapper">
                        @Html.PasswordFor(m => m.Password, new { @class = "pwd_txt_box", id = "password", maxlength = "50", placeholder = T("_Login.TxtPassword") })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger-bold" })
                    </div>

                    @Html.ValidationMessage("Error", new { @class = "text-danger-bold" })
                    <div id="login_error_box" class="login_error_box" style="display:none;">
                        <div id="login_error"></div>
                    </div>
                    <div class="ep_submit_wrapper">
                        <input type="submit" value="@T("_Login.BtnLogin")" class="btn_login" onclick="submitLogin();" />
                    </div>
                    <div class="ep_forgot_pwd">
                        @Html.ActionLink(T("_Login.LblForgotPassword").ToString(), "ForgotPasswordConfirmation", "AccountPortal")
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 col-sm-offset-7 ep_box_wrapper">
        <div class="ep_box_body">
            <div class="ep_box_content">
                <div class="row">
                    <div class="ep_box_topic">@T("_Login.LblAnnouncement")</div>
                </div>
                <div class="data_end" style="padding-top:20px;"></div>
                <div class="row">
                    <div class="ep_announcement">
                        @TP("Login.LblAnnouncement.Detail")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">


    function submitLogin() {

        var $form = $("#form-login");
        if ($form.valid()) {
            disablePage();
        }
    }
</script>

