﻿@using SupplierPortal.Data.Models.MappingTable

@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyFacilityModel
@{

    var command = (ViewBag.Command ?? "add") as string;
    var facilityID = Convert.ToInt32(ViewBag.FacilityTypeID);

    //var submitMessage = command.Equals("edit") ? T("_ComPro.Facility.Btn.Edit").ToString() : T("_ComPro.Facility.Btn.Add").ToString();
}

<script type="text/javascript">

</script>


@*@using (Ajax.BeginForm("FacilityTemplate", null, new AjaxOptions()
    {
        UpdateTargetId = "listUserFacility",
        OnSuccess = "formSuccess"
    }, new { id = "fmUpdateFacility"}))
    {*@
@using (Html.BeginForm("Facility", "AdditionalInformation", FormMethod.Post, new { @id = "FacilityTempForm" }))
{
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div style="float:right;padding-right:20px">

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnSubmit">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="data_end" style="padding-top:20px;"></div>

    @Html.Hidden("command", command)
    @Html.HiddenFor(f => f.FacilityID)
    @Html.HiddenFor(f => f.AddressID)
    @Html.HiddenFor(f => f.SupplierID)

    @*@Html.HiddenFor(f => f.FacilityTypeID)*@
    @*<div id="myAccountAuthen">*@
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    @*<div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div style="float:right;padding-right:20px">
                                    <input type="button" value="@T("_Global.BtnSave")" class="btn btn-primary" @/>
                                </div>
                            </div>
                        </div>*@



                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @*@Html.Label("", T("_ComPro.Shareholder.LblIdentityNo").ToString(), new { @class = "form_label_bold" })
                            *@
                            @Html.Label("", "Facility Type :", new { @class = "form_label_bold" })
                            <span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            @*<div class="form-inline">
                                <div class="form-inline-element margin-none">*@
                            @Html.Action("FacilityPartial", new { model = Model })
                            @*</div>
                                <div class="form-inline-element margin-none">
                                  @Html.ValidationMessageFor(f => f.FacilityTypeID, null, new { @class = "text-danger-bold" })*@
                            @*</div>
                                </div>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Facility Name :", new { @class = "form_label_bold" })
                            <span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.FacilityName, null, new { @class = "form-control", id = "", maxlength = "255", @style = "" })
                                    @*@Html.TextBoxFor((f => f.FacilityName), new { @class = "form-control", @id = "", @style = "width: 257px;" })*@
                                </div>
                                <div class="form-inline-element margin-none">
                                    @*@Html.ValidationMessageFor(f => f.FacilityName, null, new { @class = "text-danger-bold" })*@
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Phone No : ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.PhoneNo, null, new { @class = "form-control", id = "", maxlength = "", @style = "" })
                                    @*@Html.TextBoxFor((f => f.PhoneNo), new { @class = "form-control", @id = "", @placeholder = "" })*@
                                </div>
                                <div class="form-inline-element margin-none">
                                    Ext.
                                </div>
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.PhoneExt, null, new { @class = "form-control", id = "", maxlength = "", @style = "" })
                                    @*@Html.TextBoxFor((f => f.PhoneExt), new { @class = "form-control", @id = "", @placeholder = "" })*@
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Mobile : ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(m => m.Mobile, null, new { @class = "form-control", id = "", maxlength = "", @style = "" })
                                    @*@Html.TextBoxFor((f => f.Mobile), new { @class = "form-control", @id = "", @placeholder = "" })*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Fax No : ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">

                                    @Html.TextBoxFor(f => f.FaxNo, null, new { @class = "form-control", @id = "", @placeholder = "" })
                                </div>
                                <div class="form-inline-element margin-none">
                                    Ext.
                                </div>
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.FaxExt, null, new { @class = "form-control", @id = "", @placeholder = "" })
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "WebSite : ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.WebSite, null, new { @class = "form-control", @id = "", @placeholder = "" })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @*@Html.ValidationMessageFor(f => f.WebSite, null, new { @class = "text-danger-bold" })*@
                                </div>
                            </div>
                        </div>
                    </div>
                    @* ============================ Address ===============================*@
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="strike-subHeader">
                                <span class="lable-head-text">@T("_ComPro.ContactPerson.LblSubHeader.Address")</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "House No : ", new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.HouseNo, null, new { @class = "form-control", @id = "", @placeholder = "" })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @*@Html.ValidationMessageFor(f => f.HouseNo, null, new { @class = "text-danger-bold" })*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Village No : ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.VillageNo, null, new { @class = "form-control", @id = "", @placeholder = "" })
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Lane : ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.Lane, null, new { @class = "form-control", @id = "", @placeholder = "" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Street : ", new { @class = "form_label_bold" })
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.Street, null, new { @class = "form-control", @id = "", @placeholder = "" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Sub-District : ", new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.SubDistrict, null, new { @class = "form-control", @id = "SubDistrict", @placeholder = "" })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @*@Html.ValidationMessageFor(f => f.SubDistrict, null, new { @class = "text-danger-bold" })*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "City : ", new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.DistrictCity, null, new { @class = "form-control", @id = "DistrictCity", @placeholder = "" })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @*@Html.ValidationMessageFor(f => f.DistrictCity, null, new { @class = "text-danger-bold" })*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 col-md-3">
                            @Html.Label("", "Province State : ", new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                        </div>
                        <div class="col-xs-9 col-md-9">
                            <div class="form-inline-regis">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor(f => f.ProvinceState, null, new { @class = "form-control", @id = "ProvinceState", @placeholder = "" })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @*@Html.ValidationMessageFor(f => f.ProvinceState, null, new { @class = "text-danger-bold" })*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:30px;"></div>

                    <div class="text-center">
                        @*<button id="btnAppend" type="submit" class="btn btn-success" value="save">@submitMessage</button>*@

                        @*@Ajax.ActionLink(T("_ComPro.Facility.Btn.Reset").ToString(), "ResetFacility", null, new AjaxOptions() { UpdateTargetId = "fmUpdateFacility", InsertionMode = InsertionMode.ReplaceWith }, new { id = "btnReset", @class = "btn btn-default", data_dismiss = "modal" })*@
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*</div>*@

    @*<div id="myAlertLocal" class="fixedContainer alert alert-warning fade">
            <strong>@T("_ComPro.ValidateMsg.InvalidLangLocalName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangLocalName.Txt")
        </div>

        <div id="myAlertInter" class="fixedContainer alert alert-warning fade">
            <strong>@T("_ComPro.ValidateMsg.InvalidLangInterName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangInterName.Txt")
        </div>*@

    @*if (command.Equals("edit") || command.Equals("add"))
        {
            <script type="text/javascript">
                $(document).ready(function () {
                 //  $("#myAccountAuthen").fadeToggle("slow");

                    //$("#btnCancel").click(function () {
                    //    $("#myAccountAuthen").fadeToggle("slow");
                    //});
                    //var form = $('#fmUpdateShareholder').is(':visible');
                    //console.log(form);
                    //if (form)
                    //    $('#fmUpdateShareholder').hide();
                    //else
                    //    $('#fmUpdateShareholder').show();
                });

                var formSuccess = function () {
                    $('#btnReset').click();
                };

                var formDeleteSuccess = function () {
                    $('#btnReset').click();
                };

            </script>
        }*@

}

@*}*@
