﻿
@*@using SupplierPortal.Data.Models.MappingTable*@
@using SupplierPortal.Data.Models.SupportModel.CompanyProfile

@model IEnumerable<CompanyFacilityModel>
@{
    int i = 0;
   
    var modelItemIndex = 1;

    //string countryCode = Model.Select(m => m.CountryCode).FirstOrDefault();

    //string colCaptionLocalName = "";
    //string colCaptionInterName = "";


    //if (countryCode == "TH")
    //{
    //    colCaptionLocalName = T("_ComPro.Shareholder.TblShareholder.ColCaption.THLocalName").ToString();
    //    colCaptionInterName = T("_ComPro.Shareholder.TblShareholder.ColCaption.THInterName").ToString();

    //}
    //else
    //{
    //    colCaptionLocalName = T("_ComPro.Shareholder.TblShareholder.ColCaption.NonTHLocalName").ToString();
    //    colCaptionInterName = T("_ComPro.Shareholder.TblShareholder.ColCaption.NonTHInterName").ToString();

    //}
}


<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="listUserFacility">
    <thead>
        <tr class="regis_table_header">
            <td width="5%">@T("_ComPro.Facility.Tbl_Facility.ColCation.No")</td>
            <td width="25%">@T("_ComPro.Facility.Tbl_Facility.ColCation.FacilityName")</td>
            <td width="20%">@T("_ComPro.Facility.Tbl_Facility.ColCation.FacilityType")</td>
            <td width="20%">@T("_ComPro.Facility.Tbl_Facility.ColCation.Telephone.No")</td>
            @*<td width="13%">@T("_ComPro.Facility.Tbl_Facility.ColCation.Mobile")</td>*@
            <td width="20%">@T("_ComPro.Facility.Tbl_Facility.ColCation.Fax")</td>
            @*<td width="15%">@T("_ComPro.Facility.Tbl_Facility.ColCation.Website")</td>*@
            <td width="10%">@T("_ComPro.Facility.Tbl_Facility.ColCation.Action")</td>
        </tr>
    </thead>
    <tbody id="p_scents">

        @foreach (var item in Model)
        {
            string linkDelete = "<a  data-toggle=\"tooltip\" data-placement=\"left\" title=\"\" onclick=\"deleteFacility('" + item.FacilityID + "','" + item.AddressID + "');\" style=\"cursor:pointer;\" ><img src=\"/Content/images/icon/ico-sp_deluser2.gif\"></a>";
            string phoneExt = "";
            string FaxExt = "";
            if (!string.IsNullOrEmpty(item.PhoneExt))
            {
                phoneExt = T("_ComPro.Facility.TbLFacility.LblFaxExt").ToString() + " " + item.PhoneExt;
            }
            else
            {
                phoneExt = "";
            }
            if (!string.IsNullOrEmpty(item.PhoneExt))
            {
                FaxExt = T("_ComPro.Facility.TbLFacility.LblFaxExt").ToString() + " " + item.FaxExt;
            }
            else
            {
                FaxExt = "";
            }
            
            i++;
            <tr class="main_table_row numbered_row" id="@item.SeqNo">
                <td align="center" class="row_number">@modelItemIndex</td>
                <td align="left">@item.FacilityName</td>
                <td align="left">@item.FacilityType</td>
                <td align="left">@item.PhoneNo @phoneExt</td>
                @*<td align="left">@item.MobileNo</td>*@
                <td align="left">@item.FaxNo @FaxExt</td>             
                @*<td align="left">@item.WebSite</td>*@
                <td align="center">
                    @*<a href="#" class="btn-edit" data-id="@item.Id"><i class="glyphicon glyphicon-edit"></i></a>
                        |
                        <a href="#" class="btn-delete" data-id="@item.Id"><i class="glyphicon glyphicon-trash"></i></a>*@
                    @Html.Raw(Ajax.ActionLink("edit", "EditFacility", new { FacilityID = item.FacilityID },
                 new AjaxOptions()
                 {
                     UpdateTargetId = "fmFacility",
                     InsertionMode = InsertionMode.ReplaceWith,
                     OnComplete = "GetAddressAutocomplete();"
                 },

                     new { id = "editFacility" })
                                  .ToHtmlString()
                                 .Replace("edit", "<img src='/Content/images/icon/ico-sp_edituser2.gif' />").ToString())
                    @Html.Raw(linkDelete)
                    @*@Html.Raw(Ajax.ActionLink("_delete_", "DeleteFacility", new { facilityID = item.FacilityID, addressID = item.AddressID },
                 new AjaxOptions()
                    {
                        UpdateTargetId = "fmFacility",
                        OnSuccess = "listUserFacility"
                    }, new { id = "deleteFacility" })
                                  .ToHtmlString()
                                    .Replace("_delete_", "<img src='/Content/images/icon/ico-sp_deluser2.gif' />").ToString())*@
                </td>
            </tr>
            modelItemIndex++;
        }
        @if (i == 0)
        {
            <tr class="main_table_row numbered_row">
                <th style="text-align: center" colspan="8"><h6>No Data</h6></th>
            </tr>
        }

    </tbody>
</table>


