﻿@using SupplierPortal.Data.Models.MappingTable
@using SupplierPortal.Data.Models.SupportModel.CompanyProfile

@model IEnumerable<CompanyReferenceCustomer>
@{
    ViewBag.Title = "_ReferenceCustomerPartial";
    Layout = null;
    var supplierID = (Model.FirstOrDefault() ?? new CompanyReferenceCustomer()).SupplierID; 
    var command = (ViewBag.Command ?? "add") as string;

}
@*@using (Html.BeginForm("Shareholder", "AdditionalInformation", FormMethod.Post, new { id = "SupplierID" }))
    {
        @Html.Hidden("SupplierID", supplierID)
    }*@
@*<div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("ReferenceCustomer", "AdditionalInformation", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right" id="btnSubmit">@T("_ComPro.RefCustomer.Btn.Save")</button>
                </div>
                </div>
            }
        </div>
    </div>*@
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">@T("_ComPro.RefCustomer.LblRefCustomer")</div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                        <div class="pull-right">
                            @Ajax.ActionLink(T("_ComPro.RefCustomer.Btn.Reset").ToString(), "ResetRefCustomer", null, new AjaxOptions() { UpdateTargetId = "fmUpdateRefCustomer", InsertionMode = InsertionMode.ReplaceWith }, new { id = "btnReset", @class = "btn btn-default", data_dismiss = "modal" })
                            <button type="submit" class="btn btn-primary" id="btnSubmitRef">@T("_ComPro.RefCustomer.Btn.Save")</button>
                        </div>
                    </div>
                </div>

                <div class="data_end" style="padding-top:20px;"></div>

                <div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial(@"~/Views/AdditionalInformation/_RefTempTablePatrtial.cshtml", Model)
                        </div>
                    </div>
                    <div class="data_end" style="padding-top:10px;"></div>
                    <div class="row">
                        <div class="collapse in col-md-12" id="form-toggle">
                            @Html.Partial(@"~/Views/AdditionalInformation/_RefTempFormPatrial.cshtml", new SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyReferenceCustomer())
                        </div>
                    </div>
                    <div class="data_end" style="padding-top:20px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        @*<span class="pull-left m-click btn btn-primary">@T("_ComPro.Menu.HideShow")</span>*@
                        <div class="pull-right">
                            @Ajax.ActionLink(T("_ComPro.RefCustomer.Btn.Reset").ToString(), "ResetRefCustomer", null, new AjaxOptions() { UpdateTargetId = "fmUpdateRefCustomer", InsertionMode = InsertionMode.ReplaceWith }, new { id = "btnReset", @class = "btn btn-default", data_dismiss = "modal" })
                            <button type="submit" class="btn btn-primary" id="btnSubmitRef1">@T("_ComPro.RefCustomer.Btn.Save")</button>
                        </div>
                    </div>
            </div>
            </div>

        </div>
    </div>
</div>
<script>
    $("#btnSubmitRef").click(function (evt) {
        var $form = $("#fmUpdateRefCustomer");

        if ($form.valid()) {
            disablePage();
            $form.submit();
        } else {
            $form.submit(function (e) {
                return false;
            });
        }

    });
    $("#btnSubmitRef1").click(function (evt) {
        var $form = $("#fmUpdateRefCustomer");

        if ($form.valid()) {
            disablePage();
            $form.submit();
        } else {
            $form.submit(function (e) {
                return false;
            });
        }

    });
</script>
