﻿@using SupplierPortal.Data.Models.MappingTable

@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyReferenceCustomer
@{
    var command = (ViewBag.Command ?? "add") as string;
    var submitMessage = command.Equals("edit") ? T("_ComPro.RefCustomer.Btn.Edit").ToString() : T("_ComPro.RefCustomer.Btn.Add").ToString();
}

@*@using (Ajax.BeginForm("RefCustomerTemplate", null, new AjaxOptions()
{
        UpdateTargetId = "listUserRefCustomer",
        OnSuccess = "formSuccess"
    }, new { id = "fmUpdateRefCustomer" }))*@
@using (Html.BeginForm("ReferenceCustomer", "AdditionalInformation", FormMethod.Post, new { id = "fmUpdateRefCustomer" }))
{
    @Html.Hidden("command", command)
    @Html.HiddenFor(g => g.SupplierID)
    @Html.HiddenFor(g => g.SeqNo)
    @Html.HiddenFor(g => g.Id)
    @Html.HiddenFor(g => g.BusinessEntity)

    <div id="RefCustomerForm">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                @Html.Label("", T("_ComPro.RefCustomer.LblBusinessEntity").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                @Html.Action("BusinessEntityPartial", new { model = Model })
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor((f => f.OtherBusinessEntity), new { @class = "form-control", id = "txtotherBusinessEntity", placeholder = @T("_ComPro.RefCustomer.GtxOtherBusinessEntity"), style = "display:none;" })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @Html.ValidationMessageFor(f => f.OtherBusinessEntity, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-3 col-md-3">
                                @Html.Label("", T("_ComPro.RefCustomer.LblCompanyName").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor((f => f.CompanyName_Local), new { @class = "form-control", id = "companyNameLocal", placeholder = @T("_ComPro.RefCustomer.GtxtCompanyNameTHLocal") })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @Html.ValidationMessageFor(f => f.CompanyName_Local, null, new { @class = "text-danger-bold" })
                                </div>
                                </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="form-inline-element margin-none">
                                    @Html.TextBoxFor((f => f.CompanyName_Inter), new { @class = "form-control", id = "companyNameInter", placeholder = @T("_ComPro.RefCustomer.GtxtCompanyNameInter") })
                                </div>
                                <div class="form-inline-element margin-none">
                                    @Html.ValidationMessageFor(f => f.CompanyName_Inter, null, new { @class = "text-danger-bold" })
                                </div>
                            </div>
                        </div>

                        <div id="myAlertLocal" class="fixedContainer alert alert-warning fade">
                            <strong>@T("_ComPro.ValidateMsg.InvalidLangLocalName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangLocalName.Txt")
                            </div>

                        <div id="myAlertInter" class="fixedContainer alert alert-warning fade">
                            <strong>@T("_ComPro.ValidateMsg.InvalidLangInterName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangInterName.Txt")
                        </div>


                        <div class="data_end" style="padding-top:30px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    if (command.Equals("edit") || command.Equals("add"))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                // BusinessEntitySelectedChanged();
                //$(BusinessEntityID).SetValue(BusinessEntityID);
                //$("#RefCustomerForm").fadeToggle("slow");

                $("#companyNameLocal").on("keypress", function (event) {

                    var englishAlphabetAndWhiteSpace = /[ก-๙ ]/g;
                    var key = String.fromCharCode(event.which);
                    if (event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || englishAlphabetAndWhiteSpace.test(key)) {
                        return true;
                    } showAlertLocal();
                    return false;

                });

                $('#companyNameLocal').on("paste", function (e) {
                    e.preventDefault();
                });
                $("#companyNameInter").on("keypress", function (event) {

                    var englishAlphabetAndWhiteSpace = /[A-Za-z ]/g;
                    var key = String.fromCharCode(event.which);
                    if (event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || englishAlphabetAndWhiteSpace.test(key)) {
                        return true;
                    } showAlertInter();
                    return false;

                });

                $('#companyNameInter').on("paste", function (e) {
                    e.preventDefault();
                });
            });

            var formSuccess = function () {
                $('#btnReset').click();
            };
        </script>
    }
}
