﻿@using SupplierPortal.Data.Models.MappingTable
@using SupplierPortal.Data.Models.SupportModel.CompanyProfile

@model IEnumerable<CompanyReferenceCustomer>
@{
    int i = 0;
    TempData["TempRefCustomer"] = Model;
    TempData.Keep("TempRefCustomer");
    var modelItemIndex = 1;
}
<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="listUserRefCustomer">

    <thead>
        <tr class="regis_table_header">
            <td style="width: 5%; text-align: center">@T("_ComPro.RefCustomer.TblRefCustomer.ColCaption.No")</td>
            <td style="width: 30%; text-align: center">@T("_ComPro.RefCustomer.TblRefCustomer.ColCaption.CompanyNameLocal")</td>
            <td style="width: 30%; text-align: center">@T("_ComPro.RefCustomer.TblRefCustomer.ColCaption.CompanyNameInter")</td>
            <td style="width: 15%; text-align: center">@T("_ComPro.RefCustomer.TblRefCustomer.ColCaption.BusinessEntity") </td>
            <td style="width: 10%; text-align: center">@T("_ComPro.RefCustomer.TblRefCustomer.ColCaption.Action")</td>
        </tr>
    </thead>
    <tbody id="p_scents">
        @foreach (var item in Model)
        {
            i++;
            <tr class="main_table_row numbered_row" id="@item.SupplierID">
                <td align="center" class="row_number">@modelItemIndex</td>
                <td align="left">@item.CompanyName_Local</td>
                <td align="left">@item.CompanyName_Inter</td>
                <td align="center">
                    @if (@item.BusinessEntityID == -1)
                    {
                        @item.OtherBusinessEntity
                    }
                    else
                    {
                        @item.BusinessEntity
                    }

                </td>
                <td align="center">
                    @*<a href="#" class="btn-edit" data-id="@item.Id"><i class="glyphicon glyphicon-edit"></i></a>
                        |
                        <a href="#" class="btn-delete" data-id="@item.Id"><i class="glyphicon glyphicon-trash"></i></a>*@
                    @Html.Raw(Ajax.ActionLink("_edit_", "EditRefCustomer", new { id = item.Id },
                 new AjaxOptions()
                 {
                     UpdateTargetId = "fmUpdateRefCustomer",
                     InsertionMode = InsertionMode.ReplaceWith,
                     OnComplete = "OnEditRefCustomerComplete"
                 }, new { id = "editRefCustomer" })
                                  .ToHtmlString()
                                  .Replace("_edit_", "<img src='/Content/images/icon/ico-sp_edituser2.gif' />").ToString())

                    @*@Html.ActionLink("_delete_", "RefCustomerTemplate", new { id = item.Id, command = "delete" })*@

                    <a href="@Url.Action("RefCustomerTemplate", "AdditionalInformation", new { id = item.Id, command = "delete" })">
                        <img src='/Content/images/icon/ico-sp_deluser2.gif' />
                    </a>
                    @*@Html.Raw(Ajax.ActionLink("_delete_", "RefCustomerTemplate", new { id = item.Id, command = "delete" },new AjaxOptions()
                    {
                        Confirm = "Want to delete?",
                    }, new { id = "deleteRefCustomer" })
                                  .ToHtmlString()
                                .Replace("_delete_", "<img src='/Content/images/icon/ico-sp_deluser2.gif' />").ToString())*@
                </td>
            </tr>
                    modelItemIndex++;
        }
        @if (i == 0)
        {
            <tr class="main_table_row numbered_row">
                <th style="text-align: center" colspan="5"><h6>@T("_ComPro.RefCustomer.LblNodata")</h6></th>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    //  $(document).ready(function () {
    function OnEditRefCustomerComplete() {

        if ($('#BusinessEntityID').val() == -1) {

            $('#txtotherBusinessEntity').css("display", "block");
        }
    }
   
    //function OnDeleteRefCustomerComplete() {
    //    location.reload();
    //}
</script>

