﻿@using SupplierPortal.Data.Models.MappingTable

@model SupplierPortal.Data.Models.SupportModel.CompanyProfile.CompanyShareholderModel
@{
    var command = (ViewBag.Command ?? "add") as string;
    var submitMessage = command.Equals("edit") ? T("_ComPro.Shareholder.Btn.Edit").ToString() : T("_ComPro.Shareholder.Btn.Add").ToString();

    string countryCode = Model.CountryCode;

    string placeholderFirstNameLocal = "";
    string placeholderFirstNameInter = "";
    string placeholderLastNameLocal = "";
    string placeholderLastNameInter = "";

    if (countryCode == "TH")
    {
        placeholderFirstNameLocal = T("_ComPro.Shareholder.GtxtTHLocalFirstName").ToString();
        placeholderLastNameLocal = T("_ComPro.Shareholder.GtxtTHLocalLastName").ToString();
        placeholderFirstNameInter = T("_ComPro.Shareholder.GtxtTHInterFirstName").ToString();
        placeholderLastNameInter = T("_ComPro.Shareholder.GtxtTHInterLastName").ToString();

    }
    else
    {
        placeholderFirstNameLocal = T("_ComPro.Shareholder.GtxtNonTHLocalFirstName").ToString();
        placeholderLastNameLocal = T("_ComPro.Shareholder.GtxtNonTHLocalLastName").ToString();
        placeholderFirstNameInter = T("_ComPro.Shareholder.GtxtNonTHInterFirstName").ToString();
        placeholderLastNameInter = T("_ComPro.Shareholder.GtxtNonTHInterLastName").ToString();
    }

}
@*@using (Ajax.BeginForm("ShareholderTemplate", null, new AjaxOptions() { UpdateTargetId = "sssss" }, new { id = "sdfsdfdsf" }))
    {
        <div class="text-center">
            <button id="btnAppend" type="submit" class="btn btn-success" value="save">@submitMessage</button>
        </div>

    }*@
@*@using (Ajax.BeginForm("ShareholderTemplate", null, new AjaxOptions()
{
        UpdateTargetId = "listUserShareholder",
        OnSuccess = "formSuccess"
    }, new { id = "fmUpdateShareholder" }))*@
@using (Html.BeginForm("Shareholder", "AdditionalInformation", FormMethod.Post, new { id = "fmUpdateShareholder" }))
{

    @Html.Hidden("command", command)
    @Html.HiddenFor(g => g.Id)
    @Html.HiddenFor(g => g.SeqNo)
    @Html.HiddenFor(g => g.SupplierID)
    @Html.HiddenFor(h => h.CompanyTypeID)
    <div id="myAccountAuthen">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                @Html.Label("", T("_ComPro.Shareholder.LblCountry").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                @Html.Action("CountryCompanyPartial", new { model = Model })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                @Html.Label("", T("_ComPro.Shareholder.LblIdentityNo").ToString(), new { @class = "form_label_bold" })
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="">
                                    <div class=" margin-none">
                                        @Html.TextBoxFor((f => f.IdentityNo), new { @class = "form-control", @id = "identityNo", @style = "width: 300px;" })
                                    </div>
                                    <div class=" margin-none">
                                        @Html.ValidationMessageFor(f => f.IdentityNo, null, new { @class = "text-danger-bold" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                @Html.Label("", T("_ComPro.Shareholder.LblName").ToString(), new { @class = "form_label_bold" })<span class="red_highlight">*</span>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="">
                                    <div class=" margin-none">
                                        @Html.DropDownListFor(m => m.TitleID, new SelectList(ViewBag.NameTitle_Local, "TitleID", "TitleName"), new { @class = "form-control", id = "TitleID", @style = "width: 300px;" })
                                    </div>
                                    <div class=" margin-none">
                                        @Html.TextBoxFor((f => f.FirstName_Local), new { @class = "form-control", @id = "firstNameLocal", @placeholder = placeholderFirstNameLocal, @onKeyPress = "return keyThaiOnly(event,this.value);", @style = "width: 300px;" })
                                    </div>
                                    <div class="form-group margin-none">
                                        @Html.TextBoxFor((f => f.LastName_Local), new { @class = "form-control", @id = "lastNameLocal", placeholder = placeholderLastNameLocal, @onKeyPress = "return keyThaiOnly(event,this.value);", @style = "width: 300px;" })
                                    </div>
                                    <div class=" margin-none">
                                        @Html.ValidationMessageFor(f => f.FirstName_Local, null, new { @class = "text-danger-bold" })
                                        @Html.ValidationMessageFor(f => f.LastName_Local, null, new { @class = "text-danger-bold" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-4 form-label-banktext">
                                @Html.Label(" ", new { @class = "form_label_bold" })
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="">
                                    <div class=" margin-none">
                                        @Html.DropDownListFor(m => m.TitleID_Inter, new SelectList(ViewBag.NameTitle_Inter, "TitleID", "TitleName"), new { @class = "form-control", id = "TitleID_Inter", @style = "width: 300px;" })
                                    </div>
                                    <div class=" margin-none">
                                        @Html.TextBoxFor((f => f.FirstName_Inter), new { @class = "form-control", @id = "firstNameInter", @placeholder = placeholderFirstNameInter, @onKeyPress = "return keyEngOnly(event,this.value);", @style = "width: 300px;" })
                                    </div>
                                    <div class="form-group margin-none">
                                        @Html.TextBoxFor((f => f.LastName_Inter), new { @class = "form-control", @id = "lastNameInter", @placeholder = placeholderLastNameInter, @onKeyPress = "return keyEngOnly(event,this.value);", @style = "width: 300px;" })
                                    </div>
                                    <div class=" margin-none">
                                        @Html.ValidationMessageFor(f => f.FirstName_Inter, null, new { @class = "text-danger-bold" })
                                        @Html.ValidationMessageFor(f => f.LastName_Inter, null, new { @class = "text-danger-bold" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="data_end" style="padding-top:30px;"></div>

                        @*<div class="text-center">
                                <button id="btnAppend" type="submit" class="btn btn-success" value="save">@submitMessage</button>

                                @Ajax.ActionLink(T("_ComPro.Shareholder.Btn.Reset").ToString(), "ResetShareholder", null, new AjaxOptions() { UpdateTargetId = "fmUpdateShareholder", InsertionMode = InsertionMode.ReplaceWith }, new { id = "btnReset", @class = "btn btn-default", data_dismiss = "modal" })
                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myAlertLocal" class="fixedContainer alert alert-warning fade">
        <strong>@T("_ComPro.ValidateMsg.InvalidLangLocalName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangLocalName.Txt")
    </div>

    <div id="myAlertInter" class="fixedContainer alert alert-warning fade">
        <strong>@T("_ComPro.ValidateMsg.InvalidLangInterName.Title")</strong>&nbsp;&nbsp;@T("_ComPro.ValidateMsg.InvalidLangInterName.Txt")
    </div>

    if (command.Equals("edit") || command.Equals("add"))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                //  $("#myAccountAuthen").fadeToggle("slow");

                //$("#btnCancel").click(function () {
                //    $("#myAccountAuthen").fadeToggle("slow");
                //});
                //var form = $('#fmUpdateShareholder').is(':visible');
                //console.log(form);
                //if (form)
                //    $('#fmUpdateShareholder').hide();
                //else
                //    $('#fmUpdateShareholder').show();
            });

            var formSuccess = function () {
                $('#btnReset').click();
            };

            var formDeleteSuccess = function () {
                $('#btnReset').click();
            };

        </script>
    }

    <script type="text/javascript">

        $('select#TitleID').change(function () {

            var nameTitleId = $(this).val();

            $("#TitleID_Inter").val(nameTitleId);
        });

        $('select#TitleID_Inter').change(function () {

            var nameTitleId = $(this).val();

            $("#TitleID").val(nameTitleId);
        });

    </script>


}
