﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_Language>
@{
    
    string path_image = @Url.Content("/Content/country-dropdown/images/msdropdown/icons/blank.gif");
}
@foreach (var item in Model)
{
    <option value='@item.LanguageID' data-image="@path_image" data-imagecss="flag @item.LanguageCode" data-title="@item.LanguageName">@item.LanguageName</option>

}
