﻿@model SupplierPortal.Data.Models.SupportModel.Profile.MergUserAccountModels
@{
    string mergMax = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_MergeAccountAllowMax");
    int mergAllowMax = Convert.ToInt32(mergMax);
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "authenticateForm" }))
{
    @Html.Hidden("CurrentUserID", Model.UserID, new { @id = "CurrentUserID" })
    @Html.Hidden("CurrentUsername", Model.Username, new { @id = "CurrentUsername" })
    @Html.Hidden("MasterUsernameMerg", null, new { @id = "MasterUsernameMerg" })
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="data_end" style="padding-top:30px;"></div>
                    <div>
                        <span class="form_label_bold">@T("_Profile.TabMergUserAccount.Step1.InstrTxt.Title")</span>
                        <span>@T("_Profile.TabMergUserAccount.Step1.InstrTxt.Txt")</span>
                    </div>
                    <div class="data_end" style="padding-top:7px;"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table" id="list-userMerg">
                                <thead>
                                    <tr class="regis_table_header">
                                        <td width="5%">@T("_Profile.TabMergUserAccount.TblMerge.ColCaption.No")</td>
                                        <td width="15%">@T("_Profile.TabMergUserAccount.TblMerge.ColCaption.Username")</td>
                                        <td width="28%">@T("_Profile.TabMergUserAccount.TblMerge.ColCaption.Name")</td>
                                        <td width="28%">@T("_Profile.TabMergUserAccount.TblMerge.ColCaption.Email")</td>
                                        <td width="15%">@T("_Profile.TabMergUserAccount.TblMerge.ColCaption.MergeTo")</td>
                                        <td width="7%">@T("_Profile.TabMergUserAccount.TblMerge.ColCaption.Action")</td>
                                    </tr>
                                </thead>
                                <tbody id="p_scents">
                                    <tr class="main_table_row numbered_row" id="@Model.Username">
                                        <td align="center" class="row_number">1</td>
                                        <td align="center">@Model.Username</td>
                                        <td align="left">@Model.Name</td>
                                        <td align="left">@Model.Email</td>
                                        <td align="center">
                                            @Html.CheckBox("chk_" + @Model.UserID, false, new { @id = "chk_" + @Model.Username, @class = "radio", @onclick = "chkMerg(this);" })
                                        </td>
                                        <td align="center"></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:5px;"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="float:right;">
                                <span id="spanAddAnother" class="link-blue" data-toggle="collapse" href="#myAccountAuthen" aria-expanded="false" aria-controls="myAccountAuthen">@T("_Profile.TabMergUserAccount.LnkAddUserAccount")</span>
                            </div>
                            <div style="float:right;">
                                <a id="hrefAddAnother" class="lnkAddAnother" data-toggle="collapse" href="#myAccountAuthen" aria-expanded="false" aria-controls="myAccountAuthen"><img src="~/Content/images/icon/ico-sp_newuser.gif"></a>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:10px;"></div>

                    <div class="collapse" id="myAccountAuthen">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div style="align-items:center">
                                            <img src="~/Content/images/icon/ico-sp_newuser.gif"> &nbsp;&nbsp;<span class="ep_box_topic">@T("_Login.LblMyAccount")</span>
                                        </div>

                                        <div class="data_end" style="padding-top:15px;"></div>

                                        <div class="center-myAccount">
                                            @Html.TextBox("UsernameAuthen", null, new { @id = "UsernameAuthen", @class = "form-control", placeholder = T("_Login.TxtUsername"), data_val = "true", data_val_required = @T("_Login.ValidateMsg.RequireEmail"), @autocomplete = "off" })
                                        </div>
                                        <div class="center-myAccount">
                                            @Html.ValidationMessage("UsernameAuthen", new { @class = "text-danger-bold" })
                                        </div>
                                        <div class="data_end" style="padding-top:10px;"></div>

                                        <div class="center-myAccount">
                                            @Html.Password("PasswordAuthen", null, new { @id = "PasswordAuthen", @class = "form-control", placeholder = T("_Login.TxtPassword"), data_val = "true", data_val_required = @T("_Login.ValidateMsg.RequirePassword"), @autocomplete = "off" })
                                        </div>
                                        <div class="center-myAccount">
                                            @Html.ValidationMessage("PasswordAuthen", new { @class = "text-danger-bold" })
                                        </div>

                                        <div class="data_end" style="padding-top:10px;"></div>

                                        <div class="center-myAccount">
                                            <span class="text-danger-bold" id="errorMessage-myAccount" style="display:none;"></span>
                                        </div>

                                        <div class="data_end" style="padding-top:30px;"></div>

                                        <div class="center-myAccount-button">
                                            <input id="btnAuthen" type="button" class="btn btn-primary" value="@T("_Profile.TabMergUserAccount.BtnAuthenticate")">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:20px;"></div>

                    <div>
                        <span class="form_label_bold">@T("_Profile.TabMergUserAccount.Step2.InstrTxt.Title")</span>
                        <span>@T("_Profile.TabMergUserAccount.Step2.InstrTxt.Txt")</span>
                    </div>

                    @*<div>
                        <span>Please select <span><i class="fa fa-check-square-o"></i></span> on desired account then press merge button. System will force you to log off automatically.</span>
                    </div>*@

                    <div class="data_end" style="padding-top:20px;"></div>

                    <div id="alertAttention" style="display:none;">
                        <div class="alert alert-warning" role="alert">
                            <strong>@T("_Profile.TabMergUserAccount.WanningMsg.Title") </strong>&nbsp;&nbsp;<span id="alertDetail"></span>
                        </div>
                    </div>

                    <div class="data_end" style="padding-top:20px;"></div>

                    <div class="center-myAccount-button">
                        <input id="btnMerg" type="button" class="btn btn-success" value="@T("_Profile.TabMergUserAccount.BtnMergeAccount")">
                    </div>

                </div>
            </div>
        </div>
    </div>
}

<div class="data_end" style="padding-top:30px;"></div>


<div id="ModalMergMessageAlert" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                <span id="messageMergAlert"></span>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                @*<button id="btn" type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button>*@
                <input id="btn" type="button" class="btn btn-primary" data-dismiss="modal" value="@T("_Global.BtnOk")">
            </div>
        </div>
    </div>
</div>

<div id="ModalMergSuccessAlert" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                <span id="messageMergSuccessAlert"></span>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                @Html.ActionLink(T("_Global.BtnOk").ToString(), "Logout", "AccountPortal", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function ModalMessageAlert() {

        $("#ModalMergMessageAlert").modal({ backdrop: "static", keyboard: false })

    }

    function ModalMessageSuccessAlert() {

        $("#ModalMergSuccessAlert").modal({ backdrop: "static", keyboard: false })

    }

    function resetEnableMerg() {

        $('input:checkbox.radio').each(function () {
            $(this).prop("checked", false);
        });
        $("#btnMerg").attr('disabled', true);
        $("#alertAttention").css("display", "none");
    }

    function checkMaxRows(evt) {
        var maxRows = @mergAllowMax;
        var rowCount = $("#list-userMerg>tbody").find('tr').length;
        if(rowCount >= maxRows)
        {
            evt.preventDefault();
            $("#errorMessage-myAccount").css("display", "block");
            $("#errorMessage-myAccount").html("@T("_Profile.TabMergUserAccount.ValidateMsg.MergeOverLimit")");
            return false;
        }else
        {
            return true;
        }

    }

    
    function clearCheckbox() {
        $('input:checkbox.radio').each(function () {
            $(this).prop("checked", false);
        });
    }

    function chkMerg(s) {
        var $box = $(s);
        var username = $(s).attr("id");
        username = username.replace("chk_", "");
        console.log(username);
        if ($box.is(":checked")) {
            
            clearCheckbox();

            $("#MasterUsernameMerg").val(username);
            $box.prop("checked", true);

            var rowCount = $("#list-userMerg>tbody").find('tr').length;
            //console.log(rowCount);
            if (rowCount >= 2)
            {
                $("#btnMerg").attr('disabled', false);
                $("#alertAttention").css("display", "block");

                var alertDetail = "@T("_Profile.TabMergUserAccount.WanningMsg.Txt")";
                //console.log(alertDetail);
                alertDetail = alertDetail.replace("<%Username%>", username);
                $("#alertDetail").html(alertDetail);
            }

        } else
        {
            $box.prop("checked", false);
            $("#btnMerg").attr('disabled', true);
            $("#alertAttention").css("display", "none");
        }
    }

    function ReloadRowsNumber() {
        //console.log("ReloadRowsNumber");
        $('table tr.main_table_row.numbered_row').each(function (i) {
            //console.log(this);
            $(this).children('.row_number').text(i + 1);

        });
    }

$(document).ready(function () {

    $("#btnMerg").attr('disabled', true);

    

    $("#spanAddAnother").click(function () {
        $("#UsernameAuthen").val("");
        $("#PasswordAuthen").val("");
    });
    $("#hrefAddAnother").click(function () {
        $("#UsernameAuthen").val("");
        $("#PasswordAuthen").val("");
    });


        $('input[type="checkbox"]').on('change', function () {
            $(this).siblings('input[type="checkbox"]').prop('checked', false);
        });

        $("#btnMerg").attr('disabled', true);

        $('input[type="checkbox"]').on('change', function () {
            $(this).siblings('input[type="checkbox"]').prop('checked', false);
        });

        $("#btnAuthen").click(function (evt) {

            var $form = $("#authenticateForm");
            var chkMax =  checkMaxRows(evt);

            if ($form.valid() && chkMax) {

                dataAdd = [];
                var currentUsername = $("#CurrentUsername").val();
                var usernameAuthen = $("#UsernameAuthen").val();
                var trList = $("#list-userMerg>tbody").find('tr');

                $.each(trList, function () {
                    var idTr = $(this).closest('tr').attr('id');

                    dataAdd.push({ UserMergList: idTr || "" });
                });

                var obj = $.grep(dataAdd, function (obj) { return obj.UserMergList.toUpperCase() == usernameAuthen.toUpperCase() })
                //console.log(obj.length);

                if (obj.length > 0)
                {
                    evt.preventDefault();
                    $("#errorMessage-myAccount").css("display", "block");
                    $("#errorMessage-myAccount").html("@T("_Profile.TabMergUserAccount.ValidateMsg.DuplicateUser")");
                    return false;
                }
                disablePage();

                $.ajax({
                    url: '/Profile/CheckAuthenMergUser',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        model: {
                            CurrentUserID: $("#CurrentUserID").val(),
                            CurrentUsername: $("#CurrentUsername").val(),
                            Username: $("#UsernameAuthen").val(),
                            Password: $("#PasswordAuthen").val(),
                            UserMerg: JSON.stringify(dataAdd),
                        }
                    }),
                    async: false,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        $.unblockUI();
                        //console.log(data);
                        if (data.Status) {
                            var scntDiv = $("#p_scents");
                            scntDiv.append(data.HtmlText);
                            ReloadRowsNumber();
                            clearCheckbox();
                            $("#errorMessage-myAccount").css("display", "none");
                            $("#errorMessage-myAccount").html("");
                            $("#UsernameAuthen").val("");
                            $("#PasswordAuthen").val("");
                            $("#myAccountAuthen").removeClass("in").addClass("collapse");


                        } else {
                            $("#errorMessage-myAccount").css("display", "block");
                            $("#errorMessage-myAccount").html(data.Message);
                        }

                    },
                    error: function (xhr) {
                        return false;
                    }
                });
            }
        });

        $("#btnMerg").click(function (evt) {
            disablePage();

            dataAdd = [];
            var trList = $("#list-userMerg>tbody").find('tr');
            $.each(trList, function () {
                var idTr = $(this).closest('tr').attr('id');

                dataAdd.push({ UserMergList: idTr || "" });
            });
            $.ajax({
                url: '/Profile/MergUserAccount',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    model: {
                        MasterUsernameMerg: $("#MasterUsernameMerg").val(),
                        UserMergList: JSON.stringify(dataAdd),
                    }
                }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    $.unblockUI();
                    //console.log(data);
                    if(data.Status)
                    {
                        $("#messageMergSuccessAlert").text(data.Message);
                        ModalMessageSuccessAlert();
                    }else
                    {
                        $("#messageMergAlert").text(data.Message);
                        ModalMessageAlert();
                    }

                },
                error: function (xhr) {
                    $.unblockUI();
                    return false;
                }
            });
        });

        $(document).on('click', '#deleteUserMerg', function () {
            //console.log(this);
            $(this).closest('tr').remove();
            resetEnableMerg();
            ReloadRowsNumber();
            return false;
        });
});
</script>
