﻿@model SupplierPortal.Data.Models.SupportModel.Profile.GeneralModels
@{
    string IsAllowMultipleUserEmail = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_IsAllowMultipleUserEmail");
    string placeholderResource = "";
    string placeholderFirstnameLocal = "";
    string placeholderFirstnameInter = "";
    string placeholderLastnameLocal = "";
    string placeholderLastnameInter = "";
    if (IsAllowMultipleUserEmail == "1")
    {
        placeholderResource = "_Profile.MyAccount.UserInfo.GtxtEmail.MultipleEmail";

    }
    else
    {
        placeholderResource = "_Profile.MyAccount.UserInfo.GtxtEmail.SingleEmail";

    }

    if (Model.Address_CountryCode == "TH")
    {
        placeholderFirstnameLocal = T("_Profile.MyAccount.UserInfo.GtxtTHLocalFirstname").ToString();
        placeholderLastnameLocal = T("_Profile.MyAccount.UserInfo.GtxtTHLocalLastname").ToString();
        placeholderFirstnameInter = T("_Profile.MyAccount.UserInfo.GtxtTHInterFirstname").ToString();
        placeholderLastnameInter = T("_Profile.MyAccount.UserInfo.GtxtTHInterLastname").ToString();

    }
    else
    {
        placeholderFirstnameLocal = T("_Profile.MyAccount.UserInfo.GtxtNonTHLocalFirstname").ToString();
        placeholderLastnameLocal = T("_Profile.MyAccount.UserInfo.GtxtNonTHLocalLastname").ToString();
        placeholderFirstnameInter = T("_Profile.MyAccount.UserInfo.GtxtNonTHInterFirstname").ToString();
        placeholderLastnameInter = T("_Profile.MyAccount.UserInfo.GtxtNonTHInterLastname").ToString();
    }
    string userGuid = "";
    if (Session["GUID"] != null)
    {
        userGuid = Session["GUID"].ToString();
    }

    string username = "";
    if (Session["username"] != null)
    {
        username = Session["username"].ToString();
    }

    var menuSetting = SupplierPortal.Framework.MethodHelper.GetMenuPortalHelper.GetMenuByMenuName("m_BSP_UserPreference");

    int userID = Model.UserID ?? 0;

    string menuSetting_URL = "";
    int menuSetting_PageID = 0;
    int systemGrpId = 0;
    if (menuSetting != null)
    {
        menuSetting_URL = menuSetting.SystemURL;
        menuSetting_PageID = menuSetting.SystemPageID ?? 0;
        systemGrpId = menuSetting.SystemGrpID ?? 0;
    }

    // Fix check for ไปหน้า  Topic  ค่า isEnable ==> 0 = ไปหน้า SystemUserDisabled , 1 = ลิ้งออกไป BSP , 2 = ไปหน้า  ServiceSuspend, 3 = ไปหน้า ServiceCancelled ,4 = ไม่โชว์ลิ้ง (ไม่่มีใน Tbl_UserServiceMapping)
    int chkUserMapping = SupplierPortal.Services.ProfileManage.ProfileManage.GetMenuMappingEnable(username, systemGrpId);

    string displayOtherJob = "";

    if (Model.JobTitleID == -1)
    {
        displayOtherJob = "display: block";
    }
    else
    {
        displayOtherJob = "display: none";
    }

    //int userRoleID = SupplierPortal.Services.ProfileManage.ProfileManage.GetUserRoleIDByUsername(Model.UserLoginID);
    //string displayIsPublic = "";
    //if (userRoleID==1)
    //{
    //    displayIsPublic = "display: block";
    //}
    //else
    //{
    //    displayIsPublic = "display: none";
    //}
}

<form action="" method="post" id="form-link-setting">
    <input type="hidden" id="UserGuid" name="UserGuid" />
    <input type="hidden" id="PageID" name="PageID" />
</form>
@using (Html.BeginForm("UpdateGeneral", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-general" }))
{

    @Html.HiddenFor(m => m.UserID, new { @id = "hidUserID" })
    <table width="98%" border="0" cellpadding="0" cellspacing="0" align="center" class="">
        <tbody>
            @*<tr class="main_table_header">
                <td align="left" style="padding-left:5px;">
                    @T("_Profile.MyAccount.TabTitle")
                </td>
            </tr>*@
            <tr>
                <td>
                    <div class="row">
                        <div class="data_end" style="padding-top:12px;"></div>

                        <div style="float:right;padding-right:20px">
                            <input type="submit" value="@T("_Global.BtnSave")" class="btn btn-primary btnSubmitGeneral" id="btnSubmitGeneral" />
                            @Html.ActionLink(T("_Global.BtnClose").ToString(), "Index", "Home", null, new { @class = "btn btn-default" })
                        </div>

                        <table cellspacing="0" cellpadding="0" border="0" align="center" width="98%">
                            <tbody>
                                <tr>
                                    <td>
                                        @*<fieldset class="scheduler-border">
                                            <legend class="scheduler-border">@T("_Profile.Lbl.UserInformation")</legend>*@
                                        <div class="col-md-12">
                                            <div class="data_end" style="padding-top:20px;"></div>
                                            <div class="profile-lable-group">@T("_Profile.MyAccount.UserInfo.LblHeader")</div>
                                            <hr>
                                            <div class="profile-lable-groupDetail">@T("_Profile.MyAccount.UserInfo.InstrTxt")</div>
                                            <div class="data_end" style="padding-top:20px;"></div>
                                        </div>




                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblUserLogin")</div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @Html.TextBoxFor(m => m.UserLoginID, null, new { @class = "form-control col-sm-3", id = "UserLoginID", maxlength = "100", @readonly = "", @style = "width: 300px;" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblEmail")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @Html.HiddenFor(m => m.InitialEmail, new { id = "InitialEmail" })
                                                    @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control notSpacebar", id = "Email", maxlength = "255", placeholder = @T(placeholderResource), @style = "width: 300px;" })
                                                    <div class="form_label_bold">@Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger-bold" })</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-4 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblContactName")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="">
                                                        <div class="margin-none">
                                                            @Html.DropDownListFor(m => m.TitleID, new SelectList(ViewBag.NameTitle_Local, "TitleID", "TitleName"), @T("_Profile.MyAccount.UserInfo.DdlNameTitle.OptionLable").ToString(), new { @class = "form-control custom", id = "TitleID", @style = "width: 300px;" })
                                                        </div>
                                                        <div class="margin-none">
                                                            @Html.TextBoxFor(m => m.FirstName_Local, null, new { @class = "form-control", id = "FirstName_Local", maxlength = "255", placeholder = placeholderFirstnameLocal, @style = "width: 300px;", @onKeyPress = "return keyThaiOnly(event,this.value);" })
                                                        </div>
                                                        <div class="form-group margin-none">
                                                            @Html.TextBoxFor(m => m.LastName_Local, null, new { @class = "form-control input-lg", id = "LastName_Local", maxlength = "255", placeholder = placeholderLastnameLocal, @style = "width: 300px;", @onKeyPress = "return keyThaiOnly(event,this.value);" })
                                                        </div>
                                                        <div class="margin-none">
                                                            @Html.ValidationMessageFor(x => x.TitleID, "", new { @class = "text-danger-bold" })
                                                            @Html.ValidationMessageFor(x => x.FirstName_Local, "", new { @class = "text-danger-bold" })
                                                            @Html.ValidationMessageFor(x => x.LastName_Local, "", new { @class = "text-danger-bold" })
                                                        </div>
                                                        <div class="margin-none">
                                                            <span class="text-danger-bold" style="display:none;" id="errorFormatFirstName_Local">@T("_ComPro.ValidateMsg.InvalidLangLocalContactName.Txt")</span>
                                                        </div>
                                                        <div class="form-group margin-none">
                                                            <span class="text-danger-bold" style="display:none;" id="errorFormatLastName_Local">@T("_ComPro.ValidateMsg.InvalidLangLocalContactName.Txt")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-4 col-md-2">
                                                    <div class="form_label_bold"> &nbsp;</div>
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="">
                                                        <div class="margin-none">
                                                            @Html.DropDownListFor(m => m.TitleID_Inter, new SelectList(ViewBag.NameTitle_Inter, "TitleID", "TitleName"), @T("_Profile.MyAccount.UserInfo.DdlNameTitle.OptionLable").ToString(), new { @class = "form-control custom", id = "TitleID_Inter", @style = "width: 300px;" })
                                                        </div>
                                                        <div class="margin-none">
                                                            @Html.TextBoxFor(m => m.FirstName_Inter, null, new { @class = "form-control", id = "FirstName_Inter", maxlength = "255", placeholder = placeholderFirstnameInter, @style = "width: 300px;", @onKeyPress = "return keyEngOnly(event,this.value);" })
                                                        </div>
                                                        <div class="form-group margin-none">
                                                            @Html.TextBoxFor(m => m.LastName_Inter, null, new { @class = "form-control input-lg", id = "LastName_Inter", maxlength = "255", placeholder = placeholderLastnameInter, @style = "width: 300px;", @onKeyPress = "return keyEngOnly(event,this.value);" })
                                                        </div>
                                                        <div class="margin-none">
                                                            @Html.ValidationMessageFor(x => x.FirstName_Inter, "", new { @class = "text-danger-bold" })
                                                            @Html.ValidationMessageFor(x => x.LastName_Inter, "", new { @class = "text-danger-bold" })
                                                        </div>
                                                        <div class="margin-none">
                                                            <span class="text-danger-bold" style="display:none;" id="errorFormatFirstName_Inter">@T("_ComPro.ValidateMsg.InvalidLangInterName.Txt")</span>
                                                        </div>
                                                        <div class="form-group margin-none">
                                                            <span class="text-danger-bold" style="display:none;" id="errorFormatLastName_Inter">@T("_ComPro.ValidateMsg.InvalidLangInterName.Txt")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-4 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblJobTitle")</div>
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="">
                                                        <div class="margin-none">
                                                            @Html.DropDownListFor(m => m.JobTitleID, new SelectList(ViewBag.JobTitle, "EntityID", "EntityValue"), @T("_Profile.MyAccount.UserInfo.DdlJobTitle.OptionLable").ToString(), new { @class = "form-control custom", id = "JobTitleID", @style = "width: 300px;" })
                                                        </div>
                                                        <div class="margin-none">
                                                            <div style="@displayOtherJob;" id="OtherJobTitleShow">
                                                                @Html.TextBoxFor(m => m.OtherJobTitle, null, new { @class = "form-control", id = "OtherJobTitle", maxlength = "255", @style = "width: 300px;" })
                                                            </div>
                                                        </div>
                                                        <div class="margin-none">
                                                            <span class="text-danger-bold" style="display:none;" id="errorOtherJobTitle">@T("_Profile.MyAccount.UserInfo.GtxtOtherJobTitle")</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblDepartment")</div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    <div class="">
                                                        <div class="margin-none">
                                                            @Html.TextBoxFor(m => m.Department, null, new { @class = "form-control", id = "Department", maxlength = "255", @style = "width: 300px;" })
                                                            @Html.ValidationMessageFor(x => x.Department, "", new { @class = "text-danger-bold" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-4 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblPhone")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="">
                                                        <div class="margin-none">
                                                            @Html.TextBoxFor(m => m.PhoneNo, null, new { @class = "form-control", id = "PhoneNo", maxlength = "50", @style = "width: 300px;" })
                                                            @Html.ValidationMessageFor(x => x.PhoneNo, "", new { @class = "text-danger-bold" })
                                                        </div>
                                                        <div class="margin-none" style="vertical-align:top">
                                                            <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblPhoneExt")</div>
                                                        </div>
                                                        <div class="margin-none">
                                                            @Html.TextBoxFor(m => m.PhoneExt, null, new { @class = "form-control input-lg", id = "PhoneExt", maxlength = "50", @style = "width: 300px;" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-4 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblMobile")</div>
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    @Html.TextBoxFor(m => m.MobileNo, null, new { @class = "form-control", id = "MobileNo", maxlength = "50", @style = "width: 300px;" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-4 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.LblFax")</div>
                                                </div>
                                                <div class="col-xs-8 col-md-9">
                                                    <div class="">
                                                        <div class="margin-none">
                                                            @Html.TextBoxFor(m => m.FaxNo, null, new { @class = "form-control", id = "FaxNo", maxlength = "50", @style = "width: 300px;" })
                                                        </div>
                                                        <div class="margin-none" style="vertical-align:top">
                                                            <div class="form_label_bold_inline">@T("_Profile.MyAccount.UserInfo.LblFaxExt")</div>
                                                        </div>
                                                        <div class="margin-none">
                                                            @Html.TextBoxFor(m => m.FaxExt, null, new { @class = "form-control", id = "FaxExt", maxlength = "50", @style = "width: 300px;" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-1 col-md-1"></div>
                                                <div class="col-xs-10 col-md-10">
                                                    <div class="strike-subHeader">
                                                        <span class="lable-head-text">@T("_Profile.MyAccount.UserInfo.LblSubHeader.Address")</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblHouseNo")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @Html.HiddenFor(m => m.AddressID, new { id = "AddressID" })
                                                    @Html.TextBoxFor(m => m.Address_HouseNo_Local, null, new { @class = "form-control", id = "Address_HouseNo_Local", maxlength = "255", @style = "width: 300px;" })
                                                    @Html.ValidationMessageFor(m => m.Address_HouseNo_Local, null, new { @class = "text-danger-bold" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblVillageNo")</div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @Html.TextBoxFor(m => m.Address_VillageNo_Local, null, new { @class = "form-control", id = "Address_VillageNo_Local", maxlength = "255", @style = "width: 300px;" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblLane")</div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @Html.TextBoxFor(m => m.Address_Lane_Local, null, new { @class = "form-control", id = "Address_Lane_Local", maxlength = "255", @style = "width: 300px;" })
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblStreet")</div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @Html.TextBoxFor(m => m.Address_Road_Local, null, new { @class = "form-control", id = "Address_Road_Local", maxlength = "255", @style = "width: 300px;" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblSubDistrict")<span class="red_highlight" id="requireSubDistrict">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @*@Html.Action("Address_SubDistrict_Local", new { model = Model, @class = "form-control", @style = "width: 300px;" })*@
                                                    @Html.TextBoxFor(m => m.Address_SubDistrict_Local, new { @id = "Address_SubDistrict_Local", @class = "form-control", @style = "width: 300px;" })
                                                    <span class="text-danger-bold" style="display:none;" id="errorCompSubDistrict">@T("_Profile.ValidateMsg.RequireSubDistrict")</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblCity")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @*@Html.Action("Address_City_Local", new { model = Model })*@
                                                    @Html.TextBoxFor(m => m.Address_City_Local, new { @id = "Address_City_Local", @class = "form-control", @style = "width: 300px;" })
                                                    <span class="text-danger-bold" style="display:none;" id="errorCompCity">@T("_Profile.ValidateMsg.RequireCity")</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblState")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @*@Html.Action("Address_State_Local", new { model = Model })*@
                                                    @Html.TextBoxFor(m => m.Address_State_Local, new { @id = "Address_State_Local", @class = "form-control", @style = "width: 300px;" })
                                                    <span class="text-danger-bold" style="display:none;" id="errorCompState">@T("_Profile.ValidateMsg.RequireState")</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblPostalCode")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @Html.TextBoxFor(m => m.Address_PostalCode, null, new { @class = "form-control notSpacebar", id = "Address_PostalCode", maxlength = "255", @style = "width: 300px;" })
                                                    @Html.ValidationMessageFor(m => m.Address_PostalCode, null, new { @class = "text-danger-bold" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserInfo.Address.LblCountry")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    @*@Html.Action("Address_Country", new { model = Model })*@
                                                    <select id="Address_CountryCode" name="Address_CountryCode">
                                                        <option value="@Model.Address_CountryCode" selected="selected">@Model.Address_CountryName</option>
                                                    </select>
                                                    <span class="text-danger-bold" style="display:none;" id="errorCompCountry">@T("_Profile.ValidateMsg.RequireCountry")</span>
                                                </div>
                                            </div>
                                        </div>
                                        @*</fieldset>*@
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="data_end" style="padding-top:20px;"></div>
                                            <div class="profile-lable-group">@T("_Profile.MyAccount.UserService.LblHeader")</div>
                                            <hr>
                                            <div class="profile-lable-groupDetail">@T("_Profile.MyAccount.UserService.InstrTxt")</div>
                                            <div class="data_end" style="padding-top:20px;"></div>
                                            <table cellspacing="0" cellpadding="0" border="0" align="center" width="90%">
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: left;">
                                                            @Html.Action("AvailableServices", new { UserID = Model.UserID ?? 1 })
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="col-md-12">
                                            <div class="data_end" style="padding-top:20px;"></div>
                                            <div class="profile-lable-group">@T("_Profile.MyAccount.UserSetting.LblHeader")</div>
                                            <hr>
                                            <div class="profile-lable-groupDetail">@T("_Profile.MyAccount.UserSetting.InstrTxt")</div>
                                        </div>

                                        <div class="data_end" style="padding-top:20px;"></div>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserSetting.LblLocale")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    <div class="">
                                                        <div class="margin-none">
                                                            @Html.DropDownListFor(m => m.LocaleName, new SelectList(ViewBag.Locale, "LocaleName", "LocaleDescription"), @T("_Profile.DdlLocale.OptionLable").ToString(), new { @class = "form-control custom", id = "LocaleName", @style = "width: 300px;" })
                                                            @Html.ValidationMessageFor(x => x.LocaleName, "", new { @class = "text-danger-bold" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-md-1"></div>
                                                <div class="col-xs-12 col-md-2">
                                                    <div class="form_label_bold">@T("_Profile.MyAccount.UserSetting.LblTimeZone")<span class="red_highlight">*</span></div>
                                                </div>
                                                <div class="col-xs-12 col-md-9">
                                                    <div class="">
                                                        <div class="margin-none">
                                                            @Html.DropDownListFor(m => m.TimeZoneIDString, new SelectList(ViewBag.TimeZone, "TimeZoneIDString", "DisplayName"), @T("_Profile.DdlTimeZone.OptionLable").ToString(), new { @class = "form-control custom", id = "TimeZoneIDString", @style = "width: 300px;" })
                                                            @Html.ValidationMessageFor(x => x.TimeZoneIDString, "", new { @class = "text-danger-bold" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  

                                        <div class="data_end" style="padding-top:10px;"></div>

                                        <div class="col-md-12">
                                            <div class="profile-lable-groupDetail">
                                                @if (chkUserMapping != 1)
                                                {
                                                    if (chkUserMapping == 0)
                                                    {
                                                        <span>@T("_Profile.MyAccount.UserSetting.InstrTxt.BSPUserPreference")</span> <span style='text-decoration: underline;'>@Html.ActionLink(T("_Profile.MyAccount.UserSetting.LnkBSPUserPreference").ToString(), "SystemUserDisabled", "Topic")</span>
                                                    }
                                                    else if (chkUserMapping == 2)
                                                    {
                                                        <span>@T("_Profile.MyAccount.UserSetting.InstrTxt.BSPUserPreference")</span> <span style='text-decoration: underline;'>@Html.ActionLink(T("_Profile.MyAccount.UserSetting.LnkBSPUserPreference").ToString(), "ServiceSuspend", "Topic")</span>
                                                    }
                                                    else if (chkUserMapping == 3)
                                                    {
                                                        <span>@T("_Profile.MyAccount.UserSetting.InstrTxt.BSPUserPreference")</span> <span style='text-decoration: underline;'>@Html.ActionLink(T("_Profile.MyAccount.UserSetting.LnkBSPUserPreference").ToString(), "ServiceCancelled", "Topic")</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span>@T("_Profile.MyAccount.UserSetting.InstrTxt.BSPUserPreference")</span> <span style='text-decoration: underline;'><a href="javascript:requestLinkSetting('@menuSetting_URL','@userGuid','@menuSetting_PageID');">@T("_Profile.MyAccount.UserSetting.LnkBSPUserPreference")</a></span>
                                                }
                                            </div>
                                        </div>
                                                               
                                    </td>
                                </tr>

                               
                            </tbody>
                        </table>


                        <div class="data_end" style="padding-top:12px;"></div>

                        <div style="float:right;padding-right:20px">
                            <input type="submit" value="@T("_Global.BtnSave")" class="btn btn-primary btnSubmitGeneral" id="btnSubmitGeneral" />
                            @Html.ActionLink(T("_Global.BtnClose").ToString(), "Index", "Home", null, new { @class = "btn btn-default" })
                    </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


}


<div id="myAlertLocal" class="fixedContainer alert alert-warning fade">
    <strong>@T("_Regis.ValidateMsg.InvalidLangLocalCompanyName.Title")</strong>&nbsp;&nbsp;@T("_Regis.ValidateMsg.InvalidLangLocalCompanyName.Txt")
</div>

<div id="myAlertInter" class="fixedContainer alert alert-warning fade">
    <strong>@T("_Regis.ValidateMsg.InvalidLangInterCompanyName.Title")</strong>&nbsp;&nbsp;@T("_Regis.ValidateMsg.InvalidLangInterCompanyName.Txt")
</div>

<script>

    function GetSubDistrictAutocomplete()
    {
        $('#Address_SubDistrict_Local').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            limit: 10,
            // displayKey: 'value',
            source: function (query, processSync, processAsync) {
                //processSync(['This suggestion appears immediately', 'This one too']);
                return $.ajax({
                    url: '@Url.Action("SubCompLocalPartial", "ApiData")',
                    type: 'POST',
                    data: { term: query },
                    dataType: 'json',
                    success: function (json) {
                        var matches = [];
                        $.each(json, function (i, str) {
                            matches.push(str.SubDistrictName);
                        });
                        return processAsync(matches);
                    }
                });
            }
        });
    }

    function GetCityAutocomplete() {
        $('#Address_City_Local').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            limit: 10,
            // displayKey: 'value',
            source: function (query, processSync, processAsync) {
                //processSync(['This suggestion appears immediately', 'This one too']);
                return $.ajax({
                    url: '@Url.Action("CityCompLocalPartial", "ApiData")',
                    type: 'POST',
                    data: { term: query },
                    dataType: 'json',
                    success: function (json) {
                        var matches = [];
                        $.each(json, function (i, str) {
                            matches.push(str.CityName);
                        });
                        return processAsync(matches);
                    }
                });
            }
        });
    }

    function GetStateAutocomplete() {
        $('#Address_State_Local').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
        }, {
            limit: 10,
            // displayKey: 'value',
            source: function (query, processSync, processAsync) {
                //processSync(['This suggestion appears immediately', 'This one too']);
                return $.ajax({
                    url: '@Url.Action("StateCompLocalPartial", "ApiData")',
                    type: 'POST',
                    data: { term: query },
                    dataType: 'json',
                    success: function (json) {
                        var matches = [];
                        $.each(json, function (i, str) {
                            matches.push(str.StateName);
                        });
                        return processAsync(matches);
                    }
                });
            }
        });
    }

    function GetAddressAutocomplete()
    {
        GetSubDistrictAutocomplete();
        GetCityAutocomplete();
        GetStateAutocomplete();

    }

    function disablePageForm() {
        if ($("#form-general").valid()) {
            disablePage();
        }
    }

    function UpdatePlaceholderName(countryCode)
    {
        if (countryCode == "TH") {
            $("#FirstName_Local").attr("placeholder", "@T("_Profile.MyAccount.UserInfo.GtxtTHLocalFirstname").ToString()");
            $("#LastName_Local").attr("placeholder", "@T("_Profile.MyAccount.UserInfo.GtxtTHLocalLastname").ToString()");
            $("#FirstName_Inter").attr("placeholder", "@T("_Profile.MyAccount.UserInfo.GtxtTHInterFirstname").ToString()");
            $("#LastName_Inter").attr("placeholder", "@T("_Profile.MyAccount.UserInfo.GtxtTHInterLastname").ToString()");
            $("#requireSubDistrict").show();
        } else {

            $("#FirstName_Local").attr("placeholder", "@T("_Profile.MyAccount.UserInfo.GtxtNonTHLocalFirstname").ToString()");
            $("#LastName_Local").attr("placeholder", "@T("_Profile.MyAccount.UserInfo.GtxtNonTHLocalLastname").ToString()");
            $("#FirstName_Inter").attr("placeholder", "@T("_Profile.MyAccount.UserInfo.GtxtNonTHInterFirstname").ToString()");
            $("#LastName_Inter").attr("placeholder", "@T("_Profile.MyAccount.UserInfo.GtxtNonTHInterLastname").ToString()");
            $("#requireSubDistrict").hide();
        }
    }

    function requestLinkSetting(UrlLink, UserGUID, PageID) {

        var url = window.location.href;

        $.ajax({
            url: '/Profile/UpdateSessionDataMyAccount',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                model: {
                    UserID: @userID,
                    UrlLink: url
                }
            }),
            async: false,
            processData: false,
            cache: false,
            success: function (data) {

                var formsetting = $("form#form-link-setting");
                formsetting.attr("action", UrlLink);
                formsetting.find("#UserGuid").val(UserGUID);
                formsetting.find("#PageID").val(PageID);
                formsetting.submit();

                disablePage();

            },
            error: function (xhr) {
                //check = false;
            }
        })



    }

    $('select#JobTitleID').change(function () {
        //alert("12");
        //OtherJobTitle
        var jobTitleId = $(this).val();
        if (jobTitleId == -1) {
            $("#OtherJobTitleShow").css("display", "block");
        } else {
            $("#OtherJobTitleShow").css("display", "none");
        }

    });

    $('select#TitleID').change(function () {

        var nameTitleId = $(this).val();

        $("#TitleID_Inter").val(nameTitleId);
    });

    $('select#TitleID_Inter').change(function () {

        var nameTitleId = $(this).val();

        $("#TitleID").val(nameTitleId);
    });

    $(document).ready(function () {

        //The url we will send our get request to
        var countryUrl = '@Url.Action("GetJsonCountry", "ApiData")';
        var pageSize = 20;

        $("#Address_CountryCode").select2({
            placeholder: "@T("_Profile.ValidateMsg.RequireCountry").ToString()",
            width: '300px',
            ajax: {
                url: countryUrl,
                dataType: 'json',
                delay: 150,
                data: function (params) {
                    //console.log(params);
                    return {
                        searchTerm: params.term, // search term
                        pageNum: params.page,
                        pageSize: pageSize
                    };
                },
                processResults: function (data, params) {
                    //console.log(data);
                    // parse the results into the format expected by Select2
                    // since we are using custom formatting functions we do not need to
                    // alter the remote JSON data, except to indicate that infinite
                    // scrolling can be used
                    params.page = params.page || 1;

                    return {
                        results: data.Results,
                        pagination: {
                            more: (params.page * pageSize) < data.Total
                        }
                    };
                },
                cache: true
            },
            templateResult: function (item, params) {
                // No need to template the searching text
                //console.log(item);

                if (item.loading) {
                    return item.text;
                }

                var term = query.term || '';
                //console.log("term ==> "+term);
                var $result = markMatch(item.text, term);

                return $result;
            },
            language: {
                searching: function (params) {
                    // Intercept the query as it is happening
                    query = params;

                    // Change this to be appropriate for your application
                    return 'Searching…';
                }
            },
            escapeMarkup: function (markup) { return markup; },
            //minimumInputLength: 0,
            //templateResult: formatRepo, // omitted for brevity, see the source of this page
            //templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
        }).on("change", function(evt) {
            // mostly used event, fired to the original element when the value changes
            //console.log(evt.target.value);
            //console.log(evt);
            var countryCode = evt.target.value;
            CountryChangedNew(countryCode)
        });;

        GetAddressAutocomplete();


        $(".btnSubmitGeneral").click(function (evt) {

            //var compSubDistrict = Address_SubDistrict_Local.GetValue();
            //var compCity = Address_City_Local.GetValue();
            //var compState = Address_State_Local.GetValue();
            //var compCountry = Address_CountryCode.GetValue();

            var compSubDistrict = $("#Address_SubDistrict_Local").val();
            var compCity = $("#Address_City_Local").val();
            var compState = $("#Address_State_Local").val();
            var compCountry = $("#Address_CountryCode option:selected").val();

            var firstNameLocal = $("#FirstName_Local").val();
            var lastNameLocal = $("#LastName_Local").val();
            var firstNameInter = $("#FirstName_Inter").val();
            var lastNameInter = $("#LastName_Inter").val();
            var PhoneNo = $("#PhoneNo").val();
            var AddressHouseNo = $("#Address_HouseNo_Local").val();
            var jobTitle = $('#JobTitleID').val();

            var chk = true;

            if(jobTitle == -1)
            {
                var otherJobTitle = $('#OtherJobTitle').val();
                if(otherJobTitle == "")
                {
                    evt.preventDefault();
                    $('#OtherJobTitle').focus();
                    $("#errorOtherJobTitle").css("display", "block");
                    chk = false;
                    return false;
                }else
                {
                    $("#errorOtherJobTitle").css("display", "none");
                    chk = true;
                }

            }

            if (compSubDistrict != null) {
                compSubDistrict = $.trim(compSubDistrict);
            }
            if(compCountry == "TH")
            {
                if (compSubDistrict == "" || compSubDistrict == undefined || compSubDistrict == null) {
                    evt.preventDefault();
                    $('#Address_SubDistrict_Local').focus();
                    $("#errorCompSubDistrict").css("display", "block");
                    chk = false;
                    return false;
                } else {
                    $("#errorCompSubDistrict").css("display", "none");
                    chk = true;
                }
            }else
            {
                $("#errorCompSubDistrict").css("display", "none");
            }

            if (compCity != null) {
                compCity = $.trim(compCity);
            }
            if (compCity == "" || compCity == undefined || compCity == null) {
                evt.preventDefault();
                $('#Address_City_Local').focus();
                $("#errorCompCity").css("display", "block");
                chk = false;
                return false;
            } else {
                $("#errorCompCity").css("display", "none");
                chk = true;
            }

            if (compState != null) {
                compState = $.trim(compState);
            }
            if (compState == "" || compState == undefined || compState == null) {
                evt.preventDefault();
                $('#Address_State_Local').focus();
                $("#errorCompState").css("display", "block");
                chk = false;
                return false;
            } else {
                $("#errorCompState").css("display", "none");
                chk = true;
            }

            if (compCountry != null) {
                compCountry = $.trim(compCountry);
            }
            if (compCountry == "" || compCountry == undefined || compCountry == null) {
                evt.preventDefault();
                $('#Address_CountryCode').focus();
                $("#errorCompCountry").css("display", "block");
                chk = false;
                return false;
            } else {
                $("#errorCompCountry").css("display", "none");
                chk = true;
            }

            //===== name =====
            if (firstNameLocal != null) {
                firstNameLocal = $.trim(firstNameLocal);
            }
            $("#FirstName_Local").val(firstNameLocal);
            if (lastNameLocal != null) {
                lastNameLocal = $.trim(lastNameLocal);
            }
            $("#LastName_Local").val(lastNameLocal);
            if (firstNameInter!= null) {
                firstNameInter = $.trim(firstNameInter);
            }
            $("#FirstName_Inter").val(firstNameInter);
            if (lastNameInter!= null) {
                lastNameInter = $.trim(lastNameInter);
            }
            $("#LastName_Inter").val(lastNameInter);
            if (PhoneNo != null) {
                PhoneNo = $.trim(PhoneNo);
            }
            $("#PhoneNo").val(PhoneNo);
            if (AddressHouseNo != null) {
                AddressHouseNo = $.trim(AddressHouseNo);
            }
            $("#Address_HouseNo_Local").val(AddressHouseNo);

            var $form = $('#form-general');

            if ($form.valid() && chk == true) {

                disablePage();
                $form.submit();
            }
        });


        $("#Address_SubDistrict_Local").focusout(function () {
            //var compSubDistrict = Address_SubDistrict_Local.GetValue();
            //var countryCode = Address_CountryCode.GetValue();

            var compSubDistrict =  $("#Address_SubDistrict_Local").val();
            var countryCode = $("#Address_CountryCode option:selected").val();

            if (compSubDistrict == "" || compSubDistrict == undefined) {
                if(countryCode == "TH")
                {
                    $("#errorCompSubDistrict").css("display", "block");
                }else
                {
                    $("#errorCompSubDistrict").css("display", "none");
                }
            } else {
                $("#errorCompSubDistrict").css("display", "none");
            }
        });

        $("#Address_City_Local").focusout(function () {
            //var compCity = Address_City_Local.GetValue();
            var compCity =  $("#Address_City_Local").val();

            if (compCity == "" || compCity == undefined) {
                $("#errorCompCity").css("display", "block");
            } else {
                $("#errorCompCity").css("display", "none");
            }
        });

        $("#Address_State_Local").focusout(function () {
            //var compState = Address_State_Local.GetValue();
            var compState =  $("#Address_State_Local").val();

            if (compState == "" || compState == undefined) {
                $("#errorCompState").css("display", "block");
            } else {
                $("#errorCompState").css("display", "none");
            }
        });

        $("#Address_CountryCode").focusout(function () {
            var compCountry = $("#Address_CountryCode option:selected").val();

            if (compCountry == "" || compCountry == undefined) {
                $("#errorCompCountry").css("display", "block");
            } else {
                $("#errorCompCountry").css("display", "none");
            }
        });

        $("#FirstName_Local").focusout(function () {

            var countryCode = $("#Address_CountryCode option:selected").val();
            var input = $("#FirstName_Local").val();
            if (countryCode == "TH" )
            {
                $.ajax({
                    url: '/ValidateAjax/CheckThaiOnly',
                    type: 'GET',
                    data: {
                        input: input
                    },
                    async: false,
                    contentType: 'application/json',
                    success: function (data) {
                        //console.log("CheckThaiOnly ==> " + data);
                        if (data != true) {
                            $("#errorFormatFirstName_Local").css("display", "block");
                            $("#FirstName_Local").focus();
                        } else {
                            $("#errorFormatFirstName_Local").css("display", "none");
                        }
                    },
                    fail: function (event, data) {

                    }
                });
            }
        });

        $("#LastName_Local").focusout(function () {

            var countryCode = $("#Address_CountryCode option:selected").val();
            var input = $("#LastName_Local").val();
            if (countryCode == "TH" )
            {
                $.ajax({
                    url: '/ValidateAjax/CheckThaiOnly',
                    type: 'GET',
                    data: {
                        input: input
                    },
                    async: false,
                    contentType: 'application/json',
                    success: function (data) {
                        //console.log("CheckThaiOnly ==> " + data);
                        if (data != true) {
                            $("#errorFormatLastName_Local").css("display", "block");
                            $("#LastName_Local").focus();
                        } else {
                            $("#errorFormatLastName_Local").css("display", "none");
                        }
                    },
                    fail: function (event, data) {

                    }
                });
            }
        });

        $("#FirstName_Inter").focusout(function () {

            var input = $("#FirstName_Inter").val();

            $.ajax({
                url: '/ValidateAjax/CheckEngOnly',
                type: 'GET',
                data: {
                    input: input
                },
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    //console.log("CheckThaiOnly ==> " + data);
                    if (data != true) {
                        $("#errorFormatFirstName_Inter").css("display", "block");
                        $("#FirstName_Inter").focus();
                    } else {
                        $("#errorFormatFirstName_Inter").css("display", "none");
                    }
                },
                fail: function (event, data) {

                }
            });

        });

        $("#LastName_Inter").focusout(function () {

            var input = $("#LastName_Inter").val();

            $.ajax({
                url: '/ValidateAjax/CheckEngOnly',
                type: 'GET',
                data: {
                    input: input
                },
                async: false,
                contentType: 'application/json',
                success: function (data) {
                    //console.log("CheckThaiOnly ==> " + data);
                    if (data != true) {
                        $("#errorFormatLastName_Inter").css("display", "block");
                        $("#LastName_Inter").focus();
                    } else {
                        $("#errorFormatLastName_Inter").css("display", "none");
                    }
                },
                fail: function (event, data) {

                }
            });

        });

    });



    $(".notSpacebar").keydown(function (e) {
        if (e.keyCode == 32) {
            $(this).val($(this).val());
            return false;
        }
    });
</script>
