﻿@{
    
    string userGuid = "";
    if (Session["GUID"] != null)
    {
        userGuid = Session["GUID"].ToString();
    }
    
    var menuSetting = SupplierPortal.Framework.MethodHelper.GetMenuPortalHelper.GetMenuByMenuName("m_BSP_UserPreference");
    string menuSetting_URL = "";
    int menuSetting_PageID = 0;
    //int menuSystemID = 0;
    if (menuSetting != null)
    {
        menuSetting_URL = menuSetting.SystemURL;
        menuSetting_PageID = menuSetting.SystemPageID ?? 0;
        //menuSystemID = menuSetting.SystemID??0;
    }
}
<div class="row">
    <div class="col-md-12">
        <form action="" method="post" id="form-link-setting-userinformation">
            <input type="hidden" id="UserGuid" name="UserGuid" value="@userGuid" />
            <input type="hidden" id="PageID" name="PageID" value="@menuSetting_PageID" />
        </form>

    @Html.Partial(@"~/Views/Profile/_GridViewPartial_UserInformation.cshtml")    
    </div>
</div>

<div id="ModalMessageAlert" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                <span id="messageAlert"></span>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer">
                @*<button id="btn" type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button>*@
                <input id="btn" type="button" class="btn btn-primary" data-dismiss="modal" value="@T("_Global.BtnOk")">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {      
        //GridView_UserInformation.PerformCallback();

        $('.OPChecked').change(function () {
            console.log(OPChecked);
        });

    });



    function modalMessageAlert() {
        $('#ModalMessageAlert').modal({ backdrop: 'static', keyboard: false })
    }

    function requestLinkBSP()
    {
        var formsetting = $("form#form-link-setting-userinformation");
        formsetting.attr("action", "@menuSetting_URL");
        formsetting.submit();
        disablePage();
    }
    function OPChecked(userID)
    {
        var chk = $("#chk_" + userID).is(':checked');
        var opMapping = $('#OPMapping_' + userID).val();
        var opMappingEnableService = $('#OPMappingEnableService_' + userID).val();
        if (chk)
        {
            $('#SysRoleID_' + userID).prop("disabled", false);
            $('#save_' + userID).prop("disabled", false);
            $('#save_' + userID).css({ 'cursor': 'pointer' });
        } else
        {
            $('#SysRoleID_' + userID).prop("disabled", true);
            if (opMapping == "False")
            {
                $('#save_' + userID).prop("disabled", true);
                $('#save_' + userID).css({ 'cursor': 'not-allowed' });
            }
        }

        if (opMappingEnableService == "True")
        {
            if (chk) {

                $('#edit_' + userID).prop("disabled", false);
                $('#edit_' + userID).css({ 'cursor': 'pointer' });

            }else
            {
                $('#edit_' + userID).prop("disabled", true);
                $('#edit_' + userID).css({ 'cursor': 'not-allowed' });
        }
        //console.log(opMapping);
    }

        //console.log(opMapping);
        //console.log("opMappingEnableService ==> " + opMappingEnableService);
    }

    @*function saveUserBSP(userID) {

        var chk = $('#chk_' + userID).is(':checked')
        var opMapping = $('#OPMapping_' + userID).val();
        var roleID = $('#SysRoleID_' + userID).val();
        var url = window.location.href;
        var requireRole = false;

        console.log(roleID);

        if (roleID == "undefined" || roleID == "") {
            $("#validatRole_" + userID).css("display", "block");
            requireRole = false;
        } else {
            $("#validatRole_" + userID).css("display", "none");
            requireRole = true;
        }

        if (requireRole) {

            $.ajax({
                url: '/Profile/SaveBSPUserPreference',
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    model: {
                        UserID: userID,
                        CheckedOP: chk,
                        SysRoleID: roleID,
                        UrlLink: url
                    }
                }),
                async: false,
                processData: false,
                cache: false,
                success: function (data) {

                    //console.log(data);
                    if(data.Status)
                    {
                        if (chk && opMapping == "False")
                        {
                            requestLinkBSP();
                        }else
                        {
                            $.unblockUI();
                            //GridView_UserInformation.PerformCallback();
                            table.ajax.reload();
                            $("#messageAlert").text("");
                            $("#messageAlert").text("@T("_Profile.UserInformation.UpdateSysUserNonOP").ToString()");
                            modalMessageAlert();
                        }
                    
                    }else
                    {
                        //GridView_UserInformation.PerformCallback();
                        table.ajax.reload();
                        $.unblockUI();
                        $("#messageAlert").text("");
                        $("#messageAlert").text(data.Message);
                        modalMessageAlert();
                    }
           
                },
                error: function (xhr) {
                    $.unblockUI();
                }
            })
        }
    }*@

    function editUserBSP(userID) {
       
        var url = window.location.href;

        $.ajax({
            url: '/Profile/EditBSPUserPreference',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                model: {
                    UserID: userID,
                    UrlLink: url
                }
            }),
            async: false,
            processData: false,
            cache: false,
            success: function (data) {

                if (data.Status) {

                    requestLinkBSP();

                } else {
                    $.unblockUI();
                    $("#messageAlert").text("");
                    $("#messageAlert").text(data.Message);
                    modalMessageAlert();
                }
            },
            error: function (xhr) {
                $.unblockUI();
            }
        })

    }
</script>
