﻿@using (Html.BeginForm("General", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-login" }))
{
    <div class="row">
        <div class="data_end" style="padding-top:12px;"></div>
        <table cellspacing="0" cellpadding="0" border="0" align="center" width="98%">
            <tbody>
                <tr>
                    <td valign="top">
                        <div style="float:right;">
                            <input type="submit" value="@T("_Login.ForgotPassword.btnSubmit")" class="btn btn-primary" onclick="submitCheck();" />
                            @Html.ActionLink(T("_Login.ForgotPassword.btnClose").ToString(), "Login", null, new { @class = "btn btn-default" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data_end" style="padding-top:12px;"></div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <table width="98%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table table-striped">
                            <tbody>
                                <tr class="main_table_header">
                                    <td width="20%">Service</td>
                                    <td width="60%">Description</td>
                                    <td width="10%">Email</td>
                                    <td width="10%">SMS</td>
                                </tr>
                                <tr class="main_table_row">
                                    <td align="left">Request for Quotation (eRFX)</td>
                                    <td align="left">Supplier response eRFX</td>
                                    <td align="center"><input type="checkbox" name="manage_noti" id="manage_noti_y" /></td>
                                    <td align="center">&nbsp;</td>
                                </tr>
                                <tr class="main_table_row">
                                    <td align="left">Approve PR</td>
                                    <td align="left">New PR waiting for approve </td>
                                    <td align="center">&nbsp;</td>
                                    <td align="center"><input type="checkbox" name="manage_noti" id="manage_noti_y" /></td>
                                </tr>
                                <tr class="main_table_row">
                                    <td align="left">Approve PR</td>
                                    <td align="left">New PR waiting for approve </td>
                                    <td align="center">&nbsp;</td>
                                    <td align="center"><input type="checkbox" name="manage_noti" id="manage_noti_y" /></td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="data_end" style="padding-top:12px;"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
}
