﻿@model SupplierPortal.Data.Models.SupportModel.Profile.ManageUserModels
@{
    ViewBag.Title = Model.Proc+"User";
    Layout = "~/Views/Shared/_LayoutPortal.cshtml";

    string proc = Model.Proc;
    //System.Collections.IDictionary customHTMLAttributes = new Dictionary<string, object>();

    string labelOrgID = "";

    if (Model.Proc == "Add")
    {
        labelOrgID = ViewBag.OrgID+"-";
    }

    int isAdmin = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsAdmin(Model.UserLoginID);

    
    string IsAllowMultipleUserEmail = SupplierPortal.Framework.MethodHelper.GetConfigDataHelper.GetAppConfigByName("Portal_IsAllowMultipleUserEmail");
    
    string placeholderEmailResource = "";
    string placeholderFirstnameResource = "";
    string placeholderLastnameResource = "";
    
    

    if (Model.Proc == "Edit")
    {
        placeholderFirstnameResource = "_Profile.TabMyAccount.GtxtFirstName";
        placeholderLastnameResource = "_Profile.TabMyAccount.GtxtLastName";
        
        if (IsAllowMultipleUserEmail == "1")
        {
            placeholderEmailResource = "_Profile.TabMyAccount.GtxtEmail.MultipleEmail";
            
        }
        else
        {
            placeholderEmailResource = "_Profile.TabMyAccount.GtxtEmail.SingleEmail";

        }
    }
    else
    {
        placeholderFirstnameResource = "_Global.ReturnEmptyValue";
        placeholderLastnameResource = "_Global.ReturnEmptyValue";
        placeholderEmailResource = "_Global.ReturnEmptyValue";
    }

    string userGuid = "";
    if (Session["GUID"] != null)
    {
        userGuid = Session["GUID"].ToString();
    }

    string username = "";
    if (Session["username"] != null)
    {
        username = Session["username"].ToString();
    }
    
    var menuSetting = SupplierPortal.Framework.MethodHelper.GetMenuPortalHelper.GetMenuByMenuName("m_BSP_UserPreference");
    string menuSetting_URL = "";
    int menuSetting_PageID = 0;
    int menuSystemID = 0;
    if (menuSetting != null)
    {
        menuSetting_URL = menuSetting.SystemURL;
        menuSetting_PageID = menuSetting.SystemPageID ?? 0;
        //menuSystemID = menuSetting.SystemID??0;
    }

    bool chkUserMapping = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsUserSystemMapping(username, menuSystemID);

    string displayOtherJob = "";

    if (Model.JobTitleID == -1)
    {
        displayOtherJob = "display: block";
    }
    else
    {
        displayOtherJob = "display: none";
    }

    //int userRoleID = SupplierPortal.Services.ProfileManage.ProfileManage.GetUserRoleIDByUsername(Model.UserLoginID);
    //string displayIsPublic = "";
    //if (userRoleID == 1)
    //{
    //    displayIsPublic = "display: block";
    //}
    //else
    //{
    //    displayIsPublic = "display: none";
    //}
}

<script type="text/javascript">
    $(document).ready(function () {

        var procUser = '@Model.Proc';

        //alert(procUser);
        if (procUser == "Add") {
           
            $('#Email').attr("readonly", "readonly");
            $('#TitleID').attr("disabled", "disabled");
            $('#FirstName').attr("readonly", "readonly");
            $('#LastName').attr("readonly", "readonly");
            $('#JobTitleID').attr("disabled", "disabled");
            $('#OtherJobTitle').attr("readonly", "readonly");
            $('#Department').attr("readonly", "readonly");
            $('#PhoneNo').attr("readonly", "readonly");
            $('#PhoneExt').attr("readonly", "readonly");
            $('#LastName').attr("readonly", "readonly");
            $('#MobileNo').attr("readonly", "readonly");
            $('#FaxNo').attr("readonly", "readonly");
            $('#FaxExt').attr("readonly", "readonly");
        } else
        {
            $('#ContactID').attr("disabled", "disabled");
            $('#UserLoginID').attr("readonly", "readonly");
        }

    });

    function grid_CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateCustomizationWindowVisibility() {
        if (GridView_ManageUserRole.IsCustomizationWindowVisible())
            GridView_ManageUserRole.HideCustomizationWindow();
        else
            GridView_ManageUserRole.ShowCustomizationWindow();
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = GridView_ManageUserRole.IsCustomizationWindowVisible() ? "Hide" : "Show";
        text += " Field List";
        $("#btShowCustomizationWindow").val(text);
    }

    //$("#form-manageUser").submit(function (event) {
    //    event.preventDefault();
    //});

</script>

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<form action="" method="post" id="form-link-setting">
    <input type="hidden" id="UserGuid" name="UserGuid" />
    <input type="hidden" id="PageID" name="PageID" />
</form>

<div class="row">
    <div class="data_end"></div>
    <div class="ep_badge_green_edge"></div>
    <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Menu.Profile")</div>
    <div class="data_end" style="padding-top:40px;"></div>
</div>

<div class="row">
    <div class="data_end" style="padding-top:35px;"></div>
</div>

@*<div class="row">
    <div class="col-md-12">
        <div class="breadcrumb_wrapper_portal">
            <div id="normal_topic" class="normal_topic">
                <div class="bc_home_icon">
                    <img src="~/Content/images/ico-profile-black.gif">
                </div>
                @T("_Profile.Lbl.Profile")
                <div class="data_end_s"></div>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs-custom" role="tablist">
            <li class="active"><a href="#User" role="tab" data-toggle="tab">
                <span class="profile_label">
                @T("_Profile.TabManageUser.TabTitle")
                @*@{
                    if(Model.Proc == "Add")
                    {
                        @T("_Profile.Tab.AddUser")
                    }else
                    {
                        @T("_Profile.Tab.EditUser")
                    }
                }*@
                </span></a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <div class="tab-content">

            <div class="tab-pane active" id="User">
                @using (Html.BeginForm("ManageUser", "Profile", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "form-manageUser" }))
                {
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="main_table table-striped">
                        <tbody>
                            <tr class="main_table_header">
                                <td align="left" style="padding-left:5px;">
                                    @if (Model.Proc == "Add")
                                    {
                                        @T("_Profile.CreateUser.TableTitle")
                                    }
                                    else
                                    {
                                        @T("_Profile.EditUser.TableTitle")
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="data_end" style="padding-top:12px;"></div>

                                        <div style="float:right;padding-right:20px">
                                            <input type="submit" value="@T("_Global.BtnSave")" class="btn btn-primary" onclick="disablePageForm();" />

                                            <a href="@Url.Action("Index", "Profile",null)#User" class="btn btn-default">@T("_Global.BtnClose")</a>
                                            @*@Html.ActionLink(T("_Profile.General_Btn.Close").ToString(), "Index", "Profile", null, new { @class = "btn btn-default" })*@
                                        </div>
                                        <table cellspacing="0" cellpadding="0" border="0" align="center" width="98%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="data_end" style="padding-top:20px;"></div>
                                                        <div class="profile-lable-group">@T("_Profile.LblUserInformation")</div>
                                                        <hr>
                                                        <div class="profile-lable-groupDetail">
                                                        @if (Model.Proc == "Add")
                                                        {
                                                            @T("_Profile.CreateUser.InsrtTxt.UserInfo")
                                                        }
                                                        else 
                                                        { 
                                                            @T("_Profile.EditUser.InsrtTxt.UserInfo")
                                                        }
                                                        </div>
                                                        <div class="data_end" style="padding-top:20px;"></div>
                                                        <table cellspacing="0" cellpadding="0" border="0" align="center" width="90%">
                                                            <tbody>
                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblContactPerson")<span class="red_highlight">*</span></div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @*@Html.TextAreaFor(m => m.Proc)*@
                                                                                    @Html.HiddenFor(m => m.Proc)
                                                                                    @Html.DropDownListFor(m => m.ContactID, new SelectList(ViewBag.ContactPerson, "ContactID", "ContactName"), @T("_Profile.DdlContactPerson.OptionLable").ToString(), new { @class = "form-control", id = "ContactID", @style = "width: 300px;" })
                                                                                    @{
                                                                                        if (Model.Proc == "Edit")
                                                                                        {
                                                                                                    @Html.HiddenFor(x => x.ContactID, new { @class = "form-control", id = "HideContactID" })
                                                                                        }
                                                                                    }
                                                                                </div>

                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">@Html.ValidationMessageFor(x => x.ContactID, "", new { @class = "text-danger-bold" })</div>
                                                                            </div>
                                                                        </div>

                                                                    </td>
                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblUserLogin")<span class="red_highlight">*</span></div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item padding-right-none">
                                                                                    @Html.Hidden("OrgID", (object)ViewBag.OrgID.ToString())
                                                                                    @labelOrgID

                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item padding-left-none" >
                                                                                    @Html.TextBoxFor(m => m.UserLoginID, null, new { @class = "form-control", id = "UserLoginID", maxlength = "30", @style = "width: 230px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">@Html.ValidationMessageFor(x => x.UserLoginID, "", new { @class = "text-danger-bold" })</div>
                                                                            </div>
                                                                        </div>
                                                                    </td>

                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblEmail")<span class="red_highlight">*</span></div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.HiddenFor(m => m.InitialEmail, new { id = "InitialEmail" })
                                                                                    @Html.TextBoxFor(m => m.Email, null, new { @class = "form-control", id = "Email", maxlength = "255", placeholder = @T(placeholderEmailResource), @style = "width:300px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">
                                                                                    @if (Model.Proc == "Edit")
                                                                                    {
                                                                                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger-bold" })
                                                                                    }
                                                                                    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblTitleName")<span class="red_highlight">*</span></div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.DropDownListFor(m => m.TitleID, new SelectList(ViewBag.NameTitle, "TitleID", "TitleName"), @T("_Profile.DdlTitleName.OptionLable").ToString(), new { @class = "form-control", id = "TitleID", @style = "width: 80px;" })
                                                                                @{
                                                                                    if (Model.Proc == "Add")
                                                                                    {
                                                                                        @Html.HiddenFor(x => x.TitleID, new { @class = "form-control", id = "HideTitleID" })
                                                                                    }
                                                                                }
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">
                                                                                    @if (Model.Proc == "Edit")
                                                                                    {
                                                                                    @Html.ValidationMessageFor(x => x.TitleID, "", new { @class = "text-danger-bold" })
                                                                                    }                                                                  
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblName")<span class="red_highlight">*</span></div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">                                                                           
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control", id = "FirstName", maxlength = "100", placeholder = @T(placeholderFirstnameResource), @style = "width: 132px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">
                                                                                @if (Model.Proc == "Edit")
                                                                                {
                                                                                    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger-bold" })
                                                                                }
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control input-lg", id = "LastName", maxlength = "100", placeholder = @T(placeholderLastnameResource), @style = "width: 132px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">
                                                                                @if (Model.Proc == "Edit")
                                                                                {
                                                                                    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger-bold" })
                                                                                }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblJobTitle")</div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @*@Html.TextBoxFor(m => m.JobTitle, null, new { @class = "form-control", id = "JobTitle", maxlength = "100", @style = "width: 300px;" })*@
                                                                                    @Html.DropDownListFor(m => m.JobTitleID, new SelectList(ViewBag.JobTitle, "EntityID", "EntityValue"), @T("_Profile.DdlJobTitle.OptionLable").ToString(), new { @class = "form-control", id = "JobTitleID", @style = "width: 132px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item" style="@displayOtherJob;" id="OtherJobTitleShow">
                                                                                    @Html.TextBoxFor(m => m.OtherJobTitle, null, new { @class = "form-control", id = "OtherJobTitle", maxlength = "255", @style = "width: 300px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblDepartment")<span class="red_highlight">*</span></div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.TextBoxFor(m => m.Department, null, new { @class = "form-control", id = "Department", maxlength = "100", @style = "width: 300px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">
                                                                                @if (Model.Proc == "Edit")
                                                                                {
                                                                                    @Html.ValidationMessageFor(x => x.Department, "", new { @class = "text-danger-bold" })
                                                                                }
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblPhone")<span class="red_highlight">*</span></div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.TextBoxFor(m => m.PhoneNo, null, new { @class = "form-control", id = "PhoneNo", maxlength = "100", @style = "width: 300px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">
                                                                                @if (Model.Proc == "Edit")
                                                                                {
                                                                                    @Html.ValidationMessageFor(x => x.PhoneNo, "", new { @class = "text-danger-bold" })
                                                                                }
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold_inline">@T("_Profile.LblPhoneExt")</div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.TextBoxFor(m => m.PhoneExt, null, new { @class = "form-control input-lg", id = "PhoneExt", maxlength = "100", @style = "width: 100px;" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblMobile")</div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                   @Html.TextBoxFor(m => m.MobileNo, null, new { @class = "form-control", id = "MobileNo", maxlength = "100" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr class="padding-table">
                                                                    <td width="15%" style="text-align: left;">
                                                                        <div class="form_label_bold">@T("_Profile.LblFax")</div>
                                                                    </td>
                                                                    <td style="text-align: left;">
                                                                        <div class="form-inline">
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.TextBoxFor(m => m.FaxNo, null, new { @class = "form-control", id = "FaxNo", maxlength = "100", @style = "width: 300px;" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold">@*@Html.ValidationMessageFor(x => x.FaxNo, "", new { @class = "text-danger-bold" })*@</div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_label_bold_inline">@T("_Profile.LblFaxExt")</div>
                                                                            </div>
                                                                            <div class="form-group margin-none">
                                                                                <div class="form_item">
                                                                                    @Html.TextBoxFor(m => m.FaxExt, null, new { @class = "form-control", id = "FaxExt", maxlength = "100", @style = "width: 100px;" })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @*<fieldset class="scheduler-border">
                                                            <legend class="scheduler-border">@T("_Profile.Lbl.UserSetting")</legend>*@
                                                        <div class="data_end" style="padding-top:20px;"></div>
                                                        <div class="profile-lable-group">@T("_Profile.LblUserSetting")</div>
                                                        <hr>
                                                        <div class="profile-lable-groupDetail">
                                                            @if (Model.Proc == "Add")
                                                            {
                                                                @T("_Profile.CreateUser.InsrtTxt.UserSetting")
                                                            }
                                                            else
                                                            {
                                                                @T("_Profile.EditUser.InsrtTxt.UserSetting")
                                                            }
                                                        </div>
                                                        <div class="data_end" style="padding-top:20px;"></div>
                                                            <table cellspacing="0" cellpadding="0" border="0" align="center" width="90%">
                                                                <tbody>
                                                                    <tr class="padding-table">
                                                                        <td width="15%" style="text-align: left;">
                                                                            <div class="form_label_bold">@T("_Profile.LblLocale")<span class="red_highlight">*</span></div>
                                                                        </td>
                                                                        <td style="text-align: left;">
                                                                            <div class="form-inline">
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_item">
                                                                                        @Html.DropDownListFor(m => m.LocaleName, new SelectList(ViewBag.Locale, "LocaleName", "LocaleDescription"), @T("_Profile.DdlLocale.OptionLable").ToString(), new { @class = "form-control", id = "LocaleName", @style = "width: 300px;" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_label_bold">@Html.ValidationMessageFor(x => x.LocaleName, "", new { @class = "text-danger-bold" })</div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="padding-table">
                                                                        <td width="15%" style="text-align: left;">
                                                                            <div class="form_label_bold">@T("_Profile.LblTimeZone")<span class="red_highlight">*</span></div>
                                                                        </td>
                                                                        <td style="text-align: left;">
                                                                            <div class="form-inline">
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_item">
                                                                                        @Html.DropDownListFor(m => m.TimeZoneIDString, new SelectList(ViewBag.TimeZone, "TimeZoneIDString", "DisplayName"), @T("_Profile.DdlTimeZone.OptionLable").ToString(), new { @class = "form-control", id = "TimeZoneIDString", @style = "width: 300px;" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_label_bold">@Html.ValidationMessageFor(x => x.TimeZoneIDString, "", new { @class = "text-danger-bold" })</div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="padding-table">
                                                                        <td width="15%" style="text-align: left;">
                                                                            <div class="form_label_bold">@T("_Profile.LblCurrency")<span class="red_highlight">*</span></div>
                                                                        </td>
                                                                        <td style="text-align: left;">
                                                                            <div class="form-inline">
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_item">
                                                                                        @Html.DropDownListFor(m => m.CurrencyCode, new SelectList(ViewBag.Currency, "CurrencyCode", "CurrencyCode"), @T("_Profile.DdlCurrency.OptionLable").ToString(), new { @class = "form-control", id = "CurrencyCode", @style = "width: 300px;" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_label_bold">@Html.ValidationMessageFor(x => x.CurrencyCode, "", new { @class = "text-danger-bold" })</div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                    <tr class="padding-table">
                                                                        <td width="15%" style="text-align: left;">
                                                                            <div class="form_label_bold">@T("_Profile.LblLanguage")<span class="red_highlight">*</span></div>
                                                                        </td>
                                                                        <td style="text-align: left;">
                                                                            <div class="form-inline">
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_item">
                                                                                        @Html.DropDownListFor(m => m.LanguageCode, new SelectList(ViewBag.Language, "LanguageCode", "LanguageName"), @T("_Profile.DdlLanguage.OptionLable").ToString(), new { @class = "form-control", id = "LanguageCode", @style = "width: 300px;" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_label_bold">@Html.ValidationMessageFor(x => x.LanguageCode, "", new { @class = "text-danger-bold" })</div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    @if (Model.Proc == "Edit")
                                                                    {
                                                                        @*<tr class="padding-table">
                                                                            <td width="15%" style="text-align: left;"></td>
                                                                            <td style="text-align: left;">
                                                                                <div class="form-inline">
                                                                                    <div class="form-group margin-none">
                                                                                        <div class="form_item" style="@displayIsPublic">
                                                                                            @Html.CheckBoxFor(m => m.IsPublic, new { id = "IsPublic" })&nbsp;&nbsp;
                                                                                            @T("_Profile.LblIsPublic")
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>*@
                                                                        
                                                                        <tr class="padding-table">
                                                                            <td width="15%" style="text-align: left;"></td>
                                                                            <td style="text-align: left;">
                                                                                <div class="form-inline">
                                                                                    <div class="form-group margin-none">
                                                                                        <div class="form_item">
                                                                                            <div class="form_label_bold" style='text-decoration: underline;'>
                                                                                                
                                                                                                @if (chkUserMapping)
                                                                                                {
                                                                                                    <a href="javascript:requestLinkSetting('@menuSetting_URL','@userGuid','@menuSetting_PageID');"> @T("_Profile.EditUser.LnkBSPUserPreference")</a>
                                                                                                }
                                                                                                else
                                                                                                {
                                                                                                    <div style="cursor:not-allowed;display:none">@T("_Profile.EditUser.LnkBSPUserPreference")</div>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                    

                                                                </tbody>
                                                            </table>
                                                        @*</fieldset>*@
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @*<fieldset class="scheduler-border">
                                                            <legend class="scheduler-border">@T("_Profile.Lbl.UserSettingRole")</legend>*@
                                                        <div class="data_end" style="padding-top:20px;"></div>
                                                        <div class="profile-lable-group">@T("_Profile.LblRoleAssignment")</div>
                                                        <hr>
                                                        <div class="profile-lable-groupDetail">
                                                            @if (Model.Proc == "Add")
                                                            {
                                                                @T("_Profile.CreateUser.InsrtTxt.RoleAssignment")
                                                            }
                                                            else
                                                            {
                                                                @T("_Profile.EditUser.InsrtTxt.RoleAssignment")
                                                            }
                                                        </div>
                                                        <div class="data_end" style="padding-top:20px;"></div>
                                                            <table cellspacing="0" cellpadding="0" border="0" align="center" width="90%">
                                                                <tbody>
                                                                    <tr class="padding-table">
                                                                        <td width="15%" style="text-align: left;">
                                                                            <div class="form_label_bold">@T("_Profile.LblRole")<span class="red_highlight">*</span></div>
                                                                        </td>
                                                                        <td style="text-align: left;">
                                                                            <div class="form-inline">
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_item">
                                                                                        @if ((isAdmin == 1 || isAdmin==4) && Model.Proc == "Edit")
                                                                                        {
                                                                                            @Html.DropDownListFor(m => m.RoleID, new SelectList(ViewBag.RoleAll, "RoleID", "RoleName"), @T("_Profile.DdlRole.OptionLable").ToString(), new { @class = "form-control", id = "RoleID", @disabled = "disabled", @style = "width: 300px;" })
                                                                                            @Html.HiddenFor(x => x.RoleID, new { id = "HideRoleID" })
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            @Html.DropDownListFor(m => m.RoleID, new SelectList(ViewBag.Role, "RoleID", "RoleName"), @T("_Profile.DdlRole.OptionLable").ToString(), new { @class = "form-control", id = "RoleID", @style = "width: 300px;" })
                                                                                        }

                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group margin-none">
                                                                                    <div class="form_label_bold">@Html.ValidationMessageFor(x => x.RoleID, "", new { @class = "text-danger-bold" })</div>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="2"><p></td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td colspan="2">
                                                                            @*@Html.Partial("_GridViewPartial_UserRole")*@

                                                                            @Html.Partial(@"~/Views/Profile/_GridViewPartial_UserRoleList.cshtml", Model.SystemRoleList)

                                                                       
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        @*</fieldset>*@
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        <div class="data_end" style="padding-top:12px;"></div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                }
            </div>       
               
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @{
        <script>

            $(function () {
                $('select#ContactID').change(function () {
                    var contactId = $(this).val();

                    if (contactId != "") {
                        $.ajax({
                            url: '@Url.Action("LoadDataContactPerson", "Profile")',
                            type: 'POST',
                            data: JSON.stringify({ contactId: contactId }),
                            //dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {

                                //console.log(data);

                                $('#Email').val(data.Email)
                                $('#InitialEmail').val(data.Email)
                                $('#TitleID').val(data.TitleID)
                                $('#HideTitleID').val(data.TitleID)
                                $('#FirstName').val(data.FirstName)
                                $('#LastName').val(data.LastName)
                                $('#JobTitleID').val(data.JobTitleID)
                                $('#OtherJobTitle').val(data.OtherJobTitle)
                                $('#Department').val(data.Department)
                                $('#PhoneNo').val(data.PhoneNo)
                                $('#PhoneExt').val(data.PhoneExt)
                                $('#MobileNo').val(data.MobileNo)
                                $('#FaxNo').val(data.FaxNo)
                                $('#FaxExt').val(data.FaxExt)

                                if (data.JobTitleID==-1)
                                {
                                    $("#OtherJobTitleShow").css("display", "block");
                                }else
                                {
                                    $("#OtherJobTitleShow").css("display", "none");
                                }


                            }
                        });

                    }

                });

                $('select#JobTitleID').change(function () {
                    //alert("12");
                    //OtherJobTitle
                    var jobTitleId = $(this).val();
                    if (jobTitleId== -1)
                    {
                        $("#OtherJobTitleShow").css("display", "block");
                    } else
                    {
                        $("#OtherJobTitleShow").css("display", "none");
                    }
                   
                });

            });


            function addCommas(nStr) {
                nStr += '';
                x = nStr.split('.');
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while (rgx.test(x1)) {
                    x1 = x1.replace(rgx, '$1' + ',' + '$2');
                }
                return x1 + x2;
            }

        </script>
    }
}

<script>


    function disablePageForm() {
        if ($("#form-manageUser").valid()) {
            disablePage();
        }
    }

    function requestLinkSetting(UrlLink, UserGUID, PageID) {


        var formsetting = $("form#form-link-setting");
        formsetting.attr("action", UrlLink);
        //document.getElementById('UserGuid').value = UserGUID;
        //document.getElementById('PageID').value = PageID;
        formsetting.find("#UserGuid").val(UserGUID);
        formsetting.find("#PageID").val(PageID);
        formsetting.submit();

        //alert("66");
        disablePage();
    }

</script>