﻿@model SupplierPortal.Data.Models.SupportModel.Profile.ViewDataProfileModels
@{
    ViewBag.Title = "My Profile";

    string viewbagErrorMassage = ViewBag.ErrorMessage;

    string viewbagTab = ViewBag.Tab;

    bool isAllowAccess_Profile_GeneralProfile = false;
    bool isAllowAccess_Profile_ChangePassword = false;
    bool isAllowAccess_MergerUser = false;
    bool isAllowAccess_YourBuyerList = true;
    string tab1Active = "";
    string tab2Active = "";
    string tab3Active = "";
    string tab4Active = "";

    if (ViewBag.isAllowAccess_Profile_GeneralProfile != null)
    {
        isAllowAccess_Profile_GeneralProfile = (bool)ViewBag.isAllowAccess_Profile_GeneralProfile;
    }
    if (ViewBag.isAllowAccess_Profile_ChangePassword != null)
    {
        isAllowAccess_Profile_ChangePassword = (bool)ViewBag.isAllowAccess_Profile_ChangePassword;
    }
    if (ViewBag.isAllowAccess_MergerUser != null)
    {
        isAllowAccess_MergerUser = (bool)ViewBag.isAllowAccess_MergerUser;
    }

    // set active tab
    if (isAllowAccess_Profile_GeneralProfile)
    {
        tab1Active = "active";
    }
    else
    {
        if (isAllowAccess_Profile_ChangePassword)
        {
            tab2Active = "active";
        }
        else
        {
            if (isAllowAccess_MergerUser)
            {
                tab2Active = "active";
            }
            else
            {
                if (isAllowAccess_Profile_GeneralProfile)
                {
                    tab4Active = "active";
                }
            }
        }
    }

}

<div class="row">
    @{ Html.RenderAction("SubMenuPortal", "MenuPortal"); }
</div>

<div class="row">
    @{ Html.RenderAction("ProfileMenuPortal", "MenuPortal", new { section = "MyProfile" }); }
</div>
<div class="container">
    @*<div class="row">
            <div class="data_end"></div>
            <div class="ep_badge_green_edge"></div>
            <div class="ep_badge_green" style="padding-left: 30px; width: 200px;">@T("_Menu.Profile.MyProfile") </div>
            <div class="data_end" style="padding-top:40px;"></div>
        </div>*@

    <div class="row">
        <div class="data_end" style="padding-top:35px;"></div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="normal_topic_wrap">
                <div class="normal_topic">
                    <span id="tab_topic">@T("_Profile.MyAccount.InstrTxt.Title")</span>
                    <span class="normal_topic_detial" id="tab_detial">@T("_Profile.MyAccount.InstrTxt.Txt")</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="data_end" style="padding-top:10px;"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs-custom" role="tablist" id="myTab">

                @{ 
                    if (isAllowAccess_Profile_GeneralProfile)
                    {
                        <li class="active"><a href="#General" role="tab" data-toggle="tab"><span class="profile_label">@T("_Profile.MyAccount.TabTitle")</span></a></li>
                        @Html.Hidden("General", @T("_Profile.MyAccount.InstrTxt.Title"), new { id = "tab_general" })
                        @Html.Hidden("GeneralDetail", @T("_Profile.MyAccount.InstrTxt.Txt"), new { id = "tab_generalDetail" })
                        
                    }
                }



                @*@if (User.IsInRole("mng-UsersProfile"))
                    {
                        <li><a href="#User" role="tab" data-toggle="tab"><span class="profile_label">@T("_Profile.TabManageUser.TabTitle")</span></a></li>
                        @Html.Hidden("User", @T("_Profile.InstrTitle.ManageUser"), new { id = "tab_user" })
                        @Html.Hidden("UserDetail", @T("_Profile.InstrTxt.ManageUserAccount"), new { id = "tab_userDetail" })
                    }*@
                @*<li><a href="#User" role="tab" data-toggle="tab"><span class="profile_label">@T("_Profile.Tab.User")</span></a></li>*@

                @*<li><a href="#UserInformation" role="tab" data-toggle="tab"><span class="profile_label">@T("_Profile.UserInformation.TabTitle")</span></a></li>
                    @Html.Hidden("UserInformation", @T("_Profile.UserInformation.InstrTxt.Title"), new { id = "tab_userInformation" })
                    @Html.Hidden("UserInformationDetail", @T("_Profile.UserInformation.InstrTxt.Txt"), new { id = "tab_userInformationDetail" })*@
                @{
                    if (isAllowAccess_Profile_ChangePassword)
                    {
                        <li><a href="#ChangePassword" role="tab" data-toggle="tab"><span class="profile_label">@T("_Profile.ChangePassword.TabTitle")</span></a></li>
                        @Html.Hidden("ChangePassword", @T("_Profile.ChangePassword.InstrTxt.Title"), new { id = "tab_changePassword" })
                        @Html.Hidden("ChangePasswordDetail", @T("_Profile.ChangePassword.InstrTxt.Txt"), new { id = "tab_changePasswordDetail" })
                    }
                    if (isAllowAccess_MergerUser)
                    {
                        <li><a href="#MergUserAccount" role="tab" data-toggle="tab"><span class="profile_label">@T("_Profile.MergUserAccount.TabTitle")</span></a></li>
                        @Html.Hidden("MergUserAccount", @T("_Profile.MergUserAccount.InstrTxt.Title"), new { id = "tab_mergUserAccount" })
                        @Html.Hidden("MergUserAccountDetail", @T("_Profile.MergUserAccount.InstrTxt.Txt"), new { id = "tab_mergUserAccountDetail" })
                    }

                     if (isAllowAccess_YourBuyerList)
                    {
                        <li><a href="#YourBuyer" role="tab" data-toggle="tab"><span class="profile_label">@T("_Profile.YourBuyer.TabTitle")</span></a></li>
                        @Html.Hidden("YourBuyer", @T("_Profile.YourBuyer.TabTitle"), new { id = "tab_yourBuyer" })
                        @Html.Hidden("YourBuyerDetail", @T("_Profile.YourBuyer.TabTitle"), new { id = "tab_yourBuyerDetail" })
                    }
                }


               
            </ul>
        </div>
        <div class="col-md-12">
            <div class="tab-content">
                @{
                    if (isAllowAccess_Profile_GeneralProfile)
                    {
                        <div class="tab-pane @Html.Raw(tab1Active)" id="General">
                            @Html.Partial(@"~/Views/Profile/_PartialGeneral.cshtml", Model.GeneralData)
                        </div>
                    }
                    if (isAllowAccess_Profile_ChangePassword)
                    {
                        <div class="tab-pane @Html.Raw(tab2Active)" id="ChangePassword">
                            @Html.Partial(@"~/Views/Profile/_PartialChangePassword.cshtml", Model.ChangePasswordData)
                        </div>
                    }
                    if (isAllowAccess_MergerUser)
                    {
                        <div class="tab-pane @Html.Raw(tab3Active)" id="MergUserAccount">
                            @Html.Action("MergUserAccountPartial")
                        </div>
                    }
                    if (isAllowAccess_Profile_GeneralProfile)
                    {
                        <div class="tab-pane @Html.Raw(tab4Active)" id="YourBuyer">
                            @Html.Partial(@"~/Views/Profile/_PartialYourBuyerList.cshtml", Model.OPNBuyerSupplierMappings)
                        </div>
                    }
                }


                @*<div class="tab-pane" id="User">
            @Html.Partial("_PartialUser")
        </div>*@

                @*<div class="tab-pane" id="UserInformation">
            @Html.Partial("_PartialUserInformation")
        </div>*@





            </div>
        </div>

    </div>
</div>
<div id="myModalError" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                @T("_Login.ForgotPassword.AlertMsg.Title")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                @*@viewbagMassage*@
                @Html.Raw(viewbagErrorMassage)
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal" id="BtnOk">@T("_Global.BtnOk")</button></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @{




        <script>


            function alertData() {

                $('#myModalError').modal({ backdrop: 'static', keyboard: false })
                .one('click', '#BtnOk', function () {
                    window.location.href = "/Profile/Index#@viewbagTab";
                    $.unblockUI();

                });
            }

            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');


                chkTab();
                //var id = $(e.target).attr("href");
                //alert($(e.target).attr("name"));
                //$("#tab_topic").text($("#hdfRequiredField").val());
            });

            function chkTab() {
                var hash = window.location.hash;
                //alert(hash);
                if (hash == "#General") {
                    $("#tab_topic").text($("#tab_general").val());
                    $("#tab_detial").text($("#tab_generalDetail").val());
                }
                if (hash == "#UserInformation") {
                    $("#tab_topic").text($("#tab_userInformation").val());
                    $("#tab_detial").text($("#tab_userInformationDetail").val());
                }
                if (hash == "#ChangePassword") {
                    $("#tab_topic").text($("#tab_changePassword").val());
                    $("#tab_detial").text($("#tab_changePasswordDetail").val());
                }
                if (hash == "#MergUserAccount") {
                    $("#tab_topic").text($("#tab_mergUserAccount").val());
                    $("#tab_detial").text($("#tab_mergUserAccountDetail").val());
                }
                if (hash == "#YourBuyer") {
                    $("#tab_topic").text($("#tab_yourBuyer").val());
                    $("#tab_detial").text($("#tab_yourBuyer").val());
                }
            }


            // store the currently selected tab in the hash value
            $("ul.nav-tabs-custom > li > a").on("shown.bs.tab", function (e) {
                var id = $(e.target).attr("href").substr(1);
                window.location.hash = id;
            });

            // on load of the page: switch to the currently selected tab
            var hash = window.location.hash;
            $('#myTab a[href="' + hash + '"]').tab('show');



        </script>

        if (!string.IsNullOrEmpty(viewbagErrorMassage))
        {
            <script>
                alertData();
            </script>
        }
    }
}

