﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_MenuPortal>

@foreach (var item in Model)
{
    @*<li class="top_menu_li" oncontextmenu="return false"><span class="ep_ico_b ico_top @item.Icon"></span>@Html.ActionLink(T(item.ResourceName).ToString(), item.ActionName, item.ControllerName,null, new { @onclick = "disablePage();" })</li>*@
    <li class="top_menu_li" oncontextmenu="return false">
        @if (item.Icon == "CompanyProfile")
        {
            <a href="javascript:clickCompanyProfile();">
                <i class="fa fa-university fa-fw fa-lg"></i> @T(item.ResourceName).ToString()
            </a>
        }
        else
        {
            <a href="@Url.Action(item.ActionName, item.ControllerName)">
                <span class="ep_ico_b ico_top @item.Icon"></span> @T(item.ResourceName).ToString()
            </a>
        }

    </li>
}

<div id="verifyEmailModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                @T("_Login.ForgotPassword.Lbl_MsgTitle")
            </div>
            <!-- dialog body -->
            <div class="modal-body">
                <span id="ticketcodeWrongmessage"></span>
            </div>
            <!-- dialog buttons -->
            <div class="modal-footer"><button id="btn" type="button" class="btn btn-primary" data-dismiss="modal">@T("_Global.BtnOk")</button></div>
        </div>
    </div>
</div>

<script>
    function clickCompanyProfile() {
        $.ajax({
            url: '/MenuPortal/RenderViewByEmail',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                model: {
                }
            }),
            async: false,
            processData: false,
            cache: false,
            success: function (data) {

                if (data.Response == "Success") {
                    //var url = "kCIn";
                    //url = url.concat($("#ticketcode").val());
                    //url = url.concat("EOiK");
                    disablePage();

                    if (typeof data.IsRedirectToSC !== undefined && data.IsRedirectToSC) {
                        window.location.href = data.RedirectURL;
                    } else {
                        window.location.href = data.RedirectURL;
                    }
                }
                else {
                    $("#ticketcodeWrongmessage").text(data.Response);
                    $("#requirederror").text("");
                    loadPopup();//Funtion from customheadscript
                    $("#btn").click(function () {
                        return true;
                    });
                }
            },
            error: function (xhr) {
                return false;
            }
        })
    }

    function loadPopup() {
        //---------------------------------------Render message box---------------------------------------------
        $("body #verifyEmailModal").on("show", function () {    // wire up the OK button to dismiss the modal when shown
            $("body #verifyEmailModal a.btn").on("click", function (e) {
                alert("11");
                console.log("button pressed");   // just as an example...
                $("body #verifyEmailModal").modal('hide');     // dismiss the dialog
            });
        });

        $("body #verifyEmailModal").on("hide", function () {
            console.log("button pressed"); // remove the event listeners when the dialog is dismissed
            $("body #verifyEmailModal a.btn").off("click");
        });

        $("body #verifyEmailModal").on("hidden", function () {
            console.log("button pressed"); // remove the actual elements from the DOM when fully hidden
            $("body #verifyEmailModal").remove();
        });

        $('#verifyEmailModal').appendTo("body").modal('show');
        //--------------------------------------------------End---------------------------------------------------
    }
</script>
@*<script language="javascript">
    //document.onmousedown=disableclick;
    //status="Right Click Disabled";
    //function disableclick(event)
    //{
    //  if(event.button==2)
    //   {
    //     alert(status);
    //     return false;
    //   }
    //}
    </script>*@
