﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.MenuPortal.SubMenuPortal>
@{
                /**/

                string userGuid = "";
                if (Session["GUID"] != null)
                {
                    userGuid = Session["GUID"].ToString();
                }

                string username = "";
                if (Session["username"] != null)
                {
                    username = Session["username"].ToString();
                }

                int isAdmin = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsAdmin(username);

                string notification = "";

}

<form action="" method="post" id="form-link-menu">
    <input type="hidden" id="UserGuid" name="UserGuid" />
    <input type="hidden" id="PageID" name="PageID" />
</form>

<form action="" method="get" id="form-get-link-menu">
    <input type="hidden" id="getUserGuid" name="userGuid" />
    <input type="hidden" id="getAppType" name="appType" />
</form>

@*บล๊อกแรก (สีฟ้า)*@
<div class="col-md-4 padding-none ">
    <div class="partition_menu_header_wrapper">
        <div class="leads_menu_header">

            @T("_MenuSub.Sourcing")
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
        <div class="data_end"></div>
        <div class="sourcing_menu_content_wrapper" oncontextmenu="return false">

            @foreach (var item in Model.Where(m => m.Section == "Sourcing"))
            {

                if (item.IsShowNotification)
                {
                    notification = "<span id=\"showNoti_" + item.MenuID + "\" class=\"ep_noti\"><img src=\"/Content/images/noti_loading.gif\"></span>";
                }
                else
                {
                    notification = "";
                }

                if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).CheckMenuPortalPrivilegeMapping(item.MenuID, item.PrivilegeTypeID ?? 0))
                {
                    <div class="ep_menu_div">
                        @{
                            if (item.SystemPageID != 0)
                            {
                                if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMapping(item.SystemGrpID ?? 0))
                                {

                                    int menuMappingEnable = ((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMappingEnable(item.SystemGrpID ?? 0);
                                    if (menuMappingEnable != 1)
                                    {
                                        if (menuMappingEnable == 3)
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceCancelled", "Topic")
                                            @Html.Raw(notification)
                                        }
                                        else if (menuMappingEnable == 2)
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceSuspend", "Topic")
                                            @Html.Raw(notification)
                                        }
                                        else
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "SystemUserDisabled", "Topic")
                                            @Html.Raw(notification)
                                        }
                                    }
                                    else
                                    {
                                        <a href="javascript:requestLink('@item.SystemURL','@userGuid','@item.PageID','@item.MenuName');">
                                            @T(item.ResourceName)@Html.Raw(notification)
                                        </a>
                                    }

                                }
                                else
                                {
                                    if (isAdmin == 1)
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable", "Topic")
                                        @Html.Raw(notification)
                                    }
                                    else
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable_4NonAdmin", "Topic")
                                        @Html.Raw(notification)
                                    }

                                }
                            }
                            else
                            {
                                @Html.ActionLink(T(item.ResourceName).ToString(), item.ActionName, item.ControllerName)
                                @Html.Raw(notification)
                            }

                        }
                    </div>
                }

            }

            <div class="ep_menu_div_end"></div>
        </div>

        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
    </div>
</div>

@*บล๊อกสอง (สีเหลือง)*@
<div class="col-md-4 padding-none">
    <div class="partition_menu_header_wrapper">
        <div class="auction_menu_header">
            @T("_MenuSub.Procument")
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
        <div class="data_end"></div>
        <div class="procurement_menu_content_wrapper" oncontextmenu="return false">

            @foreach (var item in Model.Where(m => m.Section == "Procurement"))
            {
                if (item.IsShowNotification)
                {
                    notification = "<span id=\"showNoti_" + item.MenuID + "\" class=\"ep_noti\"><img src=\"/Content/images/noti_loading.gif\"></span>";
                }
                else
                {
                    notification = "";
                }

                if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).CheckMenuPortalPrivilegeMapping(item.MenuID, item.PrivilegeTypeID ?? 0))
                {
                    <div class="ep_menu_div">
                        @{
                            if (item.SystemPageID != 0)
                            {
                                if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMapping(item.SystemGrpID ?? 0))
                                {
                                    int menuMappingEnable = ((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMappingEnable(item.SystemGrpID ?? 0);
                                    if (menuMappingEnable != 1)
                                    {
                                        if (menuMappingEnable == 3)
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceCancelled", "Topic")
                                            @Html.Raw(notification)
                                        }
                                        else if (menuMappingEnable == 2)
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceSuspend", "Topic")
                                            @Html.Raw(notification)
                                        }
                                        else
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "SystemUserDisabled", "Topic")
                                            @Html.Raw(notification)
                                        }
                                    }
                                    else
                                    {
                                        <a href="javascript:requestLink('@item.SystemURL','@userGuid','@item.PageID','@item.MenuName');">
                                            @T(item.ResourceName)@Html.Raw(notification)
                                        </a>
                                        @*<a href="#" onclick="requestLink('@item.SystemURL', '@userGuid', '@item.PageID','@item.MenuName');">
                                                @T(item.ResourceName)@Html.Raw(notification)
                                            </a>*@
                                    }

                                }
                                else
                                {
                                    if (isAdmin == 1)
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable", "Topic")
                                        @Html.Raw(notification)
                                    }
                                    else
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable_4NonAdmin", "Topic")
                                        @Html.Raw(notification)
                                    }
                                }

                            }
                            else
                            {
                                @Html.ActionLink(T(item.ResourceName).ToString(), item.ActionName, item.ControllerName)
                                @Html.Raw(notification)
                            }

                        }
                    </div>
                }

            }

            <div class="ep_menu_div_end"></div>
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
    </div>
</div>

@*บล๊อกสาม (สีส้ม)*@
<div class="col-md-4 padding-none">
    <div class="partition_menu_header_wrapper">
        <div class="supply_menu_header">
            @T("_MenuSub.SupplyTool")
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
        <div class="data_end"></div>
        <div class="supply_menu_content_wrapper" oncontextmenu="return false">

            @foreach (var item in Model.Where(m => m.Section == "SupplyTool"))
            {
                if (item.IsShowNotification)
                {
                    notification = "<span id=\"showNoti_" + item.MenuID + "\" class=\"ep_noti\"><img src=\"/Content/images/noti_loading.gif\"></span>";
                }
                else
                {
                    notification = "";
                }

                if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).CheckMenuPortalPrivilegeMapping(item.MenuID, item.PrivilegeTypeID ?? 0))
                {
                    <div class="ep_menu_div">
                        @{
                            if (item.SystemPageID != 0)
                            {
                                if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMapping(item.SystemGrpID ?? 0))
                                {
                                    int menuMappingEnable = ((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMappingEnable(item.SystemGrpID ?? 0);
                                    if (menuMappingEnable != 1)
                                    {
                                        if (menuMappingEnable == 3)
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceCancelled", "Topic")
                                            @Html.Raw(notification)
                                        }
                                        else if (menuMappingEnable == 2)
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceSuspend", "Topic")
                                            @Html.Raw(notification)
                                        }
                                        else
                                        {
                                            @Html.ActionLink(T(item.ResourceName).ToString(), "SystemUserDisabled", "Topic")
                                            @Html.Raw(notification)
                                        }
                                    }
                                    else
                                    {
                                        <a href="javascript:requestLink('@item.SystemURL','@userGuid','@item.PageID','@item.MenuName');">
                                            @T(item.ResourceName)@Html.Raw(notification)
                                        </a>
                                    }

                                }
                                else
                                {
                                    if (isAdmin == 1)
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable", "Topic")
                                        @Html.Raw(notification)
                                    }
                                    else
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable_4NonAdmin", "Topic")
                                        @Html.Raw(notification)
                                    }
                                }
                            }
                            else
                            {
                                @Html.ActionLink(T(item.ResourceName).ToString(), item.ActionName, item.ControllerName)
                                @Html.Raw(notification)
                            }
                        }
                    </div>
                }

            }

            <div class="ep_menu_div_end"></div>
        </div>
        <div class="data_end"></div>
        <div class="menu_header_space_block"></div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $(".ep_noti").each(function (index) {
            //console.log(this);
            var idNoti = $(this).attr('id');
            var idMenu = idNoti.replace("showNoti_", "");

            $.ajax({
                url: '/MenuPortal/GetNotificationByMenuID',
                type: 'POST',
                data: JSON.stringify({ menuID: idMenu }),
                async: true,
                contentType: 'application/json',
                success: function (data) {

                    //console.log(data);

                    if (data.isGetNotification == true)
                    {
                        //console.log("isGetNotification");
                        var countNoti = data.notificationValue;
                        if (countNoti > 0)
                        {
                            //console.log("Show");
                            $("#" + idNoti).html('(' + countNoti + ')');
                        }else
                        {
                            //console.log("hide");
                            $("#" + idNoti).hide();
                        }

                    }

                },
                error: function (xhr) {
                    //check = false;
                    $("#" + idNoti).hide();
                }
            });

        });

    });

    function requestLink(UrlLink, UserGUID, PageID, menuName) {
        $.ajax({
            url: '@Url.Action("CheckUserSessionTimeOut", "LinkSystem")',
            type: 'POST',
            data: JSON.stringify({ userguid: UserGUID }),
            //dataType: 'json',
            contentType: 'application/json',
            success: function (data) {

                //console.log(data)

                //alert(data);
                if (data == "success") {
                    //alert(data);
                    if (menuName == "m_Sourcing_EasyQuote" || menuName == "m_SupplyTool_eInvoice" || menuName == "m_SupplyTool_eInvoice1") {
                        //var seperate = "/";
                        //if (!UrlLink.endsWith(seperate)) {
                        //    UrlLink = UrlLink + seperate;
                        //}
                        //UrlLink = UrlLink + "?userGuid=" + UserGUID + "&appType=SOURCING_SUPPLIER";

                        var getForm = $("form#form-get-link-menu");
                        getForm.attr("action", UrlLink);
                        $("#getUserGuid").val(UserGUID);
                        if (menuName == "m_Sourcing_EasyQuote") {
                            $("#getAppType").val('SOURCING_SUPPLIER');
                        } else if (menuName == "m_SupplyTool_eInvoice") {
                            $("#getAppType").val('EInvoiceSupplier');
                        }

                        getForm.submit();

                        disablePage();
                    } else {
                        var form = $("form#form-link-menu");
                        form.attr("action", UrlLink);
                        //document.getElementById('UserGuid').value = UserGUID;
                        //document.getElementById('PageID').value = PageID;
                        $("#UserGuid").val(UserGUID);
                        $("#PageID").val(PageID);

                        form.submit();

                        disablePage();
                    }
                } else {
                    window.location.href = "/Error/Timeout";
                    disablePage();
                }
            }
        });
    }
</script>