﻿@model IEnumerable<SupplierPortal.Data.Models.SupportModel.MenuPortal.SubMenuPortal>
@{
    string userGuid = "";
    if (Session["GUID"] != null)
    {
        userGuid = Session["GUID"].ToString();
    }

    string username = "";
    if (Session["username"] != null)
    {
        username = Session["username"].ToString();
    }

    int isAdmin = SupplierPortal.Services.ProfileManage.ProfileManage.CheckIsAdmin(username);

    string notification = "";
    
}           

    <form action="" method="post" id="form-link-menu">
        <input type="hidden" id="UserGuid" name="UserGuid" />
        <input type="hidden" id="PageID" name="PageID" />
    </form>

    @*บล๊อกแรก (สีฟ้า)*@
    <div class="col-md-4 padding-none ">
        <div class="partition_menu_header_wrapper">
            <div class="leads_menu_header">

                @T("_MenuSub.Sourcing")

            </div>
            <div class="data_end"></div>
            <div class="menu_header_space_block"></div>
            <div class="data_end"></div>
            <div class="sourcing_menu_content_wrapper" oncontextmenu="return false">

                @foreach (var item in Model.Where(m => m.Section == "Sourcing"))
                {
                    if (item.NotificationValue != 0)
                    {
                        notification = "<span class=\"ep_noti\">(" + item.NotificationValue.ToString() + ")<span>";
                    }else
                    {
                        notification = "";
                    }

                    if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).CheckMenuPortalPrivilegeMapping(item.MenuID, item.PrivilegeTypeID ?? 0))
                    {
                        <div class="ep_menu_div">
                            @{
                        if (item.SystemPageID != 0)
                        {
                            if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMapping(item.SystemGrpID ?? 0))
                            {
                                
                                int menuMappingEnable = ((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMappingEnable(item.SystemGrpID ?? 0);
                                if (menuMappingEnable != 1)
                                {
                                    if (menuMappingEnable == 3)
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceCancelled", "Topic")
                                        @Html.Raw(notification)
                                    }
                                    else if (menuMappingEnable == 2)
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceSuspend", "Topic")
                                        @Html.Raw(notification)
                                    }
                                    else
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "SystemUserDisabled", "Topic")
                                        @Html.Raw(notification)
                                    }
                                }
                                else
                                {
                                    <a href="javascript:requestLink('@item.SystemURL','@userGuid','@item.PageID');">
                                        @T(item.ResourceName)@Html.Raw(notification)
                                    </a>
                                }


                            }
                            else
                            {
                                if (isAdmin == 1)
                                {
                                    @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable", "Topic")
                                    @Html.Raw(notification)
                                }
                                else
                                {
                                    @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable_4NonAdmin", "Topic")
                                    @Html.Raw(notification)
                                }

                            }
                        }
                        else
                        {
                            @Html.ActionLink(T(item.ResourceName).ToString(), item.ActionName, item.ControllerName)
                            @Html.Raw(notification)
                        }

}

                        </div>
                    }

                }

                <div class="ep_menu_div_end"></div>
            </div>

            <div class="data_end"></div>
            <div class="menu_header_space_block"></div>
        </div>
    </div>


    @*บล๊อกสอง (สีเหลือง)*@
    <div class="col-md-4 padding-none">
        <div class="partition_menu_header_wrapper">
            <div class="auction_menu_header">
                @T("_MenuSub.Procument")
            </div>
            <div class="data_end"></div>
            <div class="menu_header_space_block"></div>
            <div class="data_end"></div>
            <div class="procurement_menu_content_wrapper" oncontextmenu="return false">

    @foreach (var item in Model.Where(m => m.Section == "Procurement"))
    {
        if (item.NotificationValue != 0)
        {
            notification = "<span class=\"ep_noti\">(" + item.NotificationValue.ToString() + ")</span>";
        }
        else
        {
            notification = "";
        }

        if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).CheckMenuPortalPrivilegeMapping(item.MenuID, item.PrivilegeTypeID ?? 0))
        {
            <div class="ep_menu_div">
                @{
            if (item.SystemPageID != 0)
            {
                if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMapping(item.SystemGrpID ?? 0))
                {
                    int menuMappingEnable = ((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMappingEnable(item.SystemGrpID ?? 0);
                    if (menuMappingEnable != 1)
                    {
                        if (menuMappingEnable == 3)
                        {
                            @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceCancelled", "Topic")
                            @Html.Raw(notification)
                        }
                        else if (menuMappingEnable == 2)
                        {
                            @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceSuspend", "Topic")
                            @Html.Raw(notification)
                        }
                        else
                        {
                            @Html.ActionLink(T(item.ResourceName).ToString(), "SystemUserDisabled", "Topic")
                            @Html.Raw(notification)
                        }
                    }
                    else
                    {
                        <a href="javascript:requestLink('@item.SystemURL','@userGuid','@item.PageID');">
                            @T(item.ResourceName)@Html.Raw(notification)
                        </a>
                        @*<a href="#" onclick="requestLink('@item.SystemURL', '@userGuid', '@item.PageID');">
                            @T(item.ResourceName)@Html.Raw(notification)
                        </a>*@
                    }

                }
                else
                {
                    if (isAdmin == 1)
                    {
                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable", "Topic")
                        @Html.Raw(notification)
                    }
                    else
                    {
                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable_4NonAdmin", "Topic")
                        @Html.Raw(notification)
                    }
                }

            }
            else
            {
                @Html.ActionLink(T(item.ResourceName).ToString(), item.ActionName, item.ControllerName)
                @Html.Raw(notification)
            }

}
            </div>
        }

    }
                   
  

                <div class="ep_menu_div_end"></div>
            </div>
            <div class="data_end"></div>
            <div class="menu_header_space_block"></div>
        </div>
    </div>


    @*บล๊อกสาม (สีส้ม)*@
    <div class="col-md-4 padding-none">
        <div class="partition_menu_header_wrapper">
            <div class="supply_menu_header">
                @T("_MenuSub.SupplyTool")
            </div>
            <div class="data_end"></div>
            <div class="menu_header_space_block"></div>
            <div class="data_end"></div>
            <div class="supply_menu_content_wrapper" oncontextmenu="return false">

                @foreach (var item in Model.Where(m => m.Section == "SupplyTool"))
                {
                    if (item.NotificationValue != 0)
                    {
                        notification = "<span class=\"ep_noti\">(" + item.NotificationValue.ToString() + ")<span>";
                    }
                    else
                    {
                        notification = "";
                    }
                    if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).CheckMenuPortalPrivilegeMapping(item.MenuID, item.PrivilegeTypeID ?? 0))
                    {
                        <div class="ep_menu_div">
                            @{
                        if (item.SystemPageID != 0)
                        {
                            if (((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMapping(item.SystemGrpID ?? 0))
                            {
                                int menuMappingEnable = ((SupplierPortal.Controllers.MenuPortalController)this.ViewContext.Controller).MenuMappingEnable(item.SystemGrpID ?? 0);
                                if (menuMappingEnable != 1)
                                {
                                    if (menuMappingEnable == 3)
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceCancelled", "Topic")
                                        @Html.Raw(notification)
                                    }
                                    else if (menuMappingEnable == 2)
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceSuspend", "Topic")
                                        @Html.Raw(notification)
                                    }
                                    else
                                    {
                                        @Html.ActionLink(T(item.ResourceName).ToString(), "SystemUserDisabled", "Topic")
                                        @Html.Raw(notification)
                                    }
                                }
                                else
                                {
                                    <a href="javascript:requestLink('@item.SystemURL','@userGuid','@item.PageID');">
                                        @T(item.ResourceName)@Html.Raw(notification)
                                    </a>
                                }

                            }
                            else
                            {
                                if (isAdmin == 1)
                                {
                                    @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable", "Topic")
                                    @Html.Raw(notification)
                                }
                                else
                                {
                                    @Html.ActionLink(T(item.ResourceName).ToString(), "ServiceUnavailable_4NonAdmin", "Topic")
                                    @Html.Raw(notification)
                                }
                            }
                        }
                        else
                        {
                            @Html.ActionLink(T(item.ResourceName).ToString(), item.ActionName, item.ControllerName)
                            @Html.Raw(notification)
                        }
}
                        </div>
                    }

                }

                <div class="ep_menu_div_end"></div>
            </div>
            <div class="data_end"></div>
            <div class="menu_header_space_block"></div>
        </div>
    </div>



 
<script>


    function requestLink(UrlLink, UserGUID, PageID) {
        //alert("555");
  
        $.ajax({
            url: '@Url.Action("CheckUserSessionTimeOut", "LinkSystem")',
            type: 'POST',
            data: JSON.stringify({ userguid: UserGUID }),
            //dataType: 'json',
            contentType: 'application/json',
            success: function (data) {

                //console.log(data)   
                
                //alert(data);
                if (data == "success") {
                    //alert(data);
                    var form = $("form#form-link-menu");
                    form.attr("action", UrlLink);
                    //document.getElementById('UserGuid').value = UserGUID;
                    //document.getElementById('PageID').value = PageID;
                    $("#UserGuid").val(UserGUID);
                    $("#PageID").val(PageID);


                     form.submit();

                    disablePage();

                } else
                {
                    //alert(data);
                    window.location.href = "/Error/Timeout";
                    disablePage();
                }
            }
        });

        //var form = $("form#form-link-menu");
        //form.attr("action", UrlLink);
        //document.getElementById('UserGuid').value = UserGUID;
        //document.getElementById('PageID').value = PageID;

        //form.find("#UserGuid").val(UserGUID);
        //form.find("#PageID").val(PageID);

       // form.submit();

        //alert("66");
        //disablePage();
    }
</script>