﻿@using SupplierPortal.Models.Enums
@using SupplierPortal.Data.Helper
@model SupplierPortal.Data.CustomModels.AccountPortal.API_EPHeaderReponseModel
@{
    var headerType = Model.HeaderType;
    var isInter = (LanguageHelper.GetStringLanguageIDCurrent().ToString() == LanguageCode.English.GetHashCode().ToString());
}
<form id="portal_form" name="portal_form" method="POST">
    <input type="hidden" id="jwt_data" name="jwt_data" value="" />
</form>
<div class="navbar navbar-portal" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav ">
                @foreach (var item in Model.HeaderInfo.TopMenu)
                {
                    // Display name
                    var displayName = "";
                    if (isInter)
                    {
                        displayName = (string.IsNullOrEmpty(item.DisplayName)) ? item.DisplayNameTH : item.DisplayName;
                    }
                    else
                    {
                        displayName = (string.IsNullOrEmpty(item.DisplayNameTH)) ? item.DisplayName : item.DisplayNameTH;
                    }

                    if (!string.IsNullOrEmpty(item.URL))
                    {
                        <li class="top_menu_li" oncontextmenu="return false">
                            <a href="#" id="header_mainlink">
                                <input type="hidden" value="@item.URL" />
                                @if (@headerType == "OP")
                                {
                                    <span></span> @displayName
                                }
                                else
                                {
                                    <span class="ico_top @item.Icon ep_ico_b"></span> @displayName
                                }
                            </a>
                        </li>
                    }
                    else if (!string.IsNullOrEmpty(item.PopupURL))
                    {
                        <li class="top_menu_li" oncontextmenu="return false">
                            <a style="cursor: pointer;" onclick="popupURL('@item.PopupURL');">
                                @if (@headerType == "OP")
                                {
                                    <span></span> @displayName
                                }
                                else
                                {
                                    <span class="ico_top @item.Icon ep_ico_b"></span> @displayName
                                }
                            </a>
                        </li>
                    }
                    else if (item.DisplayContent != null && item.DisplayContent.Count > 0)
                    {
                        <li class="top_menu_li">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">@displayName <span class="ico_top ep_ico_b @item.Icon"></span></a>
                            <ul class="dropdown-menu top_toggle">
                                @foreach (var content in item.DisplayContent)
                                {
                                    <li><span class="topic-submenu">@content.topic</span></li>
                                    foreach (var contentList in content.content_list)
                                    {
                                        if (!string.IsNullOrEmpty(contentList.display_url))
                                        {
                                            <li class="underline_link">
                                                <a href="#" id="header_sublink">
                                                    @contentList.content
                                                    <input type="hidden" value="@contentList.display_url" />
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="conten-submenu"><div>@Html.Raw(contentList.content)</div></li>
                                        }
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="top_menu_li" oncontextmenu="return false">
                            <a href="#">
                                @if (headerType == "OP")
                                {
                                    <span></span> @displayName
                                }
                                else
                                {
                                    <span class="ico_top @item.Icon ep_ico_b"></span> @displayName
                                }
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
@*<li class="top_menu_li" oncontextmenu="return false">
            <a href="#">
                <span class="ico_top ep_ico_all_service ep_ico_b"></span> HOME
            </a>
        </li>
        <li class="top_menu_li" oncontextmenu="return false">
            <a href="#">
                <span class="ico_top ep_ico_profile ep_ico_b"></span> Profile
            </a>
        </li>
    <li class="top_menu_li" oncontextmenu="return false">
        <a href="#">
            <span class="ico_top ep_ico_profile ep_ico_b"></span> Logout
        </a>
    </li>*@
@*<li class="top_menu_li dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manual <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><span class="topic-submenu">EP PANTAVANIJ e-Procurement</span></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
        </ul>
    </li>*@

<style>
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 300px;
        /*max-width: 400px;*/
        white-space: normal;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        list-style: none;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

    .top_menu_li {
        padding: 0 26px 0 24px;
    }

    .topic-submenu {
        font-weight: bold;
        font-size: 12px;
        padding-bottom: 6px;
    }

    .top_toggle {
        font-family: Tahoma, Arial, sans-serif;
        font-size: 12px;
        padding: 10px 10px 10px 10px;
    }

    .underline_link {
        text-decoration: underline;
    }

    .top_menu_li.open {
        background-color: #98c93d;
    }

    /*.navbar .navbar-inner {
                        padding: 0;
                    }

                    .navbar .nav {
                        margin: 0;
                        display: table;
                        width: 100%;
                    }

                    .navbar .nav > li {
                        display: table-cell;
                        width: 1%;
                        float: none;
                        text-align: center;
                    }*/
</style>

<script language="javascript" type="text/javascript">
    function popupURL(url) {
        window.open(url, 'PopupURL', 'top=10,left=10,width=800,height=550,directories=yes,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=yes,toolbar=yes'); return false;
    }

    $(function () {
        $("#ToDirectory").click(function (e) {
            RedirectToDirectory();
        });
    });

    $(function () {
        $(".top_menu_li").delegate('#header_mainlink', 'click', function (e) {
            disablePage();
            var linkUrl = $(this).find("input:hidden").val();
            SendToClearSession(linkUrl);
        });
    });

    $(function () {
        $(".underline_link").delegate('#header_sublink', 'click', function (e) {
            disablePage();
            var linkUrl = $(this).find("input:hidden").val();
            SendToClearSession(linkUrl);
        });
    });

    function RedirectToDirectory() {
        disablePage();
        var origin = $(location).attr('origin');
        var pathname = $(location).attr('pathname').split('/');

        var url = origin + "/" + pathname[1]

        $.ajax({
            type: "POST",
            url: origin + '/BuyerPortal/RedirectDirectory',
            data: { url: origin },
            success: function (data) {
                $("#jwt_data").val(data.Parameter);
                $("#portal_form").attr("action", data.Url);
                $("#portal_form").submit();
            }
        });
    }

    function SendToClearSession(linkUrl) {
        var origin = $(location).attr('origin');
     
        $.ajax({
            type: "POST",
            url: origin + '/BuyerPortal/ClearSession',
            success: function () {
                $("#portal_form").attr("action", linkUrl);
                $("#portal_form").submit();
            }
        });
    }
</script>