﻿@model IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_MenuPortal>
@{
    string section = ViewBag.Section;
    IEnumerable<SupplierPortal.Data.Models.MappingTable.Tbl_MenuPortal_CompanyProfile> menuCompro = ViewBag.menuCompro;
    string activeClass = "";
    string iconMenu = "";

    HttpCookie cultureCookie = HttpContext.Current.Request.Cookies["_culture"];
    var LanguageID = cultureCookie.Value.ToString();
}
<link href="~/Content/fonts/stylesheet.css" rel="stylesheet" />
<style>
    /*.navbar {
        position: relative;
        z-index: 1000;
        min-height: 50px;
        margin-bottom: 0px;
        border: 1px solid transparent;
    }*/

    .navbar-default {
        background-color: #FFFFFF;
        /*border-color: #98c93d;*/
    }

    /*.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            background-color: #98c93d;
            color: #ffffff;
        }*/

    .lable-profile-menu {
        font-family: Tahoma, Arial,sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        color: #111111;
    }

        .lable-profile-menu:hover a {
            background: rgba(132,173,55,0.6) !important;
            color: #fff !important;
        }

        .lable-profile-menu a:focus {
            background: none !important;
        }

        .lable-profile-menu.open a, .lable-profile-menu.open a:focus {
            background: #84AD37 !important;
        }

        .lable-profile-menu.active a, .lable-profile-menu.active.open a {
            background: #edb61e !important;
            color: #fff !important;
        }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #98C93D;
        background-color: #98C93D;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        font-weight: bold;
        background-color: #98C93D;
    }

    .nav .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }

    .nav a:hover .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        color: #fff;
        text-decoration: none;
        background-color: #98c93d;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        color: #333;
        border-left: 3px solid #98c93d;
        text-decoration: none;
        /*background-color: #98c93d;*/
        outline: 0;
    }

    .navbar-default .navbar-nav > li > a {
        padding: 20px;
    }

    .nav > li.open {
        position: static !important;
    }

        .nav > li.open .dropdown-menu {
            display: table;
            width: 100%;
            text-align: center;
            left: 0;
            right: 0;
        }

    .dropdown-menu li {
        list-style-type: none;
        text-align: left;
        padding: 5px 2px 2px 1px;
    }

    .dropdown-menu > li {
        display: table-cell;
    }

    .dropdown-menu li a {
        padding: 15px 10px;
        border-bottom: none !important;
        border-top: none !important;
    }

    .active .top_menu_li_active {
        text-align: center;
    }

    .box-submenu ul .top_menu_li_active a {
        color: #911 !important;
    }
    /*.active {
        padding-left: 20px !important;
    }



    ul {
        padding: 0;
        display: table;
        width: 100%;
    }*/
    ul, ol {
        list-style-type: none;
        padding: 0;
    }

    .btnCustom {
        -moz-user-select: none;
        border: 1px solid transparent;
        cursor: pointer;
        display: inline-block;
        font-size: 11px;
        font-weight: bold;
        line-height: 1.42857;
        margin-bottom: 0;
        padding: 6px 12px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        /*background-color: #edb61e;
        border-color: #eea236;*/
        color: #666;
    }

    .container .borderR:last-child {
        border-right: none !important;
    }

    #btnHistory {
        background-color: inherit !important;
    }

    /*.arrow_border {
        background: rgba(0, 0, 0, 0) url("../Content/imagescss/icn_funnel_arrow_s_4.gif") no-repeat scroll left top;
        height: 14px;
        margin-left: 249px;
        margin-top: -3px;
        position: absolute;
        width: 13px;
    }*/





    .arrow_border_ENG {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        height: 0px;
        width: 0px;
    }

    .arrow_border_TH {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        height: 0px;
        width: 0px;
    }

    .box-submenu h3 {
        font-family: 'kanitregular';
    }

    #CompanyProfile {
        cursor: pointer;
    }

    a.hover {
        background: #84ad37 none repeat scroll 0 0 !important;
        color: #fff !important;
    }

    #arrow_border {
        margin-left: 20px;
        margin-top: -4px;
        display: none;
    }

    .bt-submenu {
        font-size: 12px;
    }
    /*a.hover span#arrow_border {
        display: block;
        z-index: 10;
    }*/
</style>
<div class="row">
    <div class="data_end" style="padding-top:5px;"></div>
</div>
<div class="navbar navbar-default nav-profile">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="float:left;" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ">
                @foreach (var item in Model)
                {
                    if (item.Icon == section)
                    {
                        activeClass = "active";
                    }
                    else
                    {
                        activeClass = "";
                    }

                    if (item.Icon == "MyProfile")
                    {
                        iconMenu = "fa-user";
                    }
                    else if (item.Icon == "CompanyProfile")
                    {
                        iconMenu = "fa-university";
                    }
                    else
                    {
                        iconMenu = "fa-users";
                    }

                    if (item.Icon == "CompanyProfile")
                    {
                        <li class="lable-profile-menu  @activeClass" id="@item.Icon" oncontextmenu="return false">
                            <a class="dropdown-toggle"><i class="fa @iconMenu fa-fw fa-lg"></i>&nbsp;@T(item.ResourceName) &nbsp;<b class="fa fa-caret-down" id="caret"></b></a>
                            @*<ul class="dropdown-menu mega-dropdown-menu" style="padding:15px 5px">
                                    <li>
                                            <a href="@Url.Action(item.ActionName, item.ControllerName)" onclick="disablePage();">
                                                <i class="fa @iconMenu fa-fw"></i>
                                                &nbsp;@T(item.ResourceName)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("TrackingComProfile", "CompanyProfile")" onclick="disablePage();">
                                                <i class="fa fa-clock-o fa-fw"></i>
                                                &nbsp;@T("_Menu.Profile.CompanyProfile.TrackingEdit")
                                            </a>
                                        </li>
                                    @foreach (var item1 in menuCompro.Where(m => m.MenuLevel == 1))
                                    {
                                        <li style="border-right:1px solid rgb(238, 238, 238);border-color:#edb61e" class="col-sm-3" id="@item1.ControllerName">
                                            <ul>

                                                <li style="border-bottom: 1px solid rgb(238, 238, 238);border-color:#edb61e;padding: 10px">
                                                    <strong style="color:#333">@T(item1.ResourceName)</strong>
                                                </li>
                                                @foreach (var item2 in menuCompro.Where(m => m.MenuLevel == 2 && m.ParentMenuID == item1.MenuID))
                                                {
                                                    <li style="padding-top:10px" controller="@item1.ControllerName">
                                                        <a href="~/@item2.ControllerName/@item2.ActionName" controller="@item1.ControllerName" style="color:#666">
                                                            @T(item2.ResourceName)
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>*@
                            <span id="arrow_border"></span>
                        </li>
                    }
                    else
                    {
                        <li class="lable-profile-menu @activeClass" oncontextmenu="return false">

                            <a href="@Url.Action(item.ActionName, item.ControllerName)" onclick="disablePage();">
                                <i class="fa @iconMenu fa-fw fa-lg"></i>
                                &nbsp;@T(item.ResourceName)
                            </a>
                            @*@Html.ActionLink(T(item.ResourceName).ToString(), item.ActionName, item.ControllerName, null, new { @onclick = "disablePage();" })*@

                        </li>
                    }

                }
            </ul>
        </div>
    </div>
</div>

<div id="MenuComProNew" class="container menusub-pro" style="">
    <div class="row">
        @foreach (var item1 in menuCompro.Where(m => m.MenuLevel == 1))
        {
            <div class="box-submenu col-sm-3 borderR" id="@item1.ControllerName">
                <h3>
                    @T(item1.ResourceName)
                </h3>
                <ul>

                    @foreach (var item2 in menuCompro.Where(m => m.MenuLevel == 2 && m.ParentMenuID == item1.MenuID))
                    {
                        <li class="bt-submenu" controller="@item1.ControllerName">
                            <a href="~/@item2.ControllerName/@item2.ActionName" controller="@item1.ControllerName">
                                @T(item2.ResourceName)  @*&nbsp;&nbsp;<span class="badge">1</span>*@
                            </a>
                        </li>
                    }
                </ul>
            </div>
            @*<span id="@item1.ControllerName"></span>*@
        }
    </div>
    <div class="row">
        <div class="col-sm-12" id="btnHistory">
            <a type="button" class="btnCustom" href="@Url.Action("TrackingComProfile", "CompanyProfile")" onclick="disablePage();">
                <i class="fa fa-clock-o fa-fw"></i>
                &nbsp;@T("_Menu.Profile.CompanyProfile.TrackingEdit")
            </a>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        if (@LanguageID == 1) {
            $("#arrow_border").addClass( "arrow_border_ENG" )
        } else if (@LanguageID == 2) {
            $("#arrow_border").addClass( "arrow_border_TH" )
        }

        if ($('li#CompanyProfile').hasClass('active')) {
            $('#MenuComProNew').show();
            $("#arrow_border").css("display", "block");
            $("#caret").removeClass("fa-caret-down");
            $("#caret").addClass("fa fa-caret-up");
        }
    });


    $(".dropdown-toggle").click(function () {
        $(this).toggleClass("hover");
        $('#MenuComProNew').toggle("slow",function(){

            var openMenu =  $('#MenuComProNew').is(":visible");

            if (openMenu == true) {
                $("#caret").removeClass("fa-caret-down");
                $("#caret").addClass("fa fa-caret-up");
                //$(this).addClass("open");

                $("#arrow_border").css("display", "block");
            }
            else {
                $("#caret").removeClass("fa-caret-up");
                $("#caret").addClass("fa fa-caret-down");
                //$(this).removeClass("open");

                $("#arrow_border").css("display", "none");
            }

        });
    });

</script>